
<!-- <meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="<?php echo $baseUrl;?>/public/js/themes/alertify.core.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $baseUrl;?>/public/js/themes/alertify.default.css" id="toggleCSS" />
<link rel="stylesheet" type="text/css" href="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxgrid.css">
<link rel="stylesheet" type="text/css" href="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/skins/dhtmlxgrid_dhx_skyblue.css">
<link rel="stylesheet" type="text/css" href="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/ext/dhtmlxgrid_pgn_bricks.css">
<link rel="stylesheet" type="text/css" href="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxcombo.css">
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/js/alertify.min.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxcommon.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxcombo.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxgrid.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxgridcell.js" ></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/ext/dhtmlxgrid_filter.js" ></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/ext/dhtmlxgrid_pgn.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/dhtmlxgrid/codebase/dhtmlxgrid_post.js" ></script> -->
<!-- <script>
function submitform(val,utid,tpid,uptid,blpid,itemid,launchtime)
{
	if(val==0)
	{
		page_raload();
	}
	else
	{
		var classrate = document.getElementById('star2').value;
		var comment=document.getElementById('comment').value;
		if(document.getElementById('assignmentsend_id'))
			var assignmentsend_id=document.getElementById('assignmentsend_id').value;
		var blendedprogid=blpid;
		var action_url = "<?php echo $baseUrl ?>/elearningmedia/update-learning-completion/confirm/"+val+"/usertrainingid/"+utid+"/trainingprogram_id/"+tpid+'/classrate/'+classrate+'/comment/'+comment+"/userprogramtypeid/"+uptid+"/blendedprogid/"+blendedprogid+"/item_id/"+itemid+"/launchtime/"+launchtime+"/assignmentsend_id/"+assignmentsend_id;
		$.ajax({
			url: action_url,
			global: false,
			type: "POST",
			data: ({confirm : val}),
			dataType: "JSON",
			success : page_raload,
			failed:  page_raload
		});
	}
}

function pageredirect(pagelink){
	window.location.href='<?php echo $baseUrl;?>/contentmanagement/viewpages/pageid/'+pagelink;
}

var printObj = typeof JSON !== "undefined" ? JSON.stringify : function( obj )
{
	var arr = [];
	$.each( obj, function( key, val ) {
		var next = key + ": ";
		next += $.isPlainObject( val ) ? printObj( val ) : val;
		arr.push( next );
	});
	return "{ " + arr.join( ", " ) + " }";
};
</script> -->
<style>
.computer-text p{margin-bottom:0px !important;} .contenar-box {
    margin-top: 0;
}
body {
	height: 100% !important;
}
.fullwidthcontent.breakpoint-768 .user-dashboard-content.mb10.fl,
.fullwidthcontent.breakpoint-480 .user-dashboard-content.mb10.fl,
.fullwidthcontent.breakpoint-320 .user-dashboard-content.mb10.fl{
    margin-top: 0 !important;
}
</style>
<input type="hidden" id="baseurl" name="baseurl" value="<?php echo $baseUrl; ?>"/>
<input type="hidden" id="tdate" name="tdate" value="0"/>
<input type="hidden" id="waitingclass" name="waitingclass" value="<?php echo $this->Usertrainingcatalog[0]['training_status_id']; ?>" />
	
<div class="wp100 fl" >	
<div id='preloader_popup' ng-show = "loader" >
		<img class="wp55" src='/user/assets/images/animatedEllipse2.gif' border='0' style="width:50px; left:340px; position:absolute; top:200px; z-index:2000;">
	</div>

<div class="crumbs">
	<ul id="breadcrumbs" class="breadcrumb mb00 bob01" style="padding: 8px 12px 6px 12px;">
		<li>
			
			<a href="<?php echo $back;?>"> 
				<div class="wp100 fl">&#171; <?php echo $backtitle;?></div>
			</a>
		</li>
	</ul>
</div>		
	
		<div class="wp100 fl mt25 pl30 pr30 mb20">
			
			<div class="training-item-name-front-box wp100 fl">
            	<div class="col-sm-8 col-md-9">
                    <div class="training-item-name-left-box wp100 fl mt15 mb20">
					
						<div class="wp100 fl mb10">
						<img ng-if="courseDetailArr.item_image!=''" align="left" class="fl mr15 mb05" src="/uploadfiles/{{courseDetailArr.item_image}}" width="100" />
						<i ng-if="courseDetailArr.item_image==''" class="fa fa-calendar elearning_icon" style="line-height: 38px;"></i>
						<div class="course_title mt15" compile="courseDetailArr.class_name">
						</div>
						</div>
						<div class="style_ul fs13 fta fc03 pl10 mt05" compile="courseDetailArr.description" >
						
						</div>
					</div>	
					<div style="clear:both"></div>
					<div class="row1">
						<div class=" training-item-name-left-box wp100 mt25 mb20 fl">
							<div class="col-sm-7" style="padding-left: 0;">
								<div class="widget box fl wp100">
									<div class="widget-header">
										<h4>
											<i class="fa fa-file-text-o blue_1"></i>
											Training Details
										</h4>                            
									</div>
									<div class=" training-item-name-left-box wp100 bs02 fl">
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Class Title:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl" compile="courseDetailArr.class_name">
											</div>
										</div>
										
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Date:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">{{courseDetailArr.class_start_date}}
											</div>
										</div>
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Other Offerings:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
												<div class="fl">
													
													<!-- <div class="view fr "><a style="text-decoration:none;" <?php if($courseDetailArr['class_id']!=''){?>class="thickbox" href="<?php echo $baseUrl; ?>/classroomcourse/offeringdate/itemid/<?php echo $courseDetailArr['item_id'];?>/trainingprogramid/<?php echo $courseDetailArr['training_program_id']; ?>?height=260&width=620&inlineId=hiddenModalContent&modal=false" <?php }?> > View</a> <span>&#187;</span></div> -->
													
												</div>
											</div>
										</div>
										
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Credit Value:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
											{{courseDetailArr.credit_value}}
											</div>
										</div>
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Class Cost:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
											{{courseDetailArr.item_cost}}
											</div>
										</div>
										
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Training Type:</div>
											<div ng-if="item_type_id==3" class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
											Virtual Classroom
											</div>
											<div ng-if="item_type_id!=3" class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
											Classroom Training
											</div>
										</div>
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Training Category:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
											{{ courseDetailArr.training_category}}
												
											</div>
										</div>
										<div class="average-class-rating wp100 bgc07 fl">
											<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Available Seats:</div>
											<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">
									{{ courseDetailArr.available_seats}}		
												
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div ng-if="courseDetailArr.prerequeisites!=''" class="col-sm-5">
								<div class=" wp100 fl">
									<div class="widget box fl wp100">
										<div class="widget-header">
											<h4>
												<i class="fa fa-check-square-o" style="color: #027db2;"></i>
												Pre-Requisites
											</h4>                            
										</div>
										<div class="widget-content">
											<div class="fl wp100 bgc01 p10 bs02" style="overflow:auto; overflow-x:hidden; overflow-y:auto;">
												<div class=" pre-req-text wp100 fs12 fta fc03 taj lh1 fl" compile="courseDetailArr.prerequeisites" > 			
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-sm-12">
								
								<div ng-if="scheduleArr.length>0" class="widget box fl wp100">
									<div class="widget-header">
										<h4>
											<i class="fa fa-calendar-o" style="color: #027db2;"></i>
											Class Sessions (all sessions below are required for credit for this class)
										</h4>
									</div>
									<div class=" training-item-name-left-box wp100 fl bs01">
										<div class="average-class-rating bgc05 wp100 bob01 fl fs12 fta h26 fc03 b">
											<div class="wp20 pl05 pt05 fl">Date:</div>
											<div class="wp15 pl05 pt05 fl">Start Time</div>
											<div class="wp15 pl05 pt05 fl">End Time</div>
											<div class="wp20 pl05 pt05 fl">Instructor Name</div>
											<div class="wp20 pl05 pt05 fl">Location</div>
										</div>
									</div>
									
							<div  ng-repeat="schedule in scheduleArr" class=" training-item-name-left-box wp100 bs02 fl">
								
								<div ng-if="($index/2) == 1"  class="average-class-rating wp100 bgc10 bob01 fl  fs12 fta fc03 pl05 pt05"></div>
									
									<div ng-if="($index/2) != 1"class="average-class-rating wp100 bgc12 bob01 fl  fs12 fta fc03 pl05 pt05">
									
										<div class="wp20 pl05 pt05 fl">
										{{schedule.start_date}}
											
										</div>
										<div class="wp15 pl05 pt05 fl">
										{{schedule.start_time}}
											
										</div>
										<div class="wp15 pl05 pt05 fl">
										{{ schedule.end_time}}
										</div>
										<div class="wp20 pl05 pt05 fl">
										{{ schedule.instructor_name}}
										</div>	
										<div class="wp20 pl05 pt05 fl">
										{{ schedule.location}}
										</div>
									
								</div>
							
							</div>				
									
									
								
								</div>
							</div>
				
							
							<div class="col-sm-12" ng-if="courseDetailArr.virtual_information!='' && userenrollment[0].is_enroll==1 && item_type_id==3"  >
								<div class="widget box fl wp100">
									<div class="widget-header">
										<h4>
											<i class="fa fa-paperclip" style="color: #027db2;"></i>
											Virtual Session Information
										</h4>
									</div>	
									<div class="widget-content">
									
										<div class="fl wp100" style="overflow:auto; overflow-x:hidden; overflow-y:auto;">
											<div class=" pre-req-text wp100 fs12 fta fc03 taj lh1 fl" > 
												{{courseDetailArr.virtual_information}}			
											</div>
										</div>
									</div>	
								</div>
							</div>
	
							
                          <div compile="strhtml"></div>
								
						</div>
					</div>
					</div>

				<div class="col-sm-4 col-md-3">
				    <!--start target audience -->
					<div compile="targetstr"></div>
					<!--end-->
					
					<div ng-if="courseDetailArr.class_id!=''" class="wp100 mt10 fl">
						<div class="bs01 fl wp100">
							<div class="front-training-item-rating wp100 bgc11 fl">
								<div class="front-training-item-rating wp91 h60 mb10 mt05 bs01 bgc01 fl" style="margin:10px 5% 0;">
									<div class="f-avg-rating wp100 tac fs13 mt10 fta fc03 b fl" style="padding:0 2%;">
                                    Average Class Rating
                                    </div>
									<div class="f-avg-rating wp100 fs13 mt05 tac fta fc03 b fl" style="padding:0 2%;">
									{{avgClassRating}}
										
									</div>
								</div>
								<div class="front-training-item-rating wp91 h60 bs01 bgc01 fl" style="margin:10px 5% 0;">
									<div class="f-avg-rating wp100 tac fs13 mt10 fta fc03 b fl" style="padding:0 2%;">
                                    Average Instructor Rating
                                    </div>
									<div class="f-avg-rating wp100 fs13 mt05 tac fta fc03 b fl" style="padding:0 2%;">
									{{avgInstRating}}
										
									</div>
								</div>
								<div class="fl h12 wp100"> &nbsp;</div>
							</div>
						</div>
					</div>
				
					<div class="wp100 mt10 fl" ng-if="IslastScheduleDiv==1">
						  <div class=" front-view-class-rastor-bg1 wp100 fl">
							
							<div class="change_col">
							    <div  ng-click="viewroaster(courseDetailArr.item_id,courseDetailArr.class_id,userenrollment[0].is_enroll,userenrollment[0].training_status_id);">
									<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac " style="cursor:pointer">View Class Roster<span>&#187;</span>
								</div>
								</div> 
							</div>
							</div>

						<div class=" front-view-class-rastor-bg1 wp100 fl">
							<div class="change_col">
							<div ng-if="isHandoutAvailable==1">
							<div ng-if="((userenrollment.length>0) && (userenrollment[0].is_enroll != 0))">
							<div ng-if="handouts.length>0">
							<div ng-click='viewhandouts(1,courseDetailArr.item_id);'>
									<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Handouts<span>&#187;</span></div> 
							</div>
							</div>
							<div ng-if="handouts.length==0">
							<div ng-click='nohandouts();'>
									<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Handouts<span>&#187;</span></div>  
							</div>
							</div>
							</div>
							<div ng-if="((userenrollment[0].is_enroll == 0))">
							<div ng-click="viewhandouts(0,'0','0');">
										<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor:pointer">View Class Handouts<span>&#187;</span></div>
							</div>
							</div>
							</div>
							
							<div ng-if="isHandoutAvailable==0">
								<div ng-if="handouts.length>0">
								<div ng-click='viewhandouts(1,courseDetailArr.item_id);'>
									<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Handouts<span>&#187;</span></div> 
								</div>
								</div>
								<div ng-if="handouts.length==0">
								<div ng-click='nohandouts();'>
									<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Handouts<span>&#187;</span></div>  
								</div>
								</div>
							</div>
							
					
							</div>
						</div>
						
						
						<div class=" front-view-class-rastor-bg1 wp100 fl">
						 <div class="change_col">
						  <div ng-if="isCurriculumAvailableforall==1">
						  <div ng-if="curriculams.length>0">
						  
						  <div  ng-click='viewcurriculams(courseDetailArr.item_id);'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>	
						  </div>
						  <div ng-if="curriculams.length==0">
							<div ng-click='nocuriculum();'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>		
						  </div>
						  </div>
						  
						  <div ng-if="isCurriculumAvailableforins==1">
						  <div ng-if="isinstructor==1">
						  <div ng-if="curriculams.length>0">
						  <div ng-click='viewcurriculams();'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>	
						  </div>
						  <div ng-if="curriculams.length==0">
							<div ng-click='nocuriculum();'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>		
						  </div>
						  </div>
						   <div ng-if="isinstructor==0">
							<div ng-click="viewcurriculluminstructor();">
								<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor:pointer">View Class Curriculum<span>&#187;</span></div>
							</div>	
						  </div>
						 </div>
						  <div ng-if="isCurriculumAvailableforenroll==1">
						  <div ng-if="((userenrollment.length>0) && (userenrollment[0].is_enroll != 0))">
						  <div ng-if="curriculams.length>0">
						  <div ng-click='viewcurriculams();'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>	
						  </div>
						  <div ng-if="curriculams.length==0">
							<div ng-click='nocuriculum();'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>		
						  </div>
						  </div>
						  <div ng-if="((userenrollment.length==0) && (userenrollment[0].is_enroll == 0))">
						  <div ng-click='viewcurriculams();'>
							<div class="{{buttonclass}} fs14  fta fc03 mt10 wp100 tac" style="cursor: pointer;">View Class Curriculum<span>&#187;</span></div> </div>
						  </div>
						  </div>
						 </div>
						 
							
						</div>
						
						<!-- <div class=" front-view-class-rastor-bg1 wp100 fl">
							<div class="change_col" style="text-align: center;padding-top:10px;">
							<?php
							if(!empty($courseDetailArr['certificate_template_id']) && $this->transcript_id!=""){					
								echo '<a class="change_col " href="'.$baseUrl.'/mylearning/certificatedownload/id/'.$this->transcript_id.'"><div class="'.$this->buttonclass.'">Certificate<span >&#187;</span></div></a>';
							}
							?>									
							</div>
						</div> -->
				</div>
				
				
				</div>
			</div>
		</div>
	</div> 

<!-- <script src="<?php echo $baseUrl;?>/public/js/jquery-migrate-1.2.1.min.js"></script>
<?php if($compid == 64){ ?>
<script>
$(document).ready(function()
{
	tb_init('a.thickbox');
	imgLoader = new Image();
	imgLoader.src = tb_pathToImage;
});
</script> -->
<?php } ?>
<!-- <script>
$(document).ready(function()
{
	var val = document.getElementById('waitingclass').value;
	if(val==4){
		alertify.alert( "You are currently in waiting list.");		 
	}
});

function setdate(val)
{
	document.getElementById('tdate').value=val;
}

function nocuriculum()
{
	 alertify.alert('There are no curriculum for this class.');
}
 
function nohandouts()
{
	 alertify.alert('There are no current handouts for this class.');
}

function viewcurriculluminstructor()
{
	alertify.alert('<div class="fc18 fla fs13 b mt05 ml10 fl">Only Instructor Can View Class Curriculum</div><div class="fc19 fla fs13  mt05 ml10 fl tal w492">You are not allowed to see the class curriculum, Only Instructor can view the class curriculum.</div>');
}

function viewcurricullum()
{
	alertify.alert('<div class="fc18 fla fs13 b mt05 ml10 fl">Please Enroll to View Class Curriculum</div><div class="fc19 fla fs13  mt05 ml10 fl tal w492">You must enroll in the course before viewing class curriculum. Please close this window and click the "Enroll" button.Once you are enrolled for the course you may view the class curriculum.</div>');
}

function viewhandouts()
{
	alertify.alert('<div class="fc18 fla fs13 b mt05 ml10 fl">Please Enroll to View Class Handouts</div><div class="fc19 fla fs13  mt05 ml10 fl tal w492">You must enroll in the course before viewing class handouts. Please close this window and click the "Enroll" button.Once you are enrolled for the course you may view the class handouts.</div>');
}

function viewroaster()
{
	alertify.alert('<div class="fc18 fla fs13 b mt05 ml10 fl">Please Enroll to View Roster </div><div class="fc19 fla fs13  mt05 ml10 fl tal w492">You must enroll in the course before viewing class roster. Please close this window and click the "Enroll" button.Once you are enrolled for the course you may view the class roster.</div>');
 }
 
function pending_apprv(enroll,id,scheduleid)
{ 
	alertify.confirm("This course may require supervisor approval.<br>(view your approval status in the My Enrollments tab of the My Learning area).", function (e) {
		if (e) {
			closepopup(enroll,'',id,'','','',scheduleid);
		} else {
		}
	});
}

function checkwt(enroll,scheduleid) {
	alertify.confirm("This class is full, you have been added to a waiting list.<br> You will be notified if a seat becomes available.", function (e) {
		if (e) {
			 closepopup(enroll,'0', '','','','',scheduleid);
		} else {
		}
	});
}

function submitraining(itemId) {
	alertify.confirm("Currently there are no classes scheduled for this course. Would you like to send a request that a class be scheduled for this course?", function (e) {
		if (e) {
			 enroll(itemId);
		} else {
		}
	});
}

function enroll(itemId)
{
	$('#loader').show();
	$.post("<?php echo $baseUrl;?>/trainingcatalog/trainingrequestpopup",{itemId:itemId,request:'submit'},function(result){
		tb_remove();
		$('#loader').hide();
	});
}

function enroll_class_drop(enroll,id,supervisor_approval,class_id)
{ 
	alertify.confirm("Are you sure you want to drop this class?", function (e) {
		if (e) {
			 closepopup(enroll,'1', id,'','','',class_id);
		} else {
		}
	});
}

function enroll_class(enroll,id,blendedprogram_id,supervisor_approval,class_id)
{ 
	alertify.confirm("Please confirm that you would like to enroll for this event?", function (e) {
		if (e) {
			 closepopup(enroll,'', id,'','',blendedprogram_id,class_id);
		} else {
		}
	});
}

function re_enroll_drop_class_drop(enroll,id,blendedprogid,supervisor_approval,class_id)
{
	alertify.confirm("Please confirm that you would like to enroll for this event?", function (e) {
		if (e) {
			closepopup(enroll,'', id,'','',blendedprogid,class_id);
		} else {
		}
	});	
}

function closepopup(var1, var2, id, allocateSeat, userprogramtypeid, blendedprogid, scheduleid)
{  
	assignmentsend_id=0;
	learningplanid=0;
	var url = "";
	if(var2 == 2){
		tb_remove();
		return false;
	}

	if(var1 == 1)
	{
		if(var2 == 1)
		{
			url = "<?php echo $baseUrl ?>/classroomcourse/confirmenroll/id/"+id+"/allocateSeat/"+allocateSeat+"/userprogramtypeid/"+userprogramtypeid+"/blendedprogid/"+blendedprogid+"/scheduleid/"+scheduleid+"/enroll/"+var1+"/assignmentsend_id/"+assignmentsend_id+"/learningplanid/"+learningplanid;
			
		}
		else if(var2 == 0)
		{
			if(document.getElementById('assignmentsend_id'))
				var assignmentsend_id=document.getElementById('assignmentsend_id').value;
			if(document.getElementById('learningplanid'))
				var learningplanid=document.getElementById('learningplanid').value;	
			
			url = "<?php echo $baseUrl ?>/classroomcourse/confirmenroll/id/"+id+"/allocateSeat/"+allocateSeat+"/userprogramtypeid/"+userprogramtypeid+"/blendedprogid/"+blendedprogid+"/scheduleid/"+scheduleid+"/enroll/"+var1+"/assignmentsend_id/"+assignmentsend_id;
		}
	}
	else
	{
		if(var2 == 1)
		{  
			url = "<?php echo $baseUrl ?>/classroomcourse/confirmenroll/id/"+id+"/allocateSeat/"+allocateSeat+"/userprogramtypeid/"+userprogramtypeid+"/blendedprogid/"+blendedprogid+"/scheduleid/"+scheduleid+"/enroll/"+var1;
		}
	}
	
	$.post(url, {id : id}, page_raload);
}

function page_raload(jsonText)
{
	tb_remove();
	document.location.reload(true);	
}
</script> -->
<modelui-grid></modelui-grid>
<classhand-out></classhand-out>

