.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0
}
.clearfix:after {
	clear: both
}
* {
	outline: none!important
}
html, body {
	height: 100%
}
body {
	font-family:Arial, Helvetica, sans-serif;
	color: #555;
	font-size: 13px
}
.container {
	max-width: none!important;
	padding: 0 20px
}
.row-no-margin {
	margin-left: 0!important;
	margin-right: 0!important
}
.col-no-margin {
	margin-left: -15px!important;
	margin-right: -15px!important
}
#container {
	position: relative;
	height: 100%
}
#container.fixed-header {
	margin-top: 52px
}
#container>#content_area>.container {
	float: left;
	width: 100%
}
#content_area {
	background: #fff;
	margin-left: 250px;
	overflow: visible;
	padding-bottom: 30px;
	min-height: 100%
}
#content_area>.wrapper {
	-webkit-transition: margin ease-in-out .1s;
	-moz-transition: margin ease-in-out .1s;
	-o-transition: margin ease-in-out .1s;
	transition: margin ease-in-out .1s;
	position: relative
}
.sidebar-closed>#content_area {
	margin-left: 0
}
.page-header {
	border: 0;
	margin: 0;
*zoom:1
}
.page-header:before, .page-header:after {
	display: table;
	content: "";
	line-height: 0
}
.page-header:after {
	clear: both
}
.page-title {
	float: left;
	padding: 25px 0;
	width: 100%;
}
.page-title h3 {
	margin: 0;
	margin-bottom: 10px;
	color: #555;
	font-weight: 400;
	font-size: 20px
}
.page-title span {
	display: block;
	font-size: 11px;
	color: #888;
	font-weight: normal
}
.page-stats {
	float: right;
	padding: 25px 0;
	margin-left: 0;
	list-style: none
}
.page-stats li {
	float: left;
	display: block;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #d9d9d9
}
.page-stats li:first-child {
	border: 0
}
.page-stats li .summary {
	float: left;
	margin-right: 18px
}
.page-stats li .summary span {
	color: #888;
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase
}
.page-stats li .summary h3 {
	color: #555;
	margin: 0;
	font-size: 20px;
	line-height: 20px;
	font-weight: 600
}
.graph.visual.green {background-color: #94B86E;}
.graph.visual.red {background-color: #E25856;}
.graph.visual {-moz-box-sizing: content-box; color: #FFFFFF; float: left; margin-left: 10px; min-height: 17px; min-width: 20px; overflow: hidden; padding: 13px; text-align: center;}

.page-stats li .graph {
	float: right
}
.page-stats li .sparkline {
	margin-top: 4px
}
.align-left {
	text-align: left
}
.align-center {
	text-align: center;
	margin: 0 auto
}
.align-right {
	text-align: right
}
.full-width-fix {
	width: 100%!important
}
.row-bg {
	background-color: #f9f9f9;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	margin:0 -20px 25px;

	padding:25px 5px;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
	box-shadow: 0 0 1px rgba(0,0,0,0.15) inset
}
.hide-default {
	display: none
}
.padding-top-5px {
	padding-top: 5px
}
.padding-bottom-5px {
	padding-bottom: 5px
}
.padding-left-5px {
	padding-left: 5px
}
.padding-right-5px {
	padding-right: 5px
}
.padding-top-10px {
	padding-top: 10px
}
.padding-bottom-10px {
	padding-bottom: 10px
}
.padding-left-10px {
	padding-left: 10px
}
.padding-right-10px {
	padding-right: 10px
}
.margin-top-0px {
	margin-top: 0
}
.spacing-10px {
	display: block;
	padding-top: 10px
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
h2 {
	font-size: 25px
}
h3 {
	font-size: 18px
}
.subtitle {
	display: block;
	padding-bottom: 5px;
	font-weight: 600
}
.widget-content+h1 {
	margin-top: 0
}
a {
	color: #027db2
}
span.blue {
	color: #54728c
}
span.green {
	color: #94b86e
}
span.red {
	color: #e25856
}
.header {
	z-index: 10030
}
.navbar {
	background: #4F4F4F;
	min-height: 48px;
	filter: none;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;

	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom: 4px solid #027db2;
}
.navbar>.container {
	padding-left: 20px;
	padding-right: 20px
}
.navbar-right {
	float: right!important
}
.navbar-left {
	float: left!important
}
.navbar-text {
	line-height: 48px;
	color: #fff
}
.navbar {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.navbar .navbar-brand {
	padding: 0;
	line-height: 48px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	font-size: 18px;
	width: 230px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	text-align: left;
	padding-left: 0;
	max-width: none;
	margin-left: 0!important;
	margin-right: 0
}
.navbar .toggle-sidebar {
	float: left;
	margin-left: -50px;
	display: inline-block;
	position: relative;
	color: #fff;
	padding: 14px;
	font-size: 14px;
	text-decoration: none
}
.navbar .toggle-sidebar:hover {
	background: rgba(255,255,255,0.05)
}
.navbar .navbar-nav {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width:auto !important;
}
.navbar .navbar-nav>li>a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.navbar .divider-vertical {
	height: 48px;
	border-left: 1px solid #4d7496;
	border-right: 1px solid #fff
}
.navbar .nav>li {
	border-right: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
}
.navbar .nav>li:first-child {
	border-left: 1px solid rgba(0,0,0,0.21)
}
.navbar .nav>li.nav-toggle {
	display: none
}
.navbar .nav>li:active, .navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle, .navbar .toggle-sidebar:active {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
	box-shadow: 1px 0 0 rgba(0,0,0,0.25) inset, -1px 0 0 rgba(0,0,0,0.25) inset
}
.navbar .nav>li>a {
	color: #fff;
	font-size: 13px;
	text-shadow: 0 1px 0 #000;
	padding: 15px 9px;
	cursor: pointer;
}
.navbar .nav>li>a:hover, .navbar .nav>li>a:focus {
	background: none repeat scroll 0 0 #4f4f4f;
    color: #fff;
}
.navbar .nav>li>a>span {
	padding-left: 5px
}
.navbar .nav>li>a>span.username {
	font-weight: bold
}
.icon-caret-down{border-style: dashed;
  border-color: transparent;
  border-width: 0.50em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size:6px !important;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
	 border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #fff;
  top: 0.25em;}
.navbar .nav>li>a .badge {
	position: absolute;
	font-size: 10px;
	font-weight: 300;
	top: 8px;
	right: 8px;
	text-align: center;
	height: 14px;
	background-color: #be4141;
	background-color: rgba(219,45,42,0.8);
	padding: 2px 4px;
	text-shadow: none
}

.navbar .dropdown-menu {
	margin-top: 3px!important;
	position: absolute!important;
	float: left!important;
	background-color: #fff!important;
	border: 1px solid #ccc!important;
	border: 1px solid rgba(0,0,0,0.15)!important;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175)!important;
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175)!important;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175)!important;
	right: 0;
	left: auto
}
.navbar .dropdown-toggle i.small {
	font-size: 10px
}
.dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.07);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.07);
	box-shadow: 0 2px 5px rgba(0,0,0,0.07);
	font-size: 13px;
	text-align: left
}
.dropdown-menu>li>a>i, .dropdown-menu>li>i {
	margin-right: 5px
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	background: #4d7496;
	filter: none
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #4d7496
}

.dropdown-menu.extended {
	min-width: 180px;
	max-width: 320px;
	width: 260px;
	padding: 0
}
.dropdown-menu.extended li {
	border-bottom: 1px solid #e6e6e6
}
.dropdown-menu.extended li:last-child, .dropdown-menu.extended li.title {
	border-bottom: 0
}
.dropdown-menu.extended li.footer {
	text-align: center
}
.dropdown-menu.extended li.footer a {
	background-color: #f9f9f9;
	color: #6f6f6f;
	padding: 8px
}
.dropdown-menu.extended li.footer a:hover {
	background-color: #4d7496;
	color: #fff
}
.dropdown-menu.extended li p {
	padding: 6px 15px;
	background-color: #334d63;
	margin: 0;
	font-size: 13px;
	font-weight: 600;
	color: #fff
}
.dropdown-menu.extended li a {
	font-size: 12px;
	padding: 10px;
	white-space: normal
}
.dropdown-menu.extended li a:hover .time, .dropdown-menu.extended li a:hover .task .percent {
	color: #fff
}
.dropdown-menu.extended li .message {
	padding: 7px
}
.dropdown-menu.extended li .time {
	font-weight: 300;
	position: absolute;
	right: 5px;
	color: #adadad;
	font-size: 11px;
	padding-top: 3px
}
.dropdown-menu.extended li .label {
	padding: 7px;
	width: 24px;
	text-align: center;
	display: inline-block
}
.dropdown-menu.extended li .task .percent {
	float: right;
	display: inline-block;
	color: #adadad;
	font-size: 11px
}
.dropdown-menu.extended li .progress {
	margin: 5px 0
}
.dropdown-menu.extended li .photo img {
	float: left;
	height: 40px;
	width: 40px;
	margin-right: 6px
}
.dropdown-menu.extended li .subject {
	display: block
}
.dropdown-menu.extended li .subject .from {
	font-size: 13px;
	font-weight: 600
}
.dropdown-menu.extended li .text {
	display: block;
	white-space: normal;
	font-size: 12px;
	line-height: 20px;
	padding-top: 1px
}
#sidebar {
	width: 250px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #f9f9f9;
	height: 100%;
	z-index: 0
}
#sidebar * {
	overflow-y: visible;
	white-space: nowrap;
	text-overflow: ellipsis
}
#sidebar #sidebar-content {
	float: left;
	width: 100%!important
}
#sidebar #divider {
	background: #ececec;
	min-height: 100%;
	position: absolute;
	margin-left: 250px;
	right: -1px;
	width: 8px;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1
}
#sidebar .resizeable {
	cursor: col-resize;
	/*background: url(../img/sidebar/sidebar-divider-dots.png) 2px 50% no-repeat #ececec!important*/
}
#sidebar .slimScrollDiv {
	float: left!important;
	width: 100%!important
}
#sidebar .slimScrollBar {
	width: 5px!important;
	background-color: #3A87AD!important;
	right: 0!important;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
#sidebar .sidebar-search {
	margin: 15px;
	margin-right: 23px
}
#sidebar .sidebar-search .input-box {
	border-bottom: 1px solid #d9d9d9!important;
	padding-bottom: 2px
}
#sidebar .sidebar-search span {
	display: block;
	overflow: hidden
}
#sidebar .sidebar-search input {
	width: 100%
}
#sidebar .sidebar-search input, #sidebar .sidebar-search .submit {
	margin: 0;
	border: 0;
	box-shadow: none;
	color: #555;
	background-color: #f9f9f9!important
}
#sidebar .sidebar-search .submit {
	display: block;
	float: right;
	margin-top: 5px;
	opacity: .7
}
#sidebar .sidebar-search .submit:hover, #sidebar .sidebar-search .submit:focus {
	opacity: 1.0
}
#sidebar .sidebar-search-results {
	background-color: #ececec;
	padding: 10px;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
	display: none
}
#sidebar .sidebar-search-results.open {
	display: block
}
#sidebar .sidebar-search-results .close {
	position: relative;
	top: -2px;
	right: 10px;
	font-size: 11px;
	line-height: 25px
}
#sidebar .sidebar-search-results .close:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: .5
}
#sidebar .sidebar-search-results .title {
	font-weight: 600;
	padding: 5px 0;
	color: #888;
	text-transform: uppercase;
	font-size: 12px
}
#sidebar .sidebar-search-results .title>span {
	font-weight: 700
}
#sidebar .sidebar-search-results .notifications li {
	padding-left: 0;
	padding-right: 0;
	margin-right: 5px;
	border-bottom-color: #d3d3d3
}
#sidebar ul#nav {
	list-style: none;
	margin: 15px 0;
	padding: 0
}
#sidebar ul#nav>li.active>a {
	border-right: 10px solid #668eb0
}
#sidebar ul#nav>li.current>a>.arrow {
	right: -3px!important
}
#sidebar ul#nav li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 100%;
	border-bottom: 1px solid #ebebeb
}
#sidebar ul#nav li:last-child, #sidebar ul#nav li.open, #sidebar ul#nav li.open-default, #sidebar ul#nav li.open-fixed {
	border-bottom: 0
}
#sidebar ul#nav li.current>ul {
	display: block
}
#sidebar ul#nav li.current .label.pull-right {
	margin-right: 10px
}
#sidebar ul#nav li.open-default>ul, #sidebar ul#nav li.open-fixed>ul {
	display: block
}
#sidebar ul#nav li .label {
	padding: 5px 8px;
	text-shadow: none
}
#sidebar ul#nav li .label.pull-right {
	position: absolute;
	right: 15px;
	margin-right: 20px
}
#sidebar ul#nav li .arrow {
	line-height: 20px;
	position: absolute;
	right: 10px
}
#sidebar ul#nav li a {
	display: block;
	position: relative;
	margin: 0;
	border: 0;
	padding: 15px 15px;
	padding-left: 20px;
	color: #555;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase
}
#sidebar ul#nav li a:hover {
	background: #fdfdfd
}
#sidebar ul#nav li a:active {
	background: #ebebeb
}
#sidebar ul#nav li a i {
	color: #6f6f6f;
	padding-right: 10px;
	float: left;
	line-height: 20px
}
#sidebar ul#nav li .arrow, #sidebar ul#nav li.open ul.sub-menu li .arrow, #sidebar ul#nav li.open ul.sub-menu li ul.sub-menu li .arrow{position: absolute; top:20px; right:15px; height:8px; width:7px; /*background:url(../img/icon_angle.png) no-repeat 0 0;*/}
#sidebar ul#nav li.open .arrow, #sidebar ul#nav li.open ul.sub-menu li.open .arrow, #sidebar ul#nav li.open ul.sub-menu li ul.sub-menu li.open .arrow{background-position:0 bottom;}
#sidebar ul#nav li.open ul.sub-menu li ul.sub-menu li .arrow{top:10px;}


#sidebar ul#nav li a i[class^="icol-"], #sidebar ul#nav li a i[class^="icos-"], #sidebar ul#nav li a i[class*=" icol-"], #sidebar ul#nav li a i[class*=" icos-"] {
	margin-top: 2px
}
#sidebar ul#nav>li.active, #sidebar ul#nav>.active {
	background: #fdfdfd
}
#sidebar ul#nav ul.sub-menu {
	display: none;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	font-size: 13px;
	background: #f1f1f1;
	border-bottom: 1px solid #fff;
	float: left;
	width: 100%;
}
#sidebar ul#nav ul.sub-menu a {
	font-weight: normal;
	padding: 10px 10px 10px 18px;
	text-transform: none
}
#sidebar ul#nav ul.sub-menu a:hover {
	background: rgba(255,255,255,0.5)
}
#sidebar ul#nav ul.sub-menu a:active {
	background: #ebebeb
}
#sidebar ul#nav ul.sub-menu li.current {
	background: #f9f9f9
}
#sidebar ul#nav ul.sub-menu li:first-child>a {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset;
	box-shadow: 0 1px 1px rgba(0,0,0,0.4) inset
}
#sidebar ul#nav ul.sub-menu ul.sub-menu {
	margin: 5px;
	margin-right: 0;
	margin-left: 40px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0
}
#sidebar ul#nav ul.sub-menu ul.sub-menu>li {
	border-left: 1px solid #d1d1d1;
	border-bottom: 0
}
#sidebar ul#nav ul.sub-menu ul.sub-menu>li a {
	font-size: 12px;
	color: #6f6f6f;
	padding: 7px 15px
}
#sidebar ul#nav ul.sub-menu ul.sub-menu>li a:hover {
	background: rgba(255,255,255,0.3)
}
#sidebar ul#nav ul.sub-menu ul.sub-menu>li a:active {
	background: #ebebeb
}
#sidebar ul#nav ul.sub-menu ul.sub-menu li:first-child>a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
#sidebar .sidebar-title {
	background-color: #ececec;
	padding: 10px;
	font-weight: 600;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset
}
#sidebar .notifications {
	margin: 0;
	padding: 0;
	list-style: none
}
#sidebar .notifications li {
	padding: 15px;
	border-bottom: 1px solid #ebebeb
}
#sidebar .notifications li:last-child {
	border-bottom: 0
}
#sidebar .notifications li a {
	color: #555
}
#sidebar .notifications li a:hover {
	color: #4d7496
}
#sidebar .notifications .col-left {
	float: left;
	margin-right: -100%
}
#sidebar .notifications .col-right {
	float: left;
	width: 100%
}
#sidebar .notifications .col-right.with-margin {
	margin-left: 35px
}
#sidebar .notifications .message {
	white-space: normal
}
#sidebar .notifications .label {
	padding: 7px;
	width: 24px;
	text-align: center;
	display: inline-block
}
#sidebar .notifications .time {
	color: #888;
	display: block;
	padding-top: 5px;
	font-size: 11px
}
.sidebar-fixed {
	position: fixed!important;
	top: 52px
}
.fill-nav-space {
	height: 52px
}
.sidebar-closed>#sidebar {
	display: none
}

.crumbs {
	background: #f9f9f9;
	border-bottom: 1px solid #d9d9d9;
	float: left;
	width: 100%;
}
.crumbs .breadcrumb {
	background-color: #f9f9f9;
	margin-bottom: 0;
	width: 100%;
	float: left;
}
.crumbs .breadcrumb li {
	float: left;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 5px
}
/*.crumbs .breadcrumb li:nth-child(2n){
	width: 11%;
}
.crumbs .breadcrumb li:last-child{
width: 40%;}*/
.crumbs .breadcrumb li a {
	color: #555;    
	cursor: pointer;
}
.crumbs .breadcrumb li a:hover {
	text-decoration: none;
	color: #4d7496
}
.crumbs .breadcrumb li i {
	color: #6f6f6f;
	padding: 0 5px
}
.crumbs .breadcrumb li.current a {
	color: #949494!important
}
.crumbs .crumb-buttons {
	float: right;
	list-style: none;
	margin-right: 21px;
	margin-left: 0;
	height: 0
}
.crumbs .crumb-buttons>li {
	float: left;
	font-size: 12px;
	border-right: 1px solid #d9d9d9;
	position: relative
}
.crumbs .crumb-buttons>li:first-child, .crumbs .crumb-buttons>li.first {
	border-left: 1px solid #d9d9d9
}
.crumbs .crumb-buttons>li>a {
	color: #555;
	text-decoration: none;
	white-space: nowrap;
	padding: 0 10px;
	line-height: 39px;
	display: inline-block;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff
}
.crumbs .crumb-buttons>li>a:hover {
	background: #fff
}
.crumbs .crumb-buttons>li>a:active {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background: #ebebeb
}
.crumbs .crumb-buttons>li>i, .crumbs .crumb-buttons>li>a>i {
	padding-right: 5px
}
.crumbs .crumb-buttons>li>i.left-padding, .crumbs .crumb-buttons>li>a>i.left-padding {
	padding-right: 0;
	padding-left: 5px
}
.crumbs .crumb-buttons>li.open {
	background: #fff
}
.breadcrumb>li+li:before {
	background:url(../images/icon_angle_right.png) no-repeat center center;
	content:"";	
}
.breadcrumb > li + li::before {
background: url(../images/icon_angle_right.png) no-repeat center center;
content: "";
float: left;
padding: 9px;
}
.btn, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ColVis_MasterButton, .fc-state-default {
	background-color: #f3f3f3;
	background-image: none;
	filter: none;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 4px 7px;
	text-shadow: none;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	font-size: 13px;
	cursor: pointer;
	border: 1px solid #d9d9d9;
	border: 1px solid rgba(0,0,0,0.13);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.btn-xs {
	padding: 0 10px;
	font-size: 11px
}

.widget {
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0
}
.widget .widget-header {
	margin-bottom: 15px;
	border-bottom: 1px solid #ececec;
*zoom:1
}
.widget .widget-header:before, .widget .widget-header:after {
	display: table;
	content: "";
	line-height: 0
}
.widget .widget-header:after {
	clear: both
}
.widget .widget-header h4 {
	display: inline-block;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-bottom: 7px
}
.widget .widget-header h4 i {
	font-size: 14px;
	margin-right: 5px;
	color: #6f6f6f
}
.widget .widget-header .toolbar {
	display: inline-block;
	padding: 0;
	margin: 0;
	float: right
}
.widget.box {
	border: 1px solid #d9d9d9;
	padding:0px;
	border-radius: 5px 5px 0 0;
	max-width: 100%;
}
.widget.box .widget-header {
	background: #f9f9f9;
	border-bottom-color: #d9d9d9;
	line-height: 35px;
	padding: 0 12px;
	margin-bottom: 0;
	border-radius: 5px 5px 0 0;
}
.widget.box .widget-header h4 {
	margin-bottom: 0
}
.widget.box .widget-header .toolbar {
	margin-right: -5px
}
.widget.box .widget-header .toolbar.no-padding {
	margin: -2px -13px
}
.widget.box .widget-header .toolbar.no-padding .btn {
	font-size: 13px;
	line-height: 35px;
	margin-top: 1px
}
.widget.box .widget-content {
	padding: 10px;
	position: relative;
	background-color: #fff
}
.widget.box .widget-content.no-padding {
	padding: 0
}
.widget.box .widget-content.no-padding .row {
	padding-left: 15px;
	padding-right: 15px
}
.widget.box .widget-content.widget-deeper {
	background-color: #f9f9f9;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset
}
.widget.box.box-shadow {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	border-bottom-color: #ccc
}
.widget.widget-closed.box .widget-header {
	margin-bottom: -1px;
	border-bottom: 1px solid #d9d9d9
}
.widget.widget-closed .widget-content {
	display: none
}
.widget>.divider, .widget .widget-content>.divider {
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff
}
.widget>.divider.bright, .widget .widget-content>.divider.bright {
	border-bottom-color: #ececec
}
.widget .widget-content>.divider {
	margin: 5px 0
}
.semi-widget {
	margin-bottom: 10px
}
.widget-title {
	margin-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0;
	font-weight: 300;
	font-size: 17px
}
.widget-title>i {
	margin-right: 5px
}
#sidebar #sidebar-content .sidebar-widget {
	margin: 25px 10px
}
.slimScrollBar {
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important
}
.scroller {
	padding-right: 12px!important
}
.widget-content .more {
	clear: both;
	display: block;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 11px;
	color: #555;
	opacity: .7;
	margin: -10px;
	margin-top: 10px;
	background-color: #f9f9f9;
	border-top: 1px solid #d9d9d9
}
.widget-content .more:hover, .widget-content .more:focus {
	opacity: 1;
	text-decoration: none
}
.widget-content .more:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
	border-top-color: #ccc
}
.widget-content .more i {
	margin-top: 2px;
	margin-bottom: -3px
}

img {
	/*width: auto\9;
	height: auto;*/
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic
}
code {
	color: #54728c;
	background-color: #f9f9f9;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.label, .badge {
	font-size: 10px;
	font-weight: normal
}
.label, .badge {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.label-info {
	background-color: #658db3
}
.label-success {
	background-color: #94b86e
}
.label-danger {
	background-color: #e25856
}
.tooltip-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.feeds {
	margin: 0;
	padding: 0;
	list-style: none
}
.feeds li {
	background-color: #f9f9f9;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 7px
}
.feeds li.hoverable:hover, .feeds li.hoverable:focus {
	background-color: #f4f4f4
}
.feeds li.hoverable:active {
	background-color: #efefef;
	border-top: 1px solid #d9d9d9;
	border-bottom: 0
}
.feeds li:before, .feeds li:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both
}
.feeds .col1 {
	float: left;
	width: 100%;
	clear: both
}
.feeds .col1 .content {
	float: left;
	margin-right: 100px;
	overflow: hidden
}
.feeds .col1 .content .content-col1 {
	float: left;
	margin-right: -100%
}
#tab_feed_1 .feeds .col1 .content .content-col1{
	margin-right: 0%
}
.feeds .col1 .content .content-col1 .label {
	float: left;
	width: 14px;
	padding: 7px;
	text-align: center;
	line-height: 14px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 10px;
}
.feeds .col1 .content .content-col2 {
	float: left;
	width: 100%
}
.feeds .col1 .content .content-col2 .desc {
	margin-left: 35px;
	padding-top: 8px;
	padding-bottom: 4px;
	overflow: hidden
}
.feeds .col1 .content .content-col2 .desc span {
	margin-left: 3px
}
.feeds .col2 {
	float: left;
	width: 100px;
	margin-left: -100px
}
.feeds .col2 .date {
	padding: 4px 9px 4px 4px;
	text-align: right;
	color: #adadad;
	font-size: 11px
}

/*form {
	margin: 0 5px
}*/
label, input, button, select, textarea {
	font-size: 13px!important
}
label {
	font-weight: 600
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-appearance: none!important;
	color: #555;
	padding: 6px 6px!important;
	font-weight: normal;
	vertical-align: top;
	background-color: #fff;
	background-image: none!important;
	filter: none!important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: #4d7496;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 3px rgba(0,0,0,0.1)
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

#flotTip {
	padding: 3px 6px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	opacity: .8;
	filter: alpha(opacity=80);
	z-index: 200;
	font-size: 13px
}

.jqstooltip {
	border: 1px solid #000!important;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.nav-tabs>li>a {
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important
}
.box-tabs .nav-tabs {
	border-bottom: 0;
	position: relative;
	top: -41px;
	margin-right: 0;
	overflow: hidden
}
.box-tabs .nav-tabs>li {
	margin-left: 1px;
	float: right
}
.box-tabs .nav-tabs>li.active>a:hover, .box-tabs .nav-tabs>li.active>a:focus {
	background-color: #fff
}
.box-tabs .nav-tabs>li>a {
	padding-top: 8px;
	padding-bottom: 10px;
	line-height: 12px;
	margin-top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.box-tabs .nav-tabs>li>a:hover, .box-tabs .nav-tabs>li>a:focus {
	background-color: rgba(255,255,255,0.7)
}
.box-tabs .nav-tabs>li>a.active {
	background-color: #fff
}
.box-tabs .tab-content {
	margin-top: -30px
}
.tabbable-custom {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 15px
}
.tabbable-custom>.nav-tabs {
	border: 0;
	margin: 0;
	top: 0
}
.tabbable-custom>.nav-tabs>li {
	margin-right: 2px;
	border-top: 2px solid transparent;
	float: left
}
.tabbable-custom>.nav-tabs>li.active {
	border-top: 3px solid #4d7496;
	margin-top: 0;
	position: relative
}
.tabbable-custom>.nav-tabs>li.active>a {
	border-top: 0;
	font-weight: 400
}
.tabbable-custom>.nav-tabs>li.active>a:hover, .tabbable-custom>.nav-tabs>li.active>a:active {
	background-color: #fff
}
.tabbable-custom>.nav-tabs>li>a {
	margin-right: 0;
	padding: 5px 10px;
	line-height: 1.428571429
}
.tabbable-custom>.nav-tabs>li>a:hover, .tabbable-custom>.nav-tabs>li>a:active {
	background-color: #f9f9f9
}
.tabbable-custom>.tab-content {
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 10px;
	overflow: auto;
	margin-top: 0
}
.tabbable-custom.tabbable-full-width .nav-tabs>li>a {
	font-size: 15px;
	padding: 8px 20px;
	color: #555
}
.tabbable-custom.tabbable-full-width>.tab-content {
	border-left: none;
	border-right: 0;
	border-bottom: 0;
	padding: 20px 0
}
.tabs-below.tabbable-custom>.nav-tabs li {
	border-top: 0;
	border-bottom: 2px solid transparent;
	margin-top: -1px
}
.tabs-below.tabbable-custom>.nav-tabs li.active {
	border-top: 0;
	border-bottom: 3px solid #4d7496;
	margin-bottom: 0;
	position: relative
}
.tabs-below.tabbable-custom>.nav-tabs li.active a, .tabs-below.tabbable-custom>.nav-tabs li.active a:hover, .tabs-below.tabbable-custom>.nav-tabs li.active a:focus {
	border-bottom: 0
}
.tabs-below.tabbable-custom>.nav-tabs li a:hover, .tabs-below.tabbable-custom>.nav-tabs li a:focus {
	border-bottom: 1px solid #eee
}
.tabs-left.tabbable-custom>.nav-tabs {
	float: left
}
.tabs-left.tabbable-custom>.nav-tabs li {
	border-left: 3px solid transparent;
	margin-right: 0;
	margin-top: 0
}
.tabs-left.tabbable-custom>.nav-tabs li.active {
	border-top: 0;
	border-left: 3px solid #4d7496;
	margin-top: 0;
	margin-right: -1px;
	position: relative
}
.tabs-left.tabbable-custom>.nav-tabs li.active a {
	border-top: 1px solid #ddd;
	border-left: 1px solid transparent
}
.tabs-left.tabbable-custom>.nav-tabs li a:hover, .tabs-left.tabbable-custom>.nav-tabs li a:focus {
	border-bottom: 1px solid #eee;
	border-right: 0
}
.tabs-right.tabbable-custom>.nav-tabs {
	float: right
}
.tabs-right.tabbable-custom>.nav-tabs li {
	border-right: 3px solid transparent;
	margin-right: 0;
	margin-top: 0
}
.tabs-right.tabbable-custom>.nav-tabs li.active {
	border-top: 0;
	border-right: 3px solid #4d7496;
	margin-top: 0;
	margin-right: -1px;
	position: relative
}
.tabs-right.tabbable-custom>.nav-tabs li.active a {
	border-top: 1px solid #ddd;
	border-right: 1px solid transparent
}
.tabs-right.tabbable-custom>.nav-tabs li a {
	margin-left: -1px
}
.tabs-right.tabbable-custom>.nav-tabs li a:hover, .tabs-right.tabbable-custom>.nav-tabs li a:focus {
	border-bottom: 1px solid #eee
}
.tabs-right.tabbable-custom .nav-tabs>li a, .tabs-left.tabbable-custom .nav-tabs>li a {
	padding: 8px 10px
}
.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
	float: none
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 3px
}
.tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:hover, .tabs-left>.nav-tabs .active>a:focus {
	border-color: #ddd transparent #ddd #ddd
}
.tabs-right>.nav-tabs .active>a, .tabs-right>.nav-tabs .active>a:hover, .tabs-right>.nav-tabs .active>a:focus {
	border-color: #ddd #ddd #ddd transparent
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
#sidebar * {
    overflow-y: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.input-box {
    border-bottom: 1px solid #CCCCCC;
    height: auto;
    margin: 15px 0 15px 10px;
    width: 89%;
}*/
.input-box input {
    border: medium none;
	background-color: #F9F9F9;
}
.input-box input:focus{
	box-shadow: none;
}
.input-box button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
	vertical-align: middle;
}

.box{padding:10px 4%; background:#fff; border: 1px solid #D9D9D9;}
.box.box-shadow {border-bottom-color: #CCCCCC; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);}
.statbox .visual.cyan {background-color: #6DADBD;}
.statbox .visual.green {background-color: #94B86E;}
.statbox .visual.yellow {background-color: #FFB848;}
.statbox .visual.red {background-color: #E25856;}
.statbox .visual {-moz-box-sizing: content-box; color: #FFFFFF; float: left; margin-right: 10px; min-height: 17px; min-width: 20px; overflow: hidden; padding: 13px; text-align: center;}
.statbox .stat_title, .statbox .value {padding-right: 3px; text-align: right;}
.statbox .stat_title {color: #ADADAD; display: block; font-size: 11px; font-weight: 600; padding-top: 3px; text-transform: uppercase; float:none; width:auto;}
.statbox .value {font-size: 20px; line-height:24px; font-weight: 600;}
.box .more {background-color: #F9F9F9; border-top: 1px solid #D9D9D9; clear: both; color: #555555; display: block; font-size: 11px; font-weight: 300; margin: 10px -9px -10px; opacity: 0.7; padding: 5px 10px; text-transform: uppercase;}
.statbox .visual.yellow .icon-dollar{font-style:normal; font-weight:bold; font-size:14px;}

.AverageiClass-Rating, .rating-img{padding:5px 10px;}
.icon-calendar{margin-bottom:5px;}
.row-border .form-group:first-child {
    border-top: 0 none;
    padding-top: 5px;
}
.row-border .form-group {
    border-top: 1px solid #ECECEC;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}
.form-horizontal .form-group {
    padding-left: 0;
    padding-right: 0;
}
.hdr, .obj{width:100% !important;}
.btn-info {background-color: #2F96B4; color: #FFFFFF; z-index: 2; border-radius:5px;}
.btn-info:hover, .btn-info:focus {background-color: #34A7C8; color: #FFFFFF;}
.hdrcell input[type="text"],  .filter input[type="text"]{
background-color: #FFFFFF;
    border: 1px solid #B4B4B4;    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 24px;
    line-height: 1.42857;
    padding: 2px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;}
.row {
    margin-left: 0;
    margin-right:0;
}
.bg_auto_1{
background: -moz-linear-gradient(90deg, #ebeceb 0%, #ffffff 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #ebeceb), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #ebeceb 0%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #ebeceb 0%, #ffffff 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #ebeceb 0%, #ffffff 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeceb', endColorstr='#ffffff', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #ebeceb 0%, #ffffff 100%);/* W3C */
 border: 1px solid #D5D6D5;
 }
 
#desc_tbl{width:100% !important;}
.form-control{border-radius:0px !important;}

.select2-container{width:100% !important;}

#test2{margin-top:34px !important;}

.row1{margin-left:-15px; margin-right:-15px;}
.dhx_pager_info_skyblue{margin: -9px 10px 10px !important;}
.dhx_pline_skyblue {margin: -10px 9px 0 !important;}
.meter-text-prog{width:100% !important; padding-top:0px !important; padding-bottom:0px !important; height:auto !important;}
.front-personal-progress{padding-bottom:10px; min-height:114px !important;}
.drop_down_com{margin-top:5px !important;}
.search_size_bor{width:60% !important;}
.front-course-app-main{border-right:1px solid #D5D6D5;}


#gridboxview .objbox{overflow:inherit !important;}
#gridboxenroll .objbox{overflow:inherit !important;}
#desc_text_parent #desc_text_tbl{width:100% !important}
#ui-datepicker-div{
	overflow: hidden;
}
.credit_bg1 {
   background-image: url(../images/credit_bg1.png);
    background-repeat: repeat-x;
    height: 62px;
}
.hdrcell.filter select {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
.widget-header h4 img {
    margin-top: -3px;
    margin-right: 3px;
}
.footer_links_new a {
    border-right: 1px solid rgba(255, 255, 255, 0.56);
    padding-left: 10px;
    padding-right: 10px;
}
.footer_links_new a:last-child{
    border-right: 0;
}
.style1 li {
    font-size: 12px;
    list-style: disc inside none;
}
.computer-text ul {
    margin-left: 12px;
}
.computer-text li {
    list-style: disc inside none;
}
.grey-gradient{
	/*background: -moz-linear-gradient(90deg, #eaebea 0%, #fefffe 100%);*//* FF3.6+ */
	/*background: -webkit-gradient(linear, 90deg, color-stop(0%, #eaebea), color-stop(100%, #fefffe));*//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(90deg, #eaebea 0%, #fefffe 100%);*//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(90deg, #eaebea 0%, #fefffe 100%);*//* Opera 11.10+ */
	/*background: -ms-linear-gradient(90deg, #eaebea 0%, #fefffe 100%);*//* IE10+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaebea', endColorstr='#fefffe', GradientType='0');*/ /* for IE */
	/*background: linear-gradient(0deg, #eaebea 0%, #fefffe 100%);*//* W3C */
	/*width: 100%;
	height: auto;*/
	background-color: #f4f4f4;
	height: 60px;
}
#breadcrumbs > li:first-child {
    margin-right: 8px;
}
#remove_course_dialog {
    background-color: #fff;
    border: 1px solid #ccc;
    left: 45%;
    top: 30%;
	position: absolute;
	 z-index: 1;
}
.closebtn {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    text-align: right;
}
.admindashboard .row {
    margin-left: -20px;
    margin-right: -20px;
}
.colff{
	color: #fff;
}
.col00{
	color: #000;
}
.page-title > h4 {
    display: inline-block; 
	margin: 5px 0 ;
}
.headerbtnwrp {
    float: right;
    margin-top: 3px;
}
.admindashboard .page-title {
    width: auto;
}