.navbar > .container {
    padding-left: 12px;
    padding-right: 12px;
}
#toggle, .toggle { 
	display: none;  
	height: 40px;
    width: 90px;
    z-index: 1111;
}
}
.menu li { 
	list-style: none; 
	float:left;	
}
.menu  li:last-child{
	width: 240px;
}

.menu.nav.menunavcolorwhite li{
	display: inline-block;
}
/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

@media only screen and (max-width: 1023px){
	.menu {
    display: none;
    left: 250px;
    opacity: 0;
    position: absolute;
    top: 42px;
    width: 100%;
}
	.menu > li { display: block; width: 100%; margin: 0; }
	.menu > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
	#toggle:checked ~ .menu { display: block; opacity: 1;}
}


/*--------------------------------
 Presentation Styles (Editable)
---------------------------------*/

.navigataur{ 
	display: block; 
	float: left; 
}

.navigataur, .menu, .menu > li, .menu > li > a{ 
	height: 100%; 
}

.menu > li > a{
	display: block;
	padding: 42px 20px;
	text-decoration: none;
	font-weight: normal;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.menu > li > a:hover, .menu > li > a:focus{
	background: #2A4053;
	box-shadow: inset 0px 5px #027db2;
	color: #51C1F1;
}

.toggle{ 
	z-index: 2; 
}


@media only screen and (max-width: 1280px){
	.menu.nav li a {
		padding: 16px 6px;
	}

}
@media only screen and (max-width: 1070px){
	.menu.nav li a {
		padding: 16px 5px;
	}

}
@media only screen and (max-width: 1055px){
	.menu.nav li a {
		padding: 16px 4px;
	}

}
@media only screen and (max-width: 1023px){

.menu{
		background: #FFFFFF;
		border-top: 1px solid #51C1F1;
	}
	
	.menu, .menu > li, .menu > li > a{
		height: auto;
	}
	
	.menu > li > a{
		padding: 10px 15px 10px 25px;
	}
	
	.menu > li > a:hover, .menu > li > a:focus{
		background: #2A4053;
		box-shadow: inset 5px 0px #2A4053;
		padding: 10px 15px 10px 25px;
	}
	.menu {
		background: none repeat scroll 0 0 #777777;
		border-top: 3px solid #2A4053;
		width: 38%;
		z-index: 1000;
	}
	.toggle:after {
		content: 'Main Menu';
		display: block;
		padding: 8px 10px;
		background: #006699;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		font-size: 12px;
		margin-top: 9px;
		color: #FFFFFF;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
	}
	

	#toggle:checked + .toggle:after{
		content: 'Close Menu';
		background: #45ABD6;
	}
	.menu.menunavcolorwhite{
		background: #fff none repeat scroll 0 0;
	} 
	.menu.nav.menunavcolorwhite > li{
		border-bottom: 1px solid #e5e5e5;
	}
	.menu.nav.menunavcolorwhite .dropdown.user{
		width: 100%;
		border-left: 1px solid #D2D2D2;
		border-right: 1px solid #D2D2D2 ;
	}
	.menu.nav.menunavcolorwhite >li a {
		padding: 8px 4px;
	}
	.navbar .nav.menunavcolorwhite > li > a {
		color: #000;
		padding: 8px 9px;
		text-shadow: none;
	}
	.menu.nav.menunavcolorwhite  .dropdown-menu.app_dropdownmenu{
		margin-top: 1px !important; 
		padding: 0;    
	}
	.menu.nav.menunavcolorwhite .dropdown-menu.app_dropdownmenu li.divider {
		margin: 0px 0;
	}
	.navbar .menu.nav.menunavcolorwhite .dropdown-menu{
		border: 1px solid #D2D2D2 !important;
		border-top:0 !important;
		border-left: 0 !important;
		display: block;
		width: 100.5%;
	}
	.navbar .menu.nav.menunavcolorwhite .dropdown-menu.app_dropdownmenu li{
		border-left: 1px solid #ccc;
		display: block;
	}
	.navbar .menu.nav.menunavcolorwhite .dropdown-menu{
		right: -1px;
	}
	.navbar .menu.nav.menunavcolorwhite > li > a:hover, .navbar .menu.nav.menunavcolorwhite > li > a:focus{
		background: #4D7496 none repeat scroll 0 0;    
		box-shadow: none;
		color: #fff;
	}
	.navbar .nav li.dropdown.open > .dropdown-toggle{
		color: #000;
	}
}
@media only screen and (max-width: 1024px){
	.frmstyle {
		width: 100%;
	}
	.menu.nav li a {
		padding: 16px 4px;
	}
	.menu li:last-child{
		width: 100%;
	}
}
@media only screen and (max-width: 980px){
	.menu {
		left: 242px;
	}
}
@media only screen and (max-width: 768px){
	.menu {
		left: 160px;
		top: 42px;
		width: 25%;
	}
}
@media only screen and (max-width: 600px){
	.menu {
		top: 42px;
		width: 32%;
	}
}
@media only screen and (max-width: 568px){
	.menu {
		width: 32%;
	}
}
@media only screen and (max-width: 480px){
	.menu {
		left: 160px;
		width: 46%;
	}
}
@media only screen and (max-width: 479px){
	.toggle:after { 
		text-align: center; width: 100%; 
	}
}
@media only screen and (max-width: 384px){
	.menu {
		width: 47%;
	}
}
@media only screen and (max-width: 320px){
	.menu {
		width: 50%;
	}
}
.triangle-up {
    border-bottom: 10px solid #fefefe;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    left: 35px;
    position: absolute;
    top: -10px;
    width: 0;
}
.notification_hover {
    background-color: #ffffff;
    border: 1px solid #ccc;
	border-top: 0;
    box-shadow: 0 0 5px rgba(126, 126, 126, 0.48);
    padding: 10px;
    position: absolute;
    width: 250px;
	margin-top: 6px;
}

