.search_nav {
	float: right;
}

#menu-icon {
	display: hidden;
	height: 46px;
    width: 46px;
	background: url(../images/search_icon_white.png) center;
}

a:hover#menu-icon {
	background-color: rgba(255, 255, 255, 0.05);
}

.search_nav ul {
	list-style: none;
	margin-bottom: 0;
}

.search_nav li {
	display: inline-block;
	float: left;
	position: relative;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 1300px) {
	.search_nav {
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}
	#menu-icon {
		display:inline-block;
	}

	.search_nav ul, .search_nav:active ul { 
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		display: none;
		position: absolute;
		right: 160px;
		top: 48px;
		width: 35%;
	}

	.search_nav li {
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.search_nav:hover ul {
		display: block;
	}
	
	#triangle-up { 
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent; 
		border-right: 10px solid transparent; 
		border-bottom: 10px solid #ffffff; 
		position: absolute;
		right: 10px;
		top: -10px;
	}
}
@media only screen and (max-width: 1024px){
.search_nav ul, .search_nav:active ul {
		top: 48px;
		width: 30%;
	}
	.search_nav ul, .search_nav:active ul { 
		right: 152px;
	}
}@media only screen and (max-width: 768px){
	.search_nav ul, .search_nav:active ul {
		top: 48px;
		width: 30%;
		right: 45px;
	}
}
@media only screen and (max-width: 600px){
	.search_nav ul, .search_nav:active ul {
		top: 48px;
		width: 40%;
	}
}
@media only screen and (max-width: 568px){
	.search_nav ul, .search_nav:active ul {
		top: 48px;
		width: 50%;
	}
}
@media only screen and (max-width: 480px){
	.search_nav ul, .search_nav:active ul {
		top: 48px;
		width: 50%;
	}
}
@media only screen and (max-width: 479px){
	
}
@media only screen and (max-width: 384px){
	.toggle:after {
		content: 'Menu';
	}
	#toggle:checked + .toggle:after{
		content: 'Close';
	}
	.toggle:after {
		font-size: 11px;
		padding: 8px 6px;
	}
	#menu-icon {
		width: 36px;
	}
	.search_nav ul, .search_nav:active ul {

		top: 48px;
		width: 50%;
	}
}
@media only screen and (max-width: 320px){
	.toggle:after {
		font-size: 10px;
		padding: 8px 3px;
	}
	#menu-icon {
		width: 30px;
	}
}
