 <style>
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}
#pswd_info {
    position:absolute;
	top:+460px;
    bottom: -115px\9;
    right:20px;
    width:219px;
    padding:15px;
    background:#fefefe;
    font-size:.950em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
.invalid {
    background:url("/public/images/cross.png") no-repeat 0 19%;
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    background:url("/public/images/tick.png") no-repeat 0 19%;
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
#pswd_info {
    display:none;
}
</style>
 <style>
body {
	padding: 15px;
}

.select2 > .select2-choice.ui-select-match {
	/* Because of the inclusion of Bootstrap */
	height: 29px;
}

.selectize-control > .selectize-dropdown {
	top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}
.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}
 </style>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Add User</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Manage Users</a></li>
			<li><a href="#/admin/manageuserlist">Users</a></li>   
			<li class="active"><strong>Add User</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<h1>Add User</h1>
	</div>
</section>	
<div class="fl wp100">
	<div class="content fl wp100">
		<div class="panel panel-bd wp100 fl lobipanel1">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-file-text-o mr05" aria-hidden="true"></i>
					Add User
				 </h4>
			</div>
<div class="panel-body">
<div class="edit-user wp100 fl pb10">
 <div class="row">
	<div class="col-sm-4 col-md-3">
		<div class="manage-user-photo-box wp100">
			<div class=" mt15 tac">
				<div class="user-photo" id="files">
					 <img class="manage-user-photo-bg" src="/eliteprodlms/public/images/default_profile.png">
				</div>
			</div>
			<div class="wp100 fl tac">
				<div class="button_lblue_r4 fs13 mt06 fta fc03 b hand" id="upload">Upload Photo</div>

				<div class="manage-edit-change-pho ml45 fs13 mt06 fta fc03 b wp100" style="" id="upload"></div>

				<div class="wp100 fta fs12 ml03 fc02 mt05 fc99 tac">Recommended size 185x185<br>(jpg, png, or gif)</div>
			</div></div>
		<div class="manage-login-permision-box wp100 mt10 fl">
			<div class="edit-login-permision-bg wp100 fl tac">
				<div class="login-permision-edit fs13 fta fc03 b">Login/Permission</div>
			</div>
			<div class="username-box wp100 bs01 fl">
			  <div class="user-name fs14 mt08 ml10 fta fc03 b  wp100 fl">{{get_field_name.login_id}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
			  
				<div class="user-name fs14  ml10 fta fc03 b mt01  wp89 fl ">                                                   
					<input class="form-control" style="height: 27px; padding: 2px !important;" name="loginname" ng-model="insertUser.loginname" id="loginname" type="text">
				</div>
			   
					<div class="user-name fs14 mt08 ml10 fta fc03 b  wp100 fl">{{get_field_name.password}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
					<div class="user-name fs14  ml10 fta fc03 b mt01  wp89 fl">
						<input ng-keyup="checkpassword()"  ng-focus='methodA()' ng-blur='methodB()' ng-click='methodC()' class="user-name-size form-control" name="password" ng-model="insertUser.password" style="height: 27px; padding: 2px !important;" id="password" maxlength="32" type="text">
					</div>
					
					<div ng-if="checkFieldArray.field_18==1" class="user-name fs14 mt08 ml10 fta fc03 b wp100 fl">												
					{{get_field_name.user_identifier}}:
					</div>
					<div ng-if="checkFieldArray.field_18==1" class="user-name fs14 ml10 fta fc03 b mt01 wp89 fl">
					<input class="user-name-size form-control" name="emp_id"  id="emp_id" type="text" ng-model="insertUser.emp_id"  />
					</div>
					
					<div ng-if="checkFieldArray.field_15==1" class="user-name fs14 mt08 ml10 fta fc03 b wp100 fl">{{get_field_name.expiration_date}}:</div>
					<div  ng-if="checkFieldArray.field_15==1" class="user-name fs14 ml10 fta fc03 b mt01 wp89 fl">
					 <md-datepicker ng-model="insertUser.expdate" md-placeholder="Enter date"></md-datepicker>
					</div>
					
																						
					<div class="user-name fs14 mt08 ml10 fta fc03 b wp100 fl">{{get_field_name.is_active}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
					<div class="elearning-all-categories1 mt06 ml10 wp89 h22 fl ">
					<select name="status_id" ng-model="insertUser.status_id" id="status_id" class="add_user_drop form-control">
						<option value="1"> Active </option>
						<option value="0"> Inactive </option>
					</select>														
					</div>											
																			  
					<div class="user-name fs14 mt08 ml10 fta fc03 b  wp100 fl">{{get_field_name.role_id}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
					<div class="elearning-all-categories1 mt06 ml10 wp89 h22 fl">

						<select style="height: 27px; padding: 2px !important; " ng-model="insertUser.rolename" name="rolename" id="rolename" class="add_user_drop form-control">
						<option value="">--Choose Role--</option>
							<option value="1"> Admin</option>
							<option value="5"> Sub-Admin</option>
							<option value="2"> Supervisor</option>
							<option value="3"> Instructor</option>
							<option value="4"> User</option>
						</select>

				</div>
				<div class="ext-h h20 w160 ml05 fl"></div>
			</div>
			<div> </div>
		<div id="pswd_info" >
			<h5>Password must meet the following requirements:</h5>
			 <ul compile="tag_str">
			 </ul>
		</div>
		</div>
	
	
	</div>
	<div class="col-sm-8 col-md-9">
		<div class="manage-edit-name wp100 mt15 fl">
			<div style="color: #ff0000;font-size:15px;"> '*' Indicates Required Field</div>
			<div class="manage-name wp100 fs14  fta fc03 b fl">
				<div class="wp33 fl">{{get_field_name.user_name}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
										
				 <div ng-if="checkFieldArray.field_19==1" class="wp33 fl">{{get_field_name.middle_name}}:</div>
				 
				<div class="wp33 fl">{{get_field_name.last_name}} :<span style="color: #ff0000;font-size:18px;">*</span></div>
			</div>
			<div class="manage-name wp100 fl mt05">
				<div class="wp33 fl pr10">
					<input class="form-control" size="20" name="first_name" ng-model="insertUser.first_name" id="first_name" type="text">
				</div>
				<div ng-if="checkFieldArray.field_19==1"  class="wp33 fl pr10">
				  <input class="form-control"  type="text"  size="20" ng-model="insertUser.middle_name" name="middle_name" id="middle_name"/>
				</div>												
				<div class="wp33 fl">
					<input class="form-control" name="last_name" id="last_name"  ng-model="insertUser.last_name" middle_nametype="text">
				</div>
			</div>
			
			<!-- select2 Job Title   -->
			<div class="manage-name wp100 fs14 mt20 fta fc03 b fl">{{get_field_name.job_id}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
			<div class="manage-name wp100 fl mt05 " ng-if="lockedStatus[0].jobtitle_management!=1"> 
			<ui-select multiple tagging="tagTransformTitle" ng-model="multiple.selectedJobTittle" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose a Job Title">
			<ui-select-match placeholder="Select Job Title...">{{$item.jobtitle_group}}</ui-select-match>
			<ui-select-choices repeat="title.job_id as title in jobtitle" >
			<div ng-if="title.isTag" ng-bind-html="(title.jobtitle_group | highlight: $select.search)"></div>
			<div ng-if="!title.isTag" ng-bind-html="title.jobtitle_group + title.isTag| highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>	       
			<div class="manage-name wp100 fl mt05 " ng-if="lockedStatus[0].jobtitle_management==1"> 
			<ui-select multiple ng-model="multiple.selectedJobTittle" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose a Job Title">
			<ui-select-match placeholder="Select Job Title...">{{$item.jobtitle_group}}</ui-select-match>
			<ui-select-choices repeat="title.job_id as title in jobtitle" >
			<div ng-bind-html="(title.jobtitle_group | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select>
			</div>	
           <!-- dropdown Country   -->
			<div class="manage-name wp100 fs14  mt30 fta fc03 b fl">{{get_field_name.country}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
			<div class="manage-name wp100 fl mt05">
				<select name="country" class="form-control" ng-model="country" id="country"><option value="">--------------------Choose Country--------------------</option>
				<option  ng-repeat="countrydetail in Country" value={{countrydetail.countryid}}>{{countrydetail.country}}</option>
					
				</select>
			</div>
			 <!-- dropdown timezone   -->
			<div class="manage-name wp100 fs14  mt30 fta fc03 b fl">Timezone:<span style="color: #ff0000;font-size:18px;">*</span></div>
			<div class="manage-name wp100 fl mt05">
				<select name="country" class="form-control" ng-model="timezonesSelect" id="timezonesSelect"><option value="">--------------------Choose TimeZone--------------------</option>
				<option  ng-repeat="timezone in timeZones" value={{timezone.class_timezone_id}}>{{timezone.timezone_desc}}</option>
					
				</select>
			</div>
			
			<!-- Select2 Company   -->
			<div class="manage-name wp100 fs14  mt20 fta fc03 b fl">{{get_field_name.company}}:<span style="color: #ff0000;font-size:18px;">*</span></div>
			<div class="manage-name wp100 fl mt05 " ng-if="lockedStatus[0].company_management!=1"> 
			<ui-select multiple tagging="tagTransformCompany" ng-model="multiple.selectedCompany" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose a Company">
			<ui-select-match placeholder="Select Company...">{{$item.sub_organization_name}}</ui-select-match>
			<ui-select-choices repeat="company.sub_organization_id as company in allcompany" >
			<div ng-if="company.isTag" ng-bind-html="(company.sub_organization_name | highlight: $select.search)"></div>
			<div ng-if="!company.isTag" ng-bind-html="company.sub_organization_name + company.isTag| highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>	
			<div class="manage-name wp100 fl mt05 " ng-if="lockedStatus[0].company_management==1"> 
			<ui-select multiple ng-model="multiple.selectedCompany" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose a Company">
			<ui-select-match placeholder="Select Company...">{{$item.sub_organization_name}}</ui-select-match>
			<ui-select-choices repeat="company.sub_organization_id as company in allcompany" >
			<div  ng-bind-html="(company.sub_organization_name | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select>
			</div>	
			
			<!-- Select2 Division   -->
			<div ng-if="checkFieldArray.field_7==1">
			<div class="manage-name wp100 fs14  mt30 fta fc03 b fl">{{get_field_name.division_name}}:</div>
			<div  ng-if="lockedStatus[0].division_management!=1" class="manage-name wp100 fl mt05">
			<ui-select multiple  tagging="tagTransformDivision" ng-model="multiple.selectedDivision" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose a Division">
			<ui-select-match placeholder="Select Division...">{{$item.division_name}}</ui-select-match>
			<ui-select-choices repeat="division.division_id as division in alldivision" >
			<div ng-if="division.isTag" ng-bind-html="(division.division_name | highlight: $select.search)"></div>
			<div ng-if="!division.isTag" ng-bind-html="division.division_name + division.isTag| highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>
			<div  ng-if="lockedStatus[0].division_management==1" class="manage-name wp100 fl mt05">	
			<ui-select multiple  ng-model="multiple.selectedDivision" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose a Division">
			<ui-select-match placeholder="Select Division...">{{$item.division_name}}</ui-select-match>
			<ui-select-choices repeat="division.division_id as division in alldivision" >
			 <div ng-bind-html="division.division_name | highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>	
			</div>	
			<div ng-if="checkFieldArray.field_8==1">
			<div class="manage-name wp100 fs14  mt30 fta fc03 b fl ">{{get_field_name.area}}:</div>
			<div class="manage-name wp100 fl mt05" ng-if="lockedStatus[0].area_management!=1"  >
			<ui-select multiple  tagging="tagTransformArea" ng-model="multiple.selectedArea" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose area">
			<ui-select-match placeholder="Select area...">{{$item.area_name}}</ui-select-match>
			<ui-select-choices repeat="area.area_id as area in allarea" >
			<div ng-if="area.isTag" ng-bind-html="(area.area_name | highlight: $select.search)"></div>
			<div ng-if="!area.isTag" ng-bind-html="area.area_name + area.isTag| highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>
			<div class="manage-name wp100 fl mt05" ng-if="lockedStatus[0].area_management==1"  >
			<!-- <ui-select multiple   ng-model="multiple.selectedArea" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose area">
			<ui-select-match placeholder="Select area...">{{$item.area_name}}</ui-select-match>
			<ui-select-choices repeat="area.area_id as area in allarea" >
			<div ng-bind-html="(area.area_name | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select> -->
			<ui-select  ng-model="multiple.selectedArea" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose area">
			<ui-select-match placeholder="Select area...">{{$select.selected.area_name}}</ui-select-match>
			<ui-select-choices repeat="area.area_id as area in allarea" >
			<div ng-bind-html="(area.area_name | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select>
			</div>
			</div>
			
			<div ng-if="checkFieldArray.field_9==1">														
			<div class="manage-name wp100 fs14  mt20 fta fc03 b fl">{{get_field_name.location}}:</div>
			<div class="manage-name  wp100 fl mt05" ng-if="lockedStatus[0].location_management!=1" >						
			<ui-select multiple  tagging="tagTransformLocation" ng-model="multiple.selectedLocation" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose location">
			<ui-select-match placeholder="Select location...">{{$item.location_name}}</ui-select-match>
			<ui-select-choices repeat="location.location_id as location in alllocation" >
			<div ng-if="location.isTag" ng-bind-html="(location.location_name | highlight: $select.search)"></div>
			<div ng-if="!location.isTag" ng-bind-html="location.location_name + location.isTag| highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>
			<div class="manage-name  wp100 fl mt05" ng-if="lockedStatus[0].location_management==1" >							
			<!-- <ui-select multiple ng-model="multiple.selectedLocation" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose location">
			<ui-select-match placeholder="Select location...">{{$item.location_name}}</ui-select-match>
			<ui-select-choices repeat="location.location_id as location in alllocation" >
			<div ng-bind-html="(location.location_name | highlight: $select.search)"></div>
		
			</ui-select-choices>
			</ui-select> -->
			<ui-select  ng-model="multiple.selectedLocation" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose location">
			<ui-select-match placeholder="Select location...">{{$select.selected.location_name}}</ui-select-match>
			<ui-select-choices repeat="location.location_id as location in alllocation" >
			<div ng-bind-html="(location.location_name | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select>
			</div>		
			</div>		
			<div  id="customhtml" compile="strhml">
			</div >

			<div class="manage-name wp100 fs14  mt20 fta fc03 b fl">
			<div ng-if="checkFieldArray.field_10==1" class="manage-email wp40 fl">{{get_field_name.phone_no}}:</div>
			<div class="manage-email wp60 fl">{{get_field_name.email_id}}:
				<span style="color: #ff0000;font-size:18px;">*</span>
			</div>
			</div>
			<div class="manage-name wp100 fl">
			<div ng-if="checkFieldArray.field_10==1" class="wp40 fl">
					<div class="wp30 mr10 fl"><input id="phone_code" name="insertUser.phone_code" ng-model="phone_code" class="form-control" maxlength="3" type="text"></div>
					<div class="wp55 fl">
						<label>
							<input id="phone_no" name="phone_no" ng-model="insertUser.phone_no" class="form-control" maxlength="15" type="text">
						</label>
					</div>
			</div>
					
				<div class="wp60 fl">
					<div class="fl wp100">
						<input id="email_id" name="email_id" ng-model="email_id" class="form-control" type="text">
					</div>
				</div>
		 </div>
			
		<div ng-if="checkFieldArray.field_17==1">
			<div class="manage-name wp100 fs14  mt20 fta fc03 b fl">{{get_field_name.band_level}}:</div>
			<div class="manage-name wp100 fl ">
			<ui-select  ng-model="multiple.selectedBand" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose band level">
			<ui-select-match placeholder="Select band level...">{{$select.selected.band_name}}</ui-select-match>
			<ui-select-choices repeat="band.band_id as band in allband" >
			<div ng-bind-html="(band.band_name | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select>
			</div>
		</div>
			<!-- <input id="band_name" name="band_name" type="hidden"> -->
			
		<div class="manage-name wp100 fs14  mt20 fta fc03 b fl">Add Group:<span style="color: #ff0000;font-size:18px;">*</span></div>
			<div class="manage-name wp100 fl ">
			<ui-select multiple  tagging="tagTransformGroup" ng-model="multiple.selectedGroup" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose group">
			<ui-select-match placeholder="Select group...">{{$item.group_name}}</ui-select-match>
			<ui-select-choices repeat="group.group_id as group in allgroup" >
			<div ng-if="group.isTag" ng-bind-html="(group.group_name | highlight: $select.search)"></div>
			<div ng-if="!group.isTag" ng-bind-html="group.group_name + group.isTag| highlight: $select.search"></div>
			</ui-select-choices>
			</ui-select>
			</div>
			
			<div class="manage-name wp100 fs14  mt20 fta fc03 b fl">Supervisor:<span style="color: #ff0000;font-size:18px;">*</span></div>	
        	<div class="manage-name wp100 fl ">		
			<ui-select  ng-model="multiple.selectedSupervisor" theme="bootstrap" ng-disabled="disabled" style="width: 800px;" title="Choose Supervisor">
			<ui-select-match placeholder="Select Supervisor...">{{$select.selected.user_name}}</ui-select-match>
			<ui-select-choices repeat="supervisoruser.user_id as supervisoruser in supervisior" >
			<div ng-bind-html="(supervisoruser.user_name | highlight: $select.search)"></div>
			</ui-select-choices>
			</ui-select>
			</div>
			
			<!-- <select id="supervisior" name="supervisior" class="supervisior select2 select2-offscreen" multiple="multiple" style="width: 100%;" tabindex="-1">										
			<option value="1">TORCHH SUPPORTT</option>
																																			  <option value="7265">Trisha Young</option>
						   
			</select> -->
				
			<div class="scrool-box w389  fl"></div>
		</div>
	</div>
</div>
</div>
									
<div class="widget-header"> 
	<a href="/eliteprodlms/register/addskillcategory?height=350&amp;width=550&amp;inlineId=hiddenModalContent&amp;modal=false" class="thickbox add_group button_lblue_r4 fr mt05"> + Add Skills</a>
	<h4>
	   <img src="/eliteprodlms/public/images/expert-skills-icon.png">
		Expert Skills
	</h4> 
</div> 
<div class="widget-content form-horizontal row-border"> 
<div class=" expert_bg wp100 fl">
<div class="Name w160 fs13 fta fc03 b bor04 fl p05">Skills</div>
<div class="avg.rating w173 fs13 fta fc03 b p05 fl">Level </div>
</div>
<div id="newCategory">

</div>
<div style="clear: both;"></div>

</div>
				
<div class="register-button-box fl ml20 mb20">
	 
</div>
</div>
			
<div class="panel-footer">
		<input class="new_css_button" value="Register »" id="register" name="register" ng-click="validate_form();">
	</div>
</div>	
</div>	
</div>	
</div>	