
<style>
.arrow_up{
width:0px;
height:0px;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-bottom:10px solid black;
margin-left:20px;
 display: inline-block;
}
.arrow_down{
width:0px;
height:0px;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:10px solid black;
margin-left:20px;
 display: inline-block;
}
</style>
<script>
$(function() {
	});
</script>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Manage Groups</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Manage Users</a></li> 
			<li class="active"><strong>Manage Groups</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<h1>Manage Groups </h1>
	</div>
</section>
	<div class="fl wp100">
	<div class="content fl wp100">	
		<div class="widget">
			<div class="whead">
				<h6>Manage Groups</h6>
			</div>
	
<div ng-controller="GroupListController as showCase">

    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>

<div id="viewusers" class="modal fade" data-keyboard="false" data-backdrop="static" style="  max-height:600px; overflow-y: auto;" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Users of All Users</h4>
      </div>
    
	<!--angular table-->
	<div ng-if="showCase.authorized">
		<table  datatable="" dt-options="showCase.dtOptions1" dt-columns="showCase.dtColumns1" class="row-border hover"></table> 
	  </div>
	<!-- end angular table-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  

  </div>
</div>
<!-- end viewuser  Modal -->
		<!-- -->
	
	</div>
	
	
<div id="addusertogroup" class="modal fade" data-keyboard="false" data-backdrop="static" style="  max-height:600px; overflow-y: auto;" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add user to group</h4>
      </div>
    
	<!--angular table-->
	<div ng-if="showCase.auth">
		<table  datatable="" dt-options="showCase.dtOptions2" dt-columns="showCase.dtColumns2" class="row-border hover"></table>  
	  </div>
	<!-- end angular table-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  

  </div>
</div>
<!-- end viewuser  Modal -->
		<!-- -->
	
	</div>	
	


<!-- start  model -->

<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<!-- viewuser  Modal -->


<!-- editgroup Modal -->
<div id="editgroup" class="modal fade" style="  max-height:600px; overflow-y: auto;" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Group</h4>
      </div>
    
	<div class="add-group wp100 fs22 fc13 b fta mb10 fl">Update Group</div>
	<input type="hidden" id="groupid" name="groupid" ng-model = "groupid"/>
			<div class="group-name wp100 fs14 mt06 fta fc03 b fl">Group Name:</div>
			<div class="group-name wp100 fs14 mt04 fta fc03 b fl">
				<input  class="form-control" type="text" id ="editgroupname" ng-model = "editgroupname"/></div>
			<div class="group-name wp100 fs14 mt10 fta fc03 b fl">Group Description:</div>
			<div class="group-name wp100 fs14 mt04 fta fc03 b fl">
				<textarea rows="8" class="form-control" cols="53" name="Description" id="Description" ng-model = "Description" style="border:1px solid #cececf;" wrap="soft">{{desc}}</textarea>
			</div>
      <div class="modal-footer">
	   <div class="new_css_button" ng-click="showCase.editgroup();">Update<span>&#187;</span></div></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>


<!-- end editgroup  model -->
	
<!-- for view group-->
<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>	
<!--end for view group-->	
<div class="bulk-action wp100 mr17 fl mt20">
							<div class="wp70 fl">
                                <div class="wp100">
								<div class="elearning-all-categories1 mt03 fl wp27 mr12">
									 <select class="form-control" ng-model = "operationvalue" >
										<option value='' selected>Select Bulk Option</option>
										<option value='delete'>Delete</option>
									</select>
                                </div>
                                <div class="dashboard-daily-button mb20 mt08 fl">
                                    <a class="button_lblue fl"  ng-click="showCase.bulkaction()">Apply</a>
                                </div>
								</div>
								<div style="clear: both;"></div>
					            <div class="add-user-selected-group wp100">
									<div class="selected-group-bg1 fs12 fta fc13 fl hand mb10">
										<div class="add-selected-group tac fl" ><a id="openUserPopup" ng-click="showCase.checkselectedgroups('toadduser');" class="view"><div class="fl button_lblue_r4 ">Add User to Selected Groups<span>&#187;</span></div></a>
										</div>
									</div>
									
									<div class="email-selected-group-bg1 fta fc13 mr05 fl hand mb10">
										<div class="add-selected-group ml10 fs12 fl" onclick="checkselectedgroups('tosendmail');"><div class="fl button_lblue_r4">Email Selected Groups<span>&#187;</span></div></div>
										<div class="arrow w10 mt06 ml02 fl">  </div>
									</div>
                                </div>
					        
                                <div class="add-group w450 ">
                                    <div class="add-group w160 mt20 fs22 fc13 b">Add Group</div>
                                    <div class="group-name w300 fs14 mt06 fta fc03 b fl">Group Name:</div>
                                    <div class="group-name w440 fs14 mt04 fta fc03 b fl">
										<input name="groupname" id="groupname" ng-model = "groupname" class="add-group-input form-control" type="text"/></div>
                                    <div class="group-name w300 fs14 mt10 fta fc03 b fl">Group Description:</div>
                                    <div class="group-name w440 fs14 mt04 fta fc03 b fl">
										<textarea name="description" id="description" ng-model = "description" class="group-name-input" cols="40" rows="6" wrap="soft" ></textarea>
									</div>
                                    <div class="add-group-bg1 w94 fs12 mb20 mt10 fta fc13 h25 fl hand">
										<div class=" fl" ng-click = "showCase.addgroup();">
											<div class="new_css_button fl">Add Group<span>&#187;</span></div>
										</div>
                                    </div>
                                </div>
						

                            </div>
							<div class="bg_auto_1 wp30 fl bs01 bgc01">
                                    <div class="automacataly-create wp88 tac ml15 fs14  mt04 fta fc03 b">Organize User Groups Based On:</div>
									                                                                                    <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl">
                                                    <div class="admin-elearning-checkbox w15 mt07 fl" ng-click="showCase.selectoperation('fword');">
                                                        <label>
                                                            <input type="checkbox" ng-model = "setting.first_word">
                                                        </label>
                                                    </div>
                                                    <div class="title-first-world w120 ml06 mt08 fl">Titles - First Word</div>
                                                </div>
                                                <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('lword');">
                                                    <div class="admin-elearning-checkbox w15 mt05 fl">
                                                        <label>
                                                            <input type="checkbox" ng-model = "setting.last_word">
                                                        </label>
                                                    </div>
                                                    <div class="title-first-world w120 ml06 mt08 fl">Titles - Last Word</div>
                                                </div>
                                                                            <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('exact');">
                                        <div class="admin-elearning-checkbox w15 mt05 fl">
                                            <label>
                                                <input type="checkbox" ng-model = "setting.exact_word">
                                            </label>
                                        </div>
                                        <div class="title-first-world w120 ml06 mt08 fl">Titles - Exact Title</div>
                                    </div>
                                    <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('companies');">
                                        <div class="admin-elearning-checkbox w15 mt05 fl">
                                            <label>
                                                <input type="checkbox" ng-model = "setting.user_company_name">
                                            </label>
                                        </div>
                                        <div class="title-first-world w120 ml06 mt08 fl">{{get_field_name.company}}</div>
                                    </div>
                                    <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('divisions');">
                                        <div class="admin-elearning-checkbox w15 mt07 fl">
                                            <label>
                                                <input type="checkbox" ng-model = "setting.division">
                                            </label>
                                        </div>
                                        <div class="title-first-world w120 ml06 mt08 fl">{{get_field_name.division_name}}</div>
                                    </div>
                                     <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('area');">
                                        <div class="admin-elearning-checkbox w15 mt05 fl">
                                            <label>
                                                <input type="checkbox" ng-model = "setting.area">
                                            </label>
                                        </div>
                                        <div class="title-first-world w120 ml06 mt08 fl">
										{{get_field_name.area}}										</div>
                                    </div>
									
                                    <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('location');">
                                        <div class="admin-elearning-checkbox w15 mt05 fl">
                                            <label>
                                                <input type="checkbox" ng-model = "setting.location">
                                            </label>
                                        </div>
                                        <div class="title-first-world w120 ml06 mt08 fl">{{get_field_name.location}}</div>
                                    </div>
									                                   <div class="automacataly-create w150 ml10 fs12 mt02  fta fc03  fl" ng-click="showCase.selectoperation('band');">
                                        <div class="admin-elearning-checkbox w15 mt05 fl">
                                            <label>
                                                <input type="checkbox" ng-model = "setting.band">
                                            </label>
                                        </div>
																				<div class="title-first-world w120 ml06 mt04 fl">{{get_field_name.band_level}}</div>
										                                    </div> 
													                </div> 
                        </div>
						</div>
						</div>
	   </div> 
	 </div> 
	 </div> 
	</div> 