<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Users</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Manage Users</a></li>
			<li class="active"><strong>Users</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">
<form name="f1" action="/eliteprodlms/admin/exportuser" method="post" enctype="multipart/form-data">
      

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<h1>Manage Users</h1>
	</div>
</section>	

<div class="fl wp100">
		<div class="content fl wp100">
		<div class="panel panel-bd wp100 fl lobipanel1">
		<div class="panel-heading">
		<div class="panding-app fs11 lh16 fta fc18 b tar mb04" id="pendingpop">0 Pending Approvals</div>
		<div class="panding-apporvials fr tac">

		<div class="panding-app fs11 lh16 fta fc18 b" style="display:none;" id="pendingpopnew"> </div>
		<div class="view-panding-approvials1 lh ml10 fr">

		<a href="/eliteprodlms/admin/pendingapprovals?height=420&amp;width=690&amp;inlineId=hiddenModalContent&amp;modal=false" class="thickbox"><div class="btn btn-primary hand fs12 "><i class="fa fa-eye"></i> View Pending Approvals</div></a>

		</div>
		</div>
		<div class="add-users-bg1 fr">
		<a href="#/admin/adduser"><div class="button_lblue_r4 hand">Add User<span>»</span></div></a>
		</div>
		<input name="imagename" id="imagename" value="" type="hidden">

		<h4>
		<i class="fa fa-file-text-o mr05" aria-hidden="true"></i>
		Manage Users
		</h4>
		<div id="selectedviewuser" ng-show="selectedview"><div class="permission wp100 fl"><div class="marty-mcfly wp50 fl"><div class="col-md-5"><div class="mt15 tac"><div id="files" class="user-photo"><img class="manage-user-photo-bg" src="/eliteprodlms/public/images/default_profile.png"></div></div><div class="edit-user tac mt05 fc42" ng-click="moveprofile(selecteduser)"><div class="tac btn btn-success hand"><i class="fa fa-pencil"></i> Edit User</div></div> </div><div class="col-md-7"><div class="fs16 fta fc41 wp100 b fl">{{user_detail.user_name}}</div><div class="assistant fc41 fta wp100 fs13 fl">{{user_detail.jobTitles}}</div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13 fta b fc18 wp30 fl"><div class="">Company:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">{{user_detail.sname}}</div></div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13 fta b fc18 wp30 fl"><div class="">Division:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">{{user_detail.dname}}</div></div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13 fta  b fc18 wp30 fl"><div class="">Area:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">{{user_detail.area}}</div></div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13 fta b fc18 wp30 fl"><div class="">Location:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">{{user_detail.location_name}}</div></div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13 fta b fc18 wp30 fl"><div class="">Status:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">Active</div></div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13  fta  b fc18 wp30 fl"><div class="">Username:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">{{user_detail.login_id}}</div></div><div class="marty-mcfly mt06 wp100 fl"><div class="manage-company fs13 fta fc18 wp30 fl"><div class="b">Password:</div></div><div class="wp60 fl"><div class="manage-company-name ml06 wp100 fl" onclick="resetpassword('BbNTc0NDgB')"><div class="hand">Reset <span class="ml02 fs12 fta fc41">»</span></div></div><div class="manage-company-name ml06 wp100 fl" onclick="changepasswordpopup('BbNTc0NDgB')"><div class="hand">Change <span class="ml02 fs12 fta fc41">»</span></div></div></div></div><input type="hidden" name="mypassword" value="bmV3dGVzdDExMg==KugUA9Qztrw="><div class="marty-mcfly mt06 wp100 fl">
				<div class="manage-company fs13 b fta fc18 wp30 fl"><div class="">Role:</div></div><div class="manage-company-name fs12 fta fc41 ml06 wp65 fl">{{user_detail.login_id}}</div></div></div></div>	<div class="email-phone wp50  bs01  bgc12 fr">
					<div class="wp50 fl"><div class="email-icon mt08 ml06 fl"></div><div class="email w70 mt08 fl">Email:</div></div>
					<div class="wp50 fl"><div class="phone-icon mt07 fl"></div><div class="Phone w70 mt08 ml08 fl">Phone:</div></div>
					<div class="wp100 fl">
				<div class="wp50 fl"><div class="steva-email ml40 fs11 fta fl mt-5  pb10" style="word-wrap: break-word;">{{user_detail.email_id}}</div></div> <div class="wp50 fl"><div class="steva-email fs11 fl mt-5 ml40" style="word-wrap: break-word; ">{{user_detail.phone_no}}</div></div></div>  </div><div class="assigned-group-123 bgc09 wp50   bs01 mt10 h33 fr">
				<div class="assigned-group w120 mt08 ml08 fl">Assigned Group</div>
				<div class="add-group1-bg1 fr hand mr02 mt02"><div class="thickbox view button_lblue_r4" onclick="openviewpopupinmanaguserlist('BbNTc0NDgB')">Add Group</div></div></div><div class="scrool-box wp50 fr" style="padding-right: 0;">
					<div class="wp100" style="height: 100px; border:1px solid #d5d6d5; overflow:auto; scrollbar-base-color:#9f9f9f; scrollbar-arrow-color:#9f9f9f;"><table width="100%" class="tablestyle1"><tbody><tr id="row_343"><td><div class="sales-team">Assurance</div></td><td class="tar"><div class="cross-icon hand"><div onclick="deleteuserwithgroupid('BbNTc0NDgB','bhMzQzW')"> Delete</div></div></td></tr></tbody></table></div> </div> </div></div>
		</div>
		<table datatable="" dt-options="userlist.dtOptions" dt-columns="userlist.dtColumns" class="row-border hover"></table>
		<div class="panel-body">
			<input id="baseurl" name="baseurl" value="/eliteprodlms" type="hidden">
			<input id="selecteduser" name="selecteduser" value="" type="hidden">
			<input id="company_id" name="company_id" value="1" type="hidden">
			<input id="allselecteduser" name="allselecteduser" value="" type="hidden">
			<input name="userSelected" id="userSelected" value="" type="hidden">
			<input name="itemTypeSelected" id="itemTypeSelected" value="5" type="hidden">
		<div style="display:none;position:absolute; margin-top:130px;z-index:1000;margin-left:200px;" id="loadingiddis2"><img src="/eliteprodlms/public/images/animatedEllipse2.gif" border="0"></div>
		<div id="selectedviewuser"></div>
		<div id="selectedgroups"></div>
		<div class="permission-box wp100 h250 bs01 fl" id="hideviewuser" style="display:none">
		<div class="permission wp100 mt10 fl">
		<div class="marty-mcfly w330 fl">
		<div class=" w136 h200 fl">
		<div class="manage-photo-bg w136 h136 fl">
		<div class="manage-photo mt07 ml05 fl">
		</div>
		</div>
		<div class="edit-user-button-bg1 w135 h29 fl">

		<div class="edit-user ml40 mt05 fc42  fl" onclick="                                                                            moveprofile(0)">
		<div class="fl button_lblue_r4 hand">Edit User</div>
		</div>
		</div>
		</div>
		<div class="marty-mcfly w180 fs16 fta fc41 b ml04 fr">
		</div>
		<div class="assistant w180 ml04  fr fc41 fta fs13">

		</div>
		<div class="marty-mcfly w180  ml04 mt10 fr">
		<div class="manage-company w65 fs13  mt06 fta  b fc18  fl">Company:</div>
		<div class="manage-company-name fs12  mt06 fta fc41 ml06 w90 fl"></div>
		</div>
		<div class="marty-mcfly w180 ml04 mt02 fr">
		<div class="manage-company w65  fs13 b  fta fc18   fl">Division:</div>
		<div class="manage-company-name w90 fs12  fta fc03  ml06  fl fc41"></div>
		</div>
		<div class="marty-mcfly w180 ml04 mt02 fr">
		<div class="manage-company w65  fs13  fta fc18 b  fl">Area:</div>
		<div class="manage-company-name w90 fl fc41 ml06">
		</div>
		</div>
		<div class="marty-mcfly w180 fs12 fta fc03 ml04 mt02 fr">
		<div class="manage-company w65  fs13 b  fta fc18  fl">Location:</div>
		<div class="manage-company-name w90 fl fc41 fs12 ml06">
		</div>
		</div>
		<div class="marty-mcfly w180 fs12 fta fc03  ml04 mt25 fr">
		<div class="manage-company w65  fs13 b  fta fc18  fl">Username:</div>
		<div class="manage-company-name w90 fl ml05 fc41">
		</div>
		</div>
		<div class="marty-mcfly w180 fs12 fta fc03  ml04 mt02 fr">
		<div class="manage-company w65  fs13 b  fta fc18  fl">Password:</div>


		</div>
		<div class="marty-mcfly w180 fs12 fta fc03  ml04 mt02 fr">
		<div class="manage-company w65  fs13 b  fta fc18  fl">Role:</div>
		<div class="manage-company-name w90 fl ml05 fc41">
		</div>
		</div>
		</div>
		<div class="email-phone wp45 bs01  bgc12 fr">
		<div class="email-icon w20 mt15 ml06 fl"><img src="/eliteprodlms/public/images/emai-icon.png"></div>
		<div class="email w70 mt08 ml10 fl">Email:</div>
		<div class="phone-icon w25 mt07 ml40 fl"><img src="/eliteprodlms/public/images/phon-icon.png"></div>
		<div class="Phone w70 mt08 mr08 fl">Phone:</div>
		<div class="wp100 fl">
		<div class="steva-email w127 ml30 fs11 fta fl mt-2  pb10" style="word-wrap:break-word;">
		</div>
		<div class="steva-email fs11 w120 tar fr mt-2" style="word-wrap: break-word; margin-right:10px">
		</div>
		</div>
		</div>

		<div class="assigned-group-123 bgc09 wp45  bs01 mt10 h33 fr">
		<div class="assigned-group w120 mt08 ml08 fl">Assigned Group</div>
		<div class="add-group1-bg1 w100 h18 mt08 ml08 fr">
		</div>
		</div>

		</div>
		</div>
		<div class="blank_spacen1 wp100 mt10 fr ">
		<div class="bulk-action1 wp60 fl">
		<div class="all-categories1 wp50 mt12 fs13 fta fc03 fl">
		<select class="form-control" name="operationvalue" id="operationvalue" onchange="this.value">
		<option>Select Bulk Option</option>
		<option value="delete">Delete</option>
		<option value="inactivate">Inactivate</option>
		<option value="activate" id="activated" style="display: none;">Activate</option>
		</select>
		</div>
		<input name="permanentDelete" id="permanentDelete" value="0" type="hidden">
		<div class="dashboard-daily-button mt17 ml05 fl">
		<a id="bulkbutton" class="button_lblue_r4 hand" onclick="bulkaction()">Apply</a>
		</div>
		<div class="dashboard-daily-button mt17 ml05 fl100" style="display:none;" id="delete_all">
		<a class="button_lblue_r4 hand" onclick="bulkdeleteaction()">Delete All</a>
		</div>

		<a class="button_lblue_r4 hand thickbox mt17 ml05" style="outline:none;border-radius:4px;" href="/eliteprodlms/userdata/importgroup?height=70&amp;width=320&amp;inlineId=hiddenModalContent&amp;modal=false">Import Users To Group<span>»</span></a>

		</div>
		<div class="Export-userm mt13 wp35 fr tar">
		<a class="button_lblue_r4 hand thickbox mr05 mb05" style="outline:none;border-radius:4px;" href="/eliteprodlms/userdata/importexport?height=70&amp;width=320&amp;inlineId=hiddenModalContent&amp;modal=false">Bulk Import<span>»</span></a>


		<a class="button_lblue_r4 hand mr08 mb05" style="outline:none;border-radius:4px;" onclick="usrExprt()">Export Users<span>»</span></a>
		</div>
		</div>

		</div>
		</div>
		</div>
		</div>
		   
</form></div>