<!-- <style>
.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}

</style> -->



<p style="margin-top:30px;font-size:30px">Inprogress</p>
<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridOptions" id="grid"   style="height:500px"  ui-grid-pagination ui-grid-pinning ui-grid-expandable></div>
         </section>
		 
	 	<script type="text/ng-template" id="expandableRowTemplate.html">
	       <div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>
        </script> 
   