<p style="margin-top:30px;font-size:30px">{{responseLib.myrequirementtitle}}</p>
<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"  dt-instance="dtInstance" >
											<thead>
											<tr>
												<th>{{responseLib.coursename}}</th>
												<th>{{responseLib.trainingtype}}</th>
												<!-- <th>Media Type</th> -->
												<th>{{responseLib.duedate}}</th>
												<th>{{responseLib.assign}}</th>
												<th>{{responseLib.assigntype}}</th>
												<th>{{responseLib.action}}</th>
												
											</tr>
											</thead>
											
										</table>
         </section>
		 
		
   
   