<p style="margin-top:30px;font-size:30px">My Learning</p>
<p compile="learninPlanData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridOptions"  ui-grid-pagination id="grid"  style="height:500px"></div>
         </section>
		 
		<script type="text/ng-template" id="progress.html">
	   <div class="meter-wrap">
	   <div class="meter-value" style="background-image: url('/eliteprodlms/public/images/prog_bg.png);background-repeat:repeat-x; width: {{row.entity.percent}} %;"><div class="meter-text " style="font-size: 10px;"> {{row.entity.percent}}%</div></div></div>
   </script>
   
   <script type="text/ng-template" id="view.html">
	  <a class="button_lblue_r4" href="/#{{row.entity.viewUrl}}">View<span>&#187;</span></a>
   </script> 
   
   <script type="text/ng-template" id="flag.html">
	  <img title={{row.entity.imageTitle}} src={{row.entity.imageUrl}}/>
   </script>