


<div class="bgc01 p20 bs02 mb20 fl"><div class="front-blended-program-requirements wp100 h31  fl" style="background-size:100% 31px;">
			<div class="Instructor-Led mt06 ml05 fl">
				<div class="sidebarlink-icons all-categories w20 fs13 fta fc03 fl">
					
					<i class="fa fa-file-text-o ml03 fc09"></i>
				</div>
				<div class="elearning-active mt02 fs13 fta fc03 b fl ml03">Submit Training</div>
			</div>
		</div>
			
		<div class=" front-my-learning-plan-box wp100  fl">
			<div class=" front-submit-training-box wp100 bgc01 bs01 fl">
				<div class="col-sm-6">
					<div class="front-submittitle-box wp100 fl">
						<div class="class-title wp100 fs13 mt10 fta fc03 b fl">Title<span style="color:red">*</span> :</div>
						<input ng-model="title" id="title" class="form-control" type="text">
						<div class="class-description wp100 fs13 mt10 fta fc03 b fl">Description:</div>
						<div class="class-description-inpu2 mt02 wp100 fl">
						 <textarea ng-model="description" ng-init="description=''" class="form-control" type="text"></textarea></div>
						  <div class=" completion-date-box wp100 fl">
							<div class="row">
								<div class="col-md-4">
									<div class="wp100 fl">
										<div class="wp100 fs13 mt10 fta fc03 b fl pb05">Completion Date<span style="color:red">*</span> </div>
										 <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wp100 fl">
										<div class="wp100 fs13 mt10 fta fc03 b fl pb05">Credit Value</div>
										<input ng-model="credit_value" ng-init="credit_value=''" id="credit_value" class="form-control" type="text">
									</div>
								</div>
								<div class="col-md-4">
									<div class="wp100 fl">
										<div class="wp100 fs13 mt10 fta fc03 b fl pb05">Training Type<span style="color:red">*</span> </div>
										<div class="styledselect_type valm">
										<select ng-model="traningtypeid" id="traningtypeid" class="form-control">
											<option value="">Training Type</option>
											<option value="1">eLearning</option>
											<option value="2">Classroom Training</option>
											<option value="3">Virtual Classroom</option>										</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="submti-training-right-box wp100 mt10 bgc05 fr">
						<div class="col-xs-12">
							<div class="upload-file wp100 bgc05 fs13 mt10 fta fc03 fl">
							<div class="wp100 fl">
								<div class="wp100 fl b">Attach File:</div>
									<div class="wp100 fl">
										<div id="upload2" class="fs13 fl  button_lblue_r4">
										<input type="file" name="attachFile" id="attachFile"></div>
									</div>
								</div>
								<div class="persentage wp100 fl mt05 ">
									<table>
										<tbody><tr>
											<td id="progbar" style="border:solid #333333 3pt; width:100%; height:20px; display:none">
																								<span id="progress1" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress2" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress3" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress4" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress5" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress6" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress7" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress8" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress9" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress10" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress11" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress12" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress13" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress14" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress15" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress16" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress17" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress18" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress19" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress20" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress21" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress22" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress23" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress24" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress25" style="float:left; height: 100%; width: 8px;">
												<span id="showPerNumber" style="position: absolute; margin-top:-9px;" class="pt07"> 0 </span>												</span>
																								<span id="progress26" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress27" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress28" style="float:left; height: 100%; width: 8px;">
												<span style="position: absolute; margin-top:-9px;" class="pt07">%</span>												</span>
																								<span id="progress29" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress30" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress31" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress32" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress33" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress34" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress35" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress36" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress37" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress38" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress39" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress40" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress41" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress42" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress43" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress44" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress45" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress46" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress47" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress48" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress49" style="float:left; height: 100%; width: 8px;">
																								</span>
																								<span id="progress50" style="float:left; height: 100%; width: 8px;">
																								</span>
																							</td>
										</tr>
									</tbody></table>
								</div>
								<div class="training_file-vid wp100 fl" id="filenameid" style="display:none;">File Name: </div>
								<div class="training_file-vid-ext-box h28 wp100 fl"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="front-sub-request-box wp100 fl">
						<div class="front-button-submit-request-bg1 mt15 fl mb15">
							
							<input id="btn_sbmt" type="submit" class="button_lblue_r4" value="Submit Training »" ng-click="submitTraining()">
						</div>
						<div class="front-sub-ext-box w840 h20 fl"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
