<p style="margin-top:30px;font-size:30px">My Learning</p>
<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridOptions"  ui-grid-pagination id="grid"  style="height:500px"></div>
         </section>
		 
		<script type="text/ng-template" id="flag.html">
	    <img src={{row.entity.flagUrl}} title="{{row.entity.flagTitle}}">
   </script>
   
   <script type="text/ng-template" id="view.html">
	   <a class="change_col '.{{row.entity.buttonclass}}.'" href="{{row.entity.url}}">View<span>&#187;</span></a>
   </script>