<p style="margin-top:30px;font-size:30px">My Learning</p>
<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridOptions"  ui-grid-pagination id="grid"  style="height:500px"></div>
         </section>
		 
		<script type="text/ng-template" id="drop.html">
	    <img title="button to delete course"  class="highlightit hand" src="/eliteprodlms/public/images/cross-icon.png" ng-click="grid.appScope.hides(row.entity.enrollmentEncodedId)">
   </script>
   
   <script type="text/ng-template" id="view.html">
	  <a class="button_lblue_r4" href="{{row.entity.viewHref}}">View<span>&#187;</span></a>
   </script>