<?php
$baseUrl='/eliteprodlms';
$questionarray = $assementdetails['questionarray'];
// echo "<pre>"; print_r ($questionarray); die;
?>

<link href="<?php echo $baseUrl;?>/public/css/main.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $baseUrl;?>/public/css/inv-style.css" rel="stylesheet" type="text/css" />
<link href="/user/assets/css/questioncss/inv-style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/admin-js/jquery-1.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/js/jquery-ui.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/js/alertify.min.js"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>/public/js/assessment/ajax.js"></script>
<script type="text/javascript" src="/user/assets/js/assesspopup.js"></script>


<input type="hidden" id="activeques" name="activeques" value="1"/>
<input type="hidden" id="baseurl" name="baseurl" value="<?php echo $baseUrl;?>"/>
<script type="text/javascript" async>
<?php
if($from_transcript==1){ ?>
	document.getElementById("button4").click();//button4 is for review
<?php } if($from_transcript==2){ ?>
	document.getElementById("button5").click();//button5 is for retake
<?php } if($from_transcript==3){?>
	$('#button1').on('click',function() {	//button1 is for submit, which is disabled for admin
		$(this).prop("disabled",true);
	});
<?php } ?>
</script>

<form name="popupForm" id="popupForm" method="post" style="width:100%;">
	<input type="hidden" id="countques" name="countques" value="<?php echo count($questionarray); ?>"/>
	<div id='preloader_popup' style="display:none;" >
		<img class="wp55"src='<?php echo $baseUrl;?>/public/images/animatedEllipse2.gif' border='0' style="width:50px; left:340px; position:absolute; top:200px; z-index:2000;">
	</div>
	<div id="ques_popup_div" style="display:block;">
		<input type="hidden" id="user" name="user" value="<?php echo $user;?>"/>
		<input type="hidden" id="token" name="token" value="<?php echo $token;?>"/>
		<div class="wp100 fl tac question_number">
				<div class="wp100 fs13 fta fc03 b mt10 fl mb10">Quick Link</div>
				<div class="wp100 fl ">
					<ul class="question_style">
						<?php
							if(isset($questionarray)) { $i=0; foreach($questionarray as $questions) {
							$questionid = $questions['question_id']; $i++;
						?>
						<li class="all_ques_li" id="ulli_<?php echo $i; ?>"><a><?php echo $i; ?></a></li>
						<?php } } ?>
					</ul>
				</div>
			</div>
		<div class=" wp100 fl" style="margin-top: 90px;">
			
			<div class="wp100 fl" style="height:351px; overflow-y:auto;" id="popupdiv">
				<h3 class="tac fs16 mt10">
					<?php echo ($assementdetails['score_type_id']==4) ? 'Survey' : 'Quiz'; echo ' - ' . $assementdetails['assessment_name']; ?>
				</h3>
				<?php
					$questionids = '';
					if(isset($questionarray)) { $i=0; foreach($questionarray as $questions) {
					$questionid = $questions['question_id'];
					$type = $questions['question_type_id']; $i++;
					$questionids .= $questionid.",";
				?>
				<div style="<?php if($i>1) { ?> display:none; <?php } ?> padding-bottom: 0" id="div_<?php echo $i; ?>" class="ques_divs wp95 fl p15">
					<div class="wp100 fs13 fta fc03 b mt08 fl">Question : <?php echo $i; ?></div>
					<div class="wp100 fs13 fta fc03 mt10 fl"><?php echo $questions['question']; ?></div>
					
					<?php if($type==1) { ?>
					<input type="hidden" id="questype1" name="questype1" value="1"/>
					<input type="hidden" id="ques_id" name="ques_id" value="<?php echo $questionid;?>"/>
					<div class="wp100 fs13 fta fc03 mt05 fl">
						<?php
							$answers = $questions['ansoptions'];
							if(isset($answers)) { foreach($answers as $key=>$answer) { $answerid = $answer['answer_id'];
						?>
						
						<div class="radio_styling">
							
							<div class="review_img_div" id="multichoice_<?php echo $questionid."_".$answerid;?>" style="width:2%; float:left; margin-top:10px; display:none;"></div>
							
							<div class="review_class radio_1">
								<input id="multichoiceoption_<?php echo $questionid;?>_<?php echo $key+1;?>" name="multichoiceoption_<?php echo $questionid;?>" value="<?php echo $questionid."||".$answerid;?>" type="radio">
								
								<!--<input class="fl" type="radio"   />-->
								<label id ="multichoiceoption_<?php echo $questionid;?>_<?php echo $key+1;?>" class="multichoiceoption_<?php echo $key+1;?>" for="multichoiceoption_<?php echo $questionid;?>_<?php echo $key+1;?>"></label>
								<span class="optionlist_width"><?php echo $answer['description']; ?></span>
							</div>
								
						</div>
						<?php } } ?>
					</div>
					<?php } else if($type==3) { ?>
					<input type="hidden" id="questype3" name="questype3" value="3"/>
					<input type="hidden" id="ques_id" name="ques_id" value="<?php echo $questionid;?>"/>
					<div class="wp100 fs13 fta fc03 mt05 fl">
				
				   <div class="control-group">
				   <div class="review_img_div" id="trueval_<?php echo $questionid;?>_truevalue" style="width:8%; float:left; margin-top:2px; display:block;"></div>
				   <div class="review_class">
					<label class="control control-radio">True
					<input type="radio" name="trueval_<?php echo $questionid;?>" id="trueval_<?php echo $questionid;?>" value="truevalue"/>
					<div class="control_indicator"></div>
					</label>
					</div>
					<div class="review_img_div" id="trueval_<?php echo $questionid;?>_falsevalue" style="width:8%; float:left; margin-top:2px; display:block;"></div>
					 <div class="review_class">
					<label class="control control-radio">False
					<input type="radio" name="trueval_<?php echo $questionid;?>" id="trueval_<?php echo $questionid;?>" value="falsevalue"/>
					<div class="control_indicator"></div>
					</label>
					</div>
					</div>
					</div>
					<?php } else if($type==4) { ?>
					<input type="hidden" id="questype4" name="questype4" value="4"/>
					<input type="hidden" id="ques_id" name="ques_id" value="<?php echo $questionid;?>"/>
					<div class="wp100 fs13 fta fc03 mt05 fl">
						
					<div class="control-group">
					<div class="review_img_div" id="yesradio_<?php echo $questionid;?>_yes" style="width:6%; float:left; margin-top:2px; display:block;"></div>
				   <div class="review_class">
					<label class="control control-radio">Yes
					<input type="radio" name="yesradio_<?php echo $questionid;?>" id="yesradio_<?php echo $questionid;?>" value="yes"/>
					<div class="control_indicator"></div>
					</label>
					</div>
					<div class="review_img_div" id="yesradio_<?php echo $questionid;?>_no" style="width:6%; float:left; margin-top:2px; display:block;"></div>
					<div class="review_class">
					<label class="control control-radio">No
					<input type="radio" name="yesradio_<?php echo $questionid;?>" id="yesradio_<?php echo $questionid;?>" value="no"/>
					<div class="control_indicator"></div>
					</label>
					</div>
					</div>
					</div>
					<?php } else if($type==5) { ?>
					<input type="hidden" id="questype5" name="questype5" value="5"/>
					<input type="hidden" id="ques_id" name="ques_id" value="<?php echo $questionid;?>"/>
					<div class="wp100 fs13 fta fc03 mt05 fl">
						<textarea class="wp100" onKeyPress="return charLimit(this)" onKeyUp="return characterCount(this)" rows="6" cols="50" name="descriptive_<?php echo $questionid;?>" id="descriptive_<?php echo $questionid;?>" style="border:1px solid #CCCCCC;"></textarea>
						<p class="fr mt05" style="background-color:#EDEDED; border:1px solid #CCCCCC; padding:1px 5px; font-size:13px;"><span id="charCount_<?php echo $questionid;?>">500</span></p>
					</div>
					<?php } else if($type==6) { ?>
					<input type="hidden" id="questype6" name="questype6" value="6"/>
					<input type="hidden" id="ques_id" name="ques_id" value="<?php echo $questionid;?>"/>
					
					<div class="wp100 fs13 fta fc03 mt10 fl mb10">
						<?php
							$answers = $questions['ansoptions'];
							if(isset($answers)) { foreach($answers as $answer) { $answerid = $answer['answer_id'];
						?>
						<div class="review_img_div" id="multiselect_<?php echo $questionid."_".$answerid;?>" style="width:6%; float:left; margin-top:2px; display:none;">
						</div>
						
						<div class="review_class">
						<label class="control control-checkbox">		
						<?php echo $answer['description']; ?>
						<input class="fl" type="checkbox" name="mulseloption_<?php echo $questionid. '_' . $answerid;?>" id="mulseloption_<?php echo $questionid. '_' . $answerid;?>" value="<?php echo $questionid .'||'. $answerid;?>"/>
						<div class="control_indicator"></div>
						</label>
						</div>
						<?php } } ?>
					</div>
					<?php } else {} ?>
					
				</div>
				<?php } } ?>
				<input type="hidden" id="quesids" name="quesids" value="<?php echo $questionids; ?>"/>
				<input type="hidden" id="skipids" name="skipids" value="0"/>
				<input type="hidden" id="confirmedradio" name="confirmedradio" value="yes"/>
			</div>
		</div>
		<div id="bottom_btn_div" class="wp100 tac fl mt08 mb10 pr10" style="display:block;">
		<?php if($from_transcript!=3){	?>
			<div class="button_lblue_r4 hand" id="button1">Submit <span>&#187;</span></div>
		<?php } ?>
			<div class="button_lblue_r4 hand" id="button2">Save & Next <span>&#187;</span></div>
			<div class="button_lblue_r4 hand" id="button3">Skip <span>&#187;</span></div>
			<!--div class="button_lblue_r4 hand exit_popup">Exit <span>&#187;</span></div-->
		</div>
		<div id="bottom_rev_div" class="wp100 tar fl mt08 pr10" style="display:none;">
			<div class="button_lblue_r4 hand" id="button_nxt">Next <span>&#187;</span></div>
			<div class="button_lblue_r4 hand" id="button_rtk">Retake <span>&#187;</span></div>
			<!--div class="button_lblue_r4  hand exit_popup">Exit <span>&#187;</span></div-->
		</div>
	</div>
			
	<!-- USER SCORE - (After submit assessment score div show) -->
	
	<div style="display:none;" id="user_score_div">
		<h3 class="tac">
			<?php echo ($assementdetails['score_type_id']==4) ? 'Survey' : 'Quiz'; echo ' - ' . $assementdetails['assessment_name']; ?>
		</h3>
		<div class="fl mt30 widget box wp100">
			<div class="fl dash_top_bg mt03" style="height:27px;">
				<div class="fl wp50 fc18 fta fs14 pl10 pt05 b"><?php echo $assementdetails['assessment_name'];?></div>
				<div class="fr wp40 fc18 fta fs14 pl10 pt05 b mr10 tar"><?php echo date("M d, Y", strtotime($assementdetails['due_date']));?></div>
			</div>
			<div class="h150">
				<div class="mt70 fta b fc16 tac">Thank you for completing the Assessment/<?php echo ($assementdetails['score_type_id']==4) ? 'Survey' : 'Quiz'; ?>. Your results have been successfully submitted.</div>
				
				<?php if($assementdetails['score_type_id']==5) { ?>
				<div class="mt30 fta fc18 tac">
					<?php
						echo '<b>Passing Score : </b><spam id="pp">100</spam>% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
						echo '<b>Your Score : </b><spam id="ys">100</spam>% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
						echo '<b>Result : </b><spam id="rs">Pass</spam>';
					?>
				</div>
				<?php } ?>
				<div class="h30 mt40 fs12 fta b tac">
					<?php if($assementdetails['score_type_id']==5) { ?>
						<div class="button_lblue_r4" id="button4">Review <span>&#187;</span></div>
						<div class="button_lblue_r4" id="button5">Retake <span>&#187;</span></div>
					<?php } ?>
					
					<!--div class="button_lblue_r4 exit_popup">Exit <span>&#187;</span></div-->
				</div>
			</div>
		</div>
	</div>
</form>