
 <div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Activites</h5>
			</div>
			<div class="ibox-content">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);" >
						
					<div class="form-group">
						<label class="col-sm-3 control-label" for="textinput">Course Name :</label>  
						<div class="col-sm-9">
							 <input id="textinput" name="textinput" type="text"  class="form-control" ng-model="courseName">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					
				   <div class="form-group">
						<label class="col-sm-3 control-label" for="textinput">Course Title :</label>  
						<div class="col-sm-9">
							<input id="textinput" name="textinput" type="text"  class="form-control" ng-model="activityTitle">
						</div>
					</div>
					<div class="hr-line-dashed"></div>
						
					<!--div class="form-group">
						<label class="col-sm-3 control-label" for="textinput">Description/Objective : </label>  
						<div class="col-sm-9">
							<div summernote class="summernote"  ng-model="main.summernoteText"></div>
						</div>
					</div>
					<div class="hr-line-dashed"></div-->
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Description:</label>  
							 <div class="col-sm-9">
								<!--trix-editor angular-trix ng-model="courseDescription" class="trix-content"></trix-editor-->
								<div summernote class="summernote"  ng-model="courseDescription">
									<h3>Hello Jonathan! </h3>
									dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
									when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
									typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
									<br/>
									<br/>

								</div>
							</div>
						</div>
					<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Categories :</label>  
							<div class="col-sm-9">
								<ui-select class="form-control" multiple tagging="tagTransformCategory" ng-model="multiple.selectedCategoryName" theme="bootstrap" ng-disabled="disabled"  title="Choose a Category">
								<ui-select-match placeholder="Select Training Category...">{{$item.category_name}}</ui-select-match>
								<ui-select-choices repeat="title.training_category_id as title in audioVideoData.traningcategoryType" >
								<div ng-if="title.isTag" ng-bind-html="(title.category_name | highlight: $select.search)"></div>
								<div ng-if="!title.isTag" ng-bind-html="title.category_name + title.isTag| highlight: $select.search"></div>
								</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label"  for="textinput">Training Content :</label>  
							 <div class="col-sm-9">
								 <select id="" name="" class="form-control" type="text" ng-options="media.media_id as media.media_name for media in mediatrainigType.mediatypes" ng-model="media_type">
								  <option value="">Select Training Content</option>
								  
								</select>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput" >Reference Code :</label>  
							 <div class="col-sm-9">
								<div class="input-group-btn">
									 <input style="width: 87%; float: left;" id="textinput" name="textinput" type="text" class="form-control" ng-model="referenceCode"> <button style="padding: 6px 10px;" tabindex="-1" class="btn btn-white" type="button" ng-click="generateReferenceCode()">Generate Code</button>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Course Image :</label>  
							 <div class="col-sm-9">
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
									<div class="form-control" data-trigger="fileinput">
										<i class="glyphicon glyphicon-file fileinput-exists"></i>
										<span class="fileinput-filename"></span>
									</div>
									<span class="input-group-addon btn btn-default btn-file">
									<span class="fileinput-new">Select file</span>
									<span class="fileinput-exists">Change</span>
									<input type="file" id="courseImage"  name="courseImage"  onchange ="angular.element(this).scope().courseImageFunc(this)"></span>
									<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
								</div>
								
								<!--img src="{{courseImageData}}" height="50" width="50">
										<input type="file" id="courseImage"  name="courseImage"  onchange ="angular.element(this).scope().courseImageFunc(this)"/-->
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Credits :</label>  
							 <div class="col-sm-9">

								<input id="textinput" name="textinput" type="text" class="form-control" ng-model="credit_value">
								<!--div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
								  <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="credit_show"/>
		
								<!--label>
								  <input type="radio" value="1" ng-model="credit_show" name="course_showradio">Yes</label>
								  <label>
								  <input type="radio" value="0" ng-model="credit_show" name="course_showradio">No</label>
								  <p>Visibilty</p>
								</div-->
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Visibilty :</label>  
							 <div class="col-sm-9">
								<div class="btn-group" id="status" data-toggle="buttons">
								  <input ui-switch-on-text="YES" ui-switch-off-text="NO" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="credit_show"/>
								</div>
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						  <div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Points :</label>  
							 <div class="col-sm-9">
								<input id="textinput" name="textinput" type="text" class="form-control" ng-model="points">
								<!--div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
								  <label>
								  <input type="radio" value="1" ng-model="point_show" name="point_showradio" >Yes</label>
								  <label>
								  <input type="radio" value="0" ng-model="point_show" name="point_showradio">No</label>
								  <p>Visibilty</p>
								</div-->
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Visibilty :</label>  
							 <div class="col-sm-9">
								<div class="btn-group" id="status" data-toggle="buttons">
								  <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="point_show"/>
								</div>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Certificate :</label>  
							 <div class="col-sm-9">
								<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="certificate"> 
									<option value="">Please Select Certificate</option>
							  </select>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textinput">Tags :</label>  
							 <div class="col-sm-9">
								<ui-select multiple tagging="tagTransformTags" ng-model="multiple.selectedTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a Tag">
								<ui-select-match placeholder="Enter Your Tags">{{$item.tag}}</ui-select-match>
								<ui-select-choices repeat="title.tag as title in tagArray" >
								<div ng-if="title.isTag" ng-bind-html="(title.tag | highlight: $select.search)"></div>
								<div ng-if="!title.isTag" ng-bind-html="title.tag + title.isTag| highlight: $select.search"></div>
								</ui-select-choices>
								</ui-select>
								<p style="line-height:normal;" class="mt10 mb00">Add Keywords which can be used to search for this courses</p>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						
						<div class="row text-right">
							<div class="col-sm-12">
								<button class="btn btn-white btn-lg" type="button">Cancel</button>
								<button class="btn btn-primary btn-lg" type="button" ng-click="addCourseFirstData()">Next</button>
							</div>
						</div>	
							
				</form>
			</div>
		</div>
	</div>
</div>
	
	