
 <div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Add Content</h5>
			</div>
			<div class="ibox-content">
				 <uib-tabset ng-show="media_type!=10 && media_type!=5">
                    <uib-tab heading="Upload Video">
                        <div class="">
                           <div class="form-bottom">
								<div class="greyborder pb00">
									<p>Please upload {{uploadType}} files </p>
										  <div class="m-b-20" nv-file-drop="" uploader="uploader">
								 <!-- Nav tabs -->
								
								  <div class="form-group mb00 uploader">
										<div class="image-upload">
											<label for="file-input">
												<img src="../user/assets/images/drag.png"/>
												<div id="start" style="margin-bottom: 50px;">
													<div style="text-align:center">Drag File Here</div>
													<div id="notimage" class="hidden">Please select an image</div>
												</div>
											</label>

											<div class="fileinput fileinput-new" data-provides="fileinput">
												<span class="btn btn-default btn-file mb00">
												<span class="fileinput-new">Select file</span>
												<input id="file-input" type="file" nv-file-select="" uploader="uploader" multiple></span>
												<span class="fileinput-filename"></span>
												<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
											</div>
					
					
										</div>
										
										<div id="response" class="hidden">
											<div id="messages"></div>
											<progress class="progress" id="file-progress" value="0">
												<span>0</span>%
											</progress>
										</div>
									 </label>
								  </div>
									
									
									
								
							  </div>  
							  
						 </div>
						 
						 
						 <table class="footable table table-stripped toggle-arrow-tiny mb00 b01 mt20" ng-show=" uploader.queue.length>0"> 
							<thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue" > 
                                <td class="span_align">
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <span class="convasheight" ng-show="HandOut.isHTML5" ng-thumb="{ file: item._file, height: 25 }"></span>
									<span>{{ item.file.name }}</span>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
								
								<!-- <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 30 }"></div>
                                    <div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>>
                                </td> -->
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button> -->
                                   <!--  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button> -->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeQueue($index)">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
					 </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Media Library">
                        <div class="greyborder1">
						<table class="footable table table-stripped toggle-arrow-tiny mb00">
                        <thead>
                        <tr>

                            <th> 
								<div style="margin: 0;" class="checkbox">
									<input id="checkbox1" type="checkbox">
									<label for="checkbox1">
										
									</label>
								</div>
							</th>
                            <th data-toggle="true">Filename</th>
                            <th>Format</th>
                            <th>File Size</th>
                            <th>Date Added</th>
                            <th class="text-right" data-sort-ignore="true">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                           <td>
							   <div style="margin: 0;" class="checkbox">
									<input id="checkbox1" type="checkbox">
									<label for="checkbox1">
										
									</label>
								</div>
						   </td>
						   <td>WildLife</td>
						   <td>.wmv</td>
						   <td>25 MB</td>
						   <td>03/02/2018</td>
						   
							<td class="text-right">
							  <button type="button" class="btn-white btn btn-xs" data-toggle="modal" data-target="#customer1">View</button>
						   </td>
                        </tr>
                      </tbody>
                   </table>
						
						
							</div>
                    </uib-tab>
                </uib-tabset>
				
				
				<div ng-show="media_type==3 || media_type==11"> 
						<div id ="pass_score" class="form-horizontal">
							 <div class="row form-group mb00">
								<div class="hr-line-dashed"></div>
								<label class="col-sm-3 control-label" for="textinput">Passing Score:</label>  
								<div class="col-sm-9">
									<input name="textinput" type="text"  class="form-control" id="passing_score" ng-model="passing_score">
								</div>
							</div>
							
							 <div class="row form-group mb00"  id="aiccssl" ng-show="media_type==11">
							<div class="hr-line-dashed"></div>
								<label class="col-sm-3 control-label" for="textinput">SSL for AICC:</label>  
								<div class="col-sm-9">
										<span class="radio" style="display: inline-block; margin-right: 20px;">
                                          <input type="radio" name="radio1" id="radio1" value="2" checked="">
                                            <label for="radio1">
                                                ON
                                            </label>
                                        </span>
                                        <span class="radio" style="display: inline-block;">
                                            <input type="radio" name="radio1" id="radio2" value="0">
                                            <label for="radio2">
                                                OFF
                                            </label>
                                        </span>
										
										
								</div>
							</div>
					</div>
				</div>
				
				<div ng-show="media_type==10">
					 <div class="row form-group mb00 form-horizontal">
						<label class="col-sm-3 control-label" >Add  Link URL</label>  
						<div class="col-sm-9">
							<input type="text" placeholder="Add Link Url" class="form-control" name="embededcode" ng-model="embededcode">
						</div>
					</div>
				</div>
			
				<div ng-show="media_type==5">
					<div id ="pass_score" class="form-horizontal">
							<div class="row form-group mb00">
								<label class="col-sm-3 control-label">Title:</label>  
								<div class="col-sm-9">
									<input name="" type="text"  class="form-control" ng-model="embededcodeTitle">
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="row form-group mb00">
								<label class="col-sm-3 control-label">Embedded Code:</label>  
								<div class="col-sm-9">
									<div summernote class="summernote"  ng-model="main.summernoteText"></div>
								</div>
							</div>
							
					</div>
				</div>
				
				
				
				<div ng-show="media_type!=5">
					<div class="hr-line-dashed"></div>
					<div class="row">
						<div class="col-sm-12 text-right">
							<button class="btn btn-white btn-lg" type="button" ng-click="previousFirst()">Previous</button>
							<button class="btn btn-primary btn-lg" type="button" ng-click="nextFile()">Next</button>
						</div>
					</div>	
				</div>	
				<div ng-show="media_type==5">
					<div class="hr-line-dashed"></div>
					<div class="row">
						<div class="col-sm-12 text-right">
							<button class="btn btn-white btn-lg" type="button" ng-click="previousFirst()">Previous</button>
							<button class="btn btn-primary btn-lg" type="button" ng-click="saveEmbededCode()">Next</button>
						</div>
					</div>	
				</div>
				
				
				
			</div>
		</div>
	</div>
</div>
	
	