<div class="modal fade" id="addtask" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-primary">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h5>Select Module Type</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="body">
							<div class="row ModRow cursor" ng-click="coursesactivity(trainintype.url)" ng-repeat="trainintype in trainingType">
								<a>
									<div class="col-md-2">
										<img src="{{trainintype.logo}}">
									</div>
									<div class="col-md-8">
										<label> {{trainintype.training_type}} </label><br>
										<span class="subtle text">
											Learners can begin and complete a course module according to their own schedule at one's own pace. For example, videos, prerecorded classroom lectures.
										</span>
									</div>
									<div class="col-md-2">
										<div class="pt20 pl20">
											<span><i class="fa fa-angle-double-right fa-3x"></i></span>
										</div>
									</div>
								</a>	
							</div>
							<div class="row ModRow" ng-click="coursesactivity('#/courses/classroomcourses')"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>   