<style>
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #d6d6d6;
    border-color: #000;
	.content-header .header-icon {
    font-size: 48px;
    color: #313131;
    width: 68px;
    float: left;
    margin-top: 10px;
    line-height: 0;
	
.panel-margin{
	margin-top: 45px;
    margin-bottom: 45px;
}

</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Add Classes</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li>
		    <li><a href="#/courses/index">Course</a></li>
		    <li class="active">Add Classes</li>
		</ol>
	</div>
</div>

<div class="content-wrapper">
<div id='preloader_popup' ng-show = "loader" >
		<img class="wp55" src='/user/assets/images/animatedEllipse2.gif' border='0' style="width:50px; left:700px; position:absolute; top:700px; z-index:2000;">
	</div>
			
		<section class="content">
            <div class="row">
                  <!-- Projects time -->
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-bd" style="    margin-top: 27px;">
                        <div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);height: 35px;">
                           <div class="btn-group">
									<a href="">
                                 <h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Classroom Module</h4>
                              </a>
                           </div>
						   
                        </div>
                        <div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;">
                       
							
                       <div class="formcent">
                        <div class="form-bottom">
                         <div class="qut-cont">
							<div class="col-md-12">
							<div class="panel panel-bd lobidrag" >
								<div class="panel-heading">
									<div class="row">
										<div class="col-md-8">
										   <div class="panel-title">
											  <h4>Class <!-- {{$index+1}} --></h4>
										   </div>
										</div>
										<!-- <div class="col-md-4">
										   <div  ng-click="deleteSession($index);" style="float: right;"><div><a href=""><span id='close'>x</span></a></div></div>
										</div> -->
									
									
								   </div>
								</div>
							<div class="question-panel" >
								<div class="form-group">
									<div class="row formRow">
										<label class="col-md-2 control-label" for="textinput">Class Title :</label>  
										<div class="col-md-10">
										   <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="classTitle" ng-init="classTitle=''">
										</div>
									</div>
								</div>
							
								 
								<div class="form-group">								
									<div class="row formRow">
										
										<label class="col-md-2 control-label" for="textinput">Description :</label> 
										<div class="col-md-10">
											<trix-editor angular-trix ng-model="classDescription" class="trix-content"></trix-editor>
										</div>
										
									  </div>
								</div>
								<div class="form-group">								
									<div class="row formRow">
										<label class="col-md-2 control-label" for="textinput" style="text-align: right">Delivery Type :</label> 
										
										<div class="col-md-4">
										
										<select class="form-control" id="sel1" ng-model="deliveryType">
											<option value="2">Classroom</option>
											<option value="3">Virtual Classroom</option>
											
										</select>
										
										</div>
										<label class="col-md-2 control-label" for="textinput" style="text-align: right">Seat Limit :</label> 
										
										
										<div class="col-md-4">
										
										<input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="seatLimit">
										
										</div>
									  </div>
								</div>
								
								<div class="form-group">								
									<div class="row formRow">
										<label class="col-md-2 control-label" for="textinput" style="text-align: right">Status :</label> 
										
										<div class="col-md-4">
										
										<select class="form-control" id="sel1" ng-model="status_id">
											 <option value="0">Saved Draft</option>
											<option value="2">Saved</option>
											<option value="1">Published</option>
											
										</select>
										
										</div>
										
									  </div>
								</div>
								
								<div class="form-group">								
									<div class="row">	
									<div style="float:right">
									   <button type="button" class="btn btn-next" style="float:right;float: right;
										border: 1px solid;
										width: 75px; margin-right: 16px;"  ng-click="addNewSession()">Add</button>
										
										</div>
									</div>
								</div>
								<div class="classroom_append"  ng-repeat="session_div in sessionData"> 
								<div class="col-md-12" style="padding-bottom: 15px;">
								
								 <button ng-click="deleteSession($index);" style="float: right;"><div><a href=""><i class="fa fa-close"></i></a></div></button>
								 
								
								</div>
								
								<div class="form-group">								
									<div class="row formRow">
										
										<label class="col-md-2 control-label" for="textinput">Date :</label> 
										<div class="col-md-2">
										<p> Start Date </p>
											<md-datepicker ng-model="session_div.expdate" md-placeholder="Enter date"></md-datepicker>
										</div>
										<div class="col-md-2">
										<p> End Date </p>
											<md-datepicker ng-model="session_div.eexpdate" md-placeholder="Enter date"></md-datepicker>
										</div>
										<label class="col-md-2 control-label" for="textinput" style="text-align: right">Time :</label> 
										<div class="col-md-2">
										<p> Start Time </p>
										<div > <mdp-time-picker mdp-auto-switch="true" ng-model="session_div.startTime"></mdp-time-picker></div>
										</div>
										<div class="col-md-2">
										<p> End Time</p>
										<mdp-time-picker mdp-auto-switch="true" ng-model="session_div.endTime"></mdp-time-picker>
										</div>
										
									  </div>
								</div>
								
								
								<div class="form-group">								
									<div class="row formRow">
										
										<label class="col-md-2 control-label" for="textinput">Location :</label> 
										
										
										<div class="col-md-4">
										
										<input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="session_div.location">
										
										
										</div>
											<label class="col-md-2 control-label" for="textinput" style="text-align: right;">Instructor  :</label> 
									<div class="col-md-4">	
									<select class="form-control" id="sel1" ng-options="inst.user_id as inst.user_name for inst in addClassData.instruction" ng-model="session_div.instructor">
											 <option value="">Select Instructor</option>
										
										</select>
										
									  </div>
										
									  </div>
								</div>
								
								<div class="form-group">								
									<div class="row formRow">
										
										<label class="col-md-2 control-label" for="textinput">Time Zone :</label> 
										
										
										<div class="col-md-4">
										
										<select class="form-control" id="sel1"  ng-options="tz.class_timezone_id as tz.timezone_desc for tz in addClassData.timezones" ng-model="session_div.timezone">
											<option value="">Select Timezone</option>
											
											
										</select>
										
										
										</div>
											
										
									  </div>
								</div>
							
								</div>
							<br>
							<div class="form-group">								
									<div class="row">	
									<div style="float:right">
									   <button type="button" class="btn btn-next" style="float:right;float: right;
										border: 1px solid;
										width: 75px; margin-right: 16px;" ng-click="saveClass()"><i class="fa fa-save"></i> Save</button>
										
										</div>
									</div>
								</div>
							</div>
							
							
								
								
							
								</div>
							</div>
							
							</div>
                      <!--    
                        <div class="col-md-12 col-offset-2" ng-click="addNewSession()">
								<div class="row">
									<div class="center-div">
										<i class="fa fa-plus-circle"></i><br>
										Add New Session
									</div>
								</div>
							</div> -->
								
						</div>
					
                   
				
											
									</div>
								</div>
						</div>
							
					</div>
				</div>
			</div>
		</section>
</div>
<!-- <div class="rightside_tab">
    <a href=""><i class="fa fa-save"></i> Save</a>
  </div> -->

<script>
window.onload = function(){
    document.getElementById('close').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
};</script>