<style>

.formgroup

form .form-bottom button.btn {
    min-width: 105px;
}

form .form-bottom .input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}

form.registration-form fieldset {
    display: none;
}

</style>	
<script type="text/javascript">
	tinyMCE.init({
	
		// General options
		mode : "textareas",
		elements: "short_desc,desc_text",
		theme : "advanced",
		width:"100%",
		height: 200,		
		plugins : "jbimages,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontsizeselect,formatselect,fontselect,preview,code,",
		theme_advanced_buttons2 : "pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,image,jbimages,",
		theme_advanced_buttons3 : "",
		
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		content_css : "<?php echo $baseUrl;?>/public/js/tinmca/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/template_list.js",
		external_link_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/link_list.js",
		external_image_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/image_list.js",
		media_external_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/media_list.js",
		
		extended_valid_elements: "iframe[src|width|height|name|align], embed[width|height|name|flashvars|src|bgcolor|align|play|loop|quality|allowscriptaccess|type|pluginspage]",
		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],
		relative_urls : false,
		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
	
	
	angular.element(document).ready(function(){
	 $('#releasedate').datepicker({ showOn: 'button', changeMonth: true, changeYear: true, buttonImageOnly: true, buttonImage: '/eliteprodlms/public/images/cal_new_img.png' });
	});
</script>	
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Activites</h2>
		<!--ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li>
		    <li><a href="#/courses/index">Course</a></li>
		    <li class="active">Add Classes</li>
		</ol-->
	</div>
</div>

		<div class="content-wrapper">
			
			 <section class="content">
               <div class="row">
                  <!-- Projects time -->
                 <div class="col-sm-12 col-md-12">
                     <div class="panel panel-bd" style="margin-top: 27px;">
                        <div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
                           <div class="btn-group">
                                <h4>Add New Activites</h4>
                           </div>
						   
						   <div class="btn-group" style="float:right">
                              
                             	<h4>Add Video</h4>				  
                           </div>
                        </div>
                       <div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;" nv-file-drop="" uploader="uploader">
                
        <div class="row">
            <div class="col-md-12 form-box">
                 <form role="form" class="registration-form" action="javascript:void(0);" style="line-height: 28px;">
                    
					<fieldset>
                       
                        <div class="form-bottom" ng-show="media_type!=10">
                            <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Upload Video</a></li>
                        <li><a href="#tab2" data-toggle="tab">Media Library</a></li>
                     </ul>
                     <!-- Tab panels -->
                     <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                           <div class="panel-body">
                              <h4 style="text-align:center; color: #454cad; font-weight">File Upload Here</h4>
                            <div class="form-group uploader">
								 <div class="image-upload">
										<label for="file-input">
											<img src="../user/assets/images/drag.png"/>
										</label>

										<input id="file-input" type="file" nv-file-select="" uploader="uploader" multiple/>
									</div>
									<div id="start">
									
									  <div style="text-align:center">Drag File Here</div>
									  <div id="notimage" class="hidden">Please select an image</div>
									
									</div>
									<div id="response" class="hidden">
									  <div id="messages"></div>
									  <progress class="progress" id="file-progress" value="0">
										<span>0</span>%
									  </progress>
									</div>
								  </label>
							</div>
								
                           </div>
                        </div>
						 <table class="table" ng-show="uploader.queue.length>0"> 
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                   <!--  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button> -->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
					
                        <div class="tab-pane fade" id="tab2">
                           <div class="panel-body">
                             <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                 <thead>
                                    <tr class="info">
                                       <th></th>
                                       <th>Filename</th>
                                       <th>Format</th>
                                       <th>File Size</th>
                                       <th>Date Added</th>
                                      
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><input id="checkBox" type="checkbox"></td>
                                       <td>WildLife</td>
                                       <td>.wmv</td>
									   <td>25 MB</td>
                                       <td>03/02/2018</td>
                                       
                                        <td>
                                          <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1"><i class="fa fa-eye"></i></button>
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-arrow-down"></i> </button>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>  					
             </div>
         </div>
						
						
					<div ng-show="media_type==10">
						 <div class="widget-content mt10 mb20">
							   <input type="text" class="form-control" placeholder="Add Link Url" name="embededcode" id="embededcode">
						 </div>
					</div>
					
					
					<div ng-show="media_type==3 || media_type==11">
						<div class="widget-content mt10 mb20">
							<div id ="pass_score" class="title-box wp100 fl">
								<div class="wp40 ml10 mr10 fl">
									<span class="class-title wp40 fs13 fta fc03 b mb04 fl">Passing Score:</span>
									<span class="wp40 mr20">
									<input id="passing_score" name="passing_score" style=" border: 1px solid #ccc;margin-bottom: 10px;" type="text" />
									</span>
								</div>
								<div class="wp40 ml20 mr10 fl" id="aiccssl" ng-show="media_type==11">
									<span class="class-title wp40 fs13 fta fc03 b mb04 fl">SSL for AICC:</span>
									<span class="wp15 ml10"><input type="radio" name="is_lib" value="2"> ON</span>
									<span class="wp15 ml10"><input type="radio" name="is_lib" value="0" checked> OFF</span>
								</div>
							</div>
						</div>
					</div>
						
						<div style="float:right">
                            <button type="button" class="btn btn-previous" style="border: 1px solid;margin-right: 12px;
								margin-top: -3px;" onclick="window.location.href='#/courses/coursesactivity'">Previous
							</button>
                             <button type="button" class="btn btn-next" style="float:right;float: right;
								border: 1px solid;
								width: 75px;">Next
							</button>
							</div>
						
						
                    </fieldset>
                    <fieldset>
                       <div class="formcent">
                        <div class="form-bottom">
                            <div class="form-group">
								<div class="row formRow">
								<label class="col-md-3 control-label" for="textinput">Activity Title :</label>  
								  <div class="col-md-9">
								  <input id="textinput" name="textinput" type="text"  class="form-control input-md">
								  </div>
								</div>
							</div>
                             <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Description/Objective : </label>  
								  <div class="col-md-9">
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								  </div>
								</div>
							</div>
                            <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Categories :</label>  
								  <div class="col-md-9">
								<ui-select multiple tagging="tagTransformCategory" ng-model="multiple.selectedCategoryName" theme="bootstrap" ng-disabled="disabled"  title="Choose a Category">
								<ui-select-match placeholder="Select Training Category...">{{$item.category_name}}</ui-select-match>
								<ui-select-choices repeat="title.training_category_id as title in audioVideoData.traningcategoryType" >
								<div ng-if="title.isTag" ng-bind-html="(title.category_name | highlight: $select.search)"></div>
								<div ng-if="!title.isTag" ng-bind-html="title.category_name + title.isTag| highlight: $select.search"></div>
								</ui-select-choices>
								</ui-select>
								
								  </div>
								</div>
							</div>
                           <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">ID# :</label>  
								  <div class="col-md-6">
								<input id="textinput" name="textinput" type="text" placeholder="Enter ID#..." class="form-control input-md">
								<p>The ID # can be any value that uniquely identifies this Activity.
</p>
								  </div>
								   <div class="col-md-3">
									 <button type="button" class="btn btn-next" style="float:right;float: right;
							border: 1px solid;
							width: 100px;">Generate</button>
								  </div>
								</div>
							</div>
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Credits :</label>  
								  <div class="col-md-6">
								<input id="textinput" name="textinput" type="text" class="form-control input-md">
								
								  </div>
								   <div class="col-md-3">
									<div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
									  <label class="btn btn-default btn-on btn-xs  active ">
									  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Yes</label>
									  <label class="btn btn-default btn-off btn-xs">
									  <input type="radio" value="0" name="multifeatured_module[module_id][status]">No</label>
									</div>
								  </div>
								</div>
							</div>
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Points :</label>  
								  <div class="col-md-6">
								<input id="textinput" name="textinput" type="text" class="form-control input-md">
								
								  </div>
								   <div class="col-md-3">
									<div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
									  <label class="btn btn-default btn-on btn-xs">
									  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Yes</label>
									  <label class="btn btn-default btn-off btn-xs  active ">
									  <input type="radio" value="0" name="multifeatured_module[module_id][status]">No</label>
									</div>
								  </div>
								</div>
							</div>
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Certificate :</label>  
								  <div class="col-md-9">
								<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="certificate"> 
									
									<option value="">Please Select template</option>
								  </select>
								  </div>
								  
								</div>
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Activity Review :</label>  
								  <div class="col-md-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <label class="btn btn-default btn-on btn-xs">
									  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Yes</label>
									  <label class="btn btn-default btn-off btn-xs active ">
									  <input type="radio" value="0" name="multifeatured_module[module_id][status]">No</label>
									</div>
								  </div>
								  
								</div>
							</div>
							<div style="float:right">
                            <button type="button" class="btn btn-previous"  style="border: 1px solid;margin-right: 12px;margin-top: -3px;">Previous</button>
                             <button type="button" class="btn btn-next" style="float:right;float: right;border: 1px solid;width: 75px;">Next
							 </button>
							</div>
						</div>
						</div>
                    </fieldset>
					<!-- <fieldset>
                       
                        <div class="form-bottom">
                            <div class="row">
                                <div class="form-group">
									<div class="row">
								  <label class="col-md-4 control-label" for="textinput" style="font-size:15px;">Add Reference Document :</label>  
								  <div class="col-md-8">
								  <div class="form-group files">
									<label>Upload Your File </label>
									<input type="file" class="form-control" multiple="">
								  </div>
								  </div>
								  </div>
								</div>
								
                               <div class="form-group">
								  <label class="col-md-4 control-label" for="textinput"  style="font-size:15px;">Skills Learned </label>  
								  <div class="col-md-8">
								  <input id="textinput" name="textinput" type="text" class="form-control input-md">
								  
								  </div>
								</div>
								<br><br>
                               <div class="form-group">
								  <label class="col-md-4 control-label" for="textinput"  style="font-size:15px;">Target Audiance :</label>  
								  <div class="col-md-4">
								  <input id="textinput" name="textinput" type="text" placeholder="Groups" class="form-control input-md">
								  
								  </div>
								   <div class="col-md-4">
								  <input id="textinput" name="textinput" type="text" placeholder="User" class="form-control input-md">
								  
								  </div>
								</div>
								<br><br>
                              
                          
							<br><br>
							<div style="float:right">
                            <button type="button" class="btn btn-previous" style="border: 1px solid;
    margin-right: 12px;
    margin-top: -3px;">Previous</button>
                             <button type="button" class="btn btn-next" style="float:right;float: right;
								border: 1px solid;
								width: 75px;">Next</button>
							</div>
							</div>
							</div>
                    </fieldset> -->
				<fieldset>
                       
                        <div class="form-bottom">
                            <div class="row">
                               
								
                               <div class="form-group">
								  <label class="col-md-12 control-label" for="textinput"  style="font-size:15px;">Notifications </label>  
								 
								  <div class="widget-content">
												<div class="wp100 mt05 bs01 publish_bg fl mb20 pb10" style="background-color:#EBECEB">
													
														<div class="col-sm-6" ng-repeat="notificationList in audioVideoData.notification">
															<div class="wp100 fl fs13 fta  ml07">
																<div class="fl wp05 mt10">
																<input type="checkbox" name="notificationcheckbox[]" value="{{notificationList.notification_id}}"/>
																</div>
																<div class="fl wp90 mt12 ml05 fta fc02 fs12">{{notificationList.notification}}</div>
															</div>
														</div>
													
														<div ng-if="audioVideoData.notification.length==0"><b>No records available!!!</b></div>
													
												</div>
											</div>
								  </div>
								</div>
								<br><br>
                               
                              
                            </div>
                            
							<br><br>
							<div style="float:right">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn">Submit</button>
							</div>
							</div>
						</div>
						
                    </fieldset> 
                </form>
            </div>
        </div>
    </div>
                        </div>
                     </div>
                  </div>
               </div>
              
               <!-- delete user Modal2 -->
               <div class="modal fade" id="delt" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-user m-r-5"></i> Delete task</h3>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form-horizontal">
                                    <fieldset>
                                       <div class="col-md-12 form-group user-form-group">
                                          <label class="control-label">Delete task</label>
                                          <div class="pull-right">
                                             <button type="button" class="btn btn-danger btn-sm">NO</button>
                                             <button type="submit" class="btn btn-success btn-sm">YES</button>
                                          </div>
                                       </div>
                                    </fieldset>
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               <!-- /.modal -->
            </section>
</div>
<script>
   $(document).ready(function () {
    $('.registration-form fieldset:first-child').fadeIn('slow');

    $('.registration-form input[type="phone"]').on('focus', function () {
        $(this).removeClass('input-error');
    });

    // next step
    $('.registration-form .btn-next').on('click', function () {
        var parent_fieldset = $(this).parents('fieldset');
        var next_step = true;

        parent_fieldset.find('input[type="phone"],input[type="country"]').each(function () {
            if ($(this).val() == "") {
                $(this).addClass('input-error');
                next_step = false;
            } else {
                $(this).removeClass('input-error');
            }
        });

        if (next_step) {
            parent_fieldset.fadeOut(400, function () {
                $(this).next().fadeIn();
            });
        }

    });

    // previous step
    $('.registration-form .btn-previous').on('click', function () {
        $(this).parents('fieldset').fadeOut(400, function () {
            $(this).prev().fadeIn();
        });
    });

    // submit
    $('.registration-form').on('submit', function (e) {

        $(this).find('input[type="phone"],input[type="country"]').each(function () {
            if ($(this).val() == "") {
                e.preventDefault();
                $(this).addClass('input-error');
            } else {
                $(this).removeClass('input-error');
            }
        });

    });

   
});
   </script>
   
