<style>
.tdn{
color: #000;
}
</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Course Distribution Listing</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li>
		    <li><a href="#/courses/index">Course Catalog</a></li>
		    <li class="active">Distribution Listing</li>
		</ol>
	</div>
</div>


<div class="content-wrapper">

	<!-- <div class="dash_top_bg">
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li>
						<a href="#/courses/index/">Course Catalog</a>
					</li>    
					<li class="current">
						<a href="javascript:void(0)">Distribution Listing</a> 
					</li> 
				</ul>              
			</div>				
		</div> -->
		<!-- <div class="page-header">
			<div class="page-title">
				<h4>Course Distribution Listing</h4>
			</div>
		</div> -->
	<section class="content">
	<div class="col-sm-12 col-md-12">
	<div class="panel panel-bd" style="margin-top: 27px;">
	<div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
		<div class="btn-group">
		<a href="">
		<h4>{{allDistributionUserAndGroup.courseName}}</h4>
		</a>
		</div>

	</div>
	<div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;">
	<div class="row">
		<div class="col-md-12">
			<div class="wp100 fl">
			
			<div class="wp45 fl">
			<div class="wp100 fs13 mb05 mt05 fta fc18 b fl">Assigned Groups:</div>
				<table datatable="" dt-options="dtOptions1" dt-columns="dtColumns1" dt-instance="dtInstance1" class="row-border hover" style="border: 1px solid #bbb">
				<thead>
					<tr>
						<th class="tdn">Group Name</th>
						<th class="tdn">Assign Type</th>
						<th class="tdn">Due Date</th>
						<th class="tdn">Created Date</th>
						<th class="tdn">Action</th> 
					</tr>
				</thead>
				</table>	
			</div>
			
			<div class="wp48 fr">	
			<div class="wp100 fs13 mt05 mb05  fta fc18 b  fl">Assigned Users:</div>	
				<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="row-border hover"  style="border: 1px solid #bbb">
					<thead>
					<tr>
						<th class="tdn">User Name</th>
						<th class="tdn">Assign Type</th>
						<th class="tdn">Due Date</th>
						<th class="tdn">Created Date</th>
						<th class="tdn">Action</th> 
					</tr>
					</thead>
				</table>	
			</div>
			
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	</section>
	<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="panel panel-bd" style="margin-top: 27px;">
			<div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
			<div class="btn-group">
			<a href="">
		 <h4>Mandatory Course Distribution to new groups and users</h4> 
			</a>
			</div>

			</div>
			<div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;">
			<div class="row">
			<div class="col-md-12">
			<div class="wp100 fl">
			<!-- <div class="wp100 mt18 fs16 fc13 b fta fl">Course Distribution</div> -->
			<div class="form-group">
			<div class="row formRow" style="padding-bottom:20px;">

				<div class="col-md-6">
				<label class="control-label" for="textinput">Groups</label>

				<ui-select multiple  ng-model="multiple.selectedGroup" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group" style="    height: 60px;">
				<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
				<ui-select-choices repeat="title.group_id as title in allDistributionUserAndGroup.allgroup" >
				<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
				<!-- <div ng-if="!title.isTag" ng-bind-html="title.group_name + title.isTag| highlight: $select.search"></div> -->
				</ui-select-choices>
				</ui-select>
				
				</div>

				<div class="col-md-6">
				<label class="control-label" for="textinput">Users</label>
				<ui-select multiple ng-model="multiple.selectedUserName" theme="bootstrap" ng-disabled="disabled"  title="Choose a User"  style="    height: 60px;">
				<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
				<ui-select-choices repeat="title.user_id as title in allDistributionUserAndGroup.allusers" >
				<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
				</ui-select-choices>
				</ui-select>
				</div>
			</div>
			
			</div>

			</div>
			</div>
			</div>
			</div>
			</div>
		</div>
		
		
		
		<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="panel panel-bd" style="margin-top: 27px;">
			<div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
			<div class="btn-group">
			<a href="">
		 <h4>Optional Course Distribution to new groups and users</h4> 
			</a>
			</div>

			</div>
			<div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;">
			<div class="row">
			<div class="col-md-12">
			<div class="wp100 fl">
			<!-- <div class="wp100 mt18 fs16 fc13 b fta fl">Course Distribution</div> -->
			<div class="form-group">
			<div class="row formRow" style="padding-bottom:20px;">

				<div class="col-md-6">
				<label class="control-label" for="textinput">Groups</label>

				<ui-select multiple  ng-model="multiple.selectedGroupOptional" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group" style="    height: 60px;">
				<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
				<ui-select-choices repeat="title.group_id as title in allDistributionUserAndGroup.allgroup" >
				<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
				<!-- <div ng-if="!title.isTag" ng-bind-html="title.group_name + title.isTag| highlight: $select.search"></div> -->
				</ui-select-choices>
				</ui-select>
				</select>
				</div>

				<div class="col-md-6">
				<label class="control-label" for="textinput">Users</label>
				<ui-select multiple ng-model="multiple.selectedUserNameOptional" theme="bootstrap" ng-disabled="disabled"  title="Choose a User"  style="    height: 60px;">
				<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
				<ui-select-choices repeat="title.user_id as title in allDistributionUserAndGroup.allusers" >
				<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
				</ui-select-choices>
				</ui-select>
				</div>
			</div>
			
			</div>

			</div>
			</div>
			</div>
			</div>
			</div>
		</div>
		<div class="row" style="margin-left:20px;">
			<div class="col-sm-12 col-md-12">
				<div class="row formRow">
						<div class="col-md-12">
						<label class="control-label" for="textinput">Due Date:</label>
							<div>
							<md-datepicker ng-model="dueDate" md-placeholder="Enter date"></md-datepicker>
							</div>
						</div>
				</div>
			</div>
		</div>
	<span class="fl view fs12 hand" ng-click="assign()" role="button" tabindex="0"><a class="btn1 btn-primary"><font color="#fff"><i class="fa fa-tasks"></i> Distribute</font></a><font color="#fff"> </font></span>
	</section>		
	</div>