
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<a style="margin-top: 32px;" data-toggle="modal" data-target="#addtask" class="btn btn-sm btn-primary hand pull-right">
			<i class="fa fa-plus"></i> Add Courses
		</a>
		<breadcrumb-directive></breadcrumb-directive>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
					<div class="btndroplist_wrapper">
						<div class="btn-group" uib-dropdown>
							<button type="button" class="btn btn-white" uib-dropdown-toggle>
								Training Type <span class="caret"></span>
							</button>
							<ul role="menu" uib-dropdown-menu="">
								<li ng-repeat="Training in trainingType"><a ng-model="Training" ng-click="trainingFilter(Training)">{{Training}}</a></li>

							</ul>
						</div>
						<div class="btn-group" uib-dropdown>
							<button type="button" class="btn btn-white" uib-dropdown-toggle>
								Category  <span class="caret"></span>
							</button>
							<ul role="menu" uib-dropdown-menu="">
							<li ng-repeat="Category in categoryName"><a ng-model="Category" ng-click="categoryFilter(Category)" >{{Category}}</a></li>
							</ul>
						</div>
					</div>
					<datatablecourse-directive></datatablecourse-directive>
							<div class="float-right">
								<div class="col-md-3">
							      <select ng-model="bulkStatus" class="form-control">
							      	<option value="2">Choose One</option>
							        <option value="1">Published</option>
							        <option value="0">Draft</option>
							      </select>
							    </div> 
							 </div>   
					<div class="text-right">  
						<input class="btn btn-primary btn-outline-light" style="padding: 6px; width: 90px" type='button' ng-click='bulkoeration(bulkStatus)' value='Apply'>
					</div>
                </div>
            </div>
        </div>
    </div>   
</div>




<addcourse-directive></addcourse-directive>		   




 


<!--preview-directive></preview-directive-->
 