<div ng-show="grid==true">
	<table datatable="" dt-options="dtOptions" dt-columns="dtColumns"  dt-instance="dtInstance"  class="table table-striped table-hover dataTables-example" dt-instance="dtInstance" >
	
				
</table>
</div>