<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>



<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<breadcrumb-directive></breadcrumb-directive>
	</div>
</div>

<div class="content-wrapper wrapper wrapper-content">
<div id='preloader_popup' ng-show="loader">
		<img class="wp55" src='/user/assets/images/animatedEllipse2.gif' border='0' style="width:50px; left:700px; position:absolute; top:700px; z-index:2000;">
	</div>
			
	<section class="content" ng-show="firstView==true">
		<addactivites-directive></addactivites-directive>
	</section>
	
	<section class="content" ng-show="secondView==true">
		<span ng-show="secondPage==true">
			<addcontent-directive></addcontent-directive>
		</span>
		<span ng-show="thirdPage==true">
			<activity-directive></activity-directive>
		</span>
		 <div ng-show="sixthPage==true">
			<permissions-directive></permissions-directive>
		 </div>
		 <div ng-show="sevenPage==true">
			<optional-directive></optional-directive>
		 </div>
	</section>

</div> 
  
<div class="modal fade" id="delt" tabindex="-1" role="dialog">
  <div class="modal-dialog">
	 <div class="modal-content">
		<div class="modal-header modal-header-primary">
		   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		   <h3><i class="fa fa-user m-r-5"></i> Delete task</h3>
		</div>
		<div class="modal-body">
		   <div class="row">
			  <div class="col-md-12">
				 <form class="form-horizontal">
					<fieldset>
					   <div class="col-md-12 form-group user-form-group">
						  <label class="control-label">Delete task</label>
						  <div class="pull-right">
							 <button type="button" class="btn btn-danger btn-sm">NO</button>
							 <button type="submit" class="btn btn-success btn-sm">YES</button>
						  </div>
					   </div>
					</fieldset>
				 </form>
			  </div>
		   </div>
		</div>
		<div class="modal-footer">
		   <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
		</div>
	 </div>
	 <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<script>
   $(document).ready(function () {
    $('.registration-form fieldset:first-child').fadeIn('slow');

    $('.registration-form input[type="phone"]').on('focus', function () {
        $(this).removeClass('input-error');
    });

    // next step
    $('.registration-form .btn-next').on('click', function () {
        var parent_fieldset = $(this).parents('fieldset');
        var next_step = true;

        parent_fieldset.find('input[type="phone"],input[type="country"]').each(function () {
            if ($(this).val() == "") {
                $(this).addClass('input-error');
                next_step = false;
            } else {
                $(this).removeClass('input-error');
            }
        });

        if (next_step) {
            parent_fieldset.fadeOut(400, function () {
                $(this).next().fadeIn();
            });
        }

    });

    // previous step
    $('.registration-form .btn-previous').on('click', function () {
        $(this).parents('fieldset').fadeOut(400, function () {
            $(this).prev().fadeIn();
        });
    });

    // submit
    $('.registration-form').on('submit', function (e) {

        $(this).find('input[type="phone"],input[type="country"]').each(function () {
            if ($(this).val() == "") {
                e.preventDefault();
                $(this).addClass('input-error');
            } else {
                $(this).removeClass('input-error');
            }
        });

    });

   
});
   </script>