<script type="text/javascript" src="/runplayer/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/runplayer/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/jwplayer.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/jquery.media.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/silverlight.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/wmvplayer.js"></script>
<script type="text/javascript" src="/runplayer/player/example/flowplayer-3.2.6.min.js"></script>

<style>
video#jwplayer_video{
	height: auto !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
}
#jwplayer_jwplayer_display{
	height: 500px !important;
	width: 100% !important;
}
html, body {
	height: auto;
}

</style>
<style>
#custom-search-input input[type=text] {
    height: 30px;
.modal-open {
    overflow: block;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Course Catalog</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li>
			<li class="active">
				<strong>Course</strong>
			</li>
		</ol>
	</div>
</div>

<div class="content-wrapper">
			
			<section class="content">
               <div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="panel panel-bd" style="margin-top: 27px;">
                        <div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
                            <div class="btn-group">
                              <a href="">
                                 <h4>Course Catalog</h4>
                              </a>
                            </div>
							<!--  <div class="buttonexport">
                                 <a class="btn btn-add" data-toggle="modal" data-target="#addtask"><i class="fa fa-plus"></i> Add Courses</a>  
                              </div> -->
							<div class="add-users-bg1 fr">
								<a href=""  data-toggle="modal" data-target="#addtask"><div class="button_lblue_r4 hand"><i class="fa fa-plus"></i> Add Courses<span>»</span></div></a>
								
								<!-- <a href="" ng-click="reload()"><div class="button_lblue_r4 hand"><i class="fa fa-plus"></i> Reload<span>»</span></div></a> -->
							</div>
						</div>
						<div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;">
							<div class="row">
								<div class="col-md-12">
								<h5>List of all courses available in your account. Filter the courses based on skills and their different states as a draft, published and retired. To add your courses, Click add.</h5>
								</div>
							</div>
						<div class="row">	
							<div class="col-md-12">  
								<div class="well well-sm">
									<div align="right">
										<div class="btn-group">
										<a href="" id="grid" class="btn btn-default btn-sm" ng-click="showGrid()"><span
												class="glyphicon glyphicon-th"></span>Grid</a>
											<!-- <a href="" id="list" class="btn btn-default btn-sm" ng-click="showList()"><span class="glyphicon glyphicon-th-list">
											</span>List</a>  -->
										</div>
									</div>
								</div>
								<div id="products" class="row list-group"  ng-show="list==true">
									<div class="item  col-xs-12 col-lg-3" ng-repeat="courseDataList in courseData">
										<div class="thumbnail">
											<div class="img-cnt" ng-show="courseDataList.course_image==''">
											<img class="group list-group-image courseimg" src="../user/assets/images/Untitled-1.jpg" alt="" />
											</div>
											<div class="img-cnt" ng-show="courseDataList.course_image!=''">
											<img class="group list-group-image courseimg" src="/{{courseDataList.course_image}}" alt="" />
											</div>
											<div class="cover-tag-left">
												<p> {{courseDataList.training_type}} </p>
											</div>
											<div class="cover-tag" ng-show="courseDataList.status_id==0">
												<p> Drafted </p>
											</div>
											<div class="cover-tag" ng-show="courseDataList.status_id==1">
												<p> Published </p>
											</div>
											<div class="cover-tag" ng-show="courseDataList.status_id==2">
												<p> Saved </p>
											</div>
											<div class="caption">
												<h4 class="group inner list-group-item-heading">
													{{courseDataList.course_title}}</h4>
											</div>
										</div>
									</div>
									<!-- <div class="item  col-xs-12 col-lg-3">
										<div class="thumbnail">
											<div class="img-cnt">
											<img class="group list-group-image courseimg" src="../user/assets/images/safety.jpg" alt="" />
											</div>
											<div class="cover-tag-left">
												<p> Blended </p>
											</div>
											<div class="cover-tag">
												<p> Published </p>
											</div>
											<div class="caption">
												<h4 class="group inner list-group-item-heading">
													Safety Training</h4>
											   
											</div>
										</div>
									</div>
									<div class="item  col-xs-12 col-lg-3">
										<div class="thumbnail">
											<div class="img-cnt">
											<img class="group list-group-image courseimg" src="../user/assets/images/elect.jpg" alt="" />
											</div>
											<div class="cover-tag-left">
												<p> Classroom </p>
											</div>
											<div class="cover-tag">
												<p> Published </p>
											</div>
											<div class="caption">
												<h4 class="group inner list-group-item-heading">
													Electrical Safety</h4>
												
											   
											</div>
										</div>
									</div>
									<div class="item  col-xs-12 col-lg-3">
										<div class="thumbnail">
											<div class="img-cnt">
												<img class="group list-group-image  courseimg" src="../user/assets/images/Untitled-1.jpg" alt="" />
											</div>
											<div class="cover-tag-left">
												<p> Self Paced </p>
											</div>
											<div class="cover-tag">
												<p> Published </p>
											</div>
											<div class="caption">
												<h4 class="group inner list-group-item-heading">Admin in Prime</h4>
											</div>
										</div>
									</div>
									<div class="item  col-xs-12 col-lg-3">
										<div class="thumbnail">
											<div class="img-cnt">
											<img class="group list-group-image courseimg" src="../user/assets/images/Untitled-2.jpg" alt="" />
											</div>
											<div class="cover-tag-left">
												<p> Self Paced </p>
											</div>
											<div class="cover-tag">
												<p> Published </p>
											</div>
											<div class="caption">
												<h4 class="group inner list-group-item-heading">
													Managing in prime</h4>
											  
											</div>
										</div>
									</div>
									<div class="item  col-xs-12 col-lg-3">
										<div class="thumbnail">
											<div class="img-cnt">
											<img class="group list-group-image courseimg" src="../user/assets/images/quiz-banner-1.jpg" alt="" />
											</div>
											<div class="cover-tag-left">
												<p> Self Paced </p>
											</div>
											<div class="cover-tag">
												<p> Published </p>
											</div>
											<div class="caption">
												<h4 class="group inner list-group-item-heading">
													Course Name</h4>
											  
											</div>
										</div>
									</div> -->
								</div>
								
								
								<div class="wp100 fl" ng-show="grid==true">
										<div >
											<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"  dt-instance="dtInstance" >
											<thead>
											<tr>
												<th>Course Title</th>
												<th>Course ID</th>
												<!-- <th>Media Type</th> -->
												<th>Training Type</th>
												<th>Category</th>
												<th>Status</th>
												<th>Action</th> 
											</tr>
											</thead>
											
										</table>
									</div>
							</div>
							</div>
						</div>
					</div>
			   </div>
			   
			   
			   
			  
			   <div class="modal fade" id="addtask" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h5>Select Module Type</h5>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="body">
   
       
			<div class="row ModRow cursor" ng-click="coursesactivity(trainintype.url)" ng-repeat="trainintype in trainingType">
			<a>
				<div class="col-md-2">
					<img src="{{trainintype.logo}}">
				</div>
				<div class="col-md-8">
					 <label> {{trainintype.training_type}} </label><br>
					 <span class="subtle text">
                      Learners can begin and complete a course module according to their own schedule at one's own pace. For example, videos, prerecorded classroom lectures.
                    </span>
				</div>
				<div class="col-md-2">
					<div class="pt20 pl20">
						<span><i class="fa fa-angle-double-right fa-3x"></i></span>
					</div>
				</div>
			</a>	
			</div>
			<div class="row ModRow" ng-click="coursesactivity('#/courses/classroomcourses')">
			<!-- <a href="">
				<div class="col-md-2">
					<img src="../user/assets/images/2.png">
				</div>
				<div class="col-md-8">
					 <label class="acap-modalSubHeading"> Virtual Classroom/Classroom </label><br>
					 <span class="subtle text">
                      Learners can begin and complete a course module according to their own schedule at one's own pace. For example, videos, prerecorded classroom lectures.
                    </span>
				</div>
				<div class="col-md-2">
					<div class="pt20 pl20">
						<span><i class="fa fa-angle-double-right fa-3x"></i></span>
					</div>
				</div>
			</a>
			</div>
			<div class="row ModRow" ng-click="coursesactivity('#/courses/assessment')">
			<a href="">
				<div class="col-md-2">
					<img src="../user/assets/images/3.png">
				</div>
				<div class="col-md-8">
					 <label class="acap-modalSubHeading"> Assesment </label><br>
					 <span class="subtle text">
                      Learners can begin and complete a course module according to their own schedule at one's own pace. For example, videos, prerecorded classroom lectures.
                    </span>
				</div>
				<div class="col-md-2">
					<div class="pt20 pl20">
						<span><i class="fa fa-angle-double-right fa-3x"></i></span>
					</div>
				</div>
			</a>	
			</div>
			<div class="row ModRow">
			<a href="">
				<div class="col-md-2">
					<img src="../user/assets/images/4.png">
				</div>
				<div class="col-md-8">
					 <label class="acap-modalSubHeading"> Group Training </label><br>
					 <span class="subtle text">
                      Learners can begin and complete a course module according to their own schedule at one's own pace. For example, videos, prerecorded classroom lectures.
                    </span>
				</div> 
				<div class="col-md-2">
					<div class="pt20 pl20">
						<span><i class="fa fa-angle-double-right fa-3x"></i></span>
					</div>
				</div>
			</a>	
			</div>-->
    
   
  </div>
                              </div>
                           </div>
                        </div>
                       <!--  <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div> -->
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               <!-- /.modal -->
		</section>   
</div>

<preview-directive></preview-directive>
 