<script src="/administrator/assets/js/tinmca/jscripts/tiny_mce/plugins/tiny_mce_wiris/integration/WIRISplugins.js?viewer=image"></script>
<script src=" /administrator/assets/js/tinmca/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
	
		// General options
		mode : "textareas",
		elements: "short_desc,desc_text",
		 editor_selector : "myTextEditor",
		theme : "advanced",
		width:"100%",
		height: 200,		
		plugins : "jbimages,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,tiny_mce_wiris",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontsizeselect,formatselect,fontselect,preview,code,",
		theme_advanced_buttons2 : "pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,image,jbimages,tiny_mce_wiris_formulaEditorChemistry,tiny_mce_wiris_formulaEditor,",
		theme_advanced_buttons3 : "",
		
		
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		content_css : "/administrator/assets/js/tinmca/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "/administrator/assets/js/tinmca/lists/template_list.js",
		external_link_list_url : "/administrator/assets/js/tinmca/lists/link_list.js",
		external_image_list_url : "/administrator/assets/js/tinmca/lists/image_list.js",
		media_external_list_url : "/administrator/assets/js/tinmca/lists/media_list.js",
		
		extended_valid_elements: "iframe[src|width|height|name|align], embed[width|height|name|flashvars|src|bgcolor|align|play|loop|quality|allowscriptaccess|type|pluginspage]",
		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],
		relative_urls : false,
		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
</script>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<breadcrumb-directive></breadcrumb-directive>
	</div>
</div>

<div class="content-wrapper wrapper wrapper-content tabs-container">

	<uib-tabset class="tabbable">
		<uib-tab heading="Activites"  ng-attr-active="tab1">
			<div class="panel-body">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);">
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Course Name :</label>  
								<div class="col-sm-9">
									  <input id="textinput" ng-model="elearningData.course_name" name="textinput" type="text" class="form-control">
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Quiz Type:</label>  
								 <div class="col-sm-9">
									<div class="radio radio-inline">
										<input type="radio" id="quiz1" value="option1" name="radioInline" checked="">
										<label for="quiz1">Survey</label>
									</div>
									<div class="radio radio-inline">
										<input type="radio" id="quiz2" value="option2" name="radioInline">
										<label for="quiz2">Quiz</label>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							  <!--div class="form-group">
								<label class="col-sm-3 control-label">Course Title :</label>  
								<div class="col-sm-9">
									 <input id="textinput" name="textinput" type="text"  class="form-control" ng-model="activityTitle">
								</div>
							</div>
							<div class="hr-line-dashed"></div-->
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Description :</label>  
								<div class="col-sm-9">
									<div summernote class="summernote" ng-model="elearningData.course_description"></div>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label">Categories :</label>  
								<div class="col-sm-9">
									<ui-select multiple tagging="tagTransformCategories" ng-model="multiple.selectedCategoryName" theme="bootstrap" ng-disabled="disabled" title="Choose a Category">
										<ui-select-match placeholder="Select Training Category...">{{$item.category_name}}</ui-select-match>
										<ui-select-choices repeat="title.training_category_id as title in audioVideoData.traningcategoryType" >
											<div ng-if="title.isTag" ng-bind-html="(title.category_name | highlight: $select.search)"></div>
											<div ng-if="!title.isTag" ng-bind-html="title.category_name + title.isTag| highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Reference Code :</label>  
								<div class="col-sm-9">
									<div class="input-group-btn">
										 <input style="width: 87%; float: left;" id="textinput" name="textinput" type="text" class="form-control" ng-model="referenceCode"> 
										 <button style="padding: 6px 10px;" tabindex="-1" class="btn btn-white" type="button" ng-click="generateReferenceCode()">Generate Code</button>
									</div>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Course Image :</label>  
								<div class="col-sm-9">
									<div class="fileinput fileinput-new input-group" data-provides="fileinput">
										<div class="form-control" data-trigger="fileinput">
											<i class="glyphicon glyphicon-file fileinput-exists"></i>
											<span class="fileinput-filename"></span>
										</div>
										<span class="input-group-addon btn btn-default btn-file">
										<!-- <img src="{{courseImageData}}" height="50" width="50"> -->
										<span class="fileinput-new">Select file</span>
										<span class="fileinput-exists">Change</span>
										<input type="file" id="courseImage"  name="courseImage"  onchange ="angular.element(this).scope().courseImageFunc(this)"></span>
										<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Credits :</label>  
								 <div class="col-sm-9">
									<input id="textinput" name="textinput" type="text" class="form-control" ng-model="elearningData.credit_value">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Visibilty :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input ui-switch-on-text="YES" ui-switch-off-text="NO" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="elearningData.credit_show"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Points :</label>  
								 <div class="col-sm-9">
									<input id="textinput" name="textinput" type="text" class="form-control" ng-model="elearningData.points">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Visibilty :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input ui-switch-on-text="YES" ui-switch-off-text="NO" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="elearningData.point_show"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Certificate :</label>  
								 <div class="col-sm-9">
									<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="elearningData.certificate_template_id"> 
									
										<option value="">Please Select Certificate</option>
								  </select>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Tags :</label>  
								 <div class="col-sm-9">
									<ui-select multiple tagging="tagTransformTags" ng-model="elearningData.courseTags" theme="bootstrap" ng-disabled="disabled"  title="Choose a Tag">
										<ui-select-match placeholder="Enter Your Tags">{{$item.tag}}</ui-select-match>
										<ui-select-choices repeat="title.tag as title in tagArray" >
											<div ng-if="title.isTag" ng-bind-html="(title.tag | highlight: $select.search)"></div>
											<div ng-if="!title.isTag" ng-bind-html="title.tag + title.isTag| highlight: $select.search"></div>
										</ui-select-choices>
										</ui-select>
									<p style="line-height:normal;" class="mt10 mb00">Add Keywords which can be used to search for this courses</p>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							
							<div class="row text-right">
								<div class="col-sm-12">
									 <button class="btn btn-white btn-lg" type="button">Cancel</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="addCourseFirstData()">Next</button>
								</div>
							</div>	
						</form>
				
			</div>
		</uib-tab>
		<uib-tab heading="Settings" ng-attr-active="tab2">
			<div class="panel-body">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);">
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">
									Must receive a passing score to achieve completed status :   
								</label>  
								 <div class="col-sm-1">
									<div class="btn-group" id="status" data-toggle="buttons">
										<input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="elearningData.assessmentData.allow_transcript"/>
									</div>
								</div>
								<div class="col-sm-3">
									<input id="demo3" type="text"   ng-model="elearningData.assessmentData.pass_percentage"  name="demo1" touch-spin spin-options="spinOption3" ng-init="passper=''">
									<p class="smalltext">Required Passing Score</p>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Randomize Questions :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
										<input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="elearningData.assessmentData.randomize_ques"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Display Questions :</label>  
								 <div class="col-sm-9">
									<div class="radio radio-inline">
										<input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked=""  ng-model="elearningData.assessmentData.view_mode">
										<label for="inlineRadio1">Slide View</label>
									</div>
									<div class="radio radio-inline">
										<input type="radio" id="inlineRadio2" value="option2" name="radioInline"  ng-model="elearningData.assessmentData.view_mode">
										<label for="inlineRadio2">List View</label>
									</div>
								</div>
							</div>
						 
						 <div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Hide completed assessment after being recorded on transcript :</label>
								<div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
										<input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="elearningData.assessmentData.hide_assessonrequ"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput"># of Attempts :</label>  
								 <div class="col-sm-9">
									<input type="text" class="form-control"  ng-model="elearningData.assessmentData.attempts">
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Allow learner to view the results</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="elearningData.assessmentData.allow_assessment" name="Horizontally"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">Post-Quiz Action :</label>  
								 <div class="col-sm-9">
									<div class="radio">
										<input type="radio" id="pqaction1" value="1" name="pqaction" ng-model="elearningData.assessmentData.post_quiz_action" checked="">
										<label for="pqaction1">Display Total Score and Pass/Fail Status Only</label>
									</div>
									<div class="radio">
										<input type="radio" id="pqaction2" value="0" name="pqaction" ng-model="elearningData.assessmentData.post_quiz_action" >
										<label for="pqaction2">Display Score/Status and Correct Answers</label>
									</div>
								</div>
							</div>
							
						 <div class="hr-line-dashed"></div>
						
							<div class="form-group">
								<label class="col-sm-3 control-label">Time Limit :</label>  
								 <div class="col-sm-1">
									<div class="btn-group" id="status" data-toggle="buttons">
										<input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="tlimit"/>
									</div>
								</div>
								<div class="col-sm-3">
									 <div class="input-group m-b">
										 <input type="text" class="form-control" placeholder="00" ng-model="elearningData.assessmentData.hours"> 
										 <span class="input-group-addon">Hours</span>
									 </div>
								</div>
								<div class="col-sm-2">
									 <div class="input-group m-b">
										 <input type="text" class="form-control" placeholder="00" ng-model="elearningData.assessmentData.minutes"> 
										 <span class="input-group-addon">Minutes</span>
									 </div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="row text-right">
								<div class="col-sm-12">
									<button class="btn btn-white btn-lg" type="button" ng-click="previousFirst()">Previous</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="secondNext()">Next</button>
								</div>
							</div>	
							
						 </form>
			
			</div>
		</uib-tab>
		<uib-tab heading="Questions" ng-attr-active="tab3">
			<div class="panel-body">
			<form role="form" class="form-horizontal registration-form" action="javascript:void(0);"> 
							
							<div class="wrapper-content1">
								<div ng-repeat="question_div in elearningData.questionAnswer">
								<div class="border01 ibox float-e-margins">
									<div class="ibox-title">
										<h5>Question {{$index+1}}</h5>
										<div ibox-tools></div>
									</div>
									<div class="ibox-content">
										
										<div class="form-group">
											<label class="col-sm-3 control-label" for="textinput">Question :</label>  
											<div class="col-sm-9">
												<div id="type_containerText_{{question_div.txtId}}"></div>
												<div id="type-container-{{question_div.txtId}}" class="hide" ng-hide="true">
													<div class="type-row" id="">
														<textarea class="tinymce-enabled-message-new" ng-model="question_div.question" cols="90" rows="10" id=""></textarea>
													</div>
												</div>
												<span ng-if="$index==0">
													<textarea class="myTextEditor form-control" ng-model="question_div.question" cols="80" id="txt_id_1"></textarea>
												</span>
											</div>
										</div>
										<div class="hr-line-dashed"></div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label" for="textinput">Question Type :</label>  
											<div class="col-sm-9">
												 <select class="form-controlassess form-control div-toggle"  ng-model="question_div.answerType" ng-change="setAnswerType($index)">
													  <option value="">Select Question Type</option>
													  <option value="1">Multiple Choice</option>
													  <option value="2">Multiple Select</option>
													  <option value="3">True/False</option>
													  <option value="4">Yes/No</option>
													  <option value="5">Text Answer</option>
												  </select>
											</div>
										</div>
										
										
										
										<div class="multichoice" ng-show="question_div.answerType=='1'">
											<div class="hr-line-dashed"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Answer :</label>  
												 <div class="col-sm-9">
													
													<div id="answer"> 
														<div class="row multiSelect_blk" ng-repeat="answerDiv in question_div.multiChoice" > 
															<div class="col-md-12">
																<div class="radio">
																	
																	<input type="radio" value="1" name="multifeatured_module[$index]"  ng-model="answerDiv.correctAnswer" ng-click="checkOtherFalse($index,$parent.$index)">
																	<label style="width: 100%;">
																		<div class="btn btn-white btn-sm deletebtnstyle"  ng-click="deleteAns($index,$parent.$index,'mulc');">
																			<i class="fa fa-times"></i>
																		</div>
																		
																		<input id="textinput" style=" width: 94%;" name="textinput" type="text" class="form-control input-md" ng-model="answerDiv.answerText">
																	</label>
																</div>
															</div>
														</div>
													</div>
													 <div class="formgroup mt10">
														<a class="btn btn-white btn-sm" id="more_fields" href="" ng-click="add_fields($index,'mulc')">+ Answer</a>
													</div>
													
												 </div>
											</div>
											
											<div class="hr-line-dashed"></div>
											
											<div class="form-group">
												<label class="col-sm-3 control-label">Randomize Answer :</label>  
												 <div class="col-sm-9">
													<div class="btn-group" id="status" data-toggle="buttons">
														<input type="checkbox" ui-switch="{color:'#1AB394'}" class="js-switch" name="multifeatured_module[module_id][status]" ng-model="question_div.randomAnswer"/>
													</div>
												 
												 </div>
											</div> 
										</div>
								
										
										<div class="multiselect" ng-show="question_div.answerType=='2'"> 
											<div class="hr-line-dashed"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Answer :</label>  
												 <div class="col-sm-9">
													<div id="answer"> 
														<div class="row multiSelect_blk" ng-repeat="answerDiv in question_div.multiSelect" > 
															<div class="col-md-12">
																<div class="checkbox">
																	<input type="checkbox" value="1" name="multifeatured_module[module_id][status]" ng-model="answerDiv.correctAnswer">
																	<label style="width: 100%;">
																		<div class="btn btn-white btn-sm deletebtnstyle" ng-click="deleteAns($index,$parent.$index,'muls');">
																			<i class="fa fa-times"></i>
																		</div>
																		
																		<input id="textinput" style=" width: 94%;" name="textinput" type="text" class="form-control input-md" ng-model="answerDiv.answerText">
																	</label>
																</div>
															</div>
														</div>
													</div>
													<div class="formgroup mt10">
														<a class="btn btn-white btn-sm" id="more_fields" href="" ng-click="add_fields($index,'muls');">+ Answer</a>
													</div>
												 </div>
											</div>
											
											<div class="hr-line-dashed"></div>
											
											<div class="form-group">
												<label class="col-sm-3 control-label">Randomize Answer :</label>  
												 <div class="col-sm-9">
													<div class="btn-group" id="status" data-toggle="buttons">
														<input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" name="multifeatured_module[module_id][status]" ng-model="question_div.randomAnswer"/>
													</div>
												 
												 </div>
											</div>
										</div>
								
								
								
										
										<div class="truefalse" ng-show="question_div.answerType=='3'">
											<div class="hr-line-dashed"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Answer :</label>  
												 <div class="col-sm-9">
													<div class="radio radio-inline">
														<input type="radio" value="1" id="multifeatured1" name="multifeatured_module[module_id][status]" ng-model="question_div.tf">
														<label for="multifeatured1">True</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" value="0" id="multifeatured2" name="multifeatured_module[module_id][status]" ng-model="question_div.tf">
														<label for="multifeatured2">False</label>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="yesnotext" ng-show="question_div.answerType=='4'">
											<div class="hr-line-dashed"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Answer :</label>  
												 <div class="col-sm-9">
													<div class="radio radio-inline">
														<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked" ng-model="question_div.yn" id="yesnotext1">
														<label for="yesnotext1">Yes</label>
													</div>
													<div class="radio radio-inline">
														<input type="radio" value="0" name="multifeatured_module[module_id][status]" ng-model="question_div.yn" id="yesnotext2">
														<label for="yesnotext2">Yes</label>
													</div>
												</div>
											</div>
										</div>
										
						
										
										<div class="textanswer" ng-show="question_div.answerType=='5'">
											<div class="hr-line-dashed"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Answer Keywords :</label>  
												<div class="col-sm-9">
													 <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" ng-model="question_div.ak"></textarea>
												</div>
											</div>
										</div>
										
										
									</div>
								</div>
								</div>
								<div class="btn btn-white btn-sm" ng-click="addQuestion()">
									+ Add New Question
								</div>
							</div>
							<div class="hr-line-dashed"></div>
						
							<div class="row text-right">
								<div class="col-sm-12">
									<button class="btn btn-white btn-lg" ng-click="previousThirdPage()" type="button">Previous</button>
									<button class="btn btn-primary btn-lg"  ng-click="nextThirdPage()" type="button">Next</button>
								</div>
							</div>	
							
					
						 </form>
						
			</div>
		</uib-tab>
		
		<uib-tab heading="Permissions" ng-attr-active="tab4">
			<div class="panel-body">
				 <form role="form" class="form-horizontal registration-form" action="javascript:void(0);"> 	
							<div class="form-group">
								<label class="col-sm-12 control-label" style="text-align: left;"> Can view in Catalog</label>  
								<div class="col-sm-9"></div>
							</div>
						 
							<div class="form-group">
								<label class="col-sm-3 control-label">Groups</label>  
								<div class="col-sm-9">
										<ui-select multiple theme="bootstrap" ng-disabled="disabled"  title="Choose a Group">
										<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
										<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
										<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
										<!-- <div ng-if="!title.isTag" ng-bind-html="title.group_name + title.isTag| highlight: $select.search"></div> -->
										</ui-select-choices>
										</ui-select>
								</div>
							</div>
					 
							 <div class="form-group">
								<label class="col-sm-3 control-label">Users</label>  
								<div class="col-sm-9">
										<ui-select multiple theme="bootstrap" ng-disabled="disabled"  title="Choose a User">
											<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
											<ui-select-choices repeat="title.user_id as title in classroomAddData.allusers" >
											<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
											</ui-select-choices>
										</ui-select>
									</div>
							 </div>
					 
							<div class="col-md-12"> 
								<div class="hr-line-dashed" style="clear: both;"></div>
						   </div>
						   
						    <div class="form-group">
							<label class="col-sm-12 control-label text-left"  style="text-align: left;">Must have the following admin rights to edit:</label>  
							<div class="col-sm-9"></div>
						</div>
					 
					 <div class="form-group">
							<label class="col-sm-3 control-label">Groups</label>  
							<div class="col-sm-9">
									<ui-select multiple theme="bootstrap" ng-disabled="disabled"  title="Choose a Group">
									<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
									<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
									<div  ng-bind-html="(title.group_name | highlight: $select.search)"></div>
									</ui-select-choices>
									</ui-select>
							</div>
						</div>
					 
						 <div class="form-group">
							<label class="col-sm-3 control-label">Users</label>  
							<div class="col-sm-9">
								<ui-select multiple theme="bootstrap" ng-disabled="disabled"  title="Choose a User">
									<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
									<ui-select-choices repeat="user.user_id as user in classroomAddData.allusers" >
									<div ng-bind-html="(user.user_name | highlight: $select.search)"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						 </div>
					 
						  <div class="col-md-12"> 
								<div class="hr-line-dashed" style="clear: both;"></div>
						  </div>
						
						   <div class="row text-right">
								<div class="col-sm-12">
									<button class="btn btn-white btn-lg" type="button" ng-click="fourthPrevious()">Previous</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="fourthNext()">Next</button>
								</div>
							</div>	
							
						</form>
			</div>
		</uib-tab>
		
		<uib-tab heading="Optional Items" ng-attr-active="tab5">
			<div class="panel-body" ng-show="selectedTab==4">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);"> 
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Allow User visibility of Skills earned from this Activity :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="allowSkill"/>
									</div>
								</div>
							</div>
							
							<div class="form-group" ng-show="allowSkill==1">
								<label class="col-sm-3 control-label">Course Skills:</label>  
								<div class="col-sm-9">
									<table class="table" ng-show="userAllSkills.length>0">
										<thead>
										  <tr>
											<th>Skills</th>
											<th>Level</th>
											<th>Credits</th>
											<th>Max.Credits</th>
											<th>Action</th>
										  </tr>
										</thead>
										<tbody>
										  <tr style="border-bottom: 1px solid #e4e5e7;"  ng-repeat="userSkill in userAllSkills" ng-init="paranetIndex=index">
											<td>
												<select class="form-control" id="sel1" ng-options="skillLisit.skill_id as skillLisit.skill_name for skillLisit in audioVideoData.skillarray" ng-model="userSkill.courseSkill" ng-change="userSkillLevel($index)"> 
												   <option value="">Pick a Skill</option>
												</select>
											</td>
											<td>
												<select class="form-control" id="sel1" ng-options="skillLevel.level_id as skillLevel.level_id for skillLevel in audioVideoData.skillarray[userSkill.courseSkill].levels" ng-model="userSkill.courseSkillLevels" ng-change="addSkillLevel($index)">
												  <option value="">Level</option>
												</select>
											</td>
											<td><input id="credit" type="text" class="form-control" placeholder="Credit" ng-keyup="checkCredit($index)" ng-model="userSkill.creditValue"></td>
											<td class="cntnb">{{userSkill.skillLevelCredit}}</td>
											<td> 
												 <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="deletelevel($index)" ><i class="fa fa-trash-o"></i> </button>
												 </td>
										  </tr>
															 
										</tbody>
									</table>
									<p ng-click="addMoreSkill()" class="btn btn-white btn-sm">+ Add Skill</p>
								</div>
							</div>
							<div class="col-md-12"> 
								<div class="hr-line-dashed" style="clear: both;"></div>
						   </div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Handouts:</label>  
								<div class="col-sm-9">
									
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<span class="btn btn-default btn-file">
										<span class="fileinput-new">Select file</span>
										<span class="fileinput-exists">Select file</span>
										<input id="file-input" type="file" nv-file-select="" uploader="uploader" multiple></span>
									</div>
								
                          
									<table class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded"  ng-show="uploader.queue.length>0"> 
										<thead>
											<tr>
												<th width="50%">Name</th>
												<th ng-show="uploader.isHTML5">Size</th>
												<th ng-show="uploader.isHTML5">Progress</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in uploader.queue" > 
												<td class="span_align">
													<span ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 25 }"></span>
													<span>{{ item.file.name }}</span>
												</td>
												<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
												<td ng-show="uploader.isHTML5">
													<div class="progress" style="margin-bottom: 0;">
														<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
													</div>
												</td>
												<td class="text-center">
													<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
													<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
													<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
												</td>
												<td nowrap>
													<button type="button" class="mb00 btn btn-outline btn-danger btn-xs" ng-click="removeHandoutQueue($index)">
														Remove
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="col-md-12"> 
								<div class="hr-line-dashed" style="clear: both;"></div>
							</div>
							
						   <div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Published Status :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input ui-switch-on-text="YES" ui-switch-off-text="NO" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" name="multifeatured_module[module_id][status]" ng-model="credit_show"/>
									</div>
								</div>
							</div>
						
							<div class="col-md-12"> 
								<div class="hr-line-dashed" style="clear: both;"></div>
							</div>					
						
							<div class="form-group">
								<label class="col-sm-3 control-label">Status :</label>  
								<div class="col-sm-9">
									<select class="form-control" id="sel1" ng-model="elearningData.status_id"> 
										<option value="">Please Select Status</option>
										<option value="0">Draft</option>
										<option value="1">Published</option>
									  </select>
								</div>
							</div>
						
							<div class="col-md-12"> 
								<div class="hr-line-dashed" style="clear: both;"></div>
							   </div>
							<div class="row">
								<div class="col-sm-12 text-right">
									<button class="btn btn-white btn-lg" type="button" ng-click="previousFourthPage()">Previous</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="finalSubmit()">Submit</button>
								</div>
							</div>	
							
						</form>
						
						
			</div>
		</uib-tab>
	</uib-tabset>

</div>



 
