<!-- <style>
[role="tabpanel"] {
    transition: none;
}
</style> -->

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Edit Elearning</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li>
		    <li><a href="#/courses/index">Course</a></li>
		    <li class="active">Edit Elearning</li>
		</ol>
	</div>
</div>

<div class="content-wrapper wrapper wrapper-content tabs-container">
	<div id='preloader_popup' ng-show = "loader" >
		<img class="wp55" src='/user/assets/images/animatedEllipse2.gif' border='0' style="width:50px; left:700px; position:absolute; top:700px; z-index:2000;">
	</div>
	
	
	<uib-tabset>
		<uib-tab heading="Courses">
			<div class="panel-body mb30">
				 <form role="form" class="registration-form form-horizontal" action="javascript:void(0);">
						<div class="formcent">
								<div class="form-group row">
									<label class="col-sm-3 control-label">Course Name :</label>  
									<div class="col-sm-9">
										 <input id="textinput" name="textinput" type="text"  class="form-control" ng-model="courseName">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								
								<div class="form-group row">
									<label class="col-sm-3 control-label">Description:</label>  
									<div class="col-sm-9">
										<div summernote class="summernote" ng-model="courseDescription"></div>
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								
								<div class="form-group row">
									<label class="col-sm-3 control-label">Reference Code:</label>  
									<div class="col-sm-9">
										<div class="input-group-btn">
											 <input style="width: 87%; float: left;" id="textinput" name="textinput" type="text" class="form-control" ng-model="referenceCode"> 
											 <button style="padding: 6px 10px;" tabindex="-1" class="btn btn-white" type="button" ng-click="generateReferenceCode()">Generate Code</button>
										</div>
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								
								<div class="form-group row">
								<label class="col-sm-3 control-label" for="textinput">Course Image :</label>  
								 <div class="col-sm-9">
									<div class="fileinput fileinput-new input-group" data-provides="fileinput">
										<div class="form-control" data-trigger="fileinput">
											<i class="glyphicon glyphicon-file fileinput-exists"></i>
											<span class="fileinput-filename"></span>
										</div>
										<span class="input-group-addon btn btn-default btn-file">
										<span class="fileinput-new">Select file</span>
										<span class="fileinput-exists">Change</span>
										<input type="file" id="courseImage"  name="courseImage"  onchange ="angular.element(this).scope().courseImageFunc(this)"></span>
										<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group row">
									<label class="col-sm-3 control-label">Categories:</label>  
									<div class="col-sm-9">
										<ui-select multiple tagging="tagTransformCategory" ng-model="multiple.selectedCategoryNames" theme="bootstrap" ng-disabled="disabled"  title="Choose a Category">
											<ui-select-match placeholder="Choose a Category">{{$item.category_name}}</ui-select-match>
											<ui-select-choices repeat="title.training_category_id as title in audioVideoData.traningcategoryType" >
											<div ng-if="title.isTag" ng-bind-html="(title.category_name | highlight: $select.search)"></div>
											<div ng-if="!title.isTag" ng-bind-html="title.category_name + title.isTag| highlight: $select.search"></div>
											</ui-select-choices>
										</ui-select>
									</div>
								</div>
							
							<div class="hr-line-dashed"></div>
							
								<div class="form-group row">
									<label class="col-sm-3 control-label">Credits:</label>  
									<div class="col-sm-9">
										<input id="textinput" name="textinput" type="text" class="form-control" ng-model="credit_value">
									</div>
								</div>
							
								
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Visibilty :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input ui-switch-on-text="YES" ui-switch-off-text="NO" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="credit_show"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
								<div class="form-group row">
									<label class="col-sm-3 control-label">Points:</label>  
									<div class="col-sm-9">
										<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="points">
									</div>
								</div>
							
								
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Visibilty :</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input ui-switch-on-text="YES" ui-switch-off-text="NO" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="point_show"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Certificate:</label>  
								 <div class="col-sm-9">
									<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="certificate"> 
										<option value="">Please Select Certificate</option>
									</select>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">ILT Assessment:</label>  
								 <div class="col-sm-9">
									<select class="form-control" id="sel1" ng-model="itl_assessment_id"> 
										<option>ILT for Classroom</option>
									</select>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Activity Reviews:</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="point_show"/>
									</div>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Enrollment Type:</label>  
								 <div class="col-sm-9">
									<select class="form-control" id="sel1" ng-model="enrollement_type">
										<option value="1">Not Required</option>
										<option value="2">Supervisor</option>
										<option value="3">Instructor</option>
										<option value="4">Admin</option>
									</select>
								</div>
							</div>
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Unenrollment:</label>  
								 <div class="col-sm-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <input type="checkbox" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="is_unenrollment"/>  
									</div>
									<p style="line-height:normal;" class="mt10 mb00">Learners can unenroll themselves</p>  
								</div>
							</div>
								
							<div class="hr-line-dashed"></div>
								
							<div class="form-group">
								<label class="col-sm-3 control-label" for="textinput">Tags :</label>  
								 <div class="col-sm-9">
									<ui-select multiple tagging="tagTransformTags" ng-model="multiple.selectedTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a Tag">
											<ui-select-match placeholder="Enter Your Tags">{{$item.tag}}</ui-select-match>
											<ui-select-choices repeat="title.tag as title in tagArray" >
											<div ng-if="title.isTag" ng-bind-html="(title.tag | highlight: $select.search)"></div>
											<div ng-if="!title.isTag" ng-bind-html="title.tag + title.isTag| highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									<p style="line-height:normal;" class="mt10 mb00">Add Keywords which can be used to search for this courses</p>
								</div>
							</div>	
							
							<div class="hr-line-dashed"></div>
							
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-2">
									<button class="btn btn-white btn-lg" type="button">Cancel</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="firstPageSubmit()">Next</button>
								</div>
							</div>	
							
						</div>
						</form>
			</div>
		</uib-tab>
		<uib-tab heading="Permissions">
			<div class="panel-body mb30">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);">
						<div class="row form-group">
							<label class="col-sm-12 control-label" style="text-align: left;"> Can view in Catalog</label>  
							<div class="col-md-10"></div>
						</div>
						<div class="row form-group">
							<label class="col-sm-3 control-label">Groups</label>  
							<div class="col-md-10">
									<ui-select multiple  ng-model="multiple.selectedGroup" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group">
									<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
									<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
									<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
									<!-- <div ng-if="!title.isTag" ng-bind-html="title.group_name + title.isTag| highlight: $select.search"></div> -->
									</ui-select-choices>
									</ui-select>
							</div>
						</div>
					 
						<div class="row form-group">
							<label class="col-sm-3 control-label">Users</label>  
							<div class="col-md-10">
								<ui-select multiple ng-model="multiple.selectedUserName1" theme="bootstrap" ng-disabled="disabled"  title="Choose a User">
									<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
									<ui-select-choices repeat="title.user_id as title in classroomAddData.allusers" >
									<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
									
									</ui-select-choices>
								</ui-select>
								
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="row form-group">
							<label class="col-sm-12 control-label" style="text-align: left;"> Must have the following admin rights to edit:</label>  
							<div class="col-md-10"></div>
						</div>
						
						<div class="row form-group">
							<label class="col-sm-3 control-label">Groups</label>  
							<div class="col-md-10">
								<ui-select multiple  ng-model="multiple.selectedGroupName2" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group">
								<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
								<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
								<div  ng-bind-html="(title.group_name | highlight: $select.search)"></div>
								</ui-select-choices>
								</ui-select>
							</div>
						</div>
					 
						<div class="row form-group">
							<label class="col-sm-3 control-label">Users</label>  
							<div class="col-md-10">
								<ui-select multiple ng-model="multiple.selectedUserName2" theme="bootstrap" ng-disabled="disabled"  title="Choose a User">
								<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
								<ui-select-choices repeat="user.user_id as user in classroomAddData.allusers" >
								<div ng-bind-html="(user.user_name | highlight: $select.search)"></div>
								</ui-select-choices>
								</ui-select>
								
							</div>
						</div>
					
						<div class="hr-line-dashed"></div>
							
							<div class="form-group row mb00">
								<div class="col-sm-12 text-right">
									<button class="btn btn-white btn-lg" type="button" ng-click="previousSecondPage()">Previous</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="secondPageSubmit()">Next</button>
								</div>
							</div>
					</form>	
			</div>
		</uib-tab>
		<uib-tab heading="Notifications">
			<div class="panel-body mb30">
				<div class="form-group row">
						<label class="col-sm-3 control-label">Activity Notifications:</label>  
							<div class="col-sm-9">
									
									<div class="btn-group" id="status" data-toggle="buttons">
									  <label class="mr20">
									  <input icheck type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked" ng-model="showNotification" ng-change="showNoticationOption(1)">Yes</label>
									  <label>
									  <input icheck type="radio" value="0" name="multifeatured_module[module_id][status]" ng-model="showNotification" ng-change="showNoticationOption(0)">No</label>
								</div>
							</div>
						</div>
						
						<div class="form-group row" ng-show="showNotification==1">
							<div class="col-md-4">
							<div class="control_box">
								<label class="control-label">
									User Notifications
								</label>
								<div class="control_content">
									<div class="formRow2 mb03" ng-repeat="notificationList in audioVideoData.notification" ng-if="notificationList.notificationType==3">
										<div class="text_label">{{notificationList.notification}}</div>
										<div class="btn-group" id="status" data-toggle="buttons">
											  <label class="mr20">
											  <input icheck type="radio" value="1" ng-model="notificationList.checkedStatus"  name="notification{{$index}}">Yes</label>
											  <label >
											  <input icheck type="radio" value="0" ng-model="notificationList.checkedStatus" name="notification{{$index}}">No</label>
										</div>
									</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="control_box">
									<label class="control-label">
										Supervisor Notifications
									</label>

									<div class="control_content">
									<div class="formRow2 mb03" ng-repeat="notificationList in audioVideoData.notification" ng-if="notificationList.notificationType==1"> 
												
									<div class="text_label">{{notificationList.notification}}</div>
										<div class="btn-group" id="status" data-toggle="buttons">
										  <label class="mr20">
										  <input icheck type="radio" value="1" ng-model="notificationList.checkedStatus"  name="notification{{$index}}">Yes</label>
										  <label>
										  <input icheck type="radio" value="0" ng-model="notificationList.checkedStatus" name="notification{{$index}}">No</label>
										</div>
									</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="control_box">
									<label class="control-label">
										Instructor Notifications
									</label>
									<div class="control_content">
										<div class="formRow2 mb03" ng-repeat="notificationList in audioVideoData.notification" ng-if="notificationList.notificationType==2">
										<div class="text_label">{{notificationList.notification}}</div>
											<div class="btn-group" id="status" data-toggle="buttons">
												<label class="mr20">
												<input icheck type="radio" value="1" ng-model="notificationList.checkedStatus" name="notification{{$index}}">Yes</label>
												<label>
												<input icheck type="radio" value="0" ng-model="notificationList.checkedStatus" name="notification{{$index}}">No</label>
											</div>
										</div>
										
									</div>
								</div>
							</div>	
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group row mb00">
								<div class="col-sm-12 text-right">
									<button class="btn btn-white btn-lg" type="button" ng-click="previousThirdPage()">Previous</button>
									<button class="btn btn-primary btn-lg" type="button" ng-click="thirdPageSubmit()">Next</button>
								</div>
							</div>	
			</div>
		</uib-tab>
		<uib-tab heading="Optional Items">
			<div class="panel-body mb30">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);" >
							 <div class="form-group">
								<label class="col-sm-3 control-label">Course Skills:</label>  
								<div class="col-md-10">
									<table class="table" ng-show="userAllSkills.length>0">
										<thead>
										  <tr>
											<th>Skills</th>
											<th>Level</th>
											<th>Credits</th>
											<th>Max.Credits</th>
											<th>Action</th>
										  </tr>
										</thead>
										<tbody>
										  <tr style="border-bottom: 1px solid #e4e5e7;"  ng-repeat="userSkill in userAllSkills" ng-init="paranetIndex=index">
											<td>
												<select class="form-control" id="sel1" ng-options="skillLisit.skill_id as skillLisit.skill_name for skillLisit in audioVideoData.skillarray" ng-model="userSkill.courseSkill" ng-change="userSkillLevel($index)"> 
												   <option value="">Pick a Skill</option>
												</select>
											</td>
											<td>
												<select class="form-control" id="sel1" ng-options="skillLevel.level_id as skillLevel.level_id for skillLevel in audioVideoData.skillarray[userSkill.courseSkill].levels" ng-model="userSkill.courseSkillLevels" ng-change="addSkillLevel($index)">
												  <option value="">Level</option>
												</select>
											</td>
											<td><input id="credit" type="text" class="form-control" placeholder="Credit" ng-keyup="checkCredit($index)" ng-model="userSkill.creditValue"></td>
											<td class="cntnb">{{userSkill.skillLevelCredit}}</td>
											<td> 
												 <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="deletelevel($index)" ><i class="fa fa-trash-o"></i> </button>
												 </td>
										  </tr>
															 
										</tbody>
									</table>
									<p ng-click="addMoreSkill()" class="btn btn-white btn-sm">+ Add Skill</p>
								</div>
							</div>
							
							<div class="hr-line-dashed" style="clear: both;"></div>
					   
					   
						   <div class="form-group">
								<label class="col-sm-3 control-label">Handouts:</label>  
								<div class="col-md-10">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<span class="btn btn-default btn-file">
										<span class="fileinput-new">Select file</span>
										<span class="fileinput-exists">Select file</span>
										<input id="file-input" type="file" nv-file-select="" uploader="HandOut" multiple></span>
									</div>
									<table class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded"  ng-show="HandOut.queue.length>0"> 
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="HandOut.isHTML5">Size</th>
                                <th ng-show="HandOut.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in HandOut.queue" > 
                                <td class="span_align">
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <span ng-show="HandOut.isHTML5" ng-thumb="{ file: item._file, height: 25 }"></span>
									<span>{{ item.file.name }}</span>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="HandOut.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="HandOut.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button> -->
                                   <!--  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button> -->
                                    <button type="button" class="mb00 btn btn-outline btn-danger btn-xs" ng-click="removeHandoutQueue($index)">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
								</div> 
							</div>
							
							<div class="hr-line-dashed" style="clear: both;"></div>
					 
					   
					    <div class="form-group">
							<label class="col-sm-3 control-label">Status :</label>  
							<div class="col-md-10">
								<select class="form-control" id="sel1" ng-model="status"> 
									<option value="">Please Select Status</option>
									<option value="0">Draft</option>
									<option value="1">Published</option>
								  </select>
							</div>
						</div>
						
							<div class="hr-line-dashed" style="clear: both;"></div>
					
					   <div class="row">
							<div class="col-sm-12 text-right">
								<button class="btn btn-white btn-lg" type="button" ng-click="previousFourthPage()">Previous</button>
								<button class="btn btn-primary btn-lg" type="button" ng-click="fourthPageSubmit()">Submit</button>
							</div>
						</div>	
								
						</form>
			</div>
		</uib-tab>
	</uib-tabset>
	
</div>
	
	
	
			<!--section class="content">
               <div class="row">
			   <div class="btn-group" style="float: right;">
                             <a href="#/courses/manageclasses/{{trainingCode}}">
                                 <h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Manage Classes</h4>
                              </a> 
                           </div>
			   
                 <div class="col-sm-12 col-md-12">
                     <div class="panel panel-bd" style="margin-top: 27px;">
                        <div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
                           <div class="btn-group">
                             
                           </div>
						   
						   
						 
						   
						    <md-tabs  md-selected="selectedTab"  md-dynamic-height md-border-bottom>
							
							 <md-tab label="Course">
							 		<md-content class="md-padding">
					
								<fieldset>
									   <div class="formcent">
										<div class="form-bottom">
											<div class="form-group">
												<div class="row formRow">
												 <label class="col-md-3 control-label" for="textinput">Course Name :</label>  
												  <div class="col-md-9">
												  <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="elearningData.course_name">
												  </div>
												</div>
											</div>
											
											
								
								 <div class="form-group">
									<div class="row formRow">
									
									 <label class="col-md-3 control-label" for="textinput">Description/Objective : </label>  
									  <div class="col-md-9">
										<trix-editor angular-trix ng-model="elearningData.course_description" class="trix-content"></trix-editor>
									  </div>
									</div>
								</div>
								<div class="form-group">
									<div class="row formRow">
									
									 <label class="col-md-3 control-label" for="textinput">Categories :</label>  
									  <div class="col-md-9">
											<ui-select multiple tagging="tagTransformCategories" ng-model="multiple.SelectedCategoryName" theme="bootstrap" ng-disabled="disabled"  title="Choose a Category">
												<ui-select-match placeholder="Select Training Category...">{{$item.category_name}}</ui-select-match>
											<ui-select-choices repeat="title.training_category_id as title in categories" >
												<div ng-if="title.isTag" ng-bind-html="(title.category_name | highlight: $select.search)"></div>
												<div ng-if="!title.isTag" ng-bind-html="title.category_name + title.isTag| highlight: $select.search"></div>
											</ui-select-choices>
											</ui-select>
									
									  </div>
									</div>
								</div>
							
										
											
										   <div class="form-group" >
												<label class="col-md-3 control-label" for="textinput">Course Image :</label>  
												<img src="{{courseImageData}}" height="50" width="50">
														<input type="file" id="courseImage"  name="courseImage"  onchange ="angular.element(this).scope().courseImageFunc(this)"/>
											</div>
											
												<div class="form-group">
													<div class="row formRow">
													
													 <label class="col-md-3 control-label" for="textinput">Credits :</label>  
													  <div class="col-md-6">
													<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="elearningData.credit_value" >
													
													  </div>
													  <div class="col-md-3">
														<div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
														  <label>
														  <input type="radio" value="1" ng-model="elearningData.credit_show" name="course_showradio">Yes</label>
														  <label>
														  <input type="radio" value="0" ng-model="elearningData.credit_show" name="course_showradio">No</label>
														  <p>Visibilty</p>
														</div>
														
													  </div>
													  
													</div>
												</div>
												<div class="form-group">
													<div class="row formRow">
													
													 <label class="col-md-3 control-label" for="textinput">Points :</label>  
													  <div class="col-md-6">
													<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="elearningData.points" >
													
													  </div>
													  <div class="col-md-3">
														<div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
														  <label>
														  <input type="radio" value="1" ng-model="elearningData.point_show" name="point_showradio">Yes</label>
														  <label>
														  <input type="radio" value="0" ng-model="elearningData.point_show" name="point_showradio">No</label>
														  <p>Visibilty</p>
														</div>
														
													  </div>
													   
													</div>
												</div>
							
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Certificate :</label>  
								  <div class="col-md-9">
									<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="elearningData.certificate_template_id"> 
										
										<option value="">Please Select Certificate</option>
									  </select>
								  </div>
								  
								</div>
								
							</div>
							
							
							
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">ILT Assessment :</label>  
								  <div class="col-md-9">
								<select class="form-control" id="sel1" ng-model="elearningData.CourseSetting.itl_assessment_id"> 
									<option>ILT for Classroom</option>
									
								  </select>
								  </div>
								  
								</div>
							</div>
						
						
							<div class="form-group">
								<div class="row formRow">
								 <label class="col-md-3 control-label" for="textinput">Enrollment Type :</label>  
								  <div class="col-md-4">
								<select class="form-control" id="sel1" ng-model="enrollement_type">
									<option value="1">Supervisor Approved</option>
									<option value="2" >Self Enrolled</option>
								  </select>
								  </div>
								</div>
							</div>
							
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Unenrollment :</label>  
								  <div class="col-md-9 control-label">
									
									  <input type="checkbox" value="" ng-model="elearningData.CourseSetting.is_unenrollment">Learners can unenroll themselves
								
								  </div>
								  
								</div>
							</div>
							
							
							
							
							<div class="form-group">
								<div class="row formRow">
								<div class="col-md-3">
									<label class="control-label" for="textinput">Tags :</label>
									<p style="line-height:normal">Add Keywords which can be used to search for this courses</p>
								</div>							 
								  <div class="col-md-9">
									<ui-select multiple tagging="tagTransformTags" ng-model="elearningData.courseTags" theme="bootstrap" ng-disabled="disabled"  title="Choose a Tag">
									<ui-select-match placeholder="Enter Your Tags">{{$item.tags}}</ui-select-match>
									<ui-select-choices repeat="title.course_tag_id as title in tagArray" >
									<div ng-if="title.isTag" ng-bind-html="(title.tags | highlight: $select.search)"></div>
									<div ng-if="!title.isTag" ng-bind-html="title.tags + title.isTag| highlight: $select.search"></div>
									</ui-select-choices>
									</ui-select>
								  </div>
								  
								</div>
							</div>
							
							
											
											
							   
									                         
										<button type="button" class="btn" style="float:right;float: right;
										border: 1px solid;
										width: 75px;" ng-click="addCourseFirstData()">Next</button>
									</div>
								</div>
								</fieldset>
					
							</md-content>
							 </md-tab>
							 
							 <md-tab label="Optional">
							  <div class="col-md-12">
							  <div class="form-bottom">
                           
                            <div class="form-group">
								<div class="row">
									
																	
						<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

						

						  <collapsible-item item-title="Notifications" initially-open="False">
							<div class="row formRow">
									
								 <label class="col-md-3 control-label" for="textinput">Activity Notifications:</label>  
								
								 
								  <div class="col-md-9">
									
										<div class="btn-group" id="status" data-toggle="buttons">
										  <label>
										  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked" ng-change="showNoticationOption(1)" ng-model="showNotification" >Yes</label>
										  <label>
										  <input type="radio" value="0" name="multifeatured_module[module_id][status]" ng-change="showNoticationOption(0)" ng-model="showNotification" >No</label>
										</div>
										<br>
										
									</div>
								 
							</div>
									<div class="row formRow" ng-show="showNotification==1">
									<div class="col-md-6">
										<div class="panel panel-primary" style="border: 1px solid #000;">
										  <div class="panel-heading"><h5 style="font-weight:600">User Notifications</h5></div>
										  <div class="panel-body">
											<div class="formRow2" ng-repeat="notificationList in elearningData.notification" ng-if="notificationList.notificationType==3">
												<div class="col-md-6">
													<p style="font-size: 15px;font-weight:600;">{{notificationList.notification}}</p>
												</div>
												<div class="col-md-6">
													<div class="btn-group" id="status" data-toggle="buttons" style="float: right">
												  <label >
												  <input type="radio" value="1" ng-model="notificationList.checkNotification"  name="notification{{$index}}" >Yes</label>
												  <label >
												  <input type="radio" value="0" ng-model="notificationList.checkNotification" name="notification{{$index}}">No</label>
												</div>
												</div>
											</div>
											
												<br>
										  </div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="panel panel-primary" style="border: 1px solid #000;">
										  <div class="panel-heading"><h5 style="font-weight:600">Supervisor Notifications</h5></div>
										  <div class="panel-body">
											<div class="formRow2" ng-repeat="notificationList in elearningData.notification" ng-if="notificationList.notificationType==1"> 
												<div class="col-md-6">
													<p style="font-size: 15px;font-weight:600;">{{notificationList.notification}}</p>
												</div>
												<div class="col-md-6">
													<div class="btn-group" id="status" data-toggle="buttons" style="float: right">
												 <label >
												  <input type="radio" value="1" ng-model="notificationList.checkNotification"  name="notification{{$index}}">Yes</label>
												<label >
												  <input type="radio" value="0" ng-model="notificationList.checkNotification" name="notification{{$index}}">No</label>
												</div>
												</div>
											</div>
										  </div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="panel panel-primary" style="border: 1px solid #000;">
										  <div class="panel-heading"><h5 style="font-weight:600">Instructor Notifications</h5></div>
										  <div class="panel-body">
											<div class="formRow2" ng-repeat="notificationList in elearningData.notification" ng-if="notificationList.notificationType==2">
												<div class="col-md-6">
													<p style="font-size: 15px;font-weight:600;">{{notificationList.notification}}</p>
												</div>
												<div class="col-md-6">
													<div class="btn-group" id="status" data-toggle="buttons" style="float: right">
												  <label >
												  <input type="radio" value="1" ng-model="notificationList.checkNotification"  name="notification{{$index}}" >Yes</label>
												  <label>
												  <input type="radio" value="0" ng-model="notificationList.checkNotification" name="notification{{$index}}">No</label>
												</div>
												</div>
											</div>
											
																			
										  </div>
										</div>
									</div>
									</div>
								</div>
								
						  </collapsible-item>
						  
						  
						
						</ang-accordion>
						<div class="row">
						<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

							<collapsible-item item-title="Skills" initially-open="true">
								<div class="col-md-2">
								<label class="control-label" for="textinput">Course Skills:</label> 
								</div>
								<div class="col-md-10">
								<table class="table" ng-show="elearningData.courseSkill.length>0">
										<col width="330">
										<col width="100">
										<col width="100">
										<col width="80">
									<thead>
									  <tr>
										<th>Skills</th>
										<th>Level</th>
										<th>Credits</th>
										<th>Max.Credits</th>
										 <th>Action</th>
									  </tr>
									</thead>
									<tbody>
									  <tr style="border-bottom: 1px solid #e4e5e7;"  ng-repeat="userSkill in userAllSkills" >
										<td>
											<select class="form-control" id="sel1" ng-options="skillLisit.skill_id as skillLisit.skill_name for skillLisit in audioVideoData.skillarray" ng-model="userSkill.skill_id" ng-change="userSkillLevel($index)"> 
											   <option value="">Pick a Skill</option>
											</select>
										</td>
										<td><select class="form-control" id="sel1" ng-options="skillLevel.level_id as skillLevel.level_id for skillLevel in audioVideoData.skillarray[userSkill.skill_id].levels" ng-model="userSkill.level_id" ng-change="addSkillLevel($index)">
											  <option value="">Level</option>
											</select>
										</td>
										<td><input id="credit" type="text" class="form-control" placeholder="Credit" ng-keyup="checkCredit($index)" ng-model="userSkill.course_credit"></td>
										<td class="cntnb">{{userSkill.skill_level_credit}}</td>
										<td> 
											 <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="deletelevel(userSkill)" ><i class="fa fa-trash-o"></i> </button>
											 </td>
									  </tr>
														 
									</tbody>
								</table>
								<p ng-click="addMoreSkill()">+ Add Skill</p>
								</div>
							 </collapsible-item>
						</ang-accordion>	
						
					
						<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

							    <collapsible-item item-title="Target Audience" initially-open="False">
							   
							<div class="form-group">
								<div class="row formRow" style="border-bottom: 1px solid #ddd;padding-bottom:20px;">
								<div class="col-md-2">
								 <label class="control-label" for="textinput">Permissions :</label>
								<p style="line-height:normal">Can view in Catalog</p>	</div>							 
								  <div class="col-md-5">
								  <label class="control-label" for="textinput">Groups</label>
								  
								<ui-select multiple  ng-model="elearningData.groupAudienceTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group" style="    height: 60px;">
								<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
								<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
								<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
								</ui-select-choices>
								</ui-select>
									
								
								  </div>
								  <div class="col-md-5">
								  <label class="control-label" for="textinput">Users</label>
									<ui-select multiple ng-model="elearningData.userAudienceTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a User"  style="    height: 60px;">
										<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
										<ui-select-choices repeat="title.user_id as title in classroomAddData.allusers" >
										<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
										
									</ui-select-choices>
									</ui-select>
								
								  </div>
								  
								</div>
							</div>

							<div class="form-group">
								<div class="row formRow">
								<div class="col-md-2">
								 <p style="line-height:normal">Must have the following admin rights to edit:</p>	</div>							 
								  <div class="col-md-5">
								<ui-select multiple  ng-model="elearningData.groupEditTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group" style="    height: 60px;">
								<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
								<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
								<div  ng-bind-html="(title.group_name | highlight: $select.search)"></div>
								
								</ui-select-choices>
								</ui-select>
									
								  
								  </div>
								  <div class="col-md-5">
								  
								<ui-select multiple ng-model="elearningData.userEditTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a User"  style="    height: 60px;">
								<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
								<ui-select-choices repeat="user.user_id as user in classroomAddData.allusers" >
								<div ng-bind-html="(user.user_name | highlight: $select.search)"></div>
								
								</ui-select-choices>
								</ui-select>
									
								
								  </div>
								  
								</div>
							</div>
							
							 </collapsible-item>
						</ang-accordion>



							<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">
							    <collapsible-item item-title="Handouts" initially-open="False">
								   <input id="file-input" type="file" nv-file-select="" uploader="HandOut" multiple/>
                          
							   		<table class="table"  ng-show="HandOut.queue.length>0"> 
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="HandOut.isHTML5">Size</th>
                                <th ng-show="HandOut.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in HandOut.queue" > 
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="HandOut.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="HandOut.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="HandOut.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeHandoutQueue($index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
					
					
					
					<div class="handouts11 bs01 fl wp100 mb10" id="media_file_contener">
						<div style="margin: 0px;">
						<ul id="sortable" class="ui-sortable">
							<li class="ui-state-default" ng-repeat="handout in elearningData.handouts"><span>&nbsp;</span>
								<a class="file-title editable editable-click" data-type="text" data-pk="9606" data-title="Enter title" style="float: left;">{{handout.file_name}}</a>
								
								<a class="btn btn-primary btn-xs" href="{{handout.handout_path}}" download="{{handout.file_name}}" style="float: right;">Download File</a>
								
								 <a  style="margin-left:300px" class="btn btn-danger btn-xs" ng-click="removeHandOut(handout.handout_id,$index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </a>
									
								
							</li>
						</ul>
						</div>
					</div>
					
					
					
							 </collapsible-item>
							</ang-accordion>


								
						</div>	
								<div class="row formRow">
									 <label class="col-md-3 control-label" for="textinput">Status :</label>  
									  <div class="col-md-9">
										<select class="form-control" id="sel1" ng-model="elearningData.status_id"> 
											<option value="">Please Select Status</option>
											<option value="0">Drafted</option>
											<option value="1">Published</option>
									  </select>
									  </div>
								</div>
							</div>
							</div>
							<div style="float:right">
                            <button type="button" class="btn"  style="border: 1px solid;
								margin-right: 12px;
								margin-top: -3px;" ng-click="previousThirdPage()">Previous</button>
                             <button type="button" class="btn" style="float:right;float: right;
									border: 1px solid;
									width: 75px;" ng-click="finalSubmit()">Submit
							</button>
							</div>
						</div>
				 
							 </md-tab>
							</md-tabs>
						   
                        </div>
                        </div>
                        </div>
                        </div>
				    </section>	
    </div-->					