<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<breadcrumb-directive></breadcrumb-directive>
	</div>
</div>

<div class="content-wrapper wrapper wrapper-content tabs-container">

	<uib-tabset>
		<uib-tab heading="Courses">
			<div class="panel-body">
				<addactivites-directive></addactivites-directive>
			</div>
		</uib-tab>
		<uib-tab heading="Media Content">
			<div class="panel-body">
				<addcontent-directive></addcontent-directive>
			</div>
		</uib-tab>
		<uib-tab heading="Permissions">
			<div class="panel-body">
				<permissions-directive></permissions-directive>
			</div>
		</uib-tab>
		<uib-tab heading="Optional Items">
			<div class="panel-body">
				<optional-directive></optional-directive>
			</div>
		</uib-tab>
	</uib-tabset>

</div>
<div class="content-wrapper">
	<div id='preloader_popup' ng-show = "loader" >
		<img class="wp55" src='/user/assets/images/animatedEllipse2.gif' border='0' style="width:50px; left:700px; position:absolute; top:700px; z-index:2000;">
	</div>
	
			
			<!--section class="content">
               <div class="row">
                 <div class="col-sm-12 col-md-12">
                     <div class="panel panel-bd" style="margin-top: 27px;">
                        <div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);">
                           <div class="btn-group">
                             
                           </div>
						   
						   
						   
						   
						   
						    <md-tabs  md-selected="selectedTab"  md-dynamic-height md-border-bottom>
							 <md-tab label="Course">
							 		<md-content class="md-padding">
					
								<fieldset>
									   <div class="formcent">
										<div class="form-bottom">
											<div class="form-group">
												<div class="row formRow">
												 <label class="col-md-3 control-label" for="textinput">Course Name :</label>  
												  <div class="col-md-9">
												  <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="elearningData.course_name">
												  </div>
												</div>
											</div>
											
											
								<div class="form-group">
									<div class="row formRow">
									<label class="col-md-3 control-label" for="textinput">Course Title :</label>  
									  <div class="col-md-9">
									  <input id="textinput" name="textinput" type="text"  class="form-control input-md" ng-model="elearningData.course_title">
									  </div>
									</div>
								</div>
								 <div class="form-group">
									<div class="row formRow">
									
									 <label class="col-md-3 control-label" for="textinput">Description/Objective : </label>  
									  <div class="col-md-9">
										<trix-editor angular-trix ng-model="elearningData.course_description" class="trix-content"></trix-editor>
									  </div>
									</div>
								</div>
								<div class="form-group">
									<div class="row formRow">
									
									 <label class="col-md-3 control-label" for="textinput">Categories :</label>  
									  <div class="col-md-9">
											<ui-select multiple tagging="tagTransformCategories" ng-model="multiple.SelectedCategoryName" theme="bootstrap" ng-disabled="disabled"  title="Choose a Category">
												<ui-select-match placeholder="Select Training Category...">{{$item.category_name}}</ui-select-match>
											<ui-select-choices repeat="title.training_category_id as title in categories" >
												<div ng-if="title.isTag" ng-bind-html="(title.category_name | highlight: $select.search)"></div>
												<div ng-if="!title.isTag" ng-bind-html="title.category_name + title.isTag| highlight: $select.search"></div>
											</ui-select-choices>
											</ui-select>
									
									  </div>
									</div>
								</div>
							
										<div class="form-group">
										  <div class="row formRow">
											  <label class="col-md-3 control-label" for="textinput">Training Content :</label>  
											  <div class="col-md-9">
												<select id="" name="" class="form-control" type="text" ng-options="media.media_id as media.media_name for media in mediatrainigType.mediatypes" ng-model="elearningData.media_type_id">
												  <option value="">Select Training Content</option>
												  
												</select>
											  
											  </div>
											  </div>
											</div>
										
											
										   <div class="form-group" >
												<label class="col-md-3 control-label" for="textinput">Course Image :</label>  
												<img src="{{courseImageData}}" height="50" width="50">
														<input type="file" id="courseImage"  name="courseImage"  onchange ="angular.element(this).scope().courseImageFunc(this)"/>
											</div>
											
												<div class="form-group">
													<div class="row formRow">
													
													 <label class="col-md-3 control-label" for="textinput">Credits :</label>  
													  <div class="col-md-6">
													<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="elearningData.credit_value" >
													
													  </div>
													  
													</div>
												</div>
												<div class="form-group">
													<div class="row formRow">
													
													 <label class="col-md-3 control-label" for="textinput">Points :</label>  
													  <div class="col-md-6">
													<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="elearningData.points" >
													
													  </div>
													   
													</div>
												</div>
							
							<div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Certificate :</label>  
								  <div class="col-md-9">
									<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="elearningData.certificate_template_id"> 
										
										<option value="">Please Select Certificate</option>
									  </select>
								  </div>
								  
								</div>
								
							</div>
							
							<div class="form-group">
								<div class="row formRow">
								<div class="col-md-3">
									<label class="control-label" for="textinput">Tags :</label>
									<p style="line-height:normal">Add Keywords which can be used to search for this courses</p>
								</div>							 
								  <div class="col-md-9">
									<ui-select multiple tagging="tagTransformTags" ng-model="elearningData.courseTags" theme="bootstrap" ng-disabled="disabled"  title="Choose a Tag">
									<ui-select-match placeholder="Enter Your Tags">{{$item.tags}}</ui-select-match>
									<ui-select-choices repeat="title.course_tag_id as title in tagArray" >
									<div ng-if="title.isTag" ng-bind-html="(title.tags | highlight: $select.search)"></div>
									<div ng-if="!title.isTag" ng-bind-html="title.tags + title.isTag| highlight: $select.search"></div>
									</ui-select-choices>
									</ui-select>
								  </div>
								  
								</div>
							</div>
							
							
											
											
							                            
										<button type="button" class="btn" style="float:right;float: right;
										border: 1px solid;
										width: 75px;" ng-click="addCourseFirstData()">Next</button>
									</div>
								</div>
								</fieldset>
					
							</md-content>
							 </md-tab>
							 <md-tab label="Media">
							  
					<fieldset>
                     
                        <div class="form-bottom" ng-show="elearningData.media_type_id!=10 && elearningData.media_type_id!=5">
						<p>Please upload {{uploadType}} files </p>
                            <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
                     <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab">Upload Video</a></li>
                        <li><a data-toggle="tab">Media Library</a></li>
                     </ul>
                     <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                           <div class="panel-body">
                              <h4 style="text-align:center; color: #454cad; font-weight">File Upload Here</h4>
                            <div class="form-group uploader">
								 <div class="image-upload">
										<label for="file-input">
											<img src="../user/assets/images/drag.png"/>
										</label>

										<input id="file-input" type="file" nv-file-select="" uploader="uploader" multiple/>
									</div>
									<div id="start">
									
									  <div style="text-align:center">Drag File Here</div>
									  <div id="notimage" class="hidden">Please select an image</div>
									
									</div>
									<div id="response" class="hidden">
									  <div id="messages"></div>
									  <progress class="progress" id="file-progress" value="0">
										<span>0</span>%
									  </progress>
									</div>
								  </label>
							</div>
								
                           </div>
                        </div>
						
						
						<table class="table"  ng-show=" uploader.queue.length>0"> 
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue" > 
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                   
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeQueue($index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
					
					
						
                        <div class="tab-pane fade" id="tab2">
                           <div class="panel-body">
                             <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                 <thead>
                                    <tr class="info">
                                       <th></th>
                                       <th>Filename</th>
                                       <th>Format</th>
                                       <th>File Size</th>
                                       <th>Date Added</th>
                                      
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><input id="checkBox" type="checkbox"></td>
                                       <td>WildLife</td>
                                       <td>.wmv</td>
									   <td>25 MB</td>
                                       <td>03/02/2018</td>
                                       
                                        <td>
                                          <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1"><i class="fa fa-eye"></i></button>
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-arrow-down"></i> </button>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>  					
             </div>
         </div>
						
						
					<div ng-show="elearningData.media_type_id==10">
						 <div class="widget-content mt10 mb20">
							   <input type="text" class="form-control" placeholder="Add Link Url" name="embededcode" ng-model="embededcode"/>
						 </div>
					</div>
					
					
					<div ng-show="elearningData.media_type_id==3 || elearningData.media_type_id==11">
						<div class="widget-content mt10 mb20">
							   
								
								<div id ="pass_score" class="title-box wp100 fl">
									<div class="wp40 ml10 mr10 fl">
										<span class="class-title wp40 fs13 fta fc03 b mb04 fl">Passing Score:</span>
										<span class="wp40 mr20">
										<input id="passing_score" name="passing_score" style=" border: 1px solid #ccc;margin-bottom: 10px;" type="text" />
										</span>
									</div>
									<div class="wp40 ml20 mr10 fl" id="aiccssl" ng-show="elearningData.media_type_id==11">
										<span class="class-title wp40 fs13 fta fc03 b mb04 fl">SSL for AICC:</span>
										<span class="wp15 ml10"><input type="radio" name="is_lib" value="2"> ON</span>
										<span class="wp15 ml10"><input type="radio" name="is_lib" value="0" checked> OFF</span>
									</div>
								</div>
							</div>
					</div>
						<div ng-show="elearningData.media_type_id==5 ">
							<div class="widget-content mt10 mb20">
								<div id ="pass_score" class="title-box wp100 fl">
									<div class="wp100 fl">
										<span class="class-title wp40 fs13 fta fc03 b mb04 fl">Title:</span>
										<div class="widget-content mt10 mb20">
										   <input type="text" class="form-control" placeholder="" ng-model="embededcodeTitle">
										</div>
									 
									 <span class="class-title wp40 fs13 fta fc03 b mb04 fl">Embedded Code:</span>
										<div class="widget-content mt10 mb20">
											<trix-editor angular-trix ng-model="descem" class="trix-content"></trix-editor>
										</div>
									</div>
									
								</div>
							</div>
					</div>
					
					<span ng-show="elearningData.media_type_id!=5 && elearningData.media_type_id!=7 && elearningData.media_type_id!=10">
					<div class="handouts11 bs01 fl wp100 mb10" id="media_file_contener">
						<div style="margin: 0px;"><ul id="sortable" class="ui-sortable">
							<li class="ui-state-default"><span>&nbsp;</span>
								<a class="file-title editable editable-click" data-type="text" data-pk="9606" data-title="Enter title" style="float: left;">{{elearningData.media.media_title}}</a>
								<a href="{{elearningData.media.file_path}}" download="{{elearningData.media.file_name}}" style="float: right;">Download File</a>
							</li>
						</ul>
						</div>
					</div>
				</span>
				
				<span ng-show="elearningData.media_type_id==10">
				<div class="handouts11 bs01 fl wp100 mb10" id="media_file_contener">
						<div style="margin: 0px;"><ul id="sortable" class="ui-sortable">
							<li class="ui-state-default"><span>&nbsp;</span>
								<a class="file-title editable editable-click" data-type="text" data-pk="9606" data-title="Enter title" style="float: left;">{{elearningData.media.url}}</a>
								
							</li>
						</ul>
						</div>
					</div>
				</span>
						
						<div style="float:right" ng-show="elearningData.media_type_id!=5">
                            <button type="button" class="btn" style="border: 1px solid;margin-right: 12px;
								margin-top: -3px;" ng-click="previousFirst()">Previous</button>
                             <button type="button" class="btn" style="float:right;float: right;
								border: 1px solid;
								width: 75px;" ng-click="nextFile()">Next</button>
						</div>
						 
					<div style="float:right" ng-show="elearningData.media_type_id==5">
                    <button type="button" class="btn" style="border: 1px solid;margin-right: 12px;
								margin-top: -3px;" ng-click="previousFirst()">Previous</button>
                    <button type="button" class="btn" style="float:right;float: right;border: 1px solid;width: 75px;" ng-click="saveEmbededCode()">Next</button>
					</div>
					
                    </fieldset>
					 
							 
							 </md-tab>
							 <md-tab label="Optional">
							  <div class="col-md-12">
							  <div class="form-bottom">
                           
                            <div class="form-group">
								<div class="row">
									
																	
						<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

						

						  <collapsible-item item-title="Notifications" initially-open="False">
							<div class="row formRow">
									
								 <label class="col-md-3 control-label" for="textinput">Activity Notifications:</label>  
								
								 
								  <div class="col-md-9">
									
										<div class="btn-group" id="status" data-toggle="buttons">
										  <label>
										  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked" ng-change="showNoticationOption(1)" ng-model="showNotification" >Yes</label>
										  <label>
										  <input type="radio" value="0" name="multifeatured_module[module_id][status]" ng-change="showNoticationOption(0)" ng-model="showNotification" >No</label>
										</div>
										<br>
										
									</div>
								 
							</div>
									<div class="row formRow" ng-show="showNotification==1">
									<div class="col-md-6">
										<div class="panel panel-primary" style="border: 1px solid #000;">
										  <div class="panel-heading"><h5 style="font-weight:600">User Notifications</h5></div>
										  <div class="panel-body">
											<div class="formRow2" ng-repeat="notificationList in elearningData.notification" ng-if="notificationList.notificationType==3">
												<div class="col-md-6">
													<p style="font-size: 15px;font-weight:600;">{{notificationList.notification}}</p>
												</div>
												<div class="col-md-6">
													<div class="btn-group" id="status" data-toggle="buttons" style="float: right">
												  <label >
												  <input type="radio" value="1" ng-model="notificationList.checkNotification"  name="notification{{$index}}" >Yes</label>
												  <label >
												  <input type="radio" value="0" ng-model="notificationList.checkNotification" name="notification{{$index}}">No</label>
												</div>
												</div>
											</div>
											
												<br>
										  </div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="panel panel-primary" style="border: 1px solid #000;">
										  <div class="panel-heading"><h5 style="font-weight:600">Supervisor Notifications</h5></div>
										  <div class="panel-body">
											<div class="formRow2" ng-repeat="notificationList in elearningData.notification" ng-if="notificationList.notificationType==1"> 
												<div class="col-md-6">
													<p style="font-size: 15px;font-weight:600;">{{notificationList.notification}}</p>
												</div>
												<div class="col-md-6">
													<div class="btn-group" id="status" data-toggle="buttons" style="float: right">
												 <label >
												  <input type="radio" value="1" ng-model="notificationList.checkNotification"  name="notification{{$index}}">Yes</label>
												<label >
												  <input type="radio" value="0" ng-model="notificationList.checkNotification" name="notification{{$index}}">No</label>
												</div>
												</div>
											</div>
										  </div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="panel panel-primary" style="border: 1px solid #000;">
										  <div class="panel-heading"><h5 style="font-weight:600">Instructor Notifications</h5></div>
										  <div class="panel-body">
											<div class="formRow2" ng-repeat="notificationList in elearningData.notification" ng-if="notificationList.notificationType==2">
												<div class="col-md-6">
													<p style="font-size: 15px;font-weight:600;">{{notificationList.notification}}</p>
												</div>
												<div class="col-md-6">
													<div class="btn-group" id="status" data-toggle="buttons" style="float: right">
												  <label >
												  <input type="radio" value="1" ng-model="notificationList.checkNotification"  name="notification{{$index}}" >Yes</label>
												  <label>
												  <input type="radio" value="0" ng-model="notificationList.checkNotification" name="notification{{$index}}">No</label>
												</div>
												</div>
											</div>
											
																			
										  </div>
										</div>
									</div>
									</div>
								</div>
								
						  </collapsible-item>
						  
						  
						
						</ang-accordion>
						<div class="row">
						<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

							<collapsible-item item-title="Skills" initially-open="true">
								<div class="col-md-2">
								<label class="control-label" for="textinput">Course Skills:</label> 
								</div>
								<div class="col-md-10">
								<table class="table" ng-show="elearningData.courseSkill.length>0">
										<col width="330">
										<col width="100">
										<col width="100">
										<col width="80">
									<thead>
									  <tr>
										<th>Skills</th>
										<th>Level</th>
										<th>Credits</th>
										<th>Max.Credits</th>
										 <th>Action</th>
									  </tr>
									</thead>
									<tbody>
									  <tr style="border-bottom: 1px solid #e4e5e7;"  ng-repeat="userSkill in userAllSkills" >
										<td>
											<select class="form-control" id="sel1" ng-options="skillLisit.skill_id as skillLisit.skill_name for skillLisit in audioVideoData.skillarray" ng-model="userSkill.skill_id" ng-change="userSkillLevel($index)"> 
											   <option value="">Pick a Skill</option>
											</select>
										</td>
										<td><select class="form-control" id="sel1" ng-options="skillLevel.level_id as skillLevel.level_id for skillLevel in audioVideoData.skillarray[userSkill.skill_id].levels" ng-model="userSkill.level_id" ng-change="addSkillLevel($index)">
											  <option value="">Level</option>
											</select>
										</td>
										<td><input id="credit" type="text" class="form-control" placeholder="Credit" ng-keyup="checkCredit($index)" ng-model="userSkill.course_credit"></td>
										<td class="cntnb">{{userSkill.skill_level_credit}}</td>
										<td> 
											 <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="deletelevel(userSkill)" ><i class="fa fa-trash-o"></i> </button>
											 </td>
									  </tr>
														 
									</tbody>
								</table>
								<p ng-click="addMoreSkill()">+ Add Skill</p>
								</div>
							 </collapsible-item>
						</ang-accordion>	
						
					
						<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

							    <collapsible-item item-title="Target Audience" initially-open="False">
							   
							<div class="form-group">
								<div class="row formRow" style="border-bottom: 1px solid #ddd;padding-bottom:20px;">
								<div class="col-md-2">
								 <label class="control-label" for="textinput">Permissions :</label>
								<p style="line-height:normal">Can view in Catalog</p>	</div>							 
								  <div class="col-md-5">
								  <label class="control-label" for="textinput">Groups</label>
								  
								<ui-select multiple  ng-model="elearningData.groupAudienceTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group" style="    height: 60px;">
								<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
								<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
								<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
								</ui-select-choices>
								</ui-select>
									
								
								  </div>
								  <div class="col-md-5">
								  <label class="control-label" for="textinput">Users</label>
									<ui-select multiple ng-model="elearningData.userAudienceTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a User"  style="    height: 60px;">
										<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
										<ui-select-choices repeat="title.user_id as title in classroomAddData.allusers" >
										<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
										
									</ui-select-choices>
									</ui-select>
								
								  </div>
								  
								</div>
							</div>

							<div class="form-group">
								<div class="row formRow">
								<div class="col-md-2">
								 <p style="line-height:normal">Must have the following admin rights to edit:</p>	</div>							 
								  <div class="col-md-5">
								<ui-select multiple  ng-model="elearningData.groupEditTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group" style="    height: 60px;">
								<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
								<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
								<div  ng-bind-html="(title.group_name | highlight: $select.search)"></div>
								
								</ui-select-choices>
								</ui-select>
									
								  
								  </div>
								  <div class="col-md-5">
								  
								<ui-select multiple ng-model="elearningData.userEditTag" theme="bootstrap" ng-disabled="disabled"  title="Choose a User"  style="    height: 60px;">
								<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
								<ui-select-choices repeat="user.user_id as user in classroomAddData.allusers" >
								<div ng-bind-html="(user.user_name | highlight: $select.search)"></div>
								
								</ui-select-choices>
								</ui-select>
									
								
								  </div>
								  
								</div>
							</div>
							
							 </collapsible-item>
						</ang-accordion>



							<ang-accordion one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">
							    <collapsible-item item-title="Handouts" initially-open="False">
								   <input id="file-input" type="file" nv-file-select="" uploader="HandOut" multiple/>
                          
							   		<table class="table"  ng-show="HandOut.queue.length>0"> 
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="HandOut.isHTML5">Size</th>
                                <th ng-show="HandOut.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in HandOut.queue" > 
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="HandOut.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="HandOut.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="HandOut.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeHandoutQueue($index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
					
					
					
					<div class="handouts11 bs01 fl wp100 mb10" id="media_file_contener">
						<div style="margin: 0px;">
						<ul id="sortable" class="ui-sortable">
							<li class="ui-state-default" ng-repeat="handout in elearningData.handouts"><span>&nbsp;</span>
								<a class="file-title editable editable-click" data-type="text" data-pk="9606" data-title="Enter title" style="float: left;">{{handout.file_name}}</a>
								
								<a class="btn btn-primary btn-xs" href="{{handout.handout_path}}" download="{{handout.file_name}}" style="float: right;">Download File</a>
								
								 <a  style="margin-left:300px" class="btn btn-danger btn-xs" ng-click="removeHandOut(handout.handout_id,$index)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </a>
									
								
							</li>
						</ul>
						</div>
					</div>
					
					
					
							 </collapsible-item>
							</ang-accordion>


								
						</div>	
								<div class="row formRow">
									 <label class="col-md-3 control-label" for="textinput">Status :</label>  
									  <div class="col-md-9">
										<select class="form-control" id="sel1" ng-model="elearningData.status_id"> 
											<option value="">Please Select Status</option>
											<option value="0">Drafted</option>
											<option value="1">Published</option>
									  </select>
									  </div>
								</div>
							</div>
							</div>
							<div style="float:right">
                            <button type="button" class="btn"  style="border: 1px solid;
								margin-right: 12px;
								margin-top: -3px;" ng-click="previousThirdPage()">Previous</button>
                             <button type="button" class="btn" style="float:right;float: right;
									border: 1px solid;
									width: 75px;" ng-click="finalSubmit()">Submit
							</button>
							</div>
						</div>
				 
							 </md-tab>
							</md-tabs>
						   
                        </div>
                        </div>
                        </div>
                        </div>
				    </section>	
    </div-->					