<style>
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #d6d6d6;
    border-color: #000;
	.content-header .header-icon {
    font-size: 48px;
    color: #313131;
    width: 68px;
    float: left;
    margin-top: 10px;
    line-height: 0;
	
.panel-margin{
	margin-top: 45px;
    margin-bottom: 45px;
}

</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Virtual Classroom/Classroom</h2>
		<ol class="breadcrumb">
			<li>
				<a href="#">Home</a>
			</li>
		    <li><a href="#/courses/index">Course</a></li>
		    <li class="active">Classroom Courses</li>
		</ol>
	</div>
</div>

<div class="content-wrapper">
	
		<section class="content">
            <div class="row">
                  <!-- Projects time -->
                <div class="col-sm-12 col-md-12">
                    <div class="panel panel-bd" style="    margin-top: 27px;">
                        <div class="panel-heading" style="background: linear-gradient(to bottom, #eeeeee 0%,#e6e6e6 100%);height: 35px;">
                           <div class="btn-group">
                            
                           </div>
						    <div class="btn-group" style="float: right;">
                              <a href="#/courses/addclasses/{{trainingCode}}">
                                 <h4><i class="fa fa-id-card-o" aria-hidden="true"></i> Add Classes</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body" style="border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;   border-right: 1px solid #bbb;">
                       
								<div class="row">
									
										
									<div class="col-md-12 form-box">
										
										<div ng-cloak>
											  <md-content>
												<md-tabs md-dynamic-height md-border-bottom>
												  <md-tab label="Upcoming Classes">
													<md-content class="md-padding">
													 <div class="wp100 fl border">
										<div >
											<table datatable="ng" class="row-border hover">
											<thead>
											<tr>
												
												<th>Class ID</th>
												<th>Start Date/Time</th>
												<th># of Sessions</th>
												<th>Seats</th>
												<th>Delivery Type</th>
												<th>Status</th>
												<th>Actions</th>
												<!-- <th>Preview</th> -->
											</tr>
											</thead>
											 <tbody>
											<tr ng-repeat="classes in courseClasses.courseClassesRemain">
												<td>{{ classes.class_id }}</td>
												<td>{{ classes.start_date_class }}</td>
												<td>{{ classes.session_schedule_update | noOfSession}}</td>
												<td>{{ classes.maximum_seat }}</td>
												<td ng-if="classes.delivery_type_id==2">Classroom</td>
												<td ng-if="classes.delivery_type_id==3">Virtual Classroom</td>
												
												<td ng-if="classes.status_id==0">Drafted</td>
												
												
												<td ng-if="classes.status_id==1">Published</td>
												
												
												<td ng-if="classes.status_id==2">Saved</td>
												<td>
												<span class="fl">
												<a class="setCookie" href="#/courses/editclass/{{classes.class_id}}"><div class="button_lblue_r4 hand mr10">Edit<span>»</span></div></a>
												<a class="delete_classroomsession button_lblue_r4 hand" ng-click="deleteClass(classes.class_id)"> Delete</a>
												</span>
												</td>
											</tr>
											</tbody>
		
											
										</table>
									</div>
							</div>
													</md-content>
												  </md-tab>
												
												  <md-tab label="Past Classes">
													<md-content class="md-padding">
													  <div class="wp100 fl border">
										<div >
											<table datatable="ng" class="row-border hover">
											<thead>
											<tr>
												<th>Class ID</th>
												<th>Start Date/Time</th>
												<th># of Sessions</th>
												<th>Seats</th>
												<th>Delivery Type</th>
												<th>Status</th>
												<th>Actions</th>
												<!-- <th>Preview</th> -->
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="classes in courseClasses.courseClassesPast">
												<td>{{ classes.class_id }}</td>
												<td>{{ classes.start_date_class }}</td>
												<td>{{ classes.session_schedule_update | noOfSession}}</td>
												<td>{{ classes.maximum_seat }}</td>
												<td ng-if="classes.delivery_type_id==1">Classroom</td>
												<td ng-if="classes.delivery_type_id==2">Virtual Classroom</td>
												
												<td ng-if="classes.status_id==0">Drafted</td>
												
												
												<td ng-if="classes.status_id==1">Published</td>
												
												
												<td ng-if="classes.status_id==2">Saved</td>
												
												<td>
												<span class="fl">
												<a class="setCookie" href="#/courses/editclass/{{classes.class_id}}"><div class="button_lblue_r4 hand mr10">Edit<span>»</span></div></a>
												<a class="delete_classroomsession button_lblue_r4 hand" ng-click="deleteClass(classes.class_id)"> Delete</a>
												</span>
												</td>
											</tr>
											</tbody>
											
										</table>
									</div>
							</div>
													</md-content>
												  </md-tab>
												</md-tabs>
											  </md-content>
											</div>  
											
											
											
									</div>
								</div>
						</div>
							
					</div>
				</div>
			</div>
		</section>
</div>


