
 <div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Optional Items</h5>
			</div>
			<div class="ibox-content">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);" >
						
						 <div class="form-group">
							<label class="col-sm-3 control-label">Course Skills:</label>  
							<div class="col-sm-9">
								<table class="table" ng-show="userAllSkills.length>0">
									<thead>
									  <tr>
										<th>Skills</th>
										<th>Level</th>
										<th>Credits</th>
										<th>Max.Credits</th>
										<th>Action</th>
									  </tr>
									</thead>
									<tbody>
									  <tr style="border-bottom: 1px solid #e4e5e7;"  ng-repeat="userSkill in userAllSkills" ng-init="paranetIndex=index">
										<td>
											<select class="form-control" id="sel1" ng-options="skillLisit.skill_id as skillLisit.skill_name for skillLisit in audioVideoData.skillarray" ng-model="userSkill.courseSkill" ng-change="userSkillLevel($index)"> 
											   <option value="">Pick a Skill</option>
											</select>
										</td>
										<td>
											<select class="form-control" id="sel1" ng-options="skillLevel.level_id as skillLevel.level_id for skillLevel in audioVideoData.skillarray[userSkill.courseSkill].levels" ng-model="userSkill.courseSkillLevels" ng-change="addSkillLevel($index)">
											  <option value="">Level</option>
											</select>
										</td>
										<td><input id="credit" type="text" class="form-control" placeholder="Credit" ng-keyup="checkCredit($index)" ng-model="userSkill.creditValue"></td>
										<td class="cntnb">{{userSkill.skillLevelCredit}}</td>
										<td> 
											 <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="deletelevel($index)" ><i class="fa fa-trash-o"></i> </button>
											 </td>
									  </tr>
														 
									</tbody>
								</table>
								<p ng-click="addMoreSkill()" class="btn btn-white btn-sm">+ Add Skill</p>
							</div>
						</div>
					   
					    
					   
					   

						
						
						<div class="col-md-12"> 
							<div class="hr-line-dashed" style="clear: both;"></div>
					   </div>
					   
					   
					   <div class="form-group">
							<label class="col-sm-3 control-label">Handouts:</label>  
							<div class="col-sm-9">
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<span class="btn btn-default btn-file">
									<span class="fileinput-new">Select file</span>
									<span class="fileinput-exists">Select file</span>
									<input id="file-input" type="file" nv-file-select="" uploader="HandOut" multiple></span>
								</div>
								
                          
					<table class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded"  ng-show="HandOut.queue.length>0"> 
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="HandOut.isHTML5">Size</th>
                                <th ng-show="HandOut.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in HandOut.queue" > 
                                <td class="span_align">
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <span ng-show="HandOut.isHTML5" ng-thumb="{ file: item._file, height: 25 }"></span>
									<span>{{ item.file.name }}</span>
                                    <!--fixed width and height -->
                                    <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="HandOut.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="HandOut.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button> -->
                                   <!--  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button> -->
                                    <button type="button" class="mb00 btn btn-outline btn-danger btn-xs" ng-click="removeHandoutQueue($index)">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
							</div>
						</div>
					   	
						
						<div class="col-md-12"> 
							<div class="hr-line-dashed" style="clear: both;"></div>
					   </div>
					   
					   
					    <div class="form-group">
							<label class="col-sm-3 control-label">Status :</label>  
							<div class="col-sm-9">
								<select class="form-control" id="sel1" ng-model="status"> 
									<option value="">Please Select Status</option>
									<option value="0">Draft</option>
									<option value="1">Published</option>
								  </select>
							</div>
						</div>
						
						<div class="col-md-12"> 
							<div class="hr-line-dashed" style="clear: both;"></div>
					   </div>
					   <div class="row">
							<div class="col-sm-12 text-right">
								<button class="btn btn-white btn-lg" type="button" ng-click="previousfourthPage()">Previous</button>
								<button class="btn btn-primary btn-lg" type="button" ng-click="finalSubmit()">Submit</button>
								
								 <!--button type="button" class="btn"  style="border: 1px solid;margin-right: 12px;margin-top: -3px;" ng-click="previousThirdPage()">Previous</button>
                             <button type="button" class="btn" style="float:right;float: right;border: 1px solid;width: 75px;" ng-click="finalSubmit()">Submit</button-->
							</div>
						</div>	
					
					<div class="form-bottom">
                         
							<div style="float:right">
                           
							</div>
						</div>
				 
					
					
						 
				</form>
			</div>
		</div>
	</div>
</div>
	
	