
 <div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Permissions</h5>
			</div>
			<div class="ibox-content">
				<form role="form" class="form-horizontal registration-form" action="javascript:void(0);" >
						<div class="form-group">
							<label class="col-sm-12 control-label" style="text-align: left;"> Can view in Catalog</label>  
							<div class="col-sm-9"></div>
						</div>
					 
						<div class="form-group">
							<label class="col-sm-3 control-label">Groups</label>  
							<div class="col-sm-9">
									<ui-select multiple  ng-model="multiple.selectedGroup" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group">
									<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
									<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
									<div ng-bind-html="(title.group_name | highlight: $select.search)"></div>
									<!-- <div ng-if="!title.isTag" ng-bind-html="title.group_name + title.isTag| highlight: $select.search"></div> -->
									</ui-select-choices>
									</ui-select>
							</div>
						</div>
					 
					 <div class="form-group">
							<label class="col-sm-3 control-label">Users</label>  
							<div class="col-sm-9">
									<ui-select multiple ng-model="multiple.selectedUserName1" theme="bootstrap" ng-disabled="disabled"  title="Choose a User">
									<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
									<ui-select-choices repeat="title.user_id as title in classroomAddData.allusers" >
									<div  ng-bind-html="(title.user_name | highlight: $select.search)"></div>
									</ui-select-choices>
								</ui-select>
								
							</div>
					 </div>
					 
						<div class="col-md-12"> 
							<div class="hr-line-dashed" style="clear: both;"></div>
					   </div>
					 
					 <div class="form-group">
							<label class="col-sm-12 control-label text-left"  style="text-align: left;">Must have the following admin rights to edit:</label>  
							<div class="col-sm-9"></div>
						</div>
					 
					 <div class="form-group">
							<label class="col-sm-3 control-label">Groups</label>  
							<div class="col-sm-9">
									<ui-select multiple ng-model="multiple.selectedGroupName2" theme="bootstrap" ng-disabled="disabled"  title="Choose a Group">
									<ui-select-match placeholder="Choose a Group">{{$item.group_name}}</ui-select-match>
									<ui-select-choices repeat="title.group_id as title in classroomAddData.allgroup" >
									<div  ng-bind-html="(title.group_name | highlight: $select.search)"></div>
									</ui-select-choices>
									</ui-select>
							</div>
						</div>
					 
					 <div class="form-group">
							<label class="col-sm-3 control-label">Users</label>  
							<div class="col-sm-9">
									<ui-select multiple ng-model="multiple.selectedUserName2" theme="bootstrap" ng-disabled="disabled"  title="Choose a User">
								<ui-select-match placeholder="Choose a User">{{$item.user_name}}</ui-select-match>
								<ui-select-choices repeat="user.user_id as user in classroomAddData.allusers" >
								<div ng-bind-html="(user.user_name | highlight: $select.search)"></div>
								
								</ui-select-choices>
								</ui-select>
								
							</div>
					 </div>
					 
					 
					 
					  <div class="col-md-12"> 
							<div class="hr-line-dashed" style="clear: both;"></div>
					   </div>
						
						
						
					   <div class="row text-right">
							<div class="col-sm-12">
								<button class="btn btn-white btn-lg" type="button" ng-click="previousThirdPage()">Previous</button>
								<button class="btn btn-primary btn-lg" type="button" ng-click="optionalpage()">Next</button>
								
								 <!--button type="button" class="btn"  style="border: 1px solid;margin-right: 12px;margin-top: -3px;" ng-click="previousThirdPage()">Previous</button>
                             <button type="button" class="btn" style="float:right;float: right;border: 1px solid;width: 75px;" ng-click="finalSubmit()">Submit</button-->
							</div>
						</div>	
					
					<div class="form-bottom">
                         
							<div style="float:right">
                           
							</div>
						</div>
				 
					
					
						 
				</form>
			</div>
		</div>
	</div>
</div>
	
	