<script type="text/javascript">
	tinyMCE.init({
	
		// General options
		mode : "textareas",
		elements: "short_desc,desc_text",
		theme : "advanced",
		width:"100%",
		height: 200,		
		plugins : "jbimages,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontsizeselect,formatselect,fontselect,preview,code,",
		theme_advanced_buttons2 : "pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,image,jbimages,",
		theme_advanced_buttons3 : "",
		
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		content_css : "/public/js/tinmca/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "/public/js/tinmca/lists/template_list.js",
		external_link_list_url : "/public/js/tinmca/lists/link_list.js",
		external_image_list_url : "/public/js/tinmca/lists/image_list.js",
		media_external_list_url : "/public/js/tinmca/lists/media_list.js",
		
		extended_valid_elements: "iframe[src|width|height|name|align], embed[width|height|name|flashvars|src|bgcolor|align|play|loop|quality|allowscriptaccess|type|pluginspage]",
		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],
		relative_urls : false,
		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
	
</script>
                       <div class="formcent">
                        <div class="form-bottom">
                            
                          <!--  <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">ID# :</label>  
								  <div class="col-md-6">
								<input id="textinput" name="textinput" type="text" placeholder="Enter ID#..." class="form-control input-md">
								<p>The ID # can be any value that uniquely identifies this Activity.
</p>
								  </div>
								   <div class="col-md-3">
									 <button type="button" class="btn btn-next" style="float:right;float: right;
							border: 1px solid;
							width: 100px;">Generate</button>
								  </div>
								</div>
							</div> -->
							<!-- <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Credits :</label>  
								  <div class="col-md-6">
								<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="credit_value" ng-init="credit_value=0">
								
								  </div>
								   <div class="col-md-3">
									<div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
									  <label class="btn btn-default btn-on btn-xs  active ">
									  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Yes</label>
									  <label class="btn btn-default btn-off btn-xs">
									  <input type="radio" value="0" name="multifeatured_module[module_id][status]">No</label>
									</div>
								  </div>
								</div>
							</div> -->
							<!-- <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Points :</label>  
								  <div class="col-md-6">
								<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="points" ng-init="points=0">
								
								  </div>
								   <div class="col-md-3">
									<div class="btn-group" id="status" data-toggle="buttons" style="float:right;">
									  <label class="btn btn-default btn-on btn-xs">
									  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Yes</label>
									  <label class="btn btn-default btn-off btn-xs  active ">
									  <input type="radio" value="0" name="multifeatured_module[module_id][status]">No</label>
									</div>
								  </div>
								</div>
							</div> -->
							
				<!-- 		<div class="bs01 wp100 mt15 fl">
								<div class="avg_bg fl wp100 pl15">
									<div id="addskill">
										<a class="hand button_lblue_r4 mr05 mt05" style="float:right; padding: 5px 10px;" ng-click="addMoreSkill()">+ Add</a>
									</div>
									<h5><b>Course Skills</b></h5>
								</div>
								<div class="table-responsive p15">
								  <table id="dataTableExample1" class="table table-bordered table-striped table-hover" style="margin-bottom: 0;">
									 <thead>
										<tr class="info">
										   <th>Skill</th>
										   <th>Level</th>
										   <th>Credits</th>
										   <th>Max. Credits</th>
										   <th>Action</th>
										</tr>
									 </thead>
									 <tbody >
										 <tr id="trskill"  ng-repeat="userSkill in userAllSkills" ng-init="paranetIndex=index"> 
											 <td>
												 <div class=""> 
												 <select class="skill form-control" ng-options="skillLisit.skill_id as skillLisit.skill_name for skillLisit in audioVideoData.skillarray" ng-model="userSkill.courseSkill" ng-change="userSkillLevel($index)" ng-init="userSkill.courseSkillLevels=''">
												 <option value="">Pick a Skill</option>
												 </select>
												 </div> 
											
											 </td>
											 <td>	
												 <select id="levelid" class="level form-control"  ng-options="skillLevel.level_id as skillLevel.level_id for skillLevel in audioVideoData.skillarray[userSkill.courseSkill].levels" ng-model="userSkill.courseSkillLevels" ng-change="addSkillLevel($index)">
												 <option value="">Level</option>
												 </select>
												 
											</td>
											 <td>
												 <input id="credit" type="text" class="form-control" placeholder="Credit" ng-keyup="checkCredit($index)" ng-model="userSkill.creditValue">
												 <span class="errorcredit"></span>
											 </td> 
											 <td>
												 <div id="maxcredit" value="">{{userSkill.skillLevelCredit}}
												 </div>
												 <span class="errormaxcredit"></span>
												 </td>
											 <td> 
											 <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" ng-click="deletelevel($index)" ><i class="fa fa-trash-o"></i> </button>
											 </td>
										 </tr>
											
									 </tbody>
								  </table>
								</div>
							
							</div> -->
							
							
							
							
							
							
							
							<!-- <div class="form-group">
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Certificate :</label>  
								  <div class="col-md-9">
								<select class="form-control" id="sel1" ng-options="certificate.id as certificate.title for certificate in audioVideoData.certificatename" ng-model="certificate"> 
									
									<option value="">Please Select Certificate</option>
								  </select>
								  </div>
								  
								</div>
								<div class="row formRow">
								
								 <label class="col-md-3 control-label" for="textinput">Activity Review :</label>  
								  <div class="col-md-9">
									<div class="btn-group" id="status" data-toggle="buttons">
									  <label class="btn btn-default btn-on btn-xs">
									  <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Yes</label>
									  <label class="btn btn-default btn-off btn-xs  active ">
									  <input type="radio" value="0" name="multifeatured_module[module_id][status]">No</label>
									</div>
								  </div>
								  
								</div>
							</div> -->
							<div style="float:right">
                            <button type="button" class="btn"  style="border: 1px solid;
    margin-right: 12px;
    margin-top: -3px;" ng-click="previousThird()">Previous</button>
                             <button type="button" class="btn" style="float:right;float: right;
									border: 1px solid;
									width: 75px;" ng-click="activitySave()">Next</button>
							</div>
						</div>
						</div>
              
<script>
   $(document).ready(function () {
    $('.registration-form fieldset:first-child').fadeIn('slow');

    $('.registration-form input[type="phone"]').on('focus', function () {
        $(this).removeClass('input-error');
    });

    // next step
    $('.registration-form .btn-next').on('click', function () {
        var parent_fieldset = $(this).parents('fieldset');
        var next_step = true;

        parent_fieldset.find('input[type="phone"],input[type="country"]').each(function () {
            if ($(this).val() == "") {
                $(this).addClass('input-error');
                next_step = false;
            } else {
                $(this).removeClass('input-error');
            }
        });

        if (next_step) {
            parent_fieldset.fadeOut(400, function () {
                $(this).next().fadeIn();
            });
        }

    });

    // previous step
    $('.registration-form .btn-previous').on('click', function () {
        $(this).parents('fieldset').fadeOut(400, function () {
            $(this).prev().fadeIn();
        });
    });

    // submit
    $('.registration-form').on('submit', function (e) {

        $(this).find('input[type="phone"],input[type="country"]').each(function () {
            if ($(this).val() == "") {
                e.preventDefault();
                $(this).addClass('input-error');
            } else {
                $(this).removeClass('input-error');
            }
        });

    });

   
});
   </script>