   <div class="form-bottom">
            <div class="row">
                  <div class="form-group">
						 <label class="col-md-12 control-label" for="textinput"  style="font-size:15px;">Notifications </label>  
							<div class="widget-content">
									<div class="wp100 mt05 bs01 publish_bg fl mb20 pb10" style="background-color:#EBECEB">
										<div class="col-sm-6" ng-repeat="notificationList in audioVideoData.notification">
											<div class="wp100 fl fs13 fta  ml07">
												<div class="fl wp05 mt10">
													<input type="checkbox" ng-model="notificationList.checkNotification" value="{{notificationList.notification_id}}"/>
												</div>
													<div class="fl wp90 mt12 ml05 fta fc02 fs12">{{notificationList.notification}}</div>
												</div>
											</div>
											<div ng-if="audioVideoData.notification.length==0"><b>No records available!!!</b>
											</div>
									</div>
									
									<div class="row formRow">
								
									 <label class="col-md-3 control-label" for="textinput">Status :</label>  
									  <div class="col-md-9">
									<select class="form-control" id="sel1" ng-model="status"> 
										
										<option value="">Please Select Status</option>
										<option value="0">Drafted</option>
										<option value="1">Published</option>
									  </select>
									  </div>
								  
								</div>
								
								
											</div>
								  </div>
								</div>
								<br><br>
                            </div>
                            
							<br><br>
							<div style="float:right">
                            <button type="button" class="btn" ng-click="previousFrouth()">Previous</button>
                            <button type="submit" class="btn" ng-click="finalSubmit()">Submit</button>
							</div>