<div class="modal fade" id="previewPopup" role="dialog" style="height:700px;margin-left: -520px;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="width:1120px;margin-left:28px;">
        
        <div class="modal-body">
		
	           <div class="user-dashboard-content  fl mb10 ">	
		<div class="admin-browser-box wp100 fl">
			<div class="back-to-training-catelog-bg wp100 fl">
				
			</div>
						
			<div class="training-item-name-front-box wp100 fl">
            	<div class="col-sm-8 col-md-9">
                    <div class="training-item-name-left-box wp100 fl mt15">
                        <div class="computer-text fs22 mt10 fta fc13 fl wp100">
							<div class="wp100 fl mb10">
																<img class="fl mr15 mb05" src="/public/images/front-computer.png">
																<div class="mt15">{{previewData.course_name}} </div>
							</div>

                            <div class="computer-text fs13 fta fc03 taj mt05 ">
								                            </div>
                        </div>
                        </div>	
                        <div style="clear:both"></div>
						
                                                
                            <div class="training-item-name-left-box wp100 mt25 fl">
                            	<div class="row1">
                                                        	<div class="col-sm-6">
                                    <div class="wp100 fl">
                                    	<div class="widget fl wp100">
                                            <div class="widget-header">
                                                <h4>
                                                    <img src="/public/images/u21.png">
                                                    Training Details
                                                </h4>                            
                                            </div>
                                            <div class="training-item-name-left-box wp100">
                                                <div class="average-class-rating-box wp100 bgc07 fl">
																										<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc09 fs12  fta fc03 pl05 pt05 pb05 fl">Credit Value:</div>
														<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">{{(previewData.credit_value)?previewData.credit_value:0}}</div>
													</div>
																										<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl">Training Type:</div>
														<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl">{{previewData.training_type}}</div>
													</div>
													<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc05 fs12 fta fc03 pl05 pt05 pb05 fl">Training Category:</div>
														<div class="date wp60 bgc07 fs12 fta fc03 pl05 pt05 pb05 fl">
														{{previewData.TrainingCategoryselected}}</div>
													</div>                                                        
                                                </div>				
											</div>
                                        </div>
                                	</div>
                                </div>
								
                                                    </div>
                    </div>
                
            	</div>
                <div class="col-sm-4 col-md-3">
                    <div class="training-item-name-right-box wp100 mt15 fl">
				<div class="wp100 mt10 fl">
				
				<div class="widget-header"><h4>
				<i class="fa fa-users o blue_1">
				</i>Target Audience</h4> 
				</div>
				<div compile="previewData.alltargetaud">
				</div> 					
							
				</div> 					
                        <!-- <div class="widget fl wp100">
                        	<div class="widget-header">
                            	<h4>
                                	<img src="/public/images/tragat-icon.png">
                                    Target Audience
                                </h4>
                            </div>
                           
                            <div class="widget-content">
                                <div style="width:100%; height: 110px; overflow:auto; scrollbar-base-color:#9f9f9f; scrollbar-arrow-color:#9f9f9f;">
                                     <div compile="previewData.alltargetaud">
									</div>   
                                    </div>
                            </div> 
                        </div> -->
					                             
                        <div class="front-supervisor-scrool wp100 fl">
                                                        <div class="front-training-item-rating wp100 bgc11 fl">
                                                            <div class="front-training-item-rating wp90 h60  bs01 bgc01 fl" style="margin:10px 5%;">
                                    <div class="f-avg-rating wp100 tac fs13 mt10 fta fc03 b fl" style="padding:0 2%;">
                                    Average Rating
                                    </div>
                                    <div class="f-avg-rating wp100 fs13 mt05 tac fta fc03 b fl" style="padding:0 2%;">
                                    										
										<div ng-bind-html="callfunction(previewData.average_rating)">
                                      </div> 
                                    </div>
                                </div>
                                                            </div>
                            							<div class="front-view-class-rastor-bg1 w211 h37 mt10 fl">
								<div class="change_col" style="text-align: center;">
																	
								</div>
							</div>							
                        </div>
                    </div>
            	</div>
		</div>
		
		<div class="col-xs-12">
					 <div class="edit-user-update-button1 wp100 fl"> 
						<a id="show_media_player" ng-click="show_media_player();" href="javascript:void(0);"><div class="new_css_button edit-user-update1 fs-12 b fc01 fta mt06 mt20 fl" name="launch" id="launch">Preview<span>»</span></div></a>
			</div> 

			<div style="display:none"></div>
		</div> 
	<div class="ext-box wp100 fl" style="height:20px;"></div>
    </div>
</div>
	
		
		
			</div>
       
        <div class="modal-footer">
		<div class="row1" id="blk_div">
				<div class='fl wp98 mt10 mb15 ml10'>
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
        
        </div>
		 </div>
      </div>
      
    </div>
		 