<h1></h1>
<div class="container right_col">
	<div class="centerflipcards">
		<div class="row" >
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-repeat="userappDynamics in userappDynamic">
				<div class="square-flip" ng-show="userappDynamics.linkUrl!='/#/dashboard'">
					<div class="square">
						<div class="square-container">
							<a  href="{{userappDynamics.linkUrl}}">
								<div class="align-center">
									<img class="boxshadow" ng-src="{{userappDynamics.imageUrl}}">
								</div>
							<h2 class="textshadow">{{userappDynamics.menuName}}</h2>
							</div>
						</a>
					</div>
				<div class="flip-overlay"></div>
				</div>
				
				<div class="square-flip" ng-show="userappDynamics.linkUrl=='/#/dashboard'">
					<div class="square">
						<div class="square-container">
							<a href="/administrators/#/dashboard">
								<div class="align-center">
									<img class="boxshadow" ng-src="{{userappDynamics.imageUrl}}">
								</div>
							<h2 class="textshadow">{{userappDynamics.menuName}}</h2>
							</div>
						</a>
					</div>
				<div class="flip-overlay"></div>
				</div>
			</div>
		</div>
	</div>
</div>	



	


