<aside class="main-sidebar">
	<div class="sidebar">
           <div id="">
		       <ul class="sidebar-menu">
			      <li id="cat_nav_{{leftMenuDatas.menu_item_id}}" class="treeview" ng-repeat="leftMenuDatas in leftMenuData">
				      <a href="{{leftMenuDatas.main_menu_url}}" onfocus="if(this.blur)this.blur();">
							 <img style=" margin-right: 6px; vertical-align: sub;" src="/eliteprodlms/public/images/{{leftMenuDatas.menu_icon}}"/>
							 <span>{{leftMenuDatas.menu_name}}</span>
							 <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
						  </a>
						<span ng-if="leftMenuDatas.sub_cats">
						      <ul class="treeview-menu new_menu">
							     <li ng-repeat="subCats in leftMenuDatas.sub_cats">
									<a id="cat_nav_" style="float: left;width: 100%;" href="" onfocus="if(this.blur)this.blur();">{{subCats.menu_name}}
										
									   
									</a>
								</li>
							  
							  
							  </ul>
						
						</span>  
				  </li>
			   </ul>
		   </div>
	</div>
</aside>
