<p style="margin-top:30px;font-size:30px">My Requirement</p>
<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridOptions"   id="grid"  style="height:500px"  ui-grid-pagination></div>
         </section>
		 
		<script type="text/ng-template" id="flag.html">
	    <img src={{row.entity.flagUrl}} title="{{row.entity.flagTitle}}">
   </script>
   
   