<p style="margin-top:30px;font-size:30px">{{responseLib.mytranscripttitle}}</p>

<div class="container" >
<div style="width: 160px;">
	<select ng-options="types.id as types.type for types  in trainingTypes" ng-change="filtertranscript()" ng-model="trainingtype_id">
		<option value="">All Training</option>
	</select>
		<div class="select__arrow"></div>
</div>		

</div>
{{responseLib.startdate}}
<div class="form_item">
<div class="form_value">
	<i ng-model="userstartdt" aria-hidden="true"></i>
	 <md-datepicker  ng-model="userstartdt" md-min-date="minDate1" md-current-view="month"  ng-change="filtertranscript()" md-placeholder="Start Date"></md-datepicker>
</div>
</div>
{{responseLib.enddate}}
<div class="form_item">
<div class="form_value">
	<i ng-model="userenddt" aria-hidden="true"></i>
	 <md-datepicker  ng-model="userenddt" md-min-date="minDate2" md-current-view="month"  ng-change="filtertranscript()" md-placeholder="End Date"></md-datepicker>
</div>
</div>

 <div  ui-grid="gridOptions" ui-grid-auto-resize  ui-grid-pagination  ui-grid-selection id="grid" style="height:500px"></div>
 
 <modelui-grid></modelui-grid>