<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Notification Management</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Super Admin</a></li>
			<li class="active"><strong>Notification Management</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper" >

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<!-- <div class="headerbtnwrp fr">
			<a href="javascript:void(0);" id="add-new-library" class="">
				<div class="button_lblue_r4" >Add Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
			
			<a href="javascript:void(0);" id="assign-new-library" class=" mr10">
				<div class="button_lblue_r4">Assign Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
		</div> -->
		<h1>Notifications</h1>
	</div>
</section>

<div class="wp100 fl">
	<div class="content wp100 fl" style="padding-top:0px;"> 
		<div class="widget-content form-horizontal row-border"> 
			<div class="blank_spacen1 wp100">
				<div id="gridbox" style="width: 100%;min-height:450px; background-color:white; margin-left: 0; ">
				
				<div class="panel-heading">
				 
					
				
				  <h4>
					  <i class="fa fa-file-text-o" aria-hidden="true"></i>
					Notifications
				 </h4>
			   </div>
			   
			   
			   
			   
				<div class="wp100 fl" >
										<div>
											<table datatable="ng"  class="row-border hover">
											<thead>
											<tr>
												<th>Notification Name</th>
												<th>Status</th>
											
												
												<th>Action</th> 
											</tr>
											</thead>
											
											<tbody>
											<tr ng-repeat="notifications in notificationList.data" ng-if="notifications.activenotification==1">
												<td>{{ notifications.notification_name }}</td>
												<td>
												
												<input type="checkbox" name="is_active"  ng-model="notifications.is_active" ng-click="updateNotification($index)">
											
												
												
												</td>
												<td align="left" valign="middle">
												<a class="btn btn-labeled btn-success mr02" href="#/notificationtemplete/edit/{{notifications.notification_id}}"><span class="btn-label"><i class="fa fa-pencil"></i></span>Edit</a>
												<a href="" class="button_lblue_r4 mr02" ng-click="restoredefault(notifications.notification_id)">Restore Default »</a>
												</td>
												
											</tr>
											</tbody>
									</table>
								</div>
						</div>
				    </div>
				</div>
			</div>	
		</div>		   

</div>			


</div>

