<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>System Settings</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>System Management</a></li>
			<li class="active"><strong>System Settings</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<h1>System Settings</h1>
	</div>
</section>



<div class="wp100 fl">
	<div class="content wp100 fl">
		<form name="f1" onkeypress="return event.keyCode != 13;">
			<div ng-show='preloader==true'  >
				<img class="wp55"src='/eliteprodlms/public/images/animatedEllipse2.gif' border='0' style="width:50px;  left: 560px;position: absolute; top: 350px;z-index:2000"  >
			</div>
			
			<div class="row-bg">
				<div class="tabing" style="margin-left: 0;">
					<div id="globaltab" class="{{global_system_set}}" ng-click="globalssTab()">
						<i class="fa fa-database"></i>
						Global System Setting
					</div>
					<span ng-show="systemSetting.tabShowPermission.Security_System_Settings==1" >
					<div id="securitytab" class="{{security_system_set}}" ng-click="securityssTab()">
						<i class="fa fa-lock"></i>
						Security System Settings
					</div>
					</span>
					
					<span ng-show="systemSetting.tabShowPermission.My_Requirement_Settings==1">
					<div id="reqtab" ng-click="reqtab()" class="{{my_req_set}}">
						<i class="fa fa-lock"></i>
						My Requirement Settings
					</div>
				   </span>
					<span ng-show="systemSetting.tabShowPermission.SubAdmin_Permission_Settings==1">
					<div id="permissiontab" ng-click="permissiontab()" class="{{permission_set}}">
						<i class="fa fa-lock"></i>
						SubAdmin Permission Settings
					</div>
					</span>
				</div>
				
				
				<div class="bgc01 wp100 fl bor02 bol02 bob02" > 
					<div class="col-md-12"> 
						<div class="widget fl wp100 h600"> 
							
							<div class="widget-content">
							
							<div class="permission-box wp100 mb20 fl" ng-show="global_system_settab==true">
							<div class="permission wp100 fs14 fta fc03 b mt08 fl mb05">Company Settings: </div>
							<div class="user-to-register wp100 fl">
			 
							  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
								<div class="fl wp25 mt03">Company Name</div>
								<div class="fl wp75">
									<input style="float: left; height: 28px; padding: 2px !important; width: 50%;" class="form-control" name="company_name" id="company_name" type="text" ng-model="systemSetting.fetchallvalues[0].company_name"/>
								</div>
							   </div>						 
							</div>
							
							
							<div class="user-to-register wp100 fl">
					 
					  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
						<div class="fl wp25 mt03">Company Email</div>
						<div class="fl wp75">
							<input style="float: left; height: 28px; padding: 2px !important; width: 50%;" class="form-control" name="admin_email" id="admin_email" type="text" ng-model="systemSetting.fetchallvalues[0].admin_email"/> 
							<span class="fl ml10 mt03">(example@email.com)</span>
						</div>
					   </div>						 
				</div>
				
				<div class="user-to-register wp100 fl mt08">
					
					 <div  ng-show="systemSetting.fetchallvalues[0].automated_registration!=0" class="allow-input-user fs13 fta fc03 wp100 fl mt06" style="display:block;">Send user registration to</div>
						<div  ng-show="systemSetting.fetchallvalues[0].automated_registration!=0" class="fl wp75"> 
						<input style="float: left; height: 28px; padding: 2px !important; width: 50%;" class="form-control" name="admin_email" id="admin_email" type="text" ng-model="systemSetting.fetchallvalues[0].approval_mailid"/> 
							<span class="fl ml10 mt03">(example@email.com)</span>
						
				</div>
				</div>
				
				
				<div class="permission wp100 fs14 fta fc03 b mb05 mt15 fl">General Settings: </div>
				   <div class="allow-user wp100 fl">      
				   <div class="admin-global-checkbox fl mr10 mt05">
				       <span>
						
							<input type="checkbox"  name="trainingrecords" id="trainingrecords" ng-model="systemSetting.fetchallvalues[0].input_training_records"  ng-click ="statecheck()">
						
						</span>
				   </div>
				   <div class="allow-input-user1 fs13 mt06 fta fc03 fl">Allow users to input their own training records</div>
				   
				   <div class="bracket mt06 ml28 fl valm" >(
							
							<input style="vertical-align: middle;margin-top: 0;" type="checkbox" id="supervisorapp" name="supervisorapp" ng-model="systemSetting.fetchallvalues[0].require_supervisor_approval"   ng-click="statecheck2()"/>
							
							Require supervisor approval )
					</div>
							
							
				   </div>
				   
				   <div class="allow-user wp100 fl"> 
				        
						
						<div class="user-to-register wp100 fl">
						<div class="admin-global-checkbox fl mr10 mt05">
							<label>
								 
								<input type="checkbox" id="updateuserinfo"  name="updateuserinfo" ng-model="systemSetting.fetchallvalues[0].update_user_info"/>
								
							</label>
						</div>
						<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Allow users to edit their basic user properties</div>
				</div>
				
				<span ng-show="systemSetting.tabShowPermission.SystemSetting_DisableVolunteerReq==1">
				<div class="user-to-register wp50 fl">
						 <div class="admin-global-checkbox fl mr10 mt05 valm">(
							
									<input style="vertical-align: middle;margin-top: 0;" name="caneditskills" id="caneditskills" type="checkbox" ng-model="systemSetting.fetchallvalues[0].can_edit_skills" />
							
							Allow users to edit their expert skills )</div>
				 </div>
				 </span>
				 
				
				   
				    
				   </div>
				   
				   
				   <div class="user-to-register wp100 fl">
					<div class="admin-global-checkbox fl mr10 mt05">
						<label>
							
							<input type="checkbox" id="autoregister" value="1" checked="checked" name="autoregister" ng-model="systemSetting.fetchallvalues[0].automated_registration" >
							
						</label>
					</div>
					<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Allow users to register themselves as users in the system</div>
				</div>
				
				<div class="user-to-register wp100 fl">
					<div class="admin-global-checkbox fl mr10 mt05">
						<label>
							 
							<input type="checkbox" id="training_feedback" value="1" checked="checked" name="training_feedback"   ng-model="systemSetting.fetchallvalues[0].training_feedback"  />
							
						</label>
					</div>
					<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Allow users to provide feedback for eLearning courses</div>
				</div>
				
				<span ng-show="systemSetting.tabShowPermission.SystemSetting_DisableVolunteerReq==1">
				<div class="user-to-register wp100 fl">
					<div class="admin-global-checkbox fl mr10 mt05">
						<label>
							 
							<input type="checkbox" id="classroom_feedback" value="1"  name="classroom_feedback" ng-model="systemSetting.fetchallvalues[0].classroom_feedback" >
							
						</label>
					</div>
					<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Allow users to provide feedback for Classroom courses</div>
				</div>
				
				</span>
				
				
				 <div class="user-to-register wp100 fl">
						 <div class="admin-global-checkbox fl mr10 mt05">
							<label>
							
								<input name="change_username_password" type="checkbox" value="1" ng-model="systemSetting.fetchallvalues[0].change_username_password"  />
							
							</label>
						 </div>
						 
						  <div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Prevent users from changing their username and password </div>
				 
				 </div>
				 
				 <div class="user-to-register wp100 fl">
						 <div class="admin-global-checkbox fl mr10 mt05">
							<label>
							
								<input name="is_pass_transcript" type="checkbox" value="1" checked="checked"  ng-model="systemSetting.fetchallvalues[0].is_fail_transcript"  />
							
							</label>
						 </div>
						 
						  <div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Prevent fail status in Transcript</div>
				 
				 </div>	
				 
				 <span ng-show="systemSetting.tabShowPermission.SystemSetting_DisableVolunteerReq==1">
				 
				 <div class="user-to-register wp100 fl">
					<div class="admin-global-checkbox fl mr10 mt05">
						<label>
					
						
							<input id="supervisor_training_view" type="checkbox" ng-model="systemSetting.fetchallvalues[0].supervisor_training_view" />
						
						</label>
					</div>
					<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Allow Supervisor to view all training for assignments </div>
				</div>
				 
				 
				 
				 </span>
				 
				 
				 <div class="user-to-register wp100 fl">
					 <div class="admin-global-checkbox fl mr10 mt05">
						<label>
						
							<input name="downgrade_role" type="checkbox"  ng-model="systemSetting.fetchallvalues[0].downgrade_role"/>
						
						</label>
					 </div>
					 
					  <div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Prevent downgrading of role when doing a bulk import </div>						 
				 </div>
				 
				  <span ng-show="systemSetting.tabShowPermission.SystemSetting_DisableVolunteerReq==1">
				     <div class="user-to-register wp100 fl">
					 <div class="admin-global-checkbox fl mr10 mt05">
						<label>
						
							<input name="pro_user" type="checkbox" value="0" ng-model="systemSetting.fetchallvalues[0].promote_user" />
						
						</label>
					 </div>
					 
					  <div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Promote user to supervisor if assigned as a supervisor within a bulk import </div>						 
				 </div>
				 
				  
				  </span>
				  
				  
				   <div class="user-to-register wp100 fl">
					 <div class="admin-global-checkbox fl mr10 mt05">
						<label>
						
							<input name="welcome_user_mail" type="checkbox" ng-model="systemSetting.fetchallvalues[0].welcome_user_mail" />
						
						</label>
					 </div>
					 
					  <div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Send welcome email notification to new users </div>						 
				 </div>
	 
					<div class="wp100 fl mb10 ">
						<div class="wp100 b fc01 fta fl hand mt20"><a class="new_css_button" ng-click="updateGeneralSetting() "id="getallvalues">Update &#187;</a></div>
					</div>
				 
				 
				 
							</div>
							
							
							<div ng-show="passsecuritydiv==true">
								<span mg-show="systemSetting.compId==1">
								<div class="permission wp100 fs14 fta fc03 b mb05 mt15 fl">Password Settings: </div>
								</span>
								
								<div class="user-to-register wp100 fl">
									<div class="admin-global-checkbox fl mr10 mt05">
									<label>
										
											<input name="change_password" type="checkbox" value="0" checked="checked" ng-model="systemSetting.fetchallvalues[0].change_password"/>
										
										</label>
									</div>
									 
									<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Force user to change password on first time login </div>						 
								</div>
								
								<div class="user-to-register wp100 fl">
								
								<div class="admin-global-checkbox fl mr10 mt05">
									<label>
										<input type="checkbox" id="CustmPasField" name="CustmPasField" ng-model="systemSetting.fetchPasswordSetting" >
									</label>
								</div>
								<div class="allow-input-user fs13 fta fc03 wp80 fl mt06">Custom Password Setting</div>
							</div>	
							<span ng-show="systemSetting.fetchPasswordSetting!=false">
							    <div id="Custom_pass_set" >	
								      <div class="user-to-register wp100 fl mb08">				 
										  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
											<span class="fl mr08 mt03 wp22">User Password Expire in</span>
											<select id="passwordExpiration" name="passwordExpiration" class="add_user_drop form-control" style="float: left; width: 30%;" ng-model="systemSetting.passwordSetting[0].password_expiration_time">
											   <option value="0" selected="{{selectedExpiration}}">Never</option>
											   <option  ng-repeat="k in range(1,365,4)" value="{{k}}" >After {{k}} days</option>
											  
											   
											</select>
											
										
										</div>
								</div>
						</div>
						
						
						<div class="user-to-register wp100 fl mb08">				 
							  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
								<span class="fl mr08 mt03 wp22">Password Length</span>
								
								<select id="passwordlength" name="passwordlength" class="add_user_drop form-control" style="width: 30%; float: left;" ng-model="systemSetting.passwordSetting[0].password_length">
									
									<option ng-repeat="l in range(6,15,2)" value="{{l}}" >{{l}}</option>
									
								</select>
							   </div>						 
							</div>
							
							
							<div class="user-to-register wp100 fl mb08">				 
							  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
								<span class="fl mr08 mt03 wp22">Password Complexity</span>
								
								<select id="passwordcomplexity" name="passwordcomplexity" class="add_user_drop form-control" style="width: 30%; float: left;" ng-options="complex.value as complex.name for complex in passwordComplexity" ng-model="systemSetting.passwordSetting[0].password_complexity">
									
								</select>
							   </div>						 
							</div>
							
							
							<div class="user-to-register wp100 fl mb08">				 
							  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
								<span class="fl mr08 mt03 wp22">Maximum Invalid Login Attempts</span>
								
								<select id="invalidpashit" name="invalidpashit" class="add_user_drop form-control" style="width: 30%; float: left;" ng-options="invalidpashit.value as invalidpashit.name for invalidpashit in loginAttempt" ng-model="systemSetting.passwordSetting[0].maximum_invalid_hit">
									
								</select>
							   </div>						 
							</div>
							
							<div id="lockdiv" class="user-to-register wp100 fl" >				 
							  <div class="allow-input-user fs13 fta fc03 wp100 fl mt06">
								<span class="fl mr08 mt03 wp22">Lockout Period</span>
								
								<select id="lockeffecPass" name="lockeffecPass" class="add_user_drop form-control" style="width: 30%; float: left;" ng-options="lockeffecPass.value as lockeffecPass.name for lockeffecPass in lockeffecPassPeriod" ng-model="systemSetting.passwordSetting[0].locked_password_time">
									
								</select>
							   </div>						 
							</div>
							
							
							
							
			
					
			
			
			
			
			
							</span>
							<div class="wp100 fl mb10">
									<div class="wp100 b fc01 fta fl hand"><a class="new_css_button " ng-click="savepasswordsettings()">Update &#187;</a></div>
							</div>
			
							
			
		

			
							
							</div>
							
							
							<div ng-show="requirementdiv==true" >
							     <div class="permission wp100 fs14 fta fc03 b mt08 fl mb05">My Requirement Settings: </div>
								  <div class="user-to-register wp100 fl">
									<div class="admin-global-checkbox fl mr10 mt05">
										<label>
											<input type="checkbox" id="learningPlan"  ng-model="systemSetting.fetchallvalues[0].lp_complete" name="requirement">
										</label>
									</div>
									<div class="allow-input-user fs13 ml05  mt04 fta fc03 wp80 fl">Remove learning plan items from My Requirements tab after completion</div>
								</div>
								
								<div class="user-to-register wp100 fl">
									<div class="admin-global-checkbox fl mr10 mt05">
										<label>
											<input type="checkbox" id="assessment" ng-model="systemSetting.fetchallvalues[0].assessment_complete" name="requirement">
										</label>
									</div>		
									<div class="allow-input-user fs13 ml05  mt04 fta fc03 wp80 fl">Remove Assessment from the My Requirements tab after completion</div>
								</div>
								<div class="user-to-register wp100 fl">
									<div class="admin-global-checkbox fl mr10 mt05">
										<label>
											<input type="checkbox" id="assignment" ng-model="systemSetting.fetchallvalues[0].assignment_complete" name="requirement">
										</label>
									</div>
									<div class="allow-input-user fs13 ml05  mt04 fta fc03 wp80 fl">Remove assignments from the My Requirements tab after completion</div>
								</div>
								<div class="new_css_button hand" ng-click="requpdate()"> Update
								</div>
								
	
							
							</div>
							
							<div ng-show="subadmindiv" >
							     <div class="mt20"><b>Subadmin Setting</b></div>
								 <div class="user-to-register wp100 fl">
									<div class="admin-global-checkbox fl mr10 mt10 wp20">User Access Based on</div>	
										<div class="allow-input-user fs13 fta fc03 wp25 fl mt06">
											<select name="user_based_on" id="user_based_on" class="form-control" ng-model="systemSetting.submitPermission[0].user_based_on">
												<option value="0">Group</option>
												<option value="1">Company</option>						
											</select>
										</div>						 						 
								</div>

								<div class="user-to-register wp100 fl">
									<div class="admin-global-checkbox fl mr10 mt10 wp20">User Edit Permission</div>	
										<div class="allow-input-user fs13 fta fc03 wp25 fl mt06">
											<select name="user_edit_per" id="user_edit_per" class="form-control" ng-model="systemSetting.submitPermission[0].user_edit_permission">							
												<option value="0" >Add / edit User</option>
												<option value="1" >Add / view User</option>
											</select>
										</div>						 						 
								</div>

								<div><b>Instructor Setting</b></div>
									<div class="user-to-register wp100 fl">
										<div class="admin-global-checkbox fl mr10 mt10 wp20">User Access Based on</div>	
											<div class="allow-input-user fs13 fta fc03 wp25 fl mt06">
												<select name="user_based_on_instructor" id="user_based_on_instructor" class="form-control" ng-model="systemSetting.submitPermission[0].user_based_on_instructor">
													<option value="0" >Group</option>
													<option value="1" >Company</option>						
												</select>
											</div>						 						 
									</div>	
									<div class="user-to-register wp100 fl">
										<div class="admin-global-checkbox fl mr10 mt10 wp20">User Edit Permission</div>	
											<div class="allow-input-user fs13 fta fc03 wp25 fl mt06">
												<select name="user_edit_per_inst" id="user_edit_per_inst" class="form-control" ng-model="systemSetting.submitPermission[0].user_edit_permission_instructor">							
													<option value="0" >Add / edit User</option>
													<option value="1" >Add / view User</option>
												</select>
											</div>						 						 
									</div>
									<div ng-click = "permupdate()" class="new_css_button">Update</div>

									
								
							
							</div>
							
							
							
							
							
							
							</div>
					</div>
			</div>
	</div>
</div>	
				
				
                   
				   
				   
</div>
</div>  

</div>