<p style="margin-top:30px;font-size:30px">Sales Learning Plan</p>
<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>

<section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridOptions" id="grid"   style="height:500px"  ui-grid-pagination ui-grid-pinning ></div>
         </section>
		
   