<!-- <div ng-show="preloader_popup==true">
		<img class="wp55"src='/eliteprodlms/public/images/animatedEllipse2.gif' border='0' style="width:50px; left:340px; position:absolute; top:200px; z-index:2000;margin-top: 128px;margin-left: 18%;">
</div> -->
<p style="margin-top:30px;font-size:30px">{{responseLib.trainingcatalogtitle}}</p>
<!-- <p compile="trainingCatalogData.viewData[0].description" style="margin-top:10px"></p> -->
<span ng-show="advanceSearch!=true">
<div class="wp100 fl elearningcategore_block">
							<div class='widget-header gridsubheader fl'>
								<div class='gridsubheader_blk b'>
									<div>{{responseLib.category}}</div>
									 
									<div class="styledselect_type valm ml05 mb03 mt01">
										<select class='bs01' ng-change='getTrainingCatalogFilterData();' ng-model='setcat' name='setcategorylist' ng-options="category.training_category_id as category.category_name for category in filterlist.trainingcategory">
										<option value=''>{{responseLib.allcategory}}</option>
										
										</select>
									</div>
								</div>
								<div class='gridsubheader_blk  b'>
									<div>{{responseLib.itemtype}}</div>
									<div class="styledselect_type valm ml05 mb03 mt01">
										<select class='bs01' ng-change='getTrainingCatalogFilterData();' ng-model='setItemType' ng-options="training.training_type_id as training.training_type for training in trainingType">
											
										</select>
									</div>
								</div>
							</div>
</div> 
<section class="content" style="padding-top:40px;position:relative;margin-top:60px;">
         <!--  <div ui-grid="gridOptions"  ui-grid-pagination id="grid"  style="height:500px"></div> -->
		 <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
</section>
</span>		  
   <script type="text/ng-template" id="view.html">
	  <a class="button_lblue_r4" href="/#{{row.entity.viewHref}}">View<span>&#187;</span></a>
   </script>

	<div class="wp100 fl pl30 pr30 mb25" ng-show="advanceSearch==true">
		<div class="specs_bg fl bot01 bol01 bor01 bgc01" id="advancedsearch" >
			<div class=" tra-adv-search mt05 fl">
				<div class="search-icon w20 ml05 mt02 fl"><i class="fa fa-search"></i></div>
			<div class="advanced-search fs14  fta fc13 b ml05  mt02 fl">{{responseLib.advancesearch}}</div>
		</div>
	</div>
		  
		  
		  <div class="tra-advanc-training-type bs01 mb20 wp100 fl bgc01" id="advancedsearchbody">
			<form name="advancedsearchfrm" id="advancedsearchfrm" action="" method="post">
			  <ul class="advanced_search_frm">
				<li>
					<div class="tra-type-box">
					  <div class="tra-front-part wp100 fs13 fta fc18 b">Training Type:</div>
					  <div class="tra-nav-bg1 wp100 h22 fl">
						<div class="styledselect_type valm all-categories1 wp100 fs13 fta fc03 fl">
						  <select class="form-control" style=" height: 25px;" id="trainingtypeid" ng-model="trainingtypeid" class="training_type" ng-change="settrainingtype();" ng-options="trainingType.training_type_id as trainingType.training_type for trainingType in filterlist.trainingtype">
							<option value=''>All</option>
								
						  </select>
						</div>
					  </div>
					</div>
				</li>
				<li ng-show="trainingtitleDiv!=false">
					<div class="tra-type-box">
					  <div class="tra-front-part wp100 fs13 fta fc18 b fl">Item Name:</div>
					  <div class="wp100  fl">
						<input class="form-control" style="padding: 3px !important; height: 25px;" name="trainingtitle" ng-model="trainingtitle" type="text" />
					  </div>
					</div>
				</li>
				<li ng-show="instructordiv!=false">
					<div class="tra-type-box">
					  <div class="tra-front-part wp100  fs13 fta fc18 b fl">Instructor:</div>
					  <div class="fl wp100 styledselect_type valm">
						<select style="padding: 3px !important; height: 25px;" class="form-control" ng-model="instructorname" name="instructorname"  ng-options="instructor.user_id as instructor.user_name for instructor in filterlist.instructorarray">
						  <option value=''>Select</option>
						</select>
					  </div>
					</div>
				</li>
				<li>
					<div ng-show="trctg!=false" class="tra-type-box">
					  <div class="tra-front-part wp100 fs13 fta fc18 b fl">Training Category</div>
					  <div class="tra-nav-bg1 wp100 h22 fl">
						<div class="all-categories1 styledselect_type valm wp100 fs13 fta fc03 fl">
						  <select style="padding: 2px !important; height: 25px;"  class="form-control"  ng-model="category" name="category"  ng-options="category.training_category_id as category.category_name for category in filterlist.trainingcategory">
							<option value=''>Select</option>
							
						  </select>
						</div>
					  </div>
					</div>
				</li>
				<li>
					<div ng-show="crdt!=false" class="tra-type-box">
					  <div class="tra-front-part wp100 fs13 fta fc18 b fl">Credits:</div>
					  <div class="tra-front-part wp100 fs12 fta fc03 b fl">
						<input style="padding: 3px !important; height: 25px;"  type="text" name="creditvalue" ng-model="creditvalue" class="form-control" />
					  </div>
					</div>
				</li>
				<li>
					<div ng-show="cst!=false" class="tra-type-box">
					  <div class="tra-front-part wp100 fs13 fta fc18 b fl">Cost:</div>
					  <div class="tra-front-part wp100 fs12 fta fc03 b  fl ">
						<input style="padding: 3px !important; height: 25px;"  type="text" name="costvalue" ng-model="costvalue" class="form-control" />
					  </div>
					</div>
				</li>
				<li ng-show="tdt!=false">
					<div class="tra-type-box" >
					  <div class="tra-front-part fs13 fta fc18 b">Training Date Range:</div>
					  <div class="tra-f-input wp100 fl">
						<div class="wp50 fs12 fta fc03 b fl">
						  <input style="padding: 3px !important; height: 25px; background-color: #fff; display: inline; width: 80%"  type="text" name="startdate" class="form-control"  size="7" ng-model="startDate" value="" readonly="readonly" id="startDate">
						</div>
						<div class="w05 fs12 fta fc03 b pl02  fl"></div>
						<div class=" wp50 fs12 fta fc03 b fl">
						  <input style="padding: 3px !important; height: 25px; background-color: #fff; display: inline; width: 80%"  type="text" name="enddate" class="form-control"  size="7" ng-model="endDate" value="" readonly="readonly" id="endDate">
						</div>
					  </div>
					</div>
				</li>
				<li>
					<input type="hidden" name="usid" id="usid" value="">
						<input type="hidden" name="AdvanceSearch" id="AdvanceSearch" value="">
						<input type="hidden" name="checktype" id="checktype" value="1">
						<div id="searchresult" class="button_lblue_r4 hand mt25 " ng-click="searchresult();" >Search <span>&#187;</span>
						</div>
						
				</li>
			</ul>
	</form>
          </div>
   </div>
	<div class="admin-browser-box wp100 bgc13 bs02 fl" style="padding-bottom:10px" ng-show="advancebutton==true">
		<div class="fl mt10 mb10">
			<div id="adv" class="front-advance-search-bg1 h20 mt02 ml02 mr05 fl">
				<a class="change_col" ng-click="hidecatalog()">
					<div class="fl mt32  button_lblue_r4" id="advancesearch" >{{responseLib.advancesearch}}</div>
				</a>
			</div>
		</div>
	</div>
	
<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{
	var currentDate = new Date();
	$("#startDate").datepicker({ showOn: 'button', changeMonth: true, changeYear: true, buttonImageOnly: true, buttonImage: '/eliteprodlms/public/images/cal_new_img.png'},"setDate",currentDate);
	$("#endDate").datepicker({ showOn: 'button', changeMonth: true, changeYear: true, buttonImageOnly: true, buttonImage: 'eliteprodlms/public/images/cal_new_img.png' });
});

</script>
			
			
			