.button_lblue_r4{
	font-family: inherit;
	display: inline-block;
	line-height: 1em;
	padding: 5px 8px;
	border: 1px solid #4081AF;
	color: white !important;
	text-align: center;
	text-decoration: none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #007aa7;
	border-color: #026E96;
 	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.button_lblue_r4:first-child{
	margin-left: 5px;
	padding: 8px 12px;
}
.manage-name table.tab_sty_1 .button_lblue_r4:first-child{
	padding:5px 19px;
}
.button_lblue_r4 span {
    margin-left: 3px;
    vertical-align: top;
}
.button_lblue_r4:hover {background: #7bbce4;}


.button_lblue_r4_73{
	font-family: inherit;
	display: inline-block;
	line-height: 1em;
	padding: 5px 8px;
	border: 1px solid #1A164F;
	color: white !important;
	text-align: center;
	text-decoration: none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292466;
	border-color: #026E96;
 	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.button_lblue_r4_73:first-child{
	margin-left: 0;
}
.button_lblue_r4_73 span {
    margin-left: 3px;
    vertical-align: top;
}
.button_lblue_r4_73:hover {
    background: #7167E3 none repeat scroll 0 0;
    border-color: #473F9F;
}




