/* ================================================== */
/* 01. General Style */
/* ================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #93a0a7;
	line-height: 26px;    
	background-color: #fff;
}

/*---Typography---*/
	
h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
	font-family: 'texgyreadventorbold';
	text-transform: uppercase;
	color: #24353b;
}
h1 {
	font-size: 46px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 14px;
}
p {
	padding: 0px;
	margin: 0px;
}
ol, ul {
	margin-bottom: 0px;
}
a {
	text-decoration: none !important;
	outline: none;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
label {
	font-weight: normal;
}
::-webkit-input-placeholder {
 opacity:1;
 text-transform:uppercase;
}
	:-moz-placeholder { /* Firefox 18- */
 opacity:1;
 text-transform:uppercase;
}
::-moz-placeholder {  /* Firefox 19+ */
 opacity:1;
 text-transform:uppercase;
}
:-ms-input-placeholder {
 opacity:1;
 text-transform:uppercase;
}
input:focus, textarea:focus, select:focus {
	outline: none;
}


/* ================================================== */
/* 02. header	*/ 
/* ================================================== */
	
.header-top {
	display: block;
	background: #211d1e;    
	padding: 4px;
}
.header-top ul.follow-us {
	display: block;
	padding-top: 8px;
	float: left;
}
.header-top ul.follow-us li {
	display: inline-block;
	padding-right: 20px;
	font-size: 21px;
}
.header-top ul.follow-us li a {
	color: #646162;
}
.header-top ul.follow-us li a:hover {
	color: #fff;
}
.header-top .right-block {
	display: block;
	float: right;
}
.header-top ul.top-nav {
	display: block;
	padding-top: 8px;
	padding-right: 10px;
	float: left;
}
.header-top ul.top-nav li {
	display: block;
	padding: 0 13px;
	float: left;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.header-top ul.top-nav li a {
	color: #6c777d;
}
.header-top ul.top-nav li a:hover {
	color: #fff;
}
.header-top .lang-wrapper {
	display: block;
	float: right;
}
.header-top .select-lang, .header-top .select-lang2 {
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.header-top .select-lang {
	margin-left: 1px;
}
.header-top .select2-container--default .select2-selection--single {
	border: none;
	border-radius: 0px;
	background: #302c2d;
}
.header-top .select2.select2-container {
	width: 100px !important;
}
.header-top .select2-container .select2-selection--single {
	height: 42px;
}
.header-top .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 42px;
}
.header-top .select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 16px;
	color: #fff;
}
.header-top .select2-container .select2-selection--single .select2-selection__rendered img {
	margin-right: 4px;
}
.header-top .select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 30px;
	height: 42px;
}
.select2-container--open .select2-dropdown--below {
	border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 6px 5px 0;
	border-color: #c1c0c0 transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: 0 5px 6px;
}
.select2-dropdown {
	border: 1px #dedddd solid;
}
.select2-results__option {
	padding: 0 6px;
	font-size: 13px;
}
.select2-results__option .img-flag {
	margin-right: 4px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #ff9600;
}
.header-middle {
	padding-top: 20px;
	padding-bottom: 20px;
}
.header-middle .contact {
	display: block;
	padding: 8px 0 0 0;
	float: right;
}
.header-middle .contact ul {
	display: block;
	padding-right: 32px;
	float: left;
}
.header-middle .contact ul li {
	display: block;
	padding: 0 30px;
	border-right: 1px #dedddd solid;
	float: left;
	font-family: 'texgyreadventorbold';
	font-size: 18px;
	color: #4f4a4a;
	line-height: 18px;
}
.header-middle .contact ul li span {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #8f9ba1;
	text-transform: uppercase;
}
.header-middle .contact ul li a {
	color: #4f4a4a;
}
.header-middle .contact ul li a:hover {
	color: #ff9600;
}
.header-middle a.login {
	display: inline-block;
	padding: 5px 20px;
	border: 2px #000 solid;
	border-radius: 5px;
	font-size: 15px;
	color: #6f7a7f;
	font-weight: 700;
}
.header-middle a.login:hover {
	background: #000;
	color: #fff;
}
.header-middle a.login span {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 10px;
	font-size: 14px;
	color: #ff9600;
}
.header-middle a.login:hover span {
	color: #fff;
}

/* ================================================== */
/* 03. navigation */
/* ================================================== */

.navbar {
	border-radius: 0px;
	margin: 0px;
	border: none;
}
.navbar-collapse {
	padding: 0px;
}
.navbar-inverse {
	background: #000;
}
.nav > li > a {
	padding: 19px 26px;
}
.navbar-nav > li {
	border-right: 1px #383838 solid;
}
.navbar-nav > li > a {
	text-transform: uppercase;
}
.navbar-nav > li:last-child {
	border: none;
}
.navbar-inverse .navbar-nav > li > a {
	font-family: 'texgyreadventorbold';
	font-size: 16px;
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a i {
	font-size: 20px;
	color: #bfbfbf;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	background: #4ab866;
}
.navbar-form {
	width: 20%;
	padding: 0 25px;
	background: #383838;
	margin: 0px;
	position: relative;
}
.navbar-form .form-control {
	width: 100%;
	margin: 12px 0;
	padding-left: 0px;
	height: 34px;
	background: none;
	border-radius: 0px;
	box-shadow: none;
	border-bottom: 1px #ccc solid !important;
	border: none;
	font-size: 12px;
	color: #ccc;
	text-transform: uppercase;
}
 .navbar-form .form-control::-webkit-input-placeholder {
 color:#fff;
}
 .navbar-form .form-control:-moz-placeholder { /* Firefox 18- */
 color:#fff;
}
 .navbar-form .form-control::-moz-placeholder {  /* Firefox 19+ */
 color:#fff;
}
 .navbar-form .form-control:-ms-input-placeholder {
 color:#fff;
}
.navbar-form .search-btn {
	display: block;
	border: none;
	position: absolute;
	right: 25px;
	top: 18px;
	background: none;
	font-size: 16px;
	color: #fff;
}
.navbar .dropdown-menu {
	min-width: 260px;
	padding: 0px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	border-top: 4px #ff9600 solid;
}
.navbar .dropdown-menu:after {
	bottom: 100%;
	left: 40px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(255, 150, 0, 0);
	border-bottom-color: #ff9600;
	border-width: 10px;
}
.navbar .dropdown-menu > li > a {
	padding: 8px 15px;
}
.navbar .dropdown-menu > li > a:focus, .navbar .dropdown-menu > li > a:hover {
	background: #ff9600;
	color: #fff;
}

/* ================================================== */
/* 04. home page sections */
/* ================================================== */
	
/*-----------------------
	banner
-----------------------*/
.banner-outer {
	display: block;
	position: relative;
	overflow-x: hidden;
}
.banner-slider .container {
	display: table;
	height: 100%;
}
.banner-outer .slide1, .banner-outer .slide2, .banner-outer .slide3 {
	display: block;
	height: 588px;
}
.banner-outer .slide1 {
	background: url(../images/banner1.jpg) no-repeat center top / cover;
}
.banner-outer .slide2 {
	background: url(../images/banner2.jpg) no-repeat center top / cover;
}
.banner-outer .slide3 {
	background: url(../images/banner3.jpg) no-repeat center top / cover;
}
.banner-outer .content {
	display: table-cell;
	vertical-align: middle;
}
.banner-slider .content .fl-right {
	float: right;
}
.banner-outer .content h1 {
	display: block;
	padding-bottom: 20px;
	font-family: 'texgyreadventorbold';
	font-size: 32px;
	color: #24343a;
	line-height: 50px;
	text-transform: uppercase;
	-webkit-animation-delay: 0.2s;
}
.banner-outer .content h1 span {
	display: block;
	font-size: 62px;
	-webkit-animation-delay: 0.3s;
}
.banner-outer .content p {
	display: block;
	padding-bottom: 25px;
	max-width: 390px;
	font-size: 16px;
	color: #24343a;
	opacity: 0.8;
	-webkit-animation-delay: 0.34s;
}
.banner-outer .content a.btn {
	-webkit-animation-delay: 0.36s;
}
.banner-outer .slide2 .content a.btn {
	margin: 0 10px;
}
.banner-outer .slide2 .content {
	float: none;
	text-align: center;
}
.banner-outer .slide2 .content h1, .banner-outer .slide3 .content h1 {
	font-size: 54px;
	color: #fff;
}
.banner-outer .slide2 .content p {
	margin: 0 auto;
	color: #fff;
}
.banner-outer .slide3 .content h1, .banner-outer .slide3 .content p {
	color: #fff;
}
.btn {
	display: inline-block;
	padding: 12px 24px;
	border-radius: 4px;
	background: #ff9600;
	font-family: 'texgyreadventorbold';
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn span {
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	content: "";
	opacity: 0.5;
}
.btn:hover, .btn:focus {
	background: #2c97ea;
	color: #fff;
}
.btn.white {
	background: #fff;
	color: #595545;
}
.btn.white:hover {
	background: #2c97ea;
	color: #fff;
}
.btn.blue {
	background: #2c97ea;
	color: #fff;
}
.btn.blue:hover {
	background: #17a43b;
}
.banner-outer .bx-wrapper .bx-pager {
	bottom: 60px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 999;
}
.banner-outer .bx-wrapper .bx-pager .bx-pager-item {
	display: inline-block;
}
.banner-outer .bx-wrapper .bx-pager a {
	background: #fff;
	border-radius: 2px;
	display: block;
	height: 5px;
	margin: 0 4px;
	outline: 0 none;
	text-indent: -9999px;
	width: 18px;
	opacity: 0.3;
}
.banner-outer .bx-wrapper .bx-pager a:hover, .banner-outer .bx-wrapper .bx-pager a.active {
	background: #fff;
	opacity: 1;
}

/*-----------------------
	about
-----------------------*/
	
.about {
	display: block;
	position: relative;
	padding: 195px 0 0 0;
	/* background: url(../images/about-bg.jpg) no-repeat center bottom; */
}
.about ul.our-links {
	display: block;
	margin: -280px 0 0 0;
	position: relative;
	z-index: 9999;
}
.about ul.our-links li {
	display: block;
	position: relative;
}
.about ul.our-links li.apply-online {
	background: #17a43b;
}
.about ul.our-links li.prospects .detail a.more {
	border: 2px #ff9600 solid;
	color: #ff9600;
}
.about ul.our-links li.prospects {
	background: #c50f0f;
}
.about ul.our-links li.prospects .detail a.more {
	border: 2px #c50f0f solid;
	color: #c50f0f;
}
.about ul.our-links li.certification {
	background: #0246af;
}
.about ul.our-links li.certification .detail a.more {
	border: 2px #0246af solid;
	color: #0246af;
}
.about ul.our-links li.course .detail a.more {
	border: 2px #ff9600 solid;
	color: #ff9600;
}
.about ul.our-links li.course {
	background: #fe9601;
}
.about ul.our-links li.course .detail a.more {
	border: 2px #fe9601 solid;
	color: #fe9601;
}
.about ul.our-links li {
	display: block !important;
	padding: 44px 10px 60px 4%;
	opacity: 1 !important;
}
.about ul.our-links li p {
	padding-bottom: 0px;
}
.about ul.our-links li .icon {
	width: 23%;
	float: left;
}
.about ul.our-links li .detail {
	width: 60%;
	padding-left: 20px;
	float: left;
	color: #fff;
}
.about ul.our-links li .detail h3 {
	display: block;
	padding-bottom: 10px;
	font-family: 'texgyreadventorbold';
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}
.about ul.our-links li .detail h3 span {
	display: block;
	font-size: 12px;
}
.about ul.our-links li .detail p {
	display: block;
	font-size: 12px;
	line-height: 16px;
}
.about ul.our-links li .detail a.more {
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 34px;
	position: absolute;
	bottom: -17px;
	margin: 0 auto;
	left: 0;
	right: 0;
	background: #fff;
	font-size: 20px;
	color: #17a43b;
	border-radius: 50%;
	text-align: center;
	border: 2px #17a43b solid;
}
.about ul.our-links li .detail a.more:hover {
	color: #211d1e;
}
.about .sm-head {
	display: block;
	font-family: 'texgyreadventorregular';
	font-size: 14px;
	color: #7d7c7c;
	line-height: 18px;
	text-transform: uppercase;
}
.about .left-block {
	display: block;
}
.video-block {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}
.video-block iframe, .video-block object, .video-block embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#thumbnail_container {
	overflow: hidden;
	width: 100%;
}
.about .video-block img {
	width: 100%;
}
.about .video-block a {
	width: 67px;
	display: block;
	position: absolute;
	margin: -34px auto 0;
	left: 0px;
	right: 0px;
	top: 50%;
	cursor: pointer;
}
.about h2 {
	padding-bottom: 20px !important;
	color: #353434;
	text-align: left !important;
}
.about p {
	display: block;
	padding-bottom: 34px;
}
.about .know-more-wrapper {
	display: block;
	position: relative;
}
.about .know-more-wrapper:after {
	width: calc(100% - 135px);
	height: 1px;
	background: #e8e8e8;
	content: "";
	position: absolute;
	right: 0px;
	top: 14px;
	z-index: 1;
}
.about a.know-more {
	display: inline-block;
	padding-right: 24px;
	position: relative;
	z-index: 2;
	font-family: 'texgyreadventorbold';
	font-size: 14px;
	color: #645847;
	text-transform: uppercase;
}
.about a.know-more span {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 4px;
	color: #ff9600;
}
.about a.know-more:hover span {
	color: #17a43b;
}

/*-----------------------
	cources
-----------------------*/

.padding-lg {
	display: block;
	padding-top: 90px;
	padding-bottom: 90px;
}
.our-cources h2, .how-study h2, .why-choose h2, .news-events h2, .campus-tour h2, .testimonial h2, .about h2, .browse-teacher h2, .how-apply h2, .have-question h2 {
	display: block;
	padding-bottom: 44px;
	font-family: 'texgyreadventorbold';
	font-size: 36px;
	text-transform: uppercase;
	
}
.our-cources h2 span, .how-study h2 span, .why-choose h2 span, .news-events h2 span, .campus-tour h2 span, .browse-teacher h2 span, .how-apply h2 span {
	display: block;
	font-family: 'texgyreadventorregular';
	font-size: 14px;
	opacity: 0.8;
}
.our-cources {
	display: block;
	background: #000;
	position: relative;
}
.our-cources:after {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	z-index: 1;
	content: "";
	background: url(../images/cources-bg.jpg) no-repeat center top / cover;
	opacity: 0.2;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-cources .container {
	position: relative;
	z-index: 2;
}
.our-cources h2 {
	color: #fff;
}
.our-cources h2 span {
	color: #d5d4d3;
}
.our-cources ul.course-list {
	display: block;
	padding-top: 20px;
}
.our-cources ul.course-list li {
	display: block;
	background: url(../images/book-bg.png) no-repeat center top;
	position: relative;
}
.our-cources ul.course-list li:after {
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	background: #fff;
	content: " ";
	opacity: 0.3;
}
.our-cources ul.course-list li .inner {
	width: 198px;
	margin: 0 auto;
	height: 280px;
	padding: 54px 0 0 30px;
	position: relative;
}
.our-cources ul.course-list li .inner figure {
	position: absolute;
	left: 4px;
	top: 1px;
	opacity: 0.3;
}
.our-cources ul.course-list li h3 {
	display: block;
	padding-bottom: 10px;
	font-family: 'texgyreadventorbold';
	font-size: 18px;
	text-transform: uppercase;
	line-height: 22px;
	color: #fff;
	position: relative;
}
.our-cources ul.course-list li h3 span {
	display: block;
}
.our-cources ul.course-list li p {
	display: block;
	padding-bottom: 12px;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	opacity: 0.8;
}
.our-cources ul.course-list li .fess-box {
	display: inline-block;
	padding: 0 12px;
	background: #ff9600;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	position: relative;
	text-transform: uppercase;
}
.our-cources ul.course-list li .fess-box span {
	font-family: 'texgyreadventorbold';
	font-size: 16px;
}
.our-cources ul.course-list li .bottom-txt {
	width: 100%;
	padding: 18px 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.our-cources ul.course-list li .duration {
	width: 81%;
	float: left;
}
.our-cources ul.course-list li .duration h4 {
	display: block;
	font-family: 'texgyreadventorbold';
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}
.our-cources ul.course-list li .duration span {
	display: block;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	line-height: 16px;
	text-transform: uppercase;
	opacity: 0.8;
}
.our-cources ul.course-list li a {
	display: block;
	position: absolute;
	right: 18px;
	top: 22px;
}
.our-cources ul.course-list li a .icon-more-icon {
	font-size: 23px;
	color: #fff;
	opacity: 0.5;
	transition: all 0.3s ease 0s;
}
.our-cources ul.course-list li a:hover .icon-more-icon {
	opacity: 1;
}

/*-----------------------
	impotance
-----------------------*/
	
.our-impotance {
	background: #fff;
}
.our-impotance ul {
	display: block;
	text-align: center;
}
.our-impotance ul li {
	display: block;
	margin-bottom: 64px;
	/*border-right: 1px #e9e9e9 solid;*/
	position: relative;
}
.our-impotance ul li .inner {
	display: block;
	padding: 30px;
}
.our-impotance ul li .inner img {
	border-radius: 3px;
}
.our-impotance ul li:nth-child(3n) {
	border-right: none;
}
.our-impotance ul li:nth-child(n+4):after {
	display: none;
}
.our-impotance ul li:nth-child(n+4) {
	margin-bottom: 0px;
}
/*.our-impotance ul li:after {
	width: 80%;
	height: 1px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	display: block;
	position: absolute;
	bottom: -35px;
	content: "";
	background: #e9e9e9;
}*/
.our-impotance ul li h3 {
	display: block;
	padding: 22px 0 12px 0;
	font-family: 'texgyreadventorbold';
	font-size: 18px;
	color: #284962;
	text-transform: uppercase;
	line-height: 24px;
}
.our-impotance ul li h3 span {
	display: block;
}
.our-impotance ul li p {
	display: block;
	font-size: 12px;
	color: #969a9e;
	line-height: 20px;
}

/*-----------------------
	why choose
-----------------------*/
	
.why-choose {
	background: #555;
	position: relative;
}
.why-choose:after {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	z-index: 1;
	content: "";
	background: url(../images/why-choose-bg.jpg) no-repeat center center / cover;
	opacity: 0.1;
}
.why-choose h2 {
	padding-bottom: 70px;
	color: #fff;
}
.why-choose h2 span {
	color: #fff;
}
ul.our-strength {
	display: block;
	text-align: center;
}
ul.our-strength li {
	width: 20%;
	display: inline-block;
	color: #fff;
	text-align: center;
	border-right: 1px #eee solid;
}
ul.our-strength li:last-child {
	border: none;
}
ul.our-strength li .icon {
	display: block;
	padding-bottom: 20px;
}
ul.our-strength li .icon span {
	font-size: 44px;
	opacity: 0.7;
}
ul.our-strength li span {
	padding-bottom: 12px;
	font-family: 'texgyreadventorregular';
	font-size: 48px;
}
ul.our-strength li .couter-outer {
	display: block;
}
ul.our-strength li .title {
	display: block;
	font-family: 'texgyreadventorregular';
	font-size: 14px;
	opacity: 0.8;
	text-transform: uppercase;
}

/*-----------------------
	news & events
-----------------------*/
	
.news-events {
	background: #f3f6f8;
}
.news-events h2 {
	color: #2a4356;
}
.news-events h2 span {
	color: #2d4256;
}
.news-events ul {
	display: block;
	margin-bottom: 60px;
}
.news-events ul li .inner {
	display: block;
	background: #fff;
	box-shadow: 0px 0px 3px #c4c6c8;
	position: relative;
}
.news-events ul li .img-block {
	display: block;
}
.news-events ul li .img-block img {
	width: 100%;
}
.news-events .cnt-block {
	display: block;
	padding: 40px 30px 30px 30px;
	background: #fff;
	position: relative;
}
.news-events ul li .cnt-block .plus-icon {
	display: block;
	width: 64px;
	height: 64px;
	line-height: 60px;
	text-align: center;
	position: absolute;
	right: 20px;
	top: -32px;
	background: #2c97ea;
	border-radius: 50%;
	font-size: 34px;
	color: #fff;
	box-shadow: 0px 5px 5px #c0e0f9;
}
.news-events ul li .cnt-block .plus-icon:hover {
	background: #ff9600;
}
.news-events .cnt-block h3 {
	display: block;
	padding-bottom: 36px;
	font-family: 'texgyreadventorregular';
	font-size: 22px;
	color: #41484d;
	line-height: 32px;
	text-transform: none;
}
.news-events figure {
	position: relative;
}
.news-events figure img {
	width: 100%;
	display: block;
	position: relative;
}
.news-events figcaption {
	position: absolute;
	top: 0;
	left: 0;
}
/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
	padding-bottom: 104px;
}
.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .cs-style-3 figure:hover img, .cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
.cs-style-3 figcaption {
	width: 100%;
	top: auto;
	bottom: 0px;
	-webkit-transform: translateY(40%);
	-moz-transform: translateY(40%);
	-ms-transform: translateY(40%);
	transform: translateY(40%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .cs-style-3 figure:hover figcaption, .cs-style-3 figure.cs-hover figcaption {
	bottom: 0px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.news-events .bottom-block {
	display: block;
	padding: 30px 0 0 0;
	border-top: 1px #e8eef0 solid;
	font-size: 12px;
	color: #96adba;
}
.news-events .date {
	display: block;
	float: left;
}
.news-events .icon {
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}
.news-events .icon span {
	font-size: 20px !important;
	color: #c5d4da !important;
}
.news-events .comment {
	display: block;
	float: right;
}
.news-events .date span, .news-events .comment span {
	font-weight: 700;
	color: #5c7e91;
}
.news-events .know-more-wrapper {
	display: block;
	text-align: center;
	position: relative;
}
.news-events .know-more-wrapper:after {
	width: 100%;
	height: 1px;
	background: #daddde;
	content: "";
	position: absolute;
	left: 0px;
	top: 14px;
	z-index: 1;
}
.news-events .know-more {
	display: inline-block;
	padding: 0 30px;
	position: relative;
	background: #f3f6f8;
	z-index: 2;
	font-family: 'texgyreadventorbold';
	font-size: 14px;
	color: #645847;
	text-transform: uppercase;
}
.news-events a.know-more span {
	margin-left: 4px;
	vertical-align: middle;
	margin-top: -2px;
	display: inline-block;
	color: #ff9600;
	transition: all 0.3s ease 0s;
}
.news-events a.know-more:hover span {
	color: #17a43b;
}


/*-----------------------
	testimonials
-----------------------*/
	
.testimonial {
	display: block;
	background: rgb(88, 88, 88);
	text-align: center;
	position: relative;
}
.testimonial:after {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0px;
	z-index: 1;
	content: "";
	background: url(../images/testimonial-bg.jpg) no-repeat center top / cover;
	opacity: 0.15;
}
.testimonial .container {
	position: relative;
	z-index: 2;
}
.testimonial h2 {
	font-family: 'texgyreadventorbold';
	color: #fff;
}
.testimonial .wrapper {
	display: block;
	max-width: 1012px;
	position: relative;
}
.testimonial .wrapper:before, .testimonial .wrapper:after {
	display: block;
	position: absolute;
	font-family: 'icomoon';
	font-size: 48px;
	color: #fff;
}
.testimonial .wrapper:before {
	left: 0;
	top: 0;
	content: "\e90d";
}
.testimonial .wrapper:after {
	right: 0;
	bottom: 0;
	content: "\e90c";
}
.testimonial ul {
	display: block;
}
.testimonial ul li {
	display: block;
}
.testimonial ul li p {
	display: block;
	padding-bottom: 32px;
	font-family: 'texgyreadventorregular';
	font-size: 23px;
	color: #fff;
	line-height: 38px;
}
.testimonial ul li p a {
	font-family: 'texgyreadventorbold';
	font-size: 18px;
	color: #fff;
}
.testimonial ul li span {
	font-family: 'texgyreadventorregular';
	font-size: 18px;
	color: #fff;
}
.testimonial ul li span span {
	font-size: 14px;
	color: #fff;
}
.testimonial .bx-wrapper {
	padding-bottom: 20px;
}
.testimonial #bx-pager a {
	display: inline-block;
	position: relative;
	margin: 0 6px;
}
.testimonial #bx-pager a img {
	border: 5px solid transparent;
}
.testimonial #bx-pager a:hover img, .testimonial #bx-pager a.active img {
	border: 5px solid #ff8500;
}
.testimonial #bx-pager a:hover:after, .testimonial #bx-pager a.active:after {
	width: 0;
	height: 0;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -7px;
	content: " ";
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 10px solid #ff8500;
}

/* ================================================== */
/* 05. footer */
/* ================================================== */
	  
.footer {
	display: block;
	background: #211d1e;
}
.footer .row1 {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer .foot-nav {
	display: block;
	width: 25%;
	padding-right: 15px;
	float: left;
}
.footer .foot-nav ul li {
	display: block;
	line-height: 22px;
}
.footer h3 {
	display: block;
	padding-bottom: 20px;
	font-family: 'texgyreadventorbold';
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}
.footer .foot-nav ul li a {
	font-size: 12px;
	color: #bfbfbf;
}
.footer .foot-nav ul li a:hover {
	color: #fff;
}
.footer .footer-logo {
	display: block;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px #3e6583 solid;
}
.footer p {
	font-size: 12px;
	color: #bfbfbf;
}
.footer p span {
	color: #fff;
	font-weight: 700;
}
.footer ul.terms {
	display: block;
}
.footer ul.terms li {
	display: block;
	float: left;
	font-size: 11px;
	font-weight: 700;
}
.footer ul.terms li:after {
	display: inline-block;
	padding: 0 4px;
	content: " I ";
}
.footer ul.terms li:last-child:after {
	display: none;
}
.footer ul.terms li:first-child {
	padding-left: 0px;
}
.footer ul.terms li a {
	color: #bfbfbf;
}
.footer ul.terms li a:hover {
	color: #fff;
}
.footer .bottom {
	display: block;
	padding: 40px 0;
	background: #2e5f85;
}
.footer .connect-us {
	display: block;
	padding: 14px 0 18px 0;
	width: 95%;
	border-right: 1px #537d9e solid;
}
.footer ul.follow-us {
	display: block;
}
.footer ul.follow-us li {
	display: block;
	padding: 0 4px;
	float: left;
}
.footer ul.follow-us li:first-child {
	padding-left: 0px;
}
.footer ul.follow-us li a {
	width: 40px;
	height: 40px;
	display: block;
	border: 2px #4d87b5 solid;
	border-radius: 50%;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
	color: #fff;
}
.footer ul.follow-us li a:hover {
	background: #1c7bc3;
	border-color: #1c7bc3;
}
.footer .subscribe {
	display: block;
	padding: 14px 58px 18px 0;
	width: 95%;
	border-right: 1px #537d9e solid;
}
.footer .subscribe .input-wrapper {
	display: block;
	background: #fff;
	border-radius: 4px;
}
.footer .subscribe input {
	width: 82%;
	height: 44px;
	padding: 0 15px;
	border: none;
	background: none;
	font-size: 12px;
	color: #7da6c6;
}
.footer .subscribe button {
	width: 46px;
	height: 44px;
	float: right;
	border: none;
	background: #2c97ea;
	font-size: 20px;
	color: #fff;
	border-radius: 0 4px 4px 0;
	transition: all 0.3s ease 0s;
}
.footer .subscribe button:hover {
	background: #ff8500;
}
.footer .instagram {
	display: block;
	padding: 14px 58px 18px 0;
}
.footer .instagram ul {
	display: block;
}
.footer .instagram ul li {
	width: 16.6%;
	padding: 0 2.5px;
	float: left;
}
.footer .instagram ul li a:hover {
	opacity: 0.7;
}
a.scroll-top {
	width: 44px;
	height: 44px;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	display: none;
	right: 20px;
	bottom: 20px;
	background-color: #ff7b49;
}
a.scroll-top:hover {
	background: #ff9600;
}



/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.navbar-inverse .navbar-toggle {
		border: none;
	}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
		background: none;
	}
	.navbar-form {
		background: none;
		border: none;
		box-shadow: none;
	}
	.navbar-form .search-btn {
		top: 4px;
	}
	.form-control {
		padding: 6px 30px;
	}
	.navbar-toggle .icon-bar {
		width: 26px;
		height: 3px;
	}
	.navbar-collapse {
		box-shadow: none;
		border: none;
		padding: 0 15px;
	}
	.navbar-form {
		width: auto;
		margin: 0 -15px;
	}
	.nav > li > a {
		padding: 12px 20px;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #333;
	}
	.navbar-nav .open .dropdown-menu {
		background: #fff;
		border-radius: 0px;
	}
	.navbar .dropdown-menu {
		padding: 10px 0;
	}
	.navbar .dropdown-menu:after {
		display: none;
	}
	.header-top ul.top-nav li {
		padding: 0 7px;
	}
	.header-top .right-block {
		float: none;
	}
	.header-top .lang-wrapper {
		margin-right: -15px;
	}
	.header-middle a.login {
		padding: 5px 14px;
	}
	.banner-outer .content {
		float: none;
		padding: 50px 0px;
	}
	.banner-outer .content h1 span {
		font-size: 60px;
	}
	.banner-outer .slide2 .content h1, .banner-outer .slide3 .content h1 {
		font-size: 44px;
	}
	.banner-outer .content p {
		font-size: 14px;
		line-height: 24px;
	}
	.banner-outer .bx-wrapper .bx-pager {
		bottom: 10px;
	}
	.banner-outer .slide1, .banner-outer .slide2, .banner-outer .slide3 {
		height: 350px;
	}
	.about {
		padding: 226px 0 40px;
	}
	.about .video-block a {
		width: 50px;
		margin-top: -25px;
	}
	.modal-open .modal {
		padding-right: 0px !important;
	}
	.about ul.our-links {
		margin: -226px -15px 30px -15px;
	}
	.about ul.our-links li {
		padding: 20px 20px 30px 20px;
	}
	.about ul.our-links li .icon {
		width: 20%;
	}
	.about ul.our-links li .detail {
		width: 80%;
	}
	.about ul.our-links li .detail a.more {
		width: 30px;
		height: 30px;
		line-height: 24px;
		font-size: 16px;
		position: relative;
	}
	.about .left-block {
		padding-bottom: 30px;
	}
	.details-tab, .padding-lg {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.our-cources h2, .how-study h2, .why-choose h2, .news-events h2, .campus-tour h2, .testimonial h2, .about h2, .browse-teacher h2, .how-apply h2, .have-question h2 {
		padding-bottom: 30px;
		font-size: 26px;
	}
	.our-impotance ul li .inner {
		padding: 10px 10px 30px 10px;
		border-bottom: 1px #e9e9e9 solid;
	}
	.our-impotance ul li:last-child {
		margin-bottom: 0px !important;
	}
	.our-impotance ul li:last-child .inner {
		border-bottom: none;
	}
	.our-impotance ul li {
		border-right: none;
		margin-bottom: 30px !important;
	}
	.our-impotance ul li:after {
		display: none;
	}
	.our-impotance ul li h3 span {
		display: inline;
	}
	.how-study ul li {
		margin-bottom: 20px;
	}
	.how-study ul li .cnt-block {
		left: 20px;
	}
	ul.our-strength li {
		width: 24%;
		border: none;
	}
	ul.our-strength li span {
		font-size: 26px;
	}
	ul.our-strength li .title {
		line-height: 20px;
	}
	.news-events ul {
		margin-bottom: 30px;
	}
	.news-events ul li {
		margin-bottom: 30px;
	}
	.news-events ul li .cnt-block {
		padding: 40px 20px 20px;
	}
	.news-events ul li .cnt-block h3 {
		font-size: 18px;
		line-height: 28px;
	}
	.news-events ul li .cnt-block .plus-icon {
		width: 54px;
		height: 54px;
		line-height: 54px;
		font-size: 30px;
		top: -27px;
	}
	.news-events ul li .bottom-block {
		padding-top: 20px;
	}
	.campus-tour {
		padding-bottom: 0px;
	}
	.campus-tour ul.gallery li {
		width: 50%;
	}
	.campus-tour ul.gallery li h3 {
		font-size: 18px;
	}
	.campus-tour ul.gallery li a {
		width: 44px;
		height: 44px;
		margin: 0 4px;
		line-height: 44px;
		font-size: 18px;
	}
	.campus-tour ul.gallery li:hover .overlay {
		top: 60%;
	}
	.campus-tour ul.gallery li p {
		padding-bottom: 10px;
	}
	.logos {
		padding: 30px 0;
	}
	.testimonial ul li p {
		font-size: 18px;
		line-height: 28px;
	}
	.testimonial ul li span {
		font-size: 16px;
	}
	.testimonial .wrapper:before, .testimonial .wrapper:after {
		font-size: 38px;
	}
	.footer .row1 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer .row1 .col-sm-9 {
		padding-bottom: 15px;
	}
	.footer .foot-nav {
		width: 100%;
		border-bottom: 1px #2e5f85 solid;
		padding: 10px 0 12px 0;
	}
	.footer .foot-nav h3 {
		padding-bottom: 0px;
		cursor: pointer;
	}
	.footer .foot-nav h3:after {
		display: inline-block;
		vertical-align: middle;
		margin-top: -4px;
		float: right;
		content: " + ";
	}
	.footer .foot-nav h3.open:after {
		content: " - ";
	}
	.footer .foot-nav ul {
		padding: 15px 0 10px 0;
	}
	.footer .bottom {
		padding: 20px 0px;
	}
	.footer .connect-us, .footer .subscribe, .footer .instagram {
		width: 100%;
		border-right: none;
		padding-right: 0px;
	}
	.footer .instagram ul li a img {
		width: 100%;
	}
	ul.browse-teachers-list > li {
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px #e5e5e5 solid;
	}
	ul.browse-teachers-list > li:nth-child(2n) {
		border-right: none;
	}
	ul.browse-teachers-list > li:nth-last-child(2) {
		border-bottom: none;
	}
	.about-video .container {
		height: 300px;
	}
	.about-video p {
		font-size: 36px;
	}
	.inner-banner {
		padding: 30px 0 20px;
	}
	.inner-banner h1 {
		font-size: 30px;
		padding-bottom: 10px;
	}
	.inner-banner p {
		padding-bottom: 10px;
		font-size: 14px;
		line-height: 24px;
	}
	.inner-banner a.apply-online .left {
		padding: 12px 0 12px 24px;
	}
	.inner-banner a.apply-online .arrow {
		line-height: 64px;
	}
	.about .btn-wrapper {
		margin-bottom: 20px;
	}
	.select-course {
		float: left;
		margin-bottom: 30px;
	}
	.our-cources.sub h2 {
		padding-left: 0px;
	}
	.our-cources ul.inner li {
		margin-bottom: 70px;
	}
	.our-cources ul.inner li:before {
		bottom: -35px;
		display: none;
	}
	.our-cources ul.inner li:nth-child(2n):after {
		display: none;
	}
	ul.cert-list li {
		width: 100%;
		float: none;
	}
	ul.cert-list li:nth-last-child(2) {
		border-bottom: 1px dashed #c0c4c6;
	}
	.enquire-now {
		max-width: none;
		margin-top: 0;
	}
	.enquire-wrapper {
		max-width: none;
	}
	.course-detail {
		padding: 0 20px;
		margin: 20px 0 0 0;
	}
	.course-detail .duration {
		width: auto;
		padding: 20px 0;
		border: none;
		float: none;
		border-bottom: 1px solid #dfe9f1;
	}
	.course-detail .duration.eligible {
		width: auto;
		padding: 20px 0px;
	}
	.course-detail .duration.fee {
		width: auto;
		float: none;
		padding: 20px 0px;
		border: none;
	}
	.course-detail .duration.fee .detail {
		padding: 0px;
	}
	.course-detail .btn {
		position: absolute;
		right: 36px;
		bottom: 22px;
		float: none;
		margin: 10px 0 0 0;
	}
	.how-apply ul, .how-apply ul li {
		padding-bottom: 30px;
	}
	.how-apply ul li .icon-block {
		width: 135px;
		height: 135px;
		line-height: 135px;
	}
	.how-apply ul li .icon-block img {
		width: 60px;
	}
	.how-apply ul li .icon-block .num {
		width: 34px;
		height: 34px;
		line-height: 34px;
		font-size: 16px;
		top: 20px;
		right: -8px;
	}
	.how-apply ul li:nth-child(1):after, .how-apply ul li:nth-child(2):after {
		display: none;
	}
	.comments-wrapper ul.comments {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.comments-wrapper ul.comments li .com-txt {
		padding: 20px;
	}
	.leave-comment {
		padding-bottom: 30px;
		border-bottom: 1px solid #e9e9e9;
	}
	.leave-comment h4 {
		padding: 30px 0;
	}
	.leave-comment textarea {
		height: 100px;
	}
	#myTabs {
		padding: 0px;
	}
	.course-tab {
		margin-bottom: 30px;
	}
	.course-tab > li > a {
		font-size: 14px;
		padding-bottom: 16px;
	}
	.course-tab > li > a span {
		font-size: 44px;
		padding-bottom: 14px;
	}
	.course-tab > li > a .block {
		display: block;
	}
	.course-table > tbody > tr > td, .course-table > tfoot > tr > td, .course-table > thead > tr > td {
		padding: 18px 20px;
	}
	#schedule .fee-amt {
		font-size: 18px;
	}
	#semester ul.content {
		border-bottom: 1px dashed #c9cdce;
		padding-bottom: 24px;
		margin-bottom: 24px;
	}
	#semester .col-sm-6:last-child ul.content {
		border-bottom: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	#semester ul.content > li h4 {
		font-size: 16px;
	}
	.inner-banner.contact, .inner-banner.blog {
		padding: 30px 0 60px 0;
	}
	.inner-banner.contact p, .inner-banner.blog p {
		padding-bottom: 0px;
	}
	.form-wrapper .row .col-sm-6 {
		margin-bottom: 20px;
	}
	.contact-detail .address {
		padding: 18px 40px 12px 60px;
	}
	.contact-bottom {
		padding: 18px 0 14px 0;
	}
	.blog-left {
		padding-bottom: 30px;
	}
	.blog-left:after {
		display: none;
	}
	.blog-right {
		padding-left: 0px;
	}
	ul.blog-listing > li {
		padding-bottom: 30px;
		margin-bottom: 40px;
	}
	ul.blog-listing > li h2 {
		padding: 20px 0 15px;
		font-size: 18px;
		line-height: 26px;
	}
	ul.post-detail li {
		padding-bottom: 4px;
		padding-right: 18px;
	}
	.inner-banner.blog {
		min-height: 160px;
	}
	.recent-post, .archives {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px #e9e9e9 solid;
	}
	.blog-left .comments-wrapper ul.comments li.col-xs-offset-1 {
		padding-left: 64px;
	}
	.category {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px #e9e9e9 solid;
	}
	.not-found-wrapper {
		width: 80%;
		margin: 50px auto;
		padding-top: 178px;
	}
	.not-found-wrapper h1 {
		font-size: 116px;
	}
	.not-found-wrapper p {
		font-size: 26px;
		padding-bottom: 40px;
	}
	.faq-wrapper .search-block input {
		height: 48px;
	}
	.faq-wrapper .search-block .search {
		width: 48px;
		height: 48px;
	}
	ul.faq-listing li .inner {
		padding: 10px 20px 30px 48px;
	}
	ul.faq-listing li .inner:before {
		top: 26px;
		font-size: 36px;
	}
	ul.faq-listing li:nth-last-child(2) .inner {
		border-bottom: 1px #e2e4e6 solid;
	}
	ul.faq-listing li:nth-child(2n) .inner {
		padding-left: 48px;
	}
	ul.faq-listing li .inner:before {
		left: 0px !important;
		top: 22px;
	}
	.faq-wrapper .text-center, .testimonial-outer .text-center {
		margin-top: 40px;
	}
	.login-wrapper .login {
		max-width: 360px;
	}
	.login-wrapper .login-logo {
		margin-bottom: 30px;
		text-align: center;
	}
	.login-wrapper .login-logo a {
		width: 220px;
		display: inline-block;
	}
	.login-wrapper .head-block {
		padding: 18px 15px;
	}
	.login-wrapper .head-block h1 {
		font-size: 26px;
	}
	.login-wrapper .cnt-block {
		padding: 30px;
	}
	.login-wrapper .btn {
		padding: 8px 14px;
	}
	.login-wrapper .login-footer {
		padding: 12px 15px;
	}
	.login-wrapper ul.follow-us li {
		padding: 0 12px;
	}
	ul.testimonials:after {
		display: none;
	}
	ul.testimonials li h3 {
		padding-top: 8px;
	}
	ul.testimonials li p {
		font-size: 15px;
		line-height: 28px;
	}
	ul.testimonials li .quotblock {
		padding: 30px 10px 15px 10px;
	}
	ul.testimonials li:nth-child(3) .quotblock {
		padding-top: 30px;
	}
	ul.testimonials li:nth-last-child(2), ul.testimonials li:nth-last-child(3) {
		border-bottom: 1px solid #dfe5e1 !important;
	}
	ul.testimonials li:nth-child(odd):before, ul.testimonials li:nth-child(even):after {
		display: none;
	}
	ul.testimonials li:nth-child(even) {
		border-right: none;
	}
	ul.testimonials li:nth-last-child(2):before, ul.testimonials li:nth-last-child(3):before, ul.testimonials li:nth-last-child(2):after, ul.testimonials li:nth-last-child(3):after {
		display: block !important;
	}
	ul.gallery-filter {
		padding: 0px;
	}
	ul.gallery-filter li {
		width: auto;
		float: none;
		display: inline-block;
		padding: 0 16px;
		font-size: 16px;
	}
	ul.gallery-filter li a {
		padding-bottom: 20px;
	}
	.campus-tour .pagination {
		margin: 40px 0;
	}
	.news-wrapper .text-center {
		margin-top: 10px;
	}
	ul.news-listing > li h2 {
		font-size: 18px;
		line-height: 26px;
	}
	ul.news-listing > li p {
		line-height: 24px;
	}
	.news-wrapper ul.post-detail li {
		padding-right: 10px;
		padding-bottom: 2px;
	}
	ul.news-listing > li .cnt-block {
		padding: 20px;
	}
	.privacy-wrapper h2 {
		font-size: 24px;
	}
	.privacy-wrapper h3 {
		font-size: 20px;
	}
	ul.privacy-listing {
		padding: 0px;
	}
	ul.privacy-listing > li {
		padding-bottom: 10px;
	}
	ul.privacy-listing > li:last-child {
		border-bottom: 1px dashed #c9cdce;
	}
	ul.privacy-listing > li.last {
		border-bottom: none;
	}
	.privacy-wrapper .padding-top {
		padding-top: 10px;
	}
	.imp-note {
		padding: 20px;
	}
	.imp-note span {
		float: none;
		margin: 0px auto 20px;
	}
	.imp-note p {
		text-align: center;
	}
	.form-outer ul.select-opt {
		padding-bottom: 20px;
	}
	.form-outer .cnt-block textarea {
		height: 100px;
	}
	.form-outer .col-left {
		float: none;
	}
	.form-outer .select2.select2-container {
		margin-bottom: 30px;
	}
	.modal-body {
		padding: 10px;
	}
	.generic-wrapper ul.our-spec {
		padding-bottom: 40px;
	}
	.generic-wrapper .button-group {
		margin-bottom: 40px;
		text-align: center;
	}
	.generic-wrapper .pagination {
		padding-bottom: 30px;
	}
	.generic-wrapper ul.privacy-listing > li:last-child {
		border-bottom: none;
	}
}

/* Landscape phones and down */
@media (max-width: 640px) {
	
	.banner-outer .content h1 span {
		font-size: 50px;
	}
	.why-choose ul li {
		width: 48%;
		padding-bottom: 30px;
	}
	.why-choose ul li:nth-child(n+3) {
		padding-bottom: 0px;
	}
	ul.our-strength.opt2 li {
		border-right: none;
	}
	ul.testimonials li {
		width: 100%;
	}
	ul.testimonials li:before, ul.testimonials li:nth-last-child(2):before, ul.testimonials li:nth-last-child(3):before, ul.testimonials li:after, ul.testimonials li:nth-last-child(2):after, ul.testimonials li:nth-last-child(3):after {
		display: none !important;
	}
	ul.testimonials li:nth-last-child(2), ul.testimonials li:nth-last-child(3) {
		border-bottom: 1px solid #dfe5e1;
	}
	ul.testimonials li:first-child .quotblock {
		padding-top: 0px;
	}
	ul.testimonials li:nth-child(2) .quotblock {
		padding-top: 30px;
	}
	ul.gallery-filter li {
		margin-bottom: 10px;
		font-size: 15px;
		padding: 0 6px;
	}
	ul.gallery-filter li a {
		padding-bottom: 8px;
	}
	ul.news-listing > li {
		width: 100%;
	}
	ul.select-opt li {
		width: 100%;
		margin-bottom: 8px;
		float: none;
	}
	.generic-wrapper ul.our-spec li {
		width: 50%;
		min-height: 142px;
	}
	.generic-wrapper a.btn-circle {
		margin-bottom: 20px;
	}
	.button-group1 a.download-pros, .button-group1 a.download-cert {
		width: 100%;
		margin: 0 0 2px 0;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	.banner-outer .content h1 {
		font-size: 26px;
		line-height: 38px;
	}
	.banner-outer .content h1 span {
		font-size: 50px;
	}
	.our-impotance ul li {
		width: 100%;
	}
	.our-impotance ul li:after {
		width: 94%;
	}
	.our-impotance ul li .inner {
		padding: 10px 10px 30px 10px;
	}
	.our-impotance ul li h3 span {
		display: inline;
	}
	.testimonial ul li p {
		font-size: 16px;
		line-height: 26px;
	}
	.testimonial .wrapper:before, .testimonial .wrapper:after {
		font-size: 28px;
	}
	.about-video .container {
		height: 300px;
	}
	.about-video p {
		font-size: 32px;
	}
	a.download-pros {
		margin-bottom: 1px;
	}
	a.download-pros, a.download-cert {
		width: 100%;
		border: none;
	}
	.our-cources ul.inner li {
		width: 100%;
		margin-bottom: 40px;
	}
	.our-cources ul.inner li:nth-child(n+9) {
		margin-bottom: 40px;
	}
	.our-cources ul.course-list li:after {
		display: none;
	}
	.enquire-now .inner .row2 input {
		width: 100%;
		margin: 0 0 14px 0;
	}
	ul.browse-teachers-list > li {
		width: 100%;
		border: none;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.leave-comment input {
		width: 100%;
	}
	.leave-comment input:first-child {
		margin-bottom: 30px;
	}
	.course-detail .duration .icon {
		width: 57px;
		height: 57px;
		font-size: 34px;
	}
	.form-outer input {
		height: 40px;
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.login-wrapper .remember {
		margin-top: 20px;
	}
	.register .cnt-block textarea {
		margin-bottom: 20px;
	}
	.form-outer input.country-code {
		width: 20%;
	}
	.form-outer input.phone-no {
		width: calc(80% - 18px);
	}
}
	
/* iPhone 6 Plus and down */
@media (max-width: 414px) {
	
	.about-video p {
		font-size: 26px;
	}
	.pagination > li > a, .pagination > li > span {
		margin: 0 2px;
		padding: 4px 10px;
		font-size: 13px;
	}
	.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
		padding: 5px 14px;
	}
	.pagination > li:first-child a i {
		margin-right: 4px;
	}
	.pagination > li:last-child a i {
		margin-left: 4px;
	}
	.course-tab > li > a {
		font-size: 13px;
	}
	.not-found-wrapper {
		padding-top: 158px;
	}
	.not-found-wrapper h1 {
		font-size: 96px;
	}
	.not-found-wrapper p {
		font-size: 22px;
		padding-bottom: 30px;
	}
}

/* iPhone 6 and down */
@media (max-width: 375px) {
	
	.header-middle a.login {
		padding: 2px 8px;
	}
	.banner-outer .content h1 {
		font-size: 22px;
		line-height: 34px;
	}
	.banner-outer .content h1 span, .banner-outer .slide2 .content h1, .banner-outer .slide2 .content h1 {
		font-size: 38px;
		line-height: 40px;
	}
	.btn {
		padding: 8px 16px;
	}
	.testimonial #bx-pager a {
		margin: 0 2px;
	}
	.testimonial .wrapper:before {
		top: 44px;
	}
	.testimonial .wrapper:after {
		bottom: -26px;
	}
	.testimonial ul li p {
		padding-top: 30px;
	}
	.course-tab > li > a span {
		font-size: 40px;
	}
	.course-tab > li > a {
		font-size: 12px;
	}
	.not-found-wrapper {
		padding-top: 138px;
	}
	.not-found-wrapper h1 {
		font-size: 86px;
	}
	.login-wrapper .head-block h1 {
		font-size: 20px;
	}
	.login-wrapper .login {
		max-width: 320px;
	}
	.login-wrapper .cnt-block {
		padding: 20px 15px;
	}
	.login-wrapper .btn {
		padding: 6px 12px;
	}
	.privacy-wrapper h2 {
		font-size: 22px;
	}
}

/* iPhone 4 */
@media (max-width: 320px) {
	
	.about-video p {
		font-size: 24px;
	}
	.course-detail .btn {
		position: inherit;
		margin: 10px 0 20px 0;
		right: auto;
	}
	.not-found-wrapper {
		padding-top: 128px;
	}
	.not-found-wrapper h1 {
		font-size: 66px;
	}
	.not-found-wrapper p {
		font-size: 18px;
	}
	ul.faq-listing li h2 {
		font-size: 16px;
	}
	.login-wrapper .login {
		max-width: 300px;
	}
	.login-wrapper .cnt-block {
		padding: 20px 15px;
	}
	.login-wrapper .btn {
		padding: 6px 12px;
		font-size: 12px;
	}
}
.view {
    width: 345px;
    height: 200px;
    margin: 10px;
    float: left;
    /*border: 10px solid #fff;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 345px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 21px;
    padding: 10px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view img { 
	transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view .mask { 
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0px;
}
.view h2{
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
	transition: all 0.5s ease-in-out;
}
.view p { 
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.view a.info { 
    opacity: 0;
	transition: all 0.5s ease-in-out;
} 
.view img { 
	transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view .mask { 
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0px;
}
.view h2{
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
	transition: all 0.5s ease-in-out;
}
.view p { 
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.view a.info { 
    opacity: 0;
	transition: all 0.5s ease-in-out;
} 
.view:hover .mask { 
	opacity: 1; 
	transform: scale(1) rotate(0deg);
	transition-delay: 0.2s;
}								  
.view:hover img 	  { 
	transform: scale(0); 
    opacity: 0;
	transition-delay: 0s;
}						
.view:hover h2,
.view:hover p,
.view:hover a.info{
    opacity: 1;
    transition-delay: 0.5s;
}
.carousel-inner.onebyone-carosel { margin: auto; width: 100%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}