/*------------------------- Attach fonts ------------------------------*/
@font-face {
 font-family:'source_r';
	src: url('../fonts/sourcesansproregular.eot');
    src: url('../fonts/sourcesansproregular?#iefix') format('embedded-opentype'),
         url('../fonts/sourcesansproregular.woff') format('woff'),
         url('../fonts/sourcesansproregular.ttf') format('truetype'),
         url('../fonts/sourcesansproregular.svg#source_r') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
@font-face {
	font-family:'source_sb';
	src: url('../fonts/sourcesansprosemibold.eot');
	src: url('../fonts/sourcesansprosemibold?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesansprosemibold.woff') format('woff'),
	url('../fonts/sourcesansprosemibold.ttf') format('truetype'),
	url('../fonts/sourcesansprosemibold.svg#source_sb') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:'source_b';
	src: url('../fonts/sourcesansprobold.eot');
	src: url('../fonts/sourcesansprobold?#iefix') format('embedded-opentype'),
	url('../fonts/sourcesansprobold.woff') format('woff'),
	url('../fonts/sourcesansprobold.ttf') format('truetype'),
	url('../fonts/sourcesansprobold.svg#source_b') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*------------------------- Attach fonts ------------------------------*/
@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('../fonts/PTN57F-webfont.eot');
    src: url('../fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTN57F-webfont.woff') format('woff'),
         url('../fonts/PTN57F-webfont.ttf') format('truetype'),
         url('../fonts/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('../fonts/PTC75F-webfont.eot');
    src: url('../fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTC75F-webfont.woff') format('woff'),
         url('../fonts/PTC75F-webfont.ttf') format('truetype'),
         url('../fonts/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('../fonts/PTC55F-webfont.eot');
    src: url('../fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTC55F-webfont.woff') format('woff'),
         url('../fonts/PTC55F-webfont.ttf') format('truetype'),
         url('../fonts/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('../fonts/PTS76F-webfont.eot');
    src: url('../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS76F-webfont.woff') format('woff'),
         url('../fonts/PTS76F-webfont.ttf') format('truetype'),
         url('../fonts/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('../fonts/PTS56F-webfont.eot');
    src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS56F-webfont.woff') format('woff'),
         url('../fonts/PTS56F-webfont.ttf') format('truetype'),
         url('../fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('../fonts/PTN77F-webfont.eot');
    src: url('../fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTN77F-webfont.woff') format('woff'),
         url('../fonts/PTN77F-webfont.ttf') format('truetype'),
         url('../fonts/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*------------------------- Attach fonts ------------------------------*/
@font-face {
 font-family:'sfui_thin';
	src: url('../fonts/SF-UI-Display-Thin.eot');
    src: url('../fonts/SF-UI-Display-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SF-UI-Display-Thin.woff') format('woff'),
         url('../fonts/SF-UI-Display-Thin.ttf') format('truetype'),
         url('../fonts/SF-UI-Display-Thin.svg#sfui_thin') format('svg');
    font-weight: lighter;
    font-style: normal;
 
}
@font-face {
	font-family:'sfui_ultra';
	src: url('../fonts/SF-UI-Display-Ultralight.eot');
	src: url('../fonts/SF-UI-Display-Ultralight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SF-UI-Display-Ultralight.woff') format('woff'),
	url('../fonts/SF-UI-Display-Ultralight.ttf') format('truetype'),
	url('../fonts/SF-UI-Display-Ultralight.svg#sfui_ultra') format('svg');
	font-style: normal;
}
@font-face {
	font-family:'sfui_light';
	src: url('../fonts/SF-UI-Display-Light.eot');
	src: url('../fonts/SF-UI-Display-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SF-UI-Display-Light.woff') format('woff'),
	url('../fonts/SF-UI-Display-Light.ttf') format('truetype'),
	url('../fonts/SF-UI-Display-Light.svg#sfui_light') format('svg');
	font-style: normal;
}
@font-face {
    font-family: 'sfui_heavy';
    src: url('../fonts/SF-UI-Display-Heavy.eot');
    src: url('../fonts/SF-UI-Display-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SF-UI-Display-Heavy.woff') format('woff'),
         url('../fonts/SF-UI-Display-Heavy.ttf') format('truetype'),
         url('../fonts/SF-UI-Display-Heavy#sfui_heavy') format('svg');
    font-style: normal;
}
@font-face {
	font-family:'sfui_medium';
	src: url('../fonts/SF-UI-Display-Medium.eot');
	src: url('../fonts/SF-UI-Display-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SF-UI-Display-Medium.woff') format('woff'),
	url('../fonts/SF-UI-Display-Medium.ttf') format('truetype'),
	url('../fonts/SF-UI-Display-Medium.svg#sfui_medium') format('svg');
	font-style: normal;
}

@font-face {
	font-family:'sfui_regular';
	src: url('../fonts/SF-UI-Display-Regular.eot');
	src: url('../fonts/SF-UI-Display-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SF-UI-Display-Regular.woff') format('woff'),
	url('../fonts/SF-UI-Display-Regular.ttf') format('truetype'),
	url('../fonts/SF-UI-Display-Regular.svg#sfui_regular') format('svg');
	font-style: normal;
}

@font-face {
    font-family: 'sfui_bold';
    src: url('../fonts/SF-UI-Display-Bold.eot');
    src: url('../fonts/SF-UI-Display-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SF-UI-Display-Bold.woff') format('woff'),
         url('../fonts/SF-UI-Display-Bold.ttf') format('truetype'),
         url('../fonts/SF-UI-Display-Bold.svg#sfui_bold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'sfui_black';
    src: url('../fonts/SF-UI-Display-Black.eot');
    src: url('../fonts/SF-UI-Display-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SF-UI-Display-Black.woff') format('woff'),
         url('../fonts/SF-UI-Display-Black.ttf') format('truetype'),
         url('../fonts/SF-UI-Display-Black.svg#sfui_black') format('svg');
    font-style: normal;
}