/*MEDIA QUERY*/

@media only screen and (max-width : 1040px) {
	.form_wrp input[type="text"] {
		padding: 10px 19px;
	}
}

@media only screen and (min-width : 768px)and (max-width : 920px) {
	.courses_blk {
		font-size: 32px;
	}
	.courses_blk img {
		width: 33%;
	}
}
@media only screen and (max-width : 768px) {
	#courses_wrp .spn_1_3 {
		width: 33%;
	}
	.courses_blk.bor_none img {
		  margin: 0 auto 10px;
	}
	.courses_blk img {
		display: block;
		margin: 0 auto 10px;
		width: 34%;
	}
	.courses_blk {
		text-align: center;
		font-size: 30px;
	}
	#courses_wrp .col{
		margin: 0;
	}
	.form_wrp input[type="text"] {
		padding: 10px 9px;
	}
	.form_wrp {
		width: 90%;
	}
}
@media only screen and (max-width : 640px) {
	#menu-icon {
		display: block;
	}
	nav {
		float: right;
		/* padding: 21px 0; */
	}
	nav ul, nav:active ul {
		background: none repeat scroll 0 0 #fff;
		/* border: 1px solid #d0d0d0; */
		display: none;
		/* position: absolute; */
		right: 18px;
		top: 60px;
		width: 100%;
	}
	
	.menu li {
		border-bottom: 1px solid #d0d0d0;
		margin-left: 0;
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
	.menu li:last-child{
		border-bottom:0;
	}

	nav:hover ul {
		display: block;
	}
}

@media only screen and (max-width : 480px) {
	
	#courses_wrp .spn_1_3 {
		width: 33%;
	}
	.courses_blk.bor_none img {
		  margin: 0 auto 8px;
	}
	.courses_blk img {
		display: block;
		 margin: 0 auto 8px;
		width: 67%;
	}
	.courses_blk {
		font-size: 28px;
		text-align: center;
	}
	.banner_heading {
		font-size: 44px;
		line-height: 35px;
		margin-bottom: 8px;
	}
	.form_wrp {
		width: 90%;
	}
	.banner_content {
		font-size: 24px;
		line-height: 28px;
	}
	.form_wrp li {
		display: block;
		margin-bottom: 8px;
		margin-right: 0;
	}
	button {
		width: 100%;
	}
	.form_wrp li:last-child{
		margin-bottom: 0;
	}
	#growimprove_wrp, #howitwork_wrp {
		padding: 30px 0;
	}
	#growimprove_wrp p, #howitwork_wrp p {
		font-size: 15px;
	}
	.orange_circle {
		margin: 0 auto;
	}
	h1 {
		font-size: 58px;
		line-height: 44px;
		margin-bottom: 11px;
	}
	nav ul, nav:active ul {
		width: 60%;
	}
}


@media only screen and (max-width : 320px) {
	
	#courses_wrp .spn_1_3 {
		width: 33%;
	}
	.courses_blk.bor_none img {
		  margin: 0 auto 8px;
	}
	.courses_blk img {
		display: block;
		  margin: 0 auto 8px;
		width: 67%;
	}
	.courses_blk {
		font-size: 22px;
		text-align: center;
	}
	.banner_heading {
		font-size: 32px;
		line-height: 30px;
		margin-bottom: 8px;
	}
	.form_wrp {
		width: 90%;
	}
	.banner_content {
		font-size: 18px;
		line-height: 21px;
	}
	.form_wrp li {
		display: block;
		margin-bottom: 8px;
		margin-right: 0;
	}
	button {
		width: 100%;
	}
	.form_wrp li:last-child{
		margin-bottom: 0;
	}
	#growimprove_wrp, #howitwork_wrp {
		padding: 30px 0;
	}
	#growimprove_wrp p, #howitwork_wrp p {
		font-size: 13px;
	}
	.orange_circle {
		margin: 0 auto;
	}
	h1 {
		font-size: 58px;
		line-height: 44px;
		margin-bottom: 11px;
	}
	nav ul, nav:active ul {
		width: 60%;
	}
}