
@import url('fullcalendar.css');

.fc-state-default.fc-corner-left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.fc-state-default.fc-corner-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.fc-state-default {
    background-color: #e4e7ea;
    background-image: none;
    text-shadow: none;
    border-color: #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #ddd;
    border-color: #bbb;
}

.fc-button {
    height: auto;
    line-height: normal;
    padding: 8px 10px;
}

.fc-button .fc-icon {
    font-size: 0;
}

.fc-icon-right-single-arrow:after {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 21px;
    font-weight: normal;
}

.fc-icon-left-single-arrow:after {
    font-family: 'FontAwesome';
    content: '\f104';
    font-size: 21px;
    font-weight: normal;
}

.fc-button-prev,
.fc-button-next {
    line-height: 14px;
    height: 35px;
}

.fc-header-title h2 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #333;
}

.fc-state-highlight {
    background-color: #d9edf7;
}

.fc-grid .fc-day-number {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-right: 10px;
}

.fc th {
    padding: 10px 0;
    background: #4e5154;
    color: #fff;
    border-color: #5e6165;
    font-weight: 500;
    text-transform: uppercase;
}

.fc-state-down, .fc-state-active,
.fc-state-disabled {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.external-event {
    background-color: #ddf0ff;
    border: 1px solid #b7c8d6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #5b5b5b;
    cursor: move;
    margin-bottom: 5px;
    padding: 8px 10px;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.fc-event {
    background-color: #428bca;
    border: 0;
}

.fc-event-inner {
    padding: 2px 3px;
}


