
@import url('../css/dataTables.bootstrap.css');

.dataTables_length, .dataTables_filter {
    margin-top: 8px;
}

.dataTables_filter {
	text-align: left;
}
.dataTables_paginate{
	text-align: right;
}
.dataTables_length{
	text-align: right;
}

.dataTables_filter .form-control {
    width: 200px;
}

.dataTables_paginate .pagination {
    margin: 0;
}

div.dataTables_length label {
    margin-top: 3px;
    margin-bottom: 5px !important;
}

.dataTables_length .form-control,
.dataTables_filter .form-control {
    margin-left: 5px;
    vertical-align: baseline;
}

.table.dataTable thead .sorting_asc {
    background: url("../images/datatables/sort_asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.table.dataTable thead .sorting_desc {
    background: url('../images/datatables/sort_desc.png') no-repeat scroll right center rgba(0, 0, 0, 0);
}

.table.dataTable thead > tr > th {
    padding-left: 8px;
	text-align: center;
}

td.details-control {
    cursor: pointer;
}

td.details-control:before {
    font-family: 'FontAwesome';
    content: '\f105';
    display: block;
    text-align: center;
    font-size: 16px;
}

tr.shown td.details-control:before {
    font-family: 'FontAwesome';
    content: '\f107';
    display: block;
    text-align: center;
    font-size: 16px;
}

.dataTables_wrapper table > tbody > tr > td table {
    width: 500px;
}


/* For table length select using select2 */

.select2-container .select2-choice {
    padding-top: 2px;
    padding-bottom: 2px;
}

.select2-container .select2-choice .select2-arrow {
    top: -1px;
}
 
table#basicTable img {
    width: 40px;
}

table.table-striped tbody td{
    text-align: center;
}

table tr th:nth-child(2) {
    width: 60px !important;
}
table tr td:nth-child(2){
	text-align: center;
}

table > thead > tr {
    background: linear-gradient(to bottom, #fff, #E8E8E8);
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: rgba(247, 247, 247, 0.61);
}

.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
	vertical-align: middle;
}

table.table-striped thead th.sorting_asc:first-child {
    background-image: none;
}

span.fa {
    background: linear-gradient(to top, #efefef, #fbfbfb) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 7px;
}

#head_tbl th {
    vertical-align: middle;
}

#head_tbl th:first-child {
    width: 55px;
}

#head_tbl th:last-child {
    width: 50px;
}

#head_tbl th span {
    font-size: 20px;
	margin: 0 2px;
}

.row.search_wrapper {
    display: none;
}
.show_search_wrap{
	display:block !important;
}