<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/runplayer/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/runplayer/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/jwplayer.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/jquery.media.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/silverlight.js"></script>
<script type="text/javascript" src="/runplayer/jwplayer/wmvplayer.js"></script>
<script type="text/javascript" src="/runplayer/player/example/flowplayer-3.2.6.min.js"></script>
<script type="text/javascript" >
function is_iPad(){
if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1) || (navigator.userAgent.indexOf('iPad') != -1)) {
  var myIframe = document.getElementById('pdfframe');
  myIframe.src = '';
  myIframe.srcdoc  = '<h2>Please read the PDF opened in the next tab of your browser.  When complete, return to this window and click the “Submit Progress” button below.</h2>';

  win='';
  var url = "<?php echo $protocol;?>://<?php echo $_SERVER['HTTP_HOST'].$this->filesname;?>";
  win = window.open(url, '_blank');
  
  win.focus();
  }
}
function filesopen(file)
{
	document.getElementById('attachmentid').innerHTML='<div >'+"<img src='<?php echo $baseUrl;?>/public/images/drop_arrow_pop.png' onclick=window.open('<?php echo $baseUrl ?>/public/"+file+"')></div>";
}
function pageredirect(pagelink)
{
    window.location.href='<?php echo $baseUrl;?>/contentmanagement/viewpages/pageid/'+pagelink;
}
</script>


<div class="user-dashboard-content fl ml10" style="width: 95%; height: 90%;">
	<input type="text" id="getmediapath" value="{{filesname}}">
	<div style="width: 100%;height:100%;text-align: center;">
	   <div ng-if="openmedia==7" id="openmedia">
		<script>is_iPad();</script>
	
		<iframe id="pdfframe" src="{{trustSrc(filesname)}}" style="width:100%; height:100%;" frameborder="0" allowfullscreen>For iPad users PDF is opened in next tab. Please read the PDF then in this page click on Submit Progress button</iframe>
		
		<script language="JavaScript">
		window.setTimeout('fp()', 400);
		function fp()
		{
			$('#loader').hide();
		}
		</script>
	</div>
	
	
	   <div ng-if="openmedia==0" id="openmedia">
		<!-- <video media-player="audio1" data-playlist="playlist1">
		<source src="http://upload.wikimedia.org/wikipedia/en/d/d0/Rick_Astley_-_Never_Gonna_Give_You_Up.ogg" type="audio/ogg">
		</audio> -->
	   
	   <div id="myplayer">the player will be placed here</div>
	     <script type="text/javascript">
		 function wavp()
			{
		 var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1];
			rUrl = /(#!\/|api|guide|misc|tutorial|error|index[^\.]*\.html).*$/;
			baseUrl = location.href.replace(rUrl, indexFile);
			production = location.hostname === '127.0.0.1';
			headEl = document.getElementsByTagName('head')[0];
            var url=baseUrl.split('#');
			var urlnew=url[0]+'elitelms/'
			var srcnew=urlnew+'public/js/jwplayer/wmvplayer.xaml';
		    var srcpath=$('#getmediapath').val();
			var elm = document.getElementById("myplayer");
			var src =srcnew;
			var cfg = {
				file:srcpath,
				width:'100%',
				height:'100%',
				autostart: true
			};
			var ply = new jeroenwijering.Player(elm,src,cfg);
			}
			$(document).ready
			(
			function()
			{
				window.setTimeout('wavp()', 1000); 
			}
			);
		</script>
			<!-- <iframe src="{{trustSrc(filesname)}}" frameborder="0"></iframe> -->

	  </div>
	<div ng-if="openmedia==1" id="openmedia">
	
	 <div id="jwplayer"></div>
         <!-- <script type="text/javascript">
		
			var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1];
			rUrl = /(#!\/|api|guide|misc|tutorial|error|index[^\.]*\.html).*$/;
			baseUrl = location.href.replace(rUrl, indexFile);
			production = location.hostname === '127.0.0.1';
			headEl = document.getElementsByTagName('head')[0];
            var url=baseUrl.split('#');
			var srcpath=$('#getmediapath').val();
			jwplayer("jwplayer").setup({ 
				flashplayer:url[0]+"user/assets/js/jwplayer/player.swf", 

				file: srcpath,
				autostart:true,
				height: '100%', 
				width: '100%',
				events: {
					onComplete: function() 
					{
					},
					onReady: function() 
					{ 
					}
				}
			}); 
			
			
			</script> --> 
	   </div>
	</div>
</div>
<div class="fl mt20 ml10" style="width:100%;text-align: center;">

	<div id="openmediabutton" ng-if="view!='view'">
	<a class="thickbox button_lblue mr08 mb05" style="outline:none;border-radius:4px;" href="<?php echo $baseUrl; ?>/elearningmedia/confirmation/viewId/<?php echo $this->viewId; ?>?height=380&width=850&inlineId=hiddenModalContent&modal=true" >Submit Progress</a>
	<a class="button_lblue mr08 mb05" style="outline:none;border-radius:4px;" onclick = "page_raload();">Cancel</a>
	</div>
	<div id="openmediabutton" ng-if="view=='view'">
	<a class="button_lblue mr08 mb05" style="outline:none;border-radius:4px;" onclick = "javascript:tb_remove();;">Cancel</a>
	</div>
</div>

