<style>
video#jwplayer_video{
	height: auto !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
}
#jwplayer_jwplayer_display{
	height: 500px !important;
	width: 100% !important;
}
html, body {
	height: auto;
}

</style>



<!-- <?php 
//if($this->check_scorm=='yes'){
?> -->

<!-- <script>
$.ajax({
	url: "<?php echo $baseUrl ?>/elearningmedia/scomstatus/?param=<?php echo $this->scormparam;?>",
	global: false,
	type: "POST",
	data: "",
	dataType: "JSON",
	success : function(data){
		if(data.msg=="success"){
			if(data.flag == "0"){
				url = "<?php echo $baseUrl; ?>/elearningmedia/scomconfirmation/viewId/<?php echo $this->scormparam;?>?height=380&width=550&inlineId=hiddenModalContent&modal=true";
				openPreview(url);
			}else{
				window.location.href='<?php echo $baseUrl;?>/elearningmedia/training/viewId/<?php echo $this->viewId;?>';
			}
		}else{
			window.location.href='<?php echo $baseUrl;?>/elearningmedia/training/viewId/<?php echo $this->viewId;?>';
		}
	}
});

$(document).ready(function(){
	$("#scormsubmit").live("click",function(){
		
		var classrate = document.getElementById('star2').value;
		var comment=document.getElementById('comment').value;
		
		var action_url = "<?php echo $baseUrl ?>/elearningmedia/updatescormcompletion/confirm/1/viewId/<?php echo $this->scormparam;?>/classrate/"+classrate+"/comment/"+comment;
		$.post(action_url,{confirm : 1},function(data){
			//alert(data);
			window.location.href='<?php echo $baseUrl;?>/elearningmedia/training/viewId/<?php echo $this->viewId;?>';
		});
	});


	$("#scormclose").live("click",function(){
		window.location.href='<?php echo $baseUrl;?>/elearningmedia/training/viewId/<?php echo $this->viewId;?>';
		
	});
});
 </script> -->
<!-- <?php	
//}
?> -->
<script>
var viewId='';
function openPreview(url)
{
	
	var URL_open = url +'?height=400&width=1000&inlineId=hiddenModalContent&modal=false';
	tb_show('',URL_open,'');
}

function getpercentage(complete_param)
{
	var percentage=document.getElementById('percentage').value;
	savepercentage(complete_param, percentage);
}

function savepercentage(complete_param, percentage){
var _token =$("input[name=_token]").val();
	$.ajax({
		url: "/elearningmedia/programinpercentage",
		global: false,
		type: "POST",
		data: {enrollelearning_data:complete_param, percentage:percentage,_token:_token},
		dataType: "JSON",
		success : page_raload,
		failed:  page_raload
	});
}

function page_raload(){
        var viewId=$('#viewIdsend').val();
	    window.location.href='#/elearningmedia/training/'+viewId;
		tb_remove();
}

function filesopen(file )
{
	document.getElementById('attachmentid').innerHTML='<div >'+"<img src='<?php echo $baseUrl;?>/public/images/drop_arrow_pop.png' onclick=window.open('<?php echo $baseUrl ?>/public/"+file+"')></div>";
}

function closepops(){
	tb_remove();
}

function closepopup(var1, var2, id,allocateSeat,userprogramtypeid,blendedprogid,scheduleid)
{
	assignmentsend_id=0;
	learningplanid=0;
	var url = "";
	if(var1 == 1)
	{
		if(var2 == 1)
		{
			document.getElementById('enrollbutton1').style.display = 'none';
			document.getElementById('msge').style.display = 'none';
			document.getElementById('waiingforrefresh').style.display = 'block';
			
			if(document.getElementById('assignmentsend_id'))
				var assignmentsend_id=document.getElementById('assignmentsend_id').value;
			if(document.getElementById('learningplanid'))
				var learningplanid=document.getElementById('learningplanid').value;	
				
			if( document.getElementById('msgd')){
				var msg='You are currently enrolled.';
			}
		
			url = "<?php echo $baseUrl ?>/elearningmedia/confirmenroll/id/"+id+"/allocateSeat/"+allocateSeat+"/userprogramtypeid/"+userprogramtypeid+"/blendedprogid/"+blendedprogid+"/scheduleid/"+scheduleid+"/enroll/"+var1+"/assignmentsend_id/"+assignmentsend_id+"/learningplanid/"+learningplanid;
			
		}
		else if(var2 == 0)
		{
			
			if(document.getElementById('assignmentsend_id'))
				var assignmentsend_id=document.getElementById('assignmentsend_id').value;
			if(document.getElementById('learningplanid'))
				var learningplanid=document.getElementById('learningplanid').value;	
			
			url = "<?php echo $baseUrl ?>/elearningmedia/confirmenroll/id/"+id+"/allocateSeat/"+allocateSeat+"/userprogramtypeid/"+userprogramtypeid+"/blendedprogid/"+blendedprogid+"/scheduleid/"+scheduleid+"/enroll/"+var1+"/assignmentsend_id/"+assignmentsend_id;
			
		}

	}
	else
	{
		if(var2 == 1)
		{
			document.getElementById('dropbutton1').style.display = 'none';
			document.getElementById('msgd').style.display = 'none';
			document.getElementById('waiingforrefresh').style.display = 'block';
			if( document.getElementById('msge'))
			{
				var msg='You are not enrolled for this class.';
			}
			url = "<?php echo $baseUrl ?>/elearningmedia/confirmenroll/id/"+id+"/allocateSeat/"+allocateSeat+"/userprogramtypeid/"+userprogramtypeid+"/blendedprogid/"+blendedprogid+"/scheduleid/"+scheduleid+"/enroll/"+var1;
		}
	}
	
	$.ajax({
		url: url,
		global: false,
		type: "POST",
		data: ({id : id}),
		dataType: "JSON",
		success : page_raload,
		failed:  page_raload
	});
}

function submitform(val, viewId)
{
	if(val==0)
	{
		page_raload();
	}else{

		if(val==2){
			var classrate = 0;
			var comment='';
			val=1;
		}else{
			var classrate = document.getElementById('star2').value;
			var comment=document.getElementById('comment').value;
		}
		
		var action_url = "/elearningmedia/updatelearningcompletion";
		var _token=$("input[name=_token]").val();
		$.ajax({
			url: action_url,
			global: false,
			type: "POST",
			data: ({'confirm' : val,'viewId':viewId,'classrate':classrate,'comment':comment,_token:_token}),
			dataType: "JSON",
			success : page_raload,
			failed:  page_raload
		});
	}
}



</script> 

<!-- <input type="hidden" id="baseurl" name="baseurl" value="<?php echo $baseUrl; ?>"/>
<input type="hidden" id="file_id" name="file_id" value="<?php echo $cf->getEncode($courseDetailArr['file_id']);?>"/>
<input type="hidden" id="item_id" name="item_id" value="<?php echo $cf->getEncode($courseDetailArr['item_id']);?>"/>
<input type="hidden" id="complete_status" name="complete_status" value="no"/>
<input type="hidden" id="tdate" name="tdate" value="0"/>
<input type='hidden' name="assignmentsend_id" id="assignmentsend_id" value="<?php echo $cf->getEncode(@$courseDetailArr['assignment_id']);?>">
<input type='hidden' name="learningplanid" id="learningplanid" value="<?php echo $cf->getEncode(@$courseDetailArr['learningplanid']);?>"> -->
<input type='hidden' name="viewIdsend" id="viewIdsend" value="{{viewIdsend}}">
	<div class="crumbs">
	<ul id="breadcrumbs" class="breadcrumb mb00 bob01" style="padding: 8px 12px 6px 12px;">
		
	</ul>
</div>	
	

	
	<div class="wp100 fl mt25 pl30 pr30 " >	
		<div class="admin-browser-box wp100 fl">
					
			<div class="training-item-name-front-box wp100 fl">
            	<div class="col-sm-8 col-md-9">
                    <div class="training-item-name-left-box wp100 fl mt15 mb20" >
                        <div class="computer-text fs22 mt10 fta fc13 fl wp100">
							<div class="wp100 fl mb10">

								<!-- <img ng-if="courseDetailArr.item_image!=''" class="fl mr15 mb05" ng-src="courseDetailArr.item_image" width="100" /> -->
								
								<i ng-if="courseDetailArr.item_image==''" class="fa fa-laptop elearning_icon" style="line-height: 38px;"></i>
								
								<div class="course_title mt15">{{courseDetailArr.training_title}}</div>
							</div>

                            
                        </div>
                        </div>	
                        <div style="clear:both"></div>
						
                 
                        
                            <div ng-if="courseDetailArr.typr!='TP'" class="training-item-name-left-box wp100 mt25 fl">
                            	<div class="row1">
                            
                            	<div class="col-sm-6" style="padding-left: 0;">
                                    <div class="wp100 fl">
                                    	<div class="widget box fl wp100">
                                            <div class="widget-header">
                                                <h4>
                                                    <i class="fa fa-file-text-o blue_1"></i>
                                                    Training Details
                                                </h4>                            
                                            </div>
                                            <div class="training-item-name-left-box wp100" >
                                                <div class="average-class-rating-box wp100 bgc07 fl bs02" style="word-wrap: break-word;">
												
													<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl h35">Credit Value:</div>
														<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl h35">{{courseDetailArr.credit_value}}
													</div>
													
													<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl h35">Training Type:</div>
														<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl h35">{{courseDetailArr.training_type}}</div>
													</div>
													
													<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl h35">Training Category:</div>
														<div class="date wp60 bgc03 fs12 fta fc03 pl05 pt05 pb05 fl h35">{{courseDetailArr.TrainingCategoryselected}}
														</div>
													</div>    

													<div class="average-class-rating wp100 bgc07 fl">
														<div class="date wp40 bgc09 fs12 fta fc03 pl05 pt05 pb05 fl h35">Passing Score:</div>
														<div class="date wp60 fs12 bgc03 fta pb05 fc03 pl05 pt05 pb fl h35" >
														{{courseDetailArr.passingscore}}
														
													</div>                                                       
                                                </div>				
											</div>
                                        </div>
                                	</div>
                                </div>
                                </div>
                                </div>
                              
                                <div class="col-sm-6" ng-if="courseDetailArr.description!=''"  style="padding-right: 0;">
                                    
                                        <div class="widget box fl wp100">
                                            <div class="widget-header">
                                                <h4>
                                                  <i class="fa fa-check-square-o" style="color: #027db2;"></i>
                                                 Course Description
                                                </h4>                            
                                            </div>                                        
                                            <div class="widget-content">
                                                <div class="fl wp100" style="width:100%; <?php echo $height; ?>; overflow:auto; overflow-x:hidden; overflow-y:auto;">
                                                    <div class=" pre-req-text wp100 fs12 fta fc03 taj lh1 fl pr05" compile="courseDetailArr.description" > 
                                                        <!-- {{courseDetailArr.prerequeisites}} -->
                                                    </div>
                                                </div>
                                        	</div>
                                        </div>
                                    
                                </div>
                        
                    </div>
                  
                
            	</div>
            	</div>
            	
                <div class="col-sm-4 col-md-3">
                    <div class="training-item-name-right-box wp100 mt15 fl">
                       <div  compile="courseDetailArr.alltargetaud">
                       </div>
                     
						  
                        <div class="front-supervisor-scrool wp100 fl">
               
                            <div class="front-training-item-rating wp100 bgc03 fl">
                           
                                <div class="front-training-item-rating wp90 h60  bs01 bgc01 fl" style="margin:10px 5%;">
                                    <div class="f-avg-rating wp100 tac fs13 mt10 fta fc03 b fl" style="padding:0 2%;">
                                    Average Rating 
                                    </div>
                                    <div class="f-avg-rating wp100 fs13 mt05 tac fta fc03 b fl" style="padding:0 2%;">
                                       <div ng-bind-html="callfunction(courseDetailArr.average_rating)">
                                       </div>           
                                 
                                    </div>
                                </div>
                               
                            </div>
                            <!-- <?php 
							
                            
                            //if(@$this->type!='transcript' && $courseDetailArr['checkhandout']>0)
                           // {
							?> -->
								<!-- <div class=" front-view-class-rastor-bg1 w211 h37 mt10 fl">
									<div class="change_col"><a href="<?php echo $baseUrl; ?>/trainingcatalog/classhandouts/id/<?php echo $courseDetailArr['trainingprogram_id'];?>/scheduleid/<?php echo $courseDetailArr['scheduleid'];?>?height=250&width=700&inlineId=hiddenModalContent&modal=false" class="thickbox">  <div class="button_lblue_r4 w190 fs14 fta fc03 mt10 mr26 ">View Course Handouts<span>&#187;</span></div> </a></div>
								</div> -->
                           <!--  <?php 
                            //}
							?> -->
							<!-- <div class="front-view-class-rastor-bg1 w211 h37 mt10 fl">
								<div class="change_col" style="text-align: center;">
								<!-- <?php
								//if(!empty($courseDetailArr['certificate_template_id']) && $courseDetailArr['transcript_id']!=""){				
									//echo '<a class="change_col " href="'.$baseUrl.'/mylearning/certificatedownload/id/'.$courseDetailArr['transcript_id'].'"><div class="button_lblue_r4 ">Certificate<span >&#187;</span></div></a>';
								//}
								?> -->									
								</div>
							</div>						
                        </div> 
                    </div>
            	</div>
		</div>
		
		<div class="col-xs-12 mt20">
		
			<div ng-if="courseDetailArr.type!='transcript'" class="edit-user-update-button1 wp100 fl"> 
				<a ng-click="show_media_player()" href="javascript:void(0);"><div class=" new_css_button edit-user-update1 fs-12 b fc01  fta  mt06 mt20 fl" name="launch" id="launch"<span>Launch &#187;</span></div></a>
			
			</div>
			<div style="display:none"></div>
	
	</div> 
	
	<div class="ext-box wp100 fl" style="height:20px;"></div>
    </div>
</div>
</div>

 <script>
function setdate(val){
	document.getElementById('tdate').value=val;
}
function startPlayer(){
 $('#myplayer iframe').fadeIn();
}
function stopPlayer(){
 $('#myplayer iframe').attr('src', '');
 $('#myplayer').fadeOut();
}
startPlayer();

function yes(val, viewId, feedback){
	if(feedback==0){
		document.getElementById('confirm').style.display = 'none';
		document.getElementById('yes').style.display = 'block';
	}else{
		submitform(val, viewId);
	}
}
function no(){
	document.getElementById('confirm').style.display = 'none';
	document.getElementById('no').style.display = 'block';
}
function rating(rateVal){
	for(var i=1;i<=rateVal;i++){
		document.getElementById('rate_'+i).innerHTML = '<img  src="/eliteprodlms/public/images/star_yes.png" onclick="rating('+i+');" />';
	}
	for(var j=rateVal+1;j<=5;j++){	   
		document.getElementById('rate_'+j).innerHTML = '<img  src="/eliteprodlms/public/images/star_no.png" onclick="rating('+j+');" />';
	}
	document.getElementById('star2').value = rateVal;
}
</script> 
	