<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>eLearning</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Training Management</a></li> 
			<li class="active"><strong>eLearning</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		
		<h1>eLearning Courses:</h1>
	</div>
</section>


		 <div class="wp100 fl">
               <div>
					<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover">
						<thead>
							<tr>
								<th>Course Title</th>
								<th>Course ID</th>
								<th>Media Type</th>
								<th>Category</th>
								<th>Status</th>
								<th>Preview</th>
							</tr>
						</thead>
					
					</table>
              </div>


		</div>


</div>