
<header class="main-header" >
		<a href="#/index/apps" class="logo">
			<!-- Logo -->
			<span class="logo-mini">
				<img src="/eliteprodlms/public/assets/images/favicon.png" alt="">
			</span>
			<span class="logo-lg">
			    <img src="/user/assets/images/saferhub.png">
			    <!--img src="/eliteprodlms/uploadfiles/{{companyCmsInfo.companycmsinfo[0].company_logo}}"-->
			</span>

		</a>

				<!-- Header Navbar -->
				<nav class="navbar navbar-static-top">


					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav" compile="appsheadernav"></ul>
							<ul class="nav navbar-nav">

							<!-- user -->
							<li class="dropdown dropdown-user">
							<a  class="dropdown-toggle" data-toggle="dropdown">

							{{companyCmsInfo.userskills[0].user_name}}
							<i class="fa fa-caret-down"></i> 
							</a>
							<ul class="dropdown-menu" >
								<li>
								<a href="#/index/apps" onfocus="if(this.blur)this.blur();">
								<i class="fa fa-user"></i> User Profile
								</li></a>
							
								<li>
								<a  href="/logout"  onfocus="if(this.blur)this.blur();">
								<i class="fa fa-sign-out"></i> Signout
							</li></a>
							</ul>
						</li>
			</ul>
		</div>
		</nav>
</header>
