<div class="footer_container">
		<div class="footer-copyright foo_copy_txt fl bluecol_cmid30_footer"><span compile="footernav"></span></div>
			<div class="{{footer_link_class}}">
			<strong>&copy;  {{year}} Saferhub - 
				<span ng-if="companyCmsInfo.companyInfo.version!=''">{{companyCmsInfo.companyInfo.version}}</span>
				<span ng-if="companyCmsInfo.companyInfo.version==''">2.0</span>
			</strong>- All Rights Reserved
		</div>


</div>	