<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Training</h4>
        </div>
        <div class="modal-body">
		<div >Category
					<select style='width:130px; margin-left: 5px;padding: 5px;' class='bs01'  ng-change ='categoryfillter()' id='setcat' ng-model='setcategorylist'>
					<option value=''>All Categories</option>
					<option ng-repeat="cat in category" value='{{cat.catid}}'>{{cat.catname}}</option>
					</select>
				</div>
		
		
		<div >Item Type
					<select style='width:150px; margin-left: 5px; padding: 5px;' class='bs01'  ng-change ='categoryfillter()' id='setItemType' ng-model='setitemtypelist'>
					<option value=''>All </option>
					<option value="jmNAj">Blended Programs </option>
					<option value="eAMgT">Classroom Training </option>
					<option value="oAMwH">Classroom Virtual </option>
					<option value="XVMQy">eLearning </option>
					</select>
				</div>
          <section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridAssign" id="grid"   style="height:500px"   ui-grid-pinning  ui-grid-selection ui-grid-resize-columns  ui-grid-auto-resize></div>
         </section>
		 
		<div class="welcome-training fs18 fta fc35 b fl">Due date:
				 <input type="date" 
            class="form-control" 
            ng-model="modal.dt" 
            is-open="main.opened" 
            close-text="Close" />
			 </div> 
			<div class="dashboard-daily-button fs13 ml12 fl">
				<div class="hand button_lblue ml05 fl" ng-click="assignselectedcoursestouser()">Assign Selected Courses</div>
			</div>	 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>		 