<div class="modal fade" id="enrollusertoclass" role="dialog" style="height:700px;margin-left: -520px;">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:1120px;margin-left:28px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enroll User To Class</h4>
        </div>
        <div class="modal-body">
		<div style="position:absolute; margin-top:150px; z-index:2000; margin-left:450px;" ng-show='loadingiddis==true'>
			<img src='/eliteprodlms/public/images/animatedEllipse2.gif' width="85%;" border='0'>
		</div>
				
          <section class="content" style="padding-top:40px;position:relative;margin-top: 33px;">
			  <div ui-grid="enrollUser" id="grid" style="height:350px" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize>
			  </div>
         </section>
		 
		  
        </div>
        <div class="modal-footer">
		<div class="row1" id="blk_div">
				<div class='fl wp98 mt10 mb15 ml10'>
					
					<div class='fl button_lblue_r4 mt08 ml20' style="cursor: pointer;" ng-click='checkselectedclass()'>Enroll User in Selected Class</div>
					
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
        
        </div>
      </div>
      
    </div>
  </div>		 