<!--<?php  $baseUrl = Zend_Controller_Front::getInstance()->getBaseUrl();
?>-->
<!-- <link rel="stylesheet" href="<?php echo $baseUrl; ?>/public/css/rating/jquery.rating.css" type="text/css" media="screen"/>
<script type="text/javascript" src="<?php echo $baseUrl; ?>/public/js/rating/jquery.rating.js"></script>	 -->
<style>
.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-left: -22%;
    width: 143%;
}
.tabs div {
    display: inline-block;
}
.select2-drop.select2-drop-multi.select2-display-none.select2-drop-active {
    z-index: 99999;;
}
.select2-container {
    width: 100%;
}
</style>
<script type="text/javascript">


	$(document).ready(function(){
		$("#assess_closedate").datepicker({showOn: 'button', changeMonth: true, changeYear: true, buttonImageOnly: true, buttonImage: '/eliteprodlms/public/images/cal_new_img.png'});
	});
	$("#instructor_type").change(function(){
		var instructor_type = $(this).val();
		if(instructor_type == 1){
			$(".intrnl_instructor").show();
			$(".extrnl_instructor").hide();
		}else{
			$(".extrnl_instructor").show();
			$(".intrnl_instructor").hide();
		}
		return false;	
	});
</script>
<div class="modal fade" id="givecredit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Training</h4>
        </div>
        <div class="modal-body">
          <!-- <section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridLearningplan" id="grid"   style="height:500px"   ui-grid-pinning  ui-grid-selection ui-grid-resize-columns  ui-grid-auto-resize></div>
         </section> -->
		   	<div class="permission-box wp100 ">
		<div class="exiting-training-box">
			<div class="permission-box wp100 fl">
				<div style='display:none;position:absolute; margin-top:85px;z-index:1000;margin-left:200px;' id='loadingiddis' ><img src='<?php echo $baseUrl;?>/public/images/animatedEllipse2.gif' width="75%;" border='0'></div>
				<div class="exiting-training-box mt12">
				
						<div class="tabs" style="clear:both;">
					<div id="tab_pp" class="tab_current-184 w175 h25 fl fs12  fc01 fta b  pl07 pt05" ng-click="tab1();" >Add Existing Training Item</div>
						<div id="tab_zz" class="tab_blue-147 hand w145 h25 fl fs12 fc01 fta b pl10 pr20 pt05" ng-click="tab2();" >Manually Add Item</div>
						
					</div>
						
					
				<div class="fl wp100">
				  
					<div id="tab1" style="display: inline; float: left;" >
				
						<div class="das-upcoming-training-courses mr01 ">
						<!-- <section class="content" style="padding-top:40px;position:relative;">
						<div ui-grid="gridcreditOptions" id="grid"   style="height:500px"  ui-grid-pagination ui-grid-pinning ui-grid-expandable></div>
						</section> -->
						<div >Item Type
						<select  ng-change="gridcreditchange()" class="form-control" style="width:150px" ng-model="allexistcourses.typeId"
						ng-options="t.typeId as t.typeName for t in allcoursestype">
						</select>
						<!-- <select name="existcourses" id="existcourses" ng-model="allexistcourses.existcourses" class="form-control" style="width:150px" ng-change="gridcreditchange();"><option value="1">e-Learning</option><option value="2">Classroom</option><option value="3">Assessment</option></select> -->
						</div>
						
						<section  ng-if="allexistcourses.typeId==1 || allexistcourses.typeId==3" class="content" style="padding-top:40px;position:relative;">
						<div ui-grid="gridcreditOptions" id="grid"   style="height:500px;width:780px;"   ui-grid-pinning  ui-grid-selection ui-grid-resize-columns  ui-grid-auto-resize></div>
						</section>
						<p compile="assignMentData.viewData.pageDescription" style="margin-top:10px"></p>
						 <section  ng-if="allexistcourses.typeId==2" class="content" style="padding-top:40px;position:relative;">
						<div ui-grid="gridcreditOptions" id="grid"   style="height:500px;width:780px;"   ui-grid-pinning  ui-grid-selection ui-grid-resize-columns  ui-grid-auto-resize ui-grid-expandable></div>
						</section>
						<script ng-if="allexistcourses.typeId==2" type="text/ng-template" id="expandableRowTemplate.html">
						<div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>
						</script> 
				      
						</div>
						<div class="select wp100 fl">
							<div class="bg fl">																			
								<div class=" fs13 mt12 fc01 fta b fl">
								
								<a class="new_css_button" style="margin-left: 0;" ng-click="submit_form()">Give Credit to Selected Users<span style="margin:-1px 0 0 5px; float:right;">&#187;</span></a>
								
								</div>											
							</div>
						</div>
				 </div>
				
					<div id="tab2" style="display: none; "style="float: left;">
									
									<div class="ui-widget-header select-existing-training-item-bg1 bgc10 bs01 h31">
										<div class="elearning-active mt08 wp40  fs12  fta fc03 b ml04">Manually Add Item Below</div>
									</div>
									<div class="das-upcoming-training-courses bs01 mr01 fr wp100">
										<div class="manually-title-box wp100 fl" style=" height: 330px;overflow-y: auto;">
                                        	<div class="col-md-6 bor01">
                                                <div class="manually-titel wp100 fl pb10">
																											
                                                    <div class="manually-titel wp100 fl pt15">                                                    	
                                                        <div class="wp100 fs-b-12 fl pb05">Training Type<span style="color:red">*</span> :</div>
                                                        <select class="form-control" Name='traningtypeid' id='traningtypeid' ng-model="traningtypeid" ng-change="changetrainingtype();">
														<option value="">--Choose Training Type--</option>
														<option ng-repeat="type in Trainingtypessarray" value={{type.id}}>{{type.type}}</option>
														
														</select>
                                                    </div>
													
													<div class="manually-titel wp100 fl pt15">                                                    	
                                                        <div class="wp100 fs-b-12 fl pb05">Title<span style="color:red">*</span> :</div>
                                                        <input type="text" name="title" id="title" ng-model="title" value="" class="form-control">
                                                    </div>
                                                    <div class="manually-titel wp100 fl mt15">
                                                        <div class="wp100 fs-b-12 fl pb05">Description:</div>
                                                        <div class="wp100 fl"><textarea name="desc" id="desc" ng-model="desc" class="form-control"> </textarea></div>
                                                    </div>
                                                    <div class="manually-titel wp100 fl mt15">
                                                    	<div class="row1">
                                                            <div class="col-sm-4">
                                                                <div class="wp100 fs-b-12 pb05 fl">Credit Value:</div>
                                                                <div class="credit-value-inp wp100 fl" id="creditdiv">
                                                                    <label class="wp100" style="margin-bottom:0px !important;"><input type="text" name="credit_value" class="form-control" ng-model="credit_value" id="credit_value"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="elearning-all-categories1 wp100 fl" id="costdiv">
                                                                    <div class="wp100 fs-b-12 fl pb05">Cost:</div>
                                                                    <div class="credit-value-inp wp100 fl">
                                                                        <label class="wp100" style="margin-bottom:0px !important;"><input type="text" name="cost" class="form-control" ng-model="cost" id="cost" value=""></label>       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div id="scorediv" class="wp100 fl">
                                                                    <div class="wp100 fs-b-12 fl pb05">Score:</div>
                                                                    <div class="credit-value-inp wp100 fl">
                                                                    	<label class="wp100" style="margin-bottom:0px !important;"><input type="text" name="score" class="form-control" id="score" ng-model="score" value=""/></label></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
                                                    <div class="cost-box wp100 fl">
                                                        
														
                                                        <div class="all-categories1 wp100 fs13 fta fc03 fl mt10">
															<div >
                                                                <div >
																	<div class="wp100 fs-b-12 fl pb05">Training Category :</div>
																	<div class="month wp100 fs12  fta fc03 fl">
															
																		<input style="max-height:100px;" id="skillcategoryid" name="skillcategoryid"  />
												
																	</div>	
																</div>
                                                            </div>
                                                        </div>
														
                                            
                                   							
                                   <!--  <script>
                                    <?php if($this->compid==43){ ?>
                                    $(document).ready(function() {$("#tab_ww, #tab_xx").hide();});
                                    <?php } ?>
                                            $("#certificate_template_id").change(function(){
                                                var temp_id = $.trim($(this).val());
                                                if(temp_id!=""){
                                                    var url = "<?php echo $baseUrl; ?>/courses/getcertificatedetail/id/"+temp_id;
                                                    $.ajax({
                                                        type: "POST"
                                                        ,url: url
                                                        ,dataType:"json"
                                                        ,beforeSend: function(){
                                                            $('#preview_tempate').html("Please wait while we complete the process...");
                                                            
                                                        }
                                                        ,async: false
                                                        ,success: function(data){
                                                            $("#preview_tempate").html('<a href="<?php echo $baseUrl; ?>/certificate/previewcertificate/id/'+data.id+'" target="_blank">Click here for preview</a>');
                                                        }
                                                    });
                                                }else{
                                                    $("#preview_tempate").html('');
                                                }
                                            });
                                            </script> -->
                                                        
                                          
                                                        
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="manually-titel wp100 fl pt15">
                                                    <div class="completion-date wp100 pb05 fs-b-12 fl">Completion Date<span style="color:red">*</span> :</div>
                                                    <input name="assess_duedate"  class="form-control" id="assess_duedate" ng-model="assess_duedate" style="display: inline; width: 95%;" type="text">
                                                    
													
                                                    <div class="completion-date mt10 wp100  fl" id="elrning_passfail">
                                                        <div class="month wp100 fs12 fta fc03 pb05 fl fs-b-12">Status:</div>
                                                        <div class="month wp100 fs12  fta fc03 fl">
                                                            <select name="status" id="status" class="form-control" ng-model="status">
                                                                <option value="">Select</option>
                                                                <option value="pass">Pass</option>
                                                                <option value="fail">Fail</option>
                                                            </select>
                                                        </div>
                                                    </div>
													
													
													<div id="instuctornames">
														<div class="wp100 fs-b-12 mt15 pb05 fl">Instructor Type:</div>
														<div >
															<div >
																<div class="all-categories wp100 fs13 fta fc03 fl">
																	<select Name='instructor_type' id='instructor_type' class="form-control" ng-model="instructor_type">
																		<option value="">--Choose Type--</option>
																		<option value="1">Internal</option>
																		<option value="2">External</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="wp100 fs-b-12 mt15 pb05 fl">Instructor Name:</div>
														<div >
															<div class="all-categories wp100 fs13 fta fc03 fl">
														 <select class="form-control intrnl_instructor" name="instructor_id" id="instructor_id" ng-model="instructor_id" >
														 <option value="">--Select Instructor--</option>
															    	<option ng-repeat="value in instructorlist" value={{value.user_id}}>{{value.user_name}}</option>
													     </select>
																<div style="display:none;" class="credit-value-inp wp100 fl dn extrnl_instructor"><label class="wp100" style="margin-bottom:0px !important;"><input type="text" name="instructor_name" class="form-control" id="instructor_name" ng-model="instructor_name" ></label></div>
															</div>
															
														</div>
														
													</div>
													<div class="row1" style="padding-left: 16px;">
													<input type="hidden" name="clas_star" id="clas_star" value="">
													<input type="hidden" name="ins_star" id="ins_star" value="">
													  <div class="completion-date mt20 wp100  fl" id="course_rating">
														<div class="month wp35 fs12 fta fc03 fl b">Class Rating:</div>
															<div class="month wp50 fs12 fta fc03 fl">
																<div id="clsrate_1" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="clsrating(1);"/></div>
																<div id="clsrate_2" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="clsrating(2);"/></div>
																<div id="clsrate_3" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="clsrating(3);"/></div>
																<div id="clsrate_4" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="clsrating(4);"/></div>
																<div id="clsrate_5" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="clsrating(5);"/></div>
																
															</div>
														</div>
														<div class="completion-date mt10 wp100  fl" id="instructor_rating">
															<div class="month wp35 fs12 fta fc03  fl b">Instructor Rating:</div>
															<div class="month wp50 fs12  fta fc03 fl">
																<div id="insrate_1" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="insrating(1);"/></div>
																<div id="insrate_2" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="insrating(2);"/></div>
																<div id="insrate_3" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="insrating(3);"/></div>
																<div id="insrate_4" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="insrating(4);"/></div>
																<div id="insrate_5" class="fl hand" ><img  src="/eliteprodlms/public/images/star_no.png" ng-click="insrating(5);"/></div>
															</div>
														</div>
                                                    </div>
                                                    <div class="fl wp100 mt15">
														<div class="wp100 fs-b-12 fl pb05">Certificate Template:</div>
														<div class="month wp100 fs12  fta fc03 fl">
															<select name="certificate_template_id" id="certificate_template_id" ng-model="certificate_template_id" 
															class="form-control">
															<option value="">--Please select template--</option>
															<option ng-repeat="noti in certificatename" value={{noti.id}}>{{noti.title}}</option>
																<!-- <?php
																foreach($this->certificatename as $noti){
																?>
																<option value="<?php echo $noti['id'];?>"><?php echo $noti['title'];?></option>
																<?php } ?> -->
															</select>
														</div>
														<div class="choose-file-upload-box wp40 fl ml20" id="preview_tempate" style ="margin-left: 85px;">
                                                    </div>
													</div>
													
                                                </div>
                                            </div>
										</div>
									</div>
									<div style="clear: both;"></div>

									<div class="ui-widget-header mb15 select-existing-training-item-bg1 bgc10 bs01  h31 fl" style="width:100%;"></div>
									<div id="waiingforrefresh" style="display:none; height: 23px; margin-left: 246px; margin-top: 45px; position: absolute; width: 33px;z-index: 1000;"><img src="<?php echo $baseUrl; ?>/public/images/animatedEllipse2.gif" /></div>
									<div class="select wp100">
										<div class="bg">
											 <div class="fs13 mt12 fc01 fta b">
											 <a class="new_css_button" ng-click="submit_form1()">Give Credit to Selected Users<span style="margin:-1px 0 0 5px; float:right;">&#187;</span></a> 
												
											</div>
										</div>
									</div>
									
			 <div class=" fs13  mt12 fc01 fta b fl ml-10">
           
           </div>			
			</div>
				</div>
			<div class="select wp100 fl"></div>
		</div>
		</div>
		</div>
	</div>	
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>	




<input type="hidden" id="baseurl" name="baseurl" value="<?php echo $baseUrl;?>"/>
<!-- <input type="hidden" id="selectedUser" name="selectedUser" value="<?php echo $this->checkeduser;?>"/> -->



	
	
	<!-- <script>
	var baseurl = "<?php echo $baseUrl; ?>";
	function clsrating(rateVal){
        for(var i=1;i<=rateVal;i++){
            document.getElementById('clsrate_'+i).innerHTML = '<img  src="'+baseurl+'/public/images/star_yes.png" onclick="clsrating('+i+');" />';
        }
        for(var j=rateVal+1;j<=5;j++){

            document.getElementById('clsrate_'+j).innerHTML = '<img  src="'+baseurl+'/public/images/star_no.png" onclick="clsrating('+j+');" />';
        }

        document.getElementById('clas_star').value = rateVal;

    }
	function insrating(rateVal){

        for(var i=1;i<=rateVal;i++){
            document.getElementById('insrate_'+i).innerHTML = '<img  src="'+baseurl+'/public/images/star_yes.png" onclick="insrating('+i+');" />';
        }
        for(var j=rateVal+1;j<=5;j++){

            document.getElementById('insrate_'+j).innerHTML = '<img  src="'+baseurl+'/public/images/star_no.png" onclick="insrating('+j+');" />';
        }

        document.getElementById('ins_star').value = rateVal;

    }
	

	$(document).ready(function(){
		var baseurl=document.getElementById('baseurl').value;
		$("#compledate").datepicker({ showOn: 'button', changeMonth: true, changeYear: true, buttonImageOnly: true, buttonImage: baseurl+'/public/images/cal_new_img.png' });
	});
	function changetrainingtype()
	{
		var traningtypeid=  document.getElementById("traningtypeid").value;
		if(traningtypeid==1)
		{
			document.getElementById("course_rating").style.display='none';
			document.getElementById("instructor_rating").style.display='none';
			document.getElementById("instuctornames").style.display='none';
			document.getElementById("elrning_passfail").style.display='block';
			document.getElementById("scorediv").style.display='block';
			document.getElementById("costdiv").className ='elearning-all-categories1 wp100 fl';
			document.getElementById("creditdiv").className ='credit-value-inp wp100 fl';
			document.getElementById("credit_value").style.width='100%';
		}
		else
		{
			document.getElementById("course_rating").style.display='block';
			document.getElementById("instructor_rating").style.display='block';
			document.getElementById("instuctornames").style.display='block';
			document.getElementById("elrning_passfail").style.display='none';
			document.getElementById("scorediv").style.display='none';
			document.getElementById("costdiv").className ='elearning-all-categories1  wp100 fl';
			document.getElementById("creditdiv").className ='credit-value-inp wp100 fl';
			document.getElementById("credit_value").style.width='100%';
		}
	   
	}
	$(document).ready(function() {
		$('#elrning_passfail').hide();
		$('#scorediv').hide();
		$("#costdiv").attr('class', 'elearning-all-categories1 wp100 fl');
		$("#creditdiv").attr('class', 'credit-value-inp wp100 fl');
		$("#credit_value").css("width","100%");
	} );
	function submit_form()
	{
		var baseurl=document.getElementById('baseurl').value;
		var userid = document.getElementById("selectedUser").value;
		var programid = getSelectedExistingItems();
		var ClassIds  = getclassIDsbyradio();
		
		if(programid=='' && ClassIds =='')
		{
			alertify.alert("Please Select Training Items.");
			return false;
		}
		else
		{
			var SITEROOT=baseurl;
			var url=SITEROOT+'/supervisor/addexistingitems/users/'+userid+'/items/'+programid+'/ClassIds/'+ClassIds;
			allusers=userid;
			allprograms=programid;
			createXMLHttpRequest();
			var strURL=url;
			
			var query="";
			if (xmlHttpRequest != null) 
			{
				
				xmlHttpRequest.open("post", strURL, true);
				xmlHttpRequest.onreadystatechange = handleaddexistingitems ;
				xmlHttpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				xmlHttpRequest.send(query);
			}   
		}
	}
	function handleaddexistingitems()
	{
		
		var baseurl=document.getElementById('baseurl').value;
		if (xmlHttpRequest.readyState == 4) 
		{
			
			if (xmlHttpRequest.status == 200) 
			{
				
				var xmlDoc=xmlHttpRequest.responseText;
		
				if(allprograms!='')
				{
					alertify.alert("Training Items added Successfully.");
				}
				tb_remove();
			}
		}
	}
	
	function getclassIDsbyradio()
	{
		var classIDs = '';
		$('input:radio').each(function() 
		{    
			if($(this).is(':checked'))
			{
				classIDs += $(this).prop('id') + ',';
			}
		});
		
		return classIDs ;
	}
	
	function submit_form1()
	{
		var baseurl=document.getElementById('baseurl').value;
		var title=  document.getElementById("title").value;
		var desc=  document.getElementById("desc").value;
		var traningtypeid=  document.getElementById("traningtypeid").value;
		
		var instructor_type=  document.getElementById("instructor_type").value;
		if(instructor_type == 1)
			var instructor_name=  document.getElementById("instructor_id").value;
		else if(instructor_type == 2)
			var instructor_name=  document.getElementById("instructor_name").value;
			
		
		var compledate=  document.getElementById("assess_duedate").value;
		var compledate= compledate.replace("/","-");
		var compledate= compledate.replace("/","-");
		var cost=  document.getElementById("cost").value;
		var score=  document.getElementById("score").value;
		var status=  document.getElementById("status").value;
		var credit_value=  document.getElementById("credit_value").value;
		var certificate_template_id = document.getElementById("certificate_template_id").value;
		var skillcategoryid= document.getElementById("skillcategoryid").value;
			
		var starr1=  document.getElementById("clas_star").value;
		var starr2=  document.getElementById("ins_star").value;
		
		var usersid = document.getElementById("selectedUser").value;
		var userid = 	usersid.replace(/-/g,",");
		
		if(title=='')
		{
			alertify.alert("Please enter title.");
			return false;
		}else if(compledate=='')
		{
			alertify.alert("Please enter Completion Date.");
			return false;
		}else if(traningtypeid=='')
		{
		
			alertify.alert("Please enter Traning Type.");
			return false;
		}
		else
		{
			$("#waiingforrefresh").show();
			var title1=title.replace(/'/gi, "singlequote"); 
			$.ajax({
				url: baseurl+"/coursescredit/manuallyadditem/",
				type: 'POST',
				data: {title: title1,traningtypeid:traningtypeid,instructor_name:instructor_name,compledate:compledate,certificate_template_id:certificate_template_id,cost:cost,credit_value:credit_value,score:score,status:status,users:userid,desc:desc, star1:starr1, star2:starr2,skillcategoryid:skillcategoryid, action: 'PostComment'},
		
				success: function(data) {
					alertify.alert("Training item added to transcript successfully.");
					tb_remove();

					document.getElementById('waiingforrefresh').style.display='none';
					document.getElementById('elrning_passfail').style.display='none';
					document.getElementById('scorediv').style.display='none';
					document.getElementById('costdiv').className='elearning-all-categories1  ml65 wp42 h22 fl';
					document.getElementById('creditdiv').className='credit-value-inp wp20 ml01 fl';
					document.getElementById("credit_value").style.width="105px";
					document.getElementById("course_rating").style.display='block';
					document.getElementById("instructor_rating").style.display='block';
					document.getElementById("instuctornames").style.display='block';
					
					document.getElementById("title").value='';
					document.getElementById("instructor_name").value='';
					document.getElementById("desc").value='';
					document.getElementById("traningtypeid").value='';
					document.getElementById("credit_value").value='';
					document.getElementById("cost").value='';
					document.getElementById("score").value='';
					document.getElementById("certificate_template_id").value='';
					document.getElementById("status").value='';
					document.getElementById("compledate").value='';
					document.getElementById("instructor_type").value='';
					document.getElementById("skillcategoryid").value='';
					
				}
			});
		}
	}

</script> -->
<!-- <script>
$(document).ready(function(){
var compid = '<?php echo $this->compid ; ?>' ;
if(compid == 43 || compid == 56)
{
		document.getElementById("course_rating").style.display='none';
		document.getElementById("instructor_rating").style.display='none';
		document.getElementById("instuctornames").style.display='none';
		document.getElementById("elrning_passfail").style.display='block';
		document.getElementById("scorediv").style.display='block';
		document.getElementById("costdiv").className ='elearning-all-categories1 wp100 fl';
		document.getElementById("creditdiv").className ='credit-value-inp wp100 fl';
		document.getElementById("credit_value").style.width='100%';
}
}); 
	</script> -->
<!-- <script type="text/javascript" src="<?php echo $baseUrl; ?>/public/js/select2.js"></script>
<link href="<?php echo $baseUrl;?>/public/css/select2.css" rel="stylesheet"/> -->
<!-- <script type="text/javascript">
	$(document).ready(function() {
	var checkcatset = "<?php echo (isset($this->LockedStatus[0]->category_management)) ?  $this->LockedStatus[0]->category_management : ''; ?>" ;
	if(checkcatset == 1)
	{
		$("#skillcategoryid").select2({
		tags:<?php echo $this->skillcategory ;?>,
		createSearchChoice: function() { return null; },
		separator: ",",
		multiple: true});
	}
	else
	{
		$("#skillcategoryid").select2({
		tags:<?php echo $this->skillcategory ;?>,
		separator: ",",
		multiple: true});
	}
	}); 
</script> -->
<!-- <script>
$('#existcourses').change(function(){
	var mode = $(this).val();
	var param = 'mode='+mode;
	mygrid.clearAll();
	mygrid.post('<?php echo $baseUrl;?>/supervisor/givecreditforselected/',param, callBack,"json");
})
</script> -->
<style>
#training_items_grid.gridbox_dhx_skyblue table.obj.row20px tr td {
    border-right: 1px none #e1e1e1;
}

</style>
<!-- <script>
   $(document).ready(function(){
    $('.hdrcell').click(function(){
		if($(this).find('.sortingimage').is(':visible')){
			$(this).find('.sortingimage').css('display','none');
		}
		var curr=$(this);
		$('.hdrcell').each(function(){
			if($( this ).is(curr)){
			}else{
				$(this).find('.sortingimage').css('display','block'); 
			}
		});
   });   });
</script> -->