<div class="modal fade" id="learningplan" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign Training</h4>
        </div>
        <div class="modal-body">
          <section class="content" style="padding-top:40px;position:relative;">
          <div ui-grid="gridLearningplan" id="grid"   style="height:500px"   ui-grid-pinning  ui-grid-selection ui-grid-resize-columns  ui-grid-auto-resize></div>
         </section>
		
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>		 