<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{modelname}}</h4>
        </div>
        <div class="modal-body">
			<section class="content" style="padding-top:40px;position:relative;margin-top:60px;">
			<!--  <div ui-grid="gridOptions"  ui-grid-pagination id="grid"  style="height:500px"></div> -->
	         <table datatable="" dt-options="dtOptions1" dt-columns="dtColumns1" class="row-border hover"></table>
		
			</section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>		 