<div class="modal fade" id="pendingApproval" role="dialog" style="height:700px;margin-left: -520px;">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="    width: 1120px;margin-left:28px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Supervisor Approvals</h4>
        </div>
        <div class="modal-body">
		<div style="position:absolute; margin-top:150px; z-index:2000; margin-left:450px;" ng-show='loadingiddis==true'>
			<img src='/eliteprodlms/public/images/animatedEllipse2.gif' width="85%;" border='0'>
		</div>
		<div class='widget-header mb10' style="background-color:#f4f5f4; border-bottom:none;">
						<div class='fl mt02 b wp100'>&nbsp; Filter:
							<select style='height:27px; padding:2px !important;' class='bs01' ng-change='filterPendingRequest();' ng-model='setcat'>
								<option value='0'>All</option>
								<option value='1'>Classroom</option>
								<option value='2'>Submitted Training</option>
							</select>
						</div>
					</div>
					
		<div class="permission wp95 mt10 pb20 fl" ng-show="modeView=='selectedviewuser'">
			<div class="marty-mcfly wp100 fl">
				<div class="marty-mcfly wp100 pl10 fr">
					<div class="manage-company fs13 wp20 mt06 fta b fc18 fl">Name:</div>
						<div class="manage-company-name fs12 wp80  mt06 fta fc41 w90 fl">
						{{userdetail[0].user_name}}
						</div>
					</div>

					<div class="marty-mcfly wp100 pl10 mt10 fr">
						<div class="manage-company fs13 wp20 b fta fc18 fl">Item Name:</div>
							<div class="manage-company-name wp50 fs12  fta fc03  fl fc41">
								{{userdetail[0].training_title}}
							</div>
						<div class="manage-company fs13 wp15 b fta fc18 fl">Item type:</div>
							<div class="manage-company-name wp15 fl fc41 fs12 ">
								{{userdetail[0].itemtype}}
							</div>
					</div>

					<div class="marty-mcfly wp100 pl10 mt10 fr">
						<div class="manage-company fs13 wp20 fta fc18 b fl">Description:</div>
							<div class="manage-company-name wp80 fl fc41 ">
								{{userdetail[0].description}}
							</div>
					</div>

					<div class="marty-mcfly wp100 fs12 fta pl10 fc03 mt10 fr">
						<div class="manage-company fs13 wp20 b fta fc18 fl">Completion Date:</div>
							<div class="manage-company-name wp80 fl fc41 fs12">
									{{responseData.completionDate}}		
							</div>
					</div>

					<div class="marty-mcfly wp100 fs12 fta pl10 fc03 mt10 fr">
						<div class="manage-company fs13 wp20 b fta fc18 fl">Credit Value:</div>
							<div class="manage-company-name wp80 fl fc41 fs12">
							{{userdetail[0].credit_value}}
							</div>
					</div>

					</div>
					<div style=" position:relative; right:0; top: -180px;">
						<div class="add-group1-bg1 fr hand mr02 mt10">
							<div class="button_lblue_r4" ng-click="denyagainprofilebysupervisor('submittraining',responseData.uti,'');">Deny</div>
						</div>	

					<div class="add-group1-bg1 fr hand mr05 mt10">
						<div class="button_lblue_r4" ng-click="approveagainprofilebysupervisor('submittraining',responseData.uti,'');">Approve</div>
					</div>
					
					
					<div class="add-group1-bg1 fr hand mr05 mt10" ng-if="userdetail[0].file_name!=null">
						<a class="button_lblue_r4" href="/user/uploadfiles/{{userdetail[0].file_name}}" download="submit details">Download</a>
						</div>
					</div>
		</div>
		
		
		
		<div class="permission wp95 mt10 pb20" ng-show="modeView=='selectedclassroom'">
			<div class="marty-mcfly wp100 fl">
				<div class="marty-mcfly wp100 pl10 fr">
					<div class="manage-company fs13 wp20 mt06 fta b fc18 fl">Name:</div>
						<div class="manage-company-name fs12 wp80 mt06 fta fc41 w90 fl">
					      {{userdetail[0].user_name}}
						</div>
				</div>
			<div class="marty-mcfly wp100 pl10 mt10 fr">
				<div class="manage-company fs13 wp20 b fta fc18 fl">Item Name:</div>
					<div class="manage-company-name wp50 fs12  fta fc03 fl fc41">
					 {{userdetail[0].training_title}}
					</div>
				<div class="manage-company fs13 wp15 b fta fc18 fl">Item type:</div>
					<div class="manage-company-name wp15 fl fc41 fs12 ">
					 {{userdetail[0].itemtype}}
					</div>
			</div>
			<div class="marty-mcfly wp100 pl10 mt10 fr">
				<div class="manage-company fs13 wp20 fta fc18 b fl">Description:</div>
					<div class="manage-company-name wp80 fl fc41 ">
					{{userdetail[0].description}}
					</div>
			</div>
			<div class="marty-mcfly wp100 fs12 pl10 fta fc03 mt10 fr">
				<div class="manage-company fs13 wp20 b fta fc18 fl">Training Date:</div>
					<div class="manage-company-name wp80 fl fc41 fs12">
					{{responseData.completionDate}}		
					</div>
			</div>
			<div class="marty-mcfly wp100 fs12 fta pl10 fc03 mt10 fr">
				<div class="manage-company fs13 wp20 b fta fc18 fl">Max Seat:</div>
					<div class="manage-company-name wp80 fl fc41 fs12">
					{{userdetail[0].max_seat}}
					</div>
			</div>
			</div>
			<div style="position:relative; right:0; top: -180px;">
						<div class="add-group1-bg1 fr hand mr02 mt10">
							<div class="button_lblue_r4" ng-click="denyagainprofilebysupervisor('classroom',responseData.uti,'');">Deny</div>
						</div>
						<div class="add-group1-bg1 fr hand mr02 mt10">
							<div class="button_lblue_r4" ng-click="approveagainprofilebysupervisor('classroom',responseData.uti,'');">Approve
							</div>
						</div>
			</div>
		</div>
					
					
					
					

					
					
          <section class="content" style="padding-top:40px;position:relative;margin-top: {{dynamicTop}};">
			  <div ui-grid="gridPendingApproval" id="grid" style="height:350px" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize>
			  </div>
         </section>
		 
		  <script type="text/ng-template" id="view.html">
		  <span ng-if="row.entity.functionName=='viewuser'">
	  <a class="button_lblue_r4" ng-click="grid.appScope.viewuser(row.entity.functionPara)">View<span>&#187;</span></a>
	  </span> 
	  <span ng-if="row.entity.functionName=='viewclassroom'">
	  <a class="button_lblue_r4" ng-click="grid.appScope.viewclassroom(row.entity.functionPara)">View<span>&#187;</span></a>
	  </span>
   </script>
    <script type="text/ng-template" id="approve.html">
	  <span><a  ng-click="grid.appScope.approveagainprofilebysupervisor(row.entity.functionCall,row.entity.uti,row)" class="button_lblue_r4">Approve<span>&#187;</span></a></span><br>
	 </script>  
	 <script type="text/ng-template" id="deney.html">
	 <span><a  ng-click="grid.appScope.denyagainprofilebysupervisor(row.entity.functionCall,row.entity.uti,row)" class="button_lblue_r4">Deny<span>&#187;</span></a></span>
   </script>
   
   
        </div>
        <div class="modal-footer">
		<div class="row1" id="blk_div">
				<div class='fl wp98 mt10 mb15 ml10'>
					<div class="wp22 fl">
						<select class='form-control ml05 mt03' name='operationvalueofsubmit' ng-model='operationvalueofsubmit'>
							<option value=''>Select Bulk Option</option>
							<option value='approveselected'>Approve</option>
							<option value='denyselected'>Deny</option>
						</select>
					</div>
					<div class='fl button_lblue_r4 mt08 ml20' style="cursor: pointer;" ng-click='usersubmittrainingstatus()'>Apply</div>
					
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
        
        </div>
      </div>
      
    </div>
  </div>		 