<div class="modal fade" id="userpopup" role="dialog" style="height:700px;margin-left: -520px;">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="width:1120px;margin-left:28px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Profile</h4>
        </div>
        <div class="modal-body">
		<div style="position:absolute; margin-top:150px; z-index:2000; margin-left:450px;" ng-show='loadingiddis==true'>
			<img src='/eliteprodlms/public/images/animatedEllipse2.gif' width="85%;" border='0'>
		</div>
			<div class="dashboard-content-popup fl wp100">
			      <div class="manage-user-edit-right-box wp100 fl" >
			             <div class="edit-user wp100 fl mb15">
							<div class="wp100 fl">
								<div class="col-sm-5 col-md-4">
									<div class="manage-user-photo-box wp100 fl">
										<div class="manage-user-photo-bg wp100 mt15 fl">
											<div class="user-photo fl wp100 tac">
											
												<img ng-if="userpopupData.userskills[0].user_pic_path!='' && userpopupData.userskills[0].user_pic_path!='NULL'" src="/elipteprodlms/uploadfiles/{{userpopupData.userskills[0].user_pic_path}}" style="width:100%"/>
													
													<img ng-if="userpopupData.userskills[0].user_pic_path=='' || userpopupData.userskills[0].user_pic_path=='NULL'" src="/eliteprodlms/public/images/default_profile.png" style="width:100%"/>
													
											</div>
										</div>
										<div class=" wp100 h30 fl tac">
										<div class="button_lblue_r4 fs13 mt06 fta fc03 b wp100 pl05 pr05 fl ">User Photo</div>
									</div>
									
									 <div class="manage-login-permision-box wp100 mt20 fl">
									       <div class="edit-login-permision-bg wp100 h33 fl tac">
											<div class="login-permision-edit fs13 pl05 pr05 fta fc03 b wp100 fl">Login/Permission</div>
										</div>
										<div class="username-box wp100 bs01 fl pl10 pr10">
										  <div class="user-name fs14 mt10 fta fc03 b wp100 pb05 fl">Username:</div>
										        <input readonly class="form-control"name="" type="text" value="{{userpopupData.userskills[0].login_id}}" />
												
												  <div class="user-name fs14 mt10 fta pb05 fc03 b wp100 fl">System Permission/Role:</div>
												  
												   <div class="elearning-all-categories1 ml02 wp100 fl">
                                        <div class="all-categories wp100 fs13 fta fc03 b fl">
										<input readonly class="form-control"name="" type="text" value="{{userpopupData.fetchrolename[0].role_name}}" />
										 </div>
										  <div class="elearning-active mt04 w20 fr"></div>
										
										</div>
										 <div class="ext-h h20 wp100 fl"></div>
										</div>
										</div>
									 
									 </div>
								</div>
								
								 <div class="col-sm-7 col-md-8">
									<div class="manage-edit-name wp100 mt15 fl">
									    <div class="row1">
											<div class="col-sm-6">
												<div class="wp100 fl">Name:</div>
												<input readonly name="" class="form-control" type="text" value="{{userpopupData.userskills[0].user_name}}"/>
											</div>
											<div class="col-sm-6">
												<div class="wp100 fl">Status:</div>
												<div class="elearning-all-categories mt03 wp100 h22 fl">
												<div class="all-categories w100 fs13 mt02 fta b fc03 fl pl10">Active</div>
												<div class="elearning-active  w20 fr mt04"> </div>
											</div>
											</div>
										</div>
										
										 <div class="manage-name wp100 fl"></div>
										 <div>
										 <div ng-repeat="customField in userpopupData.customfieldArr">
										       <span ng-if="customField.is_active!=0">
											        <div class="fl wp100">
													<span ng-if="customField.column_type=='Date'">
													      <div class="manage-name fs14 mt05 fta fc03 b fl">{{customField.column_name}}:</div>
														  <div class="user-name fs14 fta fc03 b mt05 wp100 fl">
														      
														      <input readonly class="form-control" style="display: inline-block; width: 97%;" type="text" value="{{userpopupData.customfieldvalueArr[$index]}}" size="30"/>
														  </div>
													</span>
													
													<span ng-if="customField.column_type=='Text Area'">
													     <div class="manage-name fs14 mt05 fta fc03 b fl">{{customField.column_name}}:</div>
														 <div class="manage-name wp100 fl mt05">
															<textarea readonly class="form-control" >{{userpopupData.customfieldvalueArr[$index]}}</textarea>
														</div>
														 
													</span>
													
													<span ng-if="customField.column_type=='Radio Button'">
													    <div class="manage-name fs14 mt05 fta fc03 b fl">{{customField.column_name}}:</div>
														
														<div class="manage-name wp100 fl bs01 mt05" style="padding:8px 0 8px 0;"> &nbsp;&nbsp;
														<span ng-if="getCheckBoxValue1(customField.col_values,1)==userpopupData.customfieldvalueArr[$index]">
															<input disabled type="radio" name="radiobuttonvalue" id="radiobuttonvalue" ng-checked="1" />{{userpopupData.customfieldvalueArr[$index]}}
														</span>
														<span ng-if="getCheckBoxValue1(customField.col_values,1)!=userpopupData.customfieldvalueArr[$index]">
															<input disabled type="radio" name="radiobuttonvalue" id="radiobuttonvalue" />{{getCheckBoxValue1(customField.col_values,1)}}
														</span>
														
														<span ng-if="getCheckBoxValue1(customField.col_values,2)==userpopupData.customfieldvalueArr[$index]">
															 &nbsp;&nbsp;<input disabled type="radio" name="radiobuttonvalue" id="radiobuttonvalue" ng-checked="1" />{{userpopupData.customfieldvalueArr[$index]}}
														</span>
														
														<span ng-if="getCheckBoxValue1(customField.col_values,2)!=userpopupData.customfieldvalueArr[$index]">
															 &nbsp;&nbsp;<input disabled type="radio" name="radiobuttonvalue" id="radiobuttonvalue" />{{getCheckBoxValue1(customField.col_values,2)}}
														</span>
														
														
														</div>
														 
													</span>
													
													
													<span ng-if="customField.column_type=='Drop down'">
													         <div class="manage-name fs14 mt05 fta fc03 b fl">{{customField.column_name}}:</div>
															 	<div class="manage-name wp100 fl mt05">
																<span ng-init="dropDown(customField.col_values)"></span>
																  <select disabled ng-options="name.dropValue as name.dropValue for name in customDropDownList"  class="form-control" ng-model="userpopupData.customfieldvalueArr[$index]">
																	<option value="">Select</option>
																</div>
																 </select>
													
													</span>
													
													
													
													
													</div>
											   </span>
										 </div>
										</div> 
										  <div class="row1">
													    <div class="col-sm-6">
															<div class="manage-email wp100 fs14 mt10 fta fc03 b fl pb05">Phone:</div>
																		<input readonly type="text" name="textfield" class="form-control" id="textfield" value="{{userpopupData.userskills[0].phone_no}}"/>
																	
																
														</div>
								
										<div class="col-sm-6">
                                        	<div class="manage-email wp100 fs14 mt10 fta fc03 b fl pb05">Email:</div>
                                                        <input readonly type="text" name="textfield2" class="form-control" id="emailid" value="{{userpopupData.userskills[0].email_id}}" />
                                                </div>
										</div>
			    				</div>
									
									<div class="assigned-group-123 bgc09 wp100   bs01 mt10 h33 fr">
										<div class="assigned-group w120 mt08 ml08 fl">Assigned Group</div>
										<div class="add-group1-bg1 fr hand mr02 mt02"></div>
									</div>
										<div class="scrool-box wp100 fr">
											<div class="wp100" style="height: 250px; border:1px solid #d5d6d5; overflow:auto; scrollbar-base-color:#9f9f9f; scrollbar-arrow-color:#9f9f9f;"></div>
										</div>
		
		
								</div>
							</div>
						</div>
						
						
						
						<div class="widget box wp100 fl"> 
					<div class="widget-header"> 
						<h4>
							<img src="/eliteprodlms/public/images/expert-skills-icon.png" />
							Expert Skills
						</h4> 
					</div> 
					<div class="widget-content form-horizontal row-border"> 
						<div class=" das-upcoming-training-courses wp100 bgc10 bs01 fl mb10">
							<div class="Name  wp35 fs14 pl05 fta fc03 b bor04 h30 fl pt04"><div class="fl mt04">Category</div>
								<div class="sort_asc_disabled fr mt04"><img src="/eliteprodlms/public/images/sort_asc_disabled.png" /></div>
							</div>
							<div class="avg.rating wp65 h26 fs14 mt04 pl05 fta fc03 b fl">My Level </div>
						</div>
						<span ng-if="userpopupData.skillnames.length>0">
						        <span ng-repeat="val in userpopupData.skillnames">
								       <div class="num-category  h25 bgc05 bs01 w596 fr mr09 bol01 h35" >
											<div class="category bgc05 h35 bor01 w165 fl">
													<div class="Category w160 fs13 mt04 ml08  fta fc03 b  fl mt08">{{val.skill_name}}</div>
												</div>
												<div>
												<span ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]">
												    <span ng-if="x==val.skill_rating">
													     <div class="fl w30 ">
														   <div id="image1_{{x}}" class="w-num w20 ml05 mt03 fl" style="display:none;">
																<img src="/eliteprodlms/public/images/g{{x}}.png"  />
														   </div>
														   <div id="image2_{{x}}" class="c-num w20 ml05 mt03 fl" style="display:none;">
																<img src="/eliteprodlms/public/images/w{{x}}.png" />
														   </div>
															<div id="image3_{{x}}" class="c-num w20 ml05 mt03 fl" >
																<img src="/eliteprodlms/public/images/b{{x}}.png"  />
															</div>
														 </div>
													
													</span>
													
													
													 <span ng-if="x>val.skill_rating">
														  <div class="fl w30 ">
															   <div id="image1_{{x}}" class="w-num w20 ml05 mt03 fl" style="display:none;">
																	<img src="/eliteprodlms/public/images/g{{x}}.png"  />
															   </div>
															   <div id="image2_{{x}}" class="c-num w20 ml05 mt03 fl" >
																	<img src="/eliteprodlms/public/images/w{{x}}.png" />
															   </div>
															<div id="image3_{{x}}" class="c-num w20 ml05 mt03 fl" style="display:none;">
																	<img src="/eliteprodlms/public/images/b{{x}}.png"  />
															</div>
															 </div>
														 
													 </span> 
													 
													 <span ng-if="x<val.skill_rating">
														  <div class="fl w30 ">
															   <div id="image1_{{x}}" class="w-num w20 ml05 mt03 fl" >
																	<img src="/eliteprodlms/public/images/g{{x}}.png"  />
															   </div>
															   <div id="image2_{{x}}" class="c-num w20 ml05 mt03 fl" style="display:none;">
																	<img src="/eliteprodlms/public/images/w{{x}}.png" />
																</div>
																<div id="image3_{{x}}" class="c-num w20 ml05 mt03 fl" style="display:none;">
																		<img src="/eliteprodlms/public/images/b{{x}}.png"  />
																</div>
															 </div>
														 
													 </span>
												</span>
												<div class="g-num w40 ml08 mt03 fr"></div>
												
												</div>
									   </div>
								</span>
						     </span>
						
					      </div>
					   </div>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
		<div class="row1" id="blk_div">
				<div class='fl wp98 mt10 mb15 ml10'>
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
        
        </div>
      </div>
      
    </div>
  </div>		 