
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Manage Sub Admin</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#/admin/manageuserlist">Manage Users</a></li> 
			<li class="active"><strong>Manage Sub Admin</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper" style="min-height: 740px;">
	<div>
	<!--div id="content_area"-->

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
	<h1>Manage Sub Administrators</h1>
	</div>
</section>	

<div class="fl wp100">
	<div class="content fl wp100">
	<div class="panel panel-bd wp100 fl lobipanel1">
	<div class="panel-heading">
	<div class="add-users-bg1 fr">
	<a class="thickbox" href="/eliteprodlms/admin/addsubadmin?height=400&amp;width=628&amp;inlineId=hiddenModalContent&amp;modal=false">
	<div class="button_lblue_r4 mt07">Add Existing User<span>»</span>
	</div></a>
	</div> 
	<div class="add-users-bg1 fr">
	<a href="/eliteprodlms/admin/adduser"><div class="button_lblue_r4 mr08 mb05 mt07">Add Users<span>»</span></div></a>
	</div> 
	<h4>
	<i class="fa fa-file-text-o mr05" aria-hidden="true"></i>
	Manage Sub Administrators
	</h4>
	</div>
	<div class="panel-body">
	<div class="blank_spacen1 wp100 mt10 fl">
	
	<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th:nth-child(odd) {
    background-color: #dddddd;
}
th:nth-child(even) {
    background-color: #dddddd;
}


.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }


}
  
  
  
  
  
  
  
</style>


<div ng-controller="subadmincontroller as showCase">
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>



	
	<!--  <div class="pagingWrap"  ng-if="!itemsdata.length" >
	<div style="width:100%;float:left;" id="recinfoArea"></div>
	<div id="pagingArea"><div style="overflow: hidden; clear: both;"><div class="dhx_pbox_skyblue"><span>&nbsp;</span></div><div class="dhx_pager_info_skyblue"><div>No Records Found</div></div><span>&nbsp;</span></div></div>
	</div>  -->
	
	
	

	<div class="bulk-action1 wp100 fl mb10">
	<div class="all-categories1 mt12 wp30 fs13 mt03 fta fc03 fl">
	<select class="form-control" name="operationvalue"  id="operationvalue">
	<option value="">Select Bulk Option</option>
	<option value="assign-group">Assign Group</option>
	<option value="assign-category">Assign Category</option>
	</select>
	
	</div>
	<div class="dashboard-daily-button mt17 ml05 fl">
	<a class="button_lblue" id="bulkaction" ng-click="showCase.bulkaction();">Apply</a>
	</div>
	</div>
	
	
	<div class="modal fade" id="assign-group"    role="dialog"  aria-hidden="true">  
	
			<div class="modal-dialog" ng-if="showCase.groplist">
			<div class="modal-content">
			  <div class="modal-body" ><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			   <table datatable="a" dt-options="showCase.dtOptions1" dt-columns="showCase.dtColumns1" class="row-border hover"></table>
			  </div>
			   <div class="modal-header"> 
         <button type="button" class="btn btn-default" ng-click="showCase.addgroupSave();">Apply</button>
      </div>
			</div>
		  </div>
    </div>
	<div class="modal fade"  id="assign-category"  role="dialog"  aria-hidden="true">  
	
			<div class="modal-dialog" ng-if="showCase.groplistcat">
			<div class="modal-content">
			  <div class="modal-body" ><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			   <table datatable="a" dt-options="showCase.dtOptions2" dt-columns="showCase.dtColumns2" class="row-border hover"></table>
			  </div>
			    <div class="modal-header">
                   <button type="button" class="btn btn-default" ng-click="showCase.addcategorySave();">Apply</button>
               </div>
			</div>
		  </div>
    </div>



	
</div> 	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</div>
	
	</div>
	</div>
	</div>
</div>



<script>
function addgroup(user_id)
{
	var URL_open = '/eliteprodlms/admin/assigned-group/?sub_admin_id='+user_id+'&height=400&width=500&inlineId=hiddenModalContent&modal=false';
	tb_show('',URL_open,'');
	return false;
}
function addcategory(user_id)
{
	var URL_open = '/eliteprodlms/admin/assigned-category/?sub_admin_id='+user_id+'&height=400&width=500&inlineId=hiddenModalContent&modal=false';
	tb_show('',URL_open,'');
	return false;
}

function bulkaction()
{
	var operationvalue = $.trim($("#operationvalue").val());
	if(operationvalue!="")
	{
	selected_rows = '';
	selected_rows = getSelectedIdsforuser();
	if(selected_rows.length==0) {
	alertify.alert("Please select at least one Sub-Admin.");
	return false;
	}	
	if(operationvalue=="assign-group"){
	var URL_open = '/eliteprodlms/admin/assigned-group/flag/1/?sub_admin_id='+selected_rows+'&height=400&width=500&inlineId=hiddenModalContent&modal=false';
	tb_show('',URL_open,'');
	return false;
	}
	if(operationvalue=="assign-category"){
	var URL_open = '/eliteprodlms/admin/assigned-category/flag/1/?sub_admin_id='+selected_rows+'&height=400&width=500&inlineId=hiddenModalContent&modal=false';
	tb_show('',URL_open,'');
	return false;
	}
	}
	else
	{
	alertify.alert("Please select options.");
	return false;
	}
	return false;
}
</script> <div class="footer_container">
	<!-- <div class="footer-text fl">
<div class="footer-copyright foo_copy_txt fl bluecol_cmid30_footer"><div style="padding: 0 0; text-align: center;"><a style="padding: 10px 0; display: inline-block;" class="admin_foo white" target="_blank" href="http://torchlms.com">Torch LMS</a></div></div>
	<div class="bluecol_cmid30_footer_link footer_links_new"><strong>© 2018 eLiteLMS - 2.1</strong>- All Rights Reserved</div>
	</div> -->
	

<!--Analytics -->
<script type="text/javascript">
</script>
<div style="display: none;" id="warning-popup" title="Inactivity Warning!">
	<div>
	<div>	
	<p>You will be logged out of TorchLMS shortly due to inactivity. If you are still working, you may extend your session for another 30 minutes.</p>
	</div>
	<div id="seconds">
	<span>60</span> Seconds
	</div>
	</div>
</div>

<div id="login-popup" title="Login" style="display: none; height: 200px !important;">
	<div class="fs12 mb10">Your session has been expired.</div>
	<div class="fl wp100">
	<div class="b fl loginboxdiv mb15" id="user_name_app" style="width: 100%;">
	<input style="border-radius: 5px; width: 100%;" class="username_box bor_none_saf" name="user_name" placeholder="Username" id="login_user_name" type="text">
	</div>

	<div class="loginboxdiv fl b mb15" id="password_app" style="width: 100%;">
	<input style="border-radius: 5px; width: 100%;" class="password_box bor_none_saf" name="password" placeholder="Password" id="login_password" type="password">
	</div>
	<div class="fl">
	<input name="company_id" id="company_id" value="1" type="hidden">
	<a class="btnlogin black" id="submitloginform">
	<div class="hidden-submit">	<input type="submit">	</div>
	<span> Sign In »</span>
	</a>
	</div>
	</div>
</div>
 </div>
 </div>
	</div>