<div class="wp100 fl mt25 pl30 pr30">
    <div class="admin-browser-box wp100 fl pb20" style="min-height: 450px;">
		<div class="col-xs-12">
			<div class="wp100 fl ">
				<div class="fta b fl fs22 disc_color_about wp100 pb05 mt10" compile="page_name" ></div>
				<div class="fl wp100">
					<div class="fta fl fs13 fc31 wp100"  style="line-height: 18px;" compile="page_description"> 
						
					</div>
				</div>
			</div>
		</div>
    </div>
</div>