<style>
#test2 {
    background-color: #FFFFFF;
    height: auto;
    margin-left: 1px;
    margin-top: 0 !important;
    width: 100%;
	padding: 10px 0;
}
@media (max-width:767px){
	.home-right-box{
		margin-top: 14px;
		width: 100%;
	}
	.announcements{
		width: 100%;
	}
}
</style>
<div class="user-dashboard-content fl">
<div class="pt15 fl wp100">
<div class="frt-michael fs25 fts fc35 b fl pl15">Welcome,{{systemuser}}</div>
		<div class="frt-michael fs14 tar fta fc33 b fr mb05 pr15" id="browser_date">
			{{newdate}}
		</div>
<div class="announcements col-md-12">
		
				<div class="wp100 ann_bar bgc05 bs01 fl">
				  <div class="fs15 fta fc18 pl10 pt05 pb05 fl b">Announcements</div>
				</div>
				<div id="home-announcements" class="fl" style="border: 1px solid #eaeaea; width:100%; border-top: 0; padding: 0 14px;">
					<div id="test2" class="flexcroll flexcrollactive col-xs-12 fl">
						<div>
							<div class="track">
								<div>
								  <div class="end"></div>
								</div>
							</div>
						</div>
						<div class="viewport">
							<div class="overview">
								<div class="posted-by fl " >
									<!-- <?php
										//$counter=count($this->Companyanouncement);
										//if(count($this->Companyanouncement)>0){$i=0;
										//	foreach($this->Companyanouncement as $key=> $value){

										//	$a=explode(' ',$value['created_date']);
										//	$b=explode('-',$a[0]);
										//	 $monthArray[$b[1]].' ';
										//	 $b[2].','.' ';
											//  $b[0];
										  // $users=$this->userDB->getroleid($value['last_updated_by']);
										  //$i++;
										  
										 // $longdesc= stripcslashes($value['announcement_longdescription']);
									?> -->
									<div class="posted-by fl wp100" ng-repeat="strval in announcementstr">
										<div class=" w60 fl date_bkg">
											<div class="fl fta b fs18 date_col tac w48 pt02">{{strval.date}}</div>
											<div class="fl fta b fs12 date_col tac w48" style="text-transform:uppercase; margin-top: -2px;">{{strval.month}}</div>
										</div>
										<div class="wp80 pl10 fs18 fta fc09 mt06 b fl">{{strval.announcement_title}}</div>
										<div class=" pl10 fs12 fta fc30 mt02  fl">Posted by {{strval.user_name}}</div>

										<div class="ext-box fs13 fta  fc03 mt10 bot01 pt20 tal fl wp100"  style=" word-break: break-all;" >
											<div style="text-decoration: none; color: #4C4C4C; " class="wp100 fl fc34 fta fs13 mb05" id="readnotmore_{{$index+1}}" >
                                                   <p style=" word-break: break-all;"  compile="strval.shortdesc"></p>
												
											</div>
										</div>
										
										<a  class="wp100 fl" ng-click="display12($index+1,strval.counter);" ng-if="strval.longdesc!=''">
											<div id="reads_{{$index+1}}">
											  <div class=" w70 mt10 fl mb10 hand ml05">Read More </div>
											  <div class="fl mt10">
											  	
											  	<i class="fa fa-angle-double-right"></i>
											  </div>
											</div>
										</a>
									
										<div class="wp100 fl fc34 fta fs13" id="readmore_{{$index+1}}" ng-click="less($index+1,strval.counter);" style="display:none; text-align: justify;">
										
											<a  >
												<div class="fl mt10" compile="strval.longdesc">
													
													<i class="fa fa-angle-double-left"></i>
												</div>
												<div class=" w70 mt10 fl mb10 hand">&nbsp; Read Less </div>
											</a> 
										</div>
										
									</div>
							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>