
<link rel="stylesheet" type="text/css" href="/eliteprodlms/public/dhtmlxgrid/codebase/dhtmlxaccordion.css"/>
<script type="text/javascript" src="/eliteprodlms/public/dhtmlxgrid/codebase/dhtmlxaccordion.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
	$('#helps-tabs li').click(function(){
    var id = $(this).attr('id');
    id+='-block';
    $('.helps-block > div, #helps-tabs li').removeClass('active');
    $('.helps-block > div').hide();
    $('#'+id).addClass('active').show();
    $(this).addClass('active');   
  });
  
});
</script>
<script>
var myAcc;
var eventIndex = 1;
function questionlist(topic_id)
{
	$.post('<?php echo $baseUrl?>/index/topicdetails/',{topic_id:topic_id},function(jsonText)
	{
		if(parseInt(jsonText.length)!=0)
		{
		myAcc = new dhtmlXAccordion({parent: "accObj", multi_mode: true});
		myAcc.forEachItem(function(item){myAcc.cells(item._idd).hide()});
		var open_id=0;
		var cnt=0;
		
		jQuery.each( jsonText, function( i, val ) {			
			myAcc.addItem(val.qid, val.question).attachHTMLString(val.answer);
			myAcc.cells(val.qid).setHeight(200);
			myAcc.cells(val.qid).close();
			$('#question_'+val.qid).removeClass('active');
			if(cnt==0) open_id=val.qid;
			cnt++;
		});	
		
		myAcc.cells(open_id).open();
		$('#question_'+topic_id).addClass('active');
		}
	},"json");
}
</script>
<div class="">
<div class="wp100 fl mt25 pl30 pr30 mb20">
    <div class="admin-browser-box wp100 fl pb20 pt15 ">
      <div class="col-xs-12">

          <div class="wp100 fl ">
		  		<ul id="helps-tabs" class="wp100 fl">
				
						<li id="helps1"  class="active fta b fs18 disc_color_about">Reference Library </li>

						<li id="helps2" class="fta b fs18 disc_color_about">FAQ</li>

				</ul>
				<div class="helps-block wp100 fl">
					<div id="helps2-block" class="help-blk ">
						<h4 class="mb25">Frequently Asked Questions</h4>
						<div class="wp25 fl q_list" >
				          <p ng-repeat="val in topic_detail" id="question_{{val.topic_id}}" ng-click='questionlist(val.topic_id);'>{{val.topic_name}}</p> 
						</div>
						<div class="wp75 fl">
							<div id="accObj" style="width:100%; height:400px;"></div>
						</div>
					</div>
					<div id="helps1-block" class="help-blk active">
					<section class="content" style="width:100%; min-height:400px; margin-left:0px;">
					<div ui-grid="gridOptions" id="grid"   style="height:500px;"  ui-grid-pagination ui-grid-pinning  ui-grid-selection ></div>
					</section>
						
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
</div>

<script>
$("#helps2").click(function(){
<!-- <?php if($topic_id!=0) echo "questionlist(".$topic_id.");"; ?> -->
})
</script>
<!-- <?php if($this->headersearch == 'faq')
{
	echo '<script>$("#helps1").removeClass("active");$("#helps1-block").removeClass("active");$("#helps2").addClass("active");$("#helps2-block").addClass("active");</script>';
}
?> -->
<script>
function viewlaunchuser(id , media_type){
	if(media_type==5){		
		tb_show(title='','/index/embeddedplayer/file_name/'+id+'?height=400&width=700&inlineId=hiddenModalContent&modal=false','');
	}else{
		tb_show(title='','/index/mediaplayer/file_name/'+id+'?height=600&width=1300&inlineId=hiddenModalContent&modal=false','');
	}
}
</script>
<script type="text/javascript">  
$(document).ready(function(){
    $('.hdrcell').click(function(){
		if($(this).find('.sortingimage').is(':visible')){
			$(this).find('.sortingimage').css('display','none');
			var curr=$(this);
			$('.hdrcell').each(function(){
				if($( this ).is(curr)){
				}else{
					$(this).find('.sortingimage').css('display','block'); 
				}
			});
		}	
   });
});
</script>