<!-- <?php  $baseUrl = Zend_Controller_Front::getInstance()->getBaseUrl();
?> -->
<style>
 ul{  list-style: disc inside none;
}
</style>
<!-- <script type="text/javascript" src="/runplayer/jwplayer/jwplayer.js"></script> -->

<script>
function startPlayer(){
 $('#myplayer iframe').fadeIn();
}
function stopPlayer(){
 $('#myplayer iframe').attr('src', '');
 $('#myplayer').fadeOut();
}
startPlayer();

</script>
<div class="crumbs">
	<ul id="breadcrumbs" class="breadcrumb mb00 bob01" style="padding: 8px 12px 6px 12px;">
		<li>
			<a href="#/index/help">&#171; Back to Reference Library</a>
		</li>
	</ul>
</div>


<div class="fl wp100">
	<div class="content fl wp100">
		<div class="panel panel-bd wp100 fl lobipanel1">
			<div class="panel-heading">
				<h4>
					  View Reference Library
				  <div ng-if="getmedia[0].file_name!='' && references.allow_download==1" class="fta fr fs13 fc31 mr05" style="line-height: 18px;"> <a class="{{buttonclass}}" target="_blank" href="/eliteprodlms/mediafiles/{{company_id}}/{{getmedia[0].file_name}}" download="{{getmedia[0].file_name}}">Download</a> </div>
				
					<div class="{{buttonclass}}  fr mr05 hand" ng-click="viewuser(ref_id,getmedia)">View &#187;</div>
				  
				</h4>
			</div>
			<div class="panel-body" style="min-height: 400px;">
				 <div class="fl wp100 pl15 pr15">
					<div class="wp100 fl mb10  bob01 pb10">
						 <div class="fl wp15 b">Reference Title:</div> 
						 <div class="fta fl fs13 fc31 wp85 "  style="line-height: 18px;"> {{references.title}} </div>
						 </div>
					<div class="wp100 fl mb10  bob01 pb10">
					 <div class="fl wp15 b">Category:</div>
					 <div class="fta fl fs13 fc31 wp85 "  style="line-height: 18px;"> {{referencecategory.category_name}}</div>
					 </div>
						 <div class="wp100 fl mb10">
					  <div class="fl wp15 b">Description:</div> 
					 <div class="fta fl fs13 fc31 wp85 "  style="line-height: 18px;">  <p compile="references.description"></p></div>
					 </div>
					
					 
				</div>
			</div>
		</div>
	</div>
</div>
