<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Notification Management</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Super Admin</a></li> 
			<li class="active"><strong>Notification Management</strong></li>
		</ol>
	</div>
</div>


<div class="content-wrapper" >

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<!-- <div class="headerbtnwrp fr">
			<a href="javascript:void(0);" id="add-new-library" class="">
				<div class="button_lblue_r4" >Add Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
			
			<a href="javascript:void(0);" id="assign-new-library" class=" mr10">
				<div class="button_lblue_r4">Assign Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
		</div> -->
		<h1>Notification Management</h1>
	</div>
</section>


<div class="wp100 fl">




	<div class="content wp100 fl" style="padding-top:0px;"> 
		<div class="widget-content form-horizontal row-border"> 
			<div class="blank_spacen1 wp100">
				<div id="gridbox" style="width: 100%;min-height:450px; background-color:white; margin-left: 0; ">
				
				<div class="panel-heading">
				 
				  <h4>
					  <i class="fa fa-file-text-o" aria-hidden="true"></i>
					Notification Pages
				 </h4>
			   </div>
			   
			   
			   
			   
				<section class="content" >
					<div ui-grid="gridOptions"  ui-grid-pagination id="grid"  ></div>
				</section>
					<script type="text/ng-template" id="view.html">
					
					<span ng-show="row.entity.is_show==1">
						<input type="checkbox" name ="is_show" id= "show_{{row.entity.notification_id}}"  value= "{{row.entity.notification_id}}"  ng-checked="1" ng-click="grid.appScope.shownotification(row.entity.notification_id,row.entity.checkboxData)" ng-model="row.entity.checkboxData"/>
					</span>
					<span ng-show="row.entity.is_show!=1">
						<input type="checkbox" name ="is_show" id= "show_{{row.entity.notification_id}}"  value= "{{row.entity.notification_id}}"  '.$check.' ng-click="grid.appScope.shownotification(row.entity.notification_id,row.entity.checkboxData)" ng-model="row.entity.checkboxData"/>
					</span>
					  </script>
					  
					<script type="text/ng-template" id="delete.html">
					
					<a ng-click="grid.appScope.editNotification(row.entity.notification_id)"class="btn btn-labeled btn-success mr02" ><span class="btn-label"><i class="fa fa-pencil"></i></span>edit</a>
					
					
					  
				   </script>
				
				</div>
				
				
				</div>
			</div>	
		</div>		   

</div>			


</div>

