<head>
<script type="text/javascript">
$(document).ready(function(){
tinymce.create('tinymce.plugins.ESPPlacerPlugin', {
	createControl: function(n, cm) {
		switch (n) {
		case 'mergecodes':
		var c = cm.createListBox('mergecodes', {
			 title : 'Dynamic Fields',
			
			 icons : false,
			 max_width : 400,
			 onselect : function(v) {
					 tinyMCE.activeEditor.execCommand('mceInsertContent', false, v);
				 }
			});
			
			c.onRenderMenu.add(function(c, m) {
				m.settings['max_width'] = 400;
			});
			setTimeout(function(){
			var scope = angular.element($("#resultDataEditL")).scope();
            var newvalue = scope.resultDataEditL
 
			for(var i=0;i<newvalue.length;i++){
			     c.add(newvalue[i].fi,newvalue[i].se);
			}
			

			},1000)
			
			
			return c;
			break;
			case 'printpreview':
			section = $('.tinyMce').attr('id');
			if(section == 'letter_content') 
			{
				var c = cm.createMenuButton('printpreview', {
					title : 'PDF Print Preview'
				});
			}
			return c;
			break;
		}
		return null;
	}
});

tinymce.PluginManager.add('mergecodes', tinymce.plugins.ESPPlacerPlugin);      
tinymce.PluginManager.add('printpreview', tinymce.plugins.ESPPlacerPlugin);  
tinyMCE.init({
	// General options
	mode : "textareas",
	selector: "textarea",
	theme : "advanced",
	width:'100%',
	height: 400,		
	plugins : "jbimages,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,mergecodes,",

	// Theme options
	theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect,mergecodes,code,pasteword,|,code,|,link,unlink,jbimages,image",
	theme_advanced_buttons2 : "",
	theme_advanced_buttons3 : "",
	
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	//theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,

	// Example content CSS (should be your site CSS)
	content_css : "/eliteprodlms/public/js/tinmca/css/content.css",

	// Drop lists for link/image/media/template dialogs
	template_external_list_url : "/eliteprodlms/public/js/tinmca/lists/template_list.js",
	external_link_list_url : "/eliteprodlms/public/js/tinmca/lists/link_list.js",
	external_image_list_url : "/eliteprodlms/public/js/tinmca/lists/image_list.js",
	media_external_list_url : "/eliteprodlms/public/js/tinmca/lists/media_list.js",

	// Style formats
	style_formats : [
		{title : 'Bold text', inline : 'b'},
		{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
		{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
		{title : 'Example 1', inline : 'span', classes : 'example1'},
		{title : 'Example 2', inline : 'span', classes : 'example2'},
		{title : 'Table styles'},
		{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
	],
	relative_urls : false,
	// Replace values for the template plugin
	template_replace_values : {
		username : "Some User",
		staffid : "991234"
	}
});
});
</script>
</head>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Edit Notification</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#/notificationmanagements/notificationmgts">Notification Management</a></li>
			<li class="active"><strong>Edit Notification</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<input type="hidden" id="resultDataEditL" value="{{resultDataEditL}}">


<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		
		<h1>Edit Notification</h1>
	</div>
</section>


<div class="wp100 fl">

	<div class="content wp100 fl">	
		<div class="panel panel-bd wp100 fl lobipanel1">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-user" aria-hidden="true"></i>
					Edit Notification
				 </h4>
			</div>
			<div class="panel-body">
				<div class="manage-edit-name wp100">
					<div class="manage-name wp100 fs14 mb05 fta fc03 b">Notification Title:</div>
					<div class="manage-name wp100 mb15">
					<input type="text" name="notification_name" id="notification_name" class="wp100 bs01 p05" ng-model="editData.notification[0].notification_name">
					</div>	
				</div>
				<div class="manage-edit-name wp100">
					<div class="manage-name wp100 fs14 mb05 fta fc03 b">Subject:</div>
					<div class="manage-name wp100 mb15"><input type="text" name="subject" id="subject" class="wp100 bs01 p05" value="" ng-model="editData.notification[0].subject"></div>
				</div>	
				<div class="manage-name wp100 fs14 fta fc03 b mb10">Page Description:</div>
				<div class="manage-user-edit-right-box wp100 mb20">
					<div class="edit-user wp100 h400">
						<textarea class="fta fs12 fc02 wp100 mt05 tal" ng-model="editData.notification[0].notification_content" name="desc" id="desc">
						
						</textarea>
					</div>
				</div>
				<div class="b_register-button-frt">
					<input type="hidden" value="1" id="submitcheck" name="submitcheck" />
					<input type="hidden" value="" id="notification_id" name="notification_id" />
					<div>
						<input type="submit" class="new_css_button" value="Update &#187;" ng-click="updateNotification()" />
						<input type="submit" class="new_css_button" value="Cancel &#187;" ng-click="cancelNotification()" />
						
					</div>
					<div style="float:left;margin-top: 8px;"></div>	
				</div>
			</div>
		</div>
	
	
	</div>







				

</div>
				

</div>