<script type="text/javascript">
	tinyMCE.init({
	
		// General options
		mode : "textareas",
		elements: "short_desc,desc_text",
		theme : "advanced",
		width:"100%",
		height: 200,		
		plugins : "jbimages,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,fontsizeselect,formatselect,fontselect,preview,code,",
		theme_advanced_buttons2 : "pasteword,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink,image,jbimages,",
		theme_advanced_buttons3 : "",
		
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,

		// Example content CSS (should be your site CSS)
		content_css : "<?php echo $baseUrl;?>/public/js/tinmca/css/content.css",

		// Drop lists for link/image/media/template dialogs
		template_external_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/template_list.js",
		external_link_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/link_list.js",
		external_image_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/image_list.js",
		media_external_list_url : "<?php echo $baseUrl;?>/public/js/tinmca/lists/media_list.js",
		
		extended_valid_elements: "iframe[src|width|height|name|align], embed[width|height|name|flashvars|src|bgcolor|align|play|loop|quality|allowscriptaccess|type|pluginspage]",
		// Style formats
		style_formats : [
			{title : 'Bold text', inline : 'b'},
			{title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
			{title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
			{title : 'Example 1', inline : 'span', classes : 'example1'},
			{title : 'Example 2', inline : 'span', classes : 'example2'},
			{title : 'Table styles'},
			{title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
		],
		relative_urls : false,
		// Replace values for the template plugin
		template_replace_values : {
			username : "Some User",
			staffid : "991234"
		}
	});
	
	
	angular.element(document).ready(function(){
	 $('#releasedate').datepicker({ showOn: 'button', changeMonth: true, changeYear: true, buttonImageOnly: true, buttonImage: '/eliteprodlms/public/images/cal_new_img.png' });
	})
</script>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Releases</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Super Admin</a></li>
			<li class="active"><strong>Releases</strong></li>
		</ol>
	</div>
</div>
<div class="content-wrapper">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<!-- <div class="headerbtnwrp fr">
			<a href="javascript:void(0);" id="add-new-library" class="">
				<div class="button_lblue_r4" >Add Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
			
			<a href="javascript:void(0);" id="assign-new-library" class=" mr10">
				<div class="button_lblue_r4">Assign Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
		</div> -->
		<h1>Current Version:</h1>
	</div>
</section>


<div class="wp100 fl">




	<div class="content wp100 fl" style="padding-top:0px;"> 
		<div class="widget-content form-horizontal row-border"> 
			<div class="blank_spacen1 wp100">
				<div id="gridbox" style="width: 100%;min-height:450px; background-color:white; margin-left: 0; ">
				
				<div class="panel-heading">
				 
					  <a class="button_lblue_r4 fr mt05 hand" ng-click="addreleasenote()">Add New<span>&#187;</span></a>
				
				  <h4>
					  <i class="fa fa-file-text-o" aria-hidden="true"></i>
					Releases
				 </h4>
			   </div>
			   <div class="panel-body" ng-show="addRelease==1" >
			   <div   id="addnewform">
											<div class="form-group  fl wp100">
												<label class="col-md-2 control-label">Date</label>
												<div class="col-md-10">
													<input class="form-control fl" style="width: 95%;" type="text" ng-model="releasedate" id="releasedate"  value="" />
												</div>
											</div>
											<div class="form-group  fl wp100">
												<label class="col-md-2 control-label">Version</label>
												<div class="col-md-10">
													<input class="form-control" type="text" ng-model="version" id="version"  value="" />
												</div>
											</div>
											<div class="form-group  fl wp100">
												<label class="col-md-2 control-label">Title</label>
												<div class="col-md-10">
													<input class="form-control" type="text" ng-model="releasetitle" id="releasetitle" class="con_none" value="" />
												</div>
											</div>
											<div class="form-group  fl wp100">
												<label class="col-md-2 control-label">Short Description</label>
												<div class="col-md-10">
													<div id="xxxx">
														<textarea cols="" rows=""  class="fta  fl fs12 fc02 w600 mt05 tal" ng-model="short_desc" id="short_desc" style="border:1px solid #cececf;"></textarea>
														<div class="fl w630 mt10"></div>
													</div>
												</div>
											</div>
											<div class="form-group  fl wp100">
												<label class="col-md-2 control-label">Long Description</label>
												<div class="col-md-10">
													<div id="xxxx">
														<textarea cols="" rows=""  class="fta  fl fs12 fc02 w600 mt05 tal" ng-model="desc_text" id="desc_text" style="border:1px solid #cececf;"></textarea>
														<div class="fl w630 mt10"></div>
													</div>
												</div>
											</div>
											<div class="form-group  fl wp100" ng-show="addeditReleaseButton==1">
												<input type="hidden" id="releaseverid" name="releaseverid" value=""/>
												<div style="margin-left: 20px;" class=" fl new_css_button hand" ng-click="submitUpdateForm('addann')" ng-show="submitform==1">Submit<span>&#187;</span></div>
												<div style="margin-left: 20px;" class="fl new_css_button hand" ng-click="submitUpdateForm('updateann')" ng-show="sumupdatfom==1" >Update<span>&#187;</span></div>
												<div class="fl new_css_button mb10 hand" ng-click="cancelhomeannounce();">Cancel<span>&#187;</span></div>
											</div>
											
										</div>
										<div class="permission-box wp100 mb20">
											<div class="publish-box mr13" style="width:100%;min-height:250px;">
												<div class="publish-home p100 fs12 mt06 fta fc18 ml01 fl">
												     <div id='preloader' style="display:none;" >
														<img class="wp55" src='/eliteprodlms/public/images/animatedEllipse2.gif' border='0' style="width:50px;  left: 260px;position: absolute; top: 170px;z-index:2000"  >
													</div>	
												<div id="customfieldsnew" name="customfieldsnew" class="classes" style="width: 100%; background-color:white; margin-left: 0px;"></div>
												<div class="pagingWrap">
													<div style="width:100%;float:left;" id="recinfoArea"></div>
													<div id="pagingArea"></div>
												</div>
												
												</div>	
											</div>
										</div>
			   
			   
			   </div>
			   
			   
			   
				<section class="content" >
					<div ui-grid="gridOptions"  ui-grid-pagination id="grid"  ></div>
				</section>
					<script type="text/ng-template" id="view.html">
					<a class="btn btn-labeled btn-success mr02" ng-click="grid.appScope.releaseEdit(row.entity.id)"><span class="btn-label"><i class="fa fa-pencil"></i></span>edit</a>
					<span ng-if="row.entity.is_active==1">
						<a class="thickbox btn-primary button_lblue_r4 mr02 ml20" ng-click="grid.appScope.publish_submit(row.entity.id,0,row)" >Unpublish<span>&#187;</span></a>
					</span>
					<span ng-if="row.entity.is_active!=1">
						<a class="thickbox button_lblue_r4 mr02 ml20" ng-click="grid.appScope.publish_submit(row.entity.id,1,row)" >Publish<span>&#187;</span></a>
					</span>
					  </script>
					  
					<script type="text/ng-template" id="delete.html">
					
					<div style="align:left;margin-left: 0;" ng-click="grid.appScope.releaseDel(row.entity.id,row)" class="con_cross hand highlightit"></div>
					
					
					  
				   </script>
				
				</div>
				
				
				</div>
			</div>	
		</div>




	



			   
</div>	
				

</div>