<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Training Library</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Super Admin</a></li> 
			<li class="active"><strong>Training Library</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<!-- <div class="headerbtnwrp fr">
			<a href="javascript:void(0);" id="add-new-library" class="">
				<div class="button_lblue_r4" >Add Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
			
			<a href="javascript:void(0);" id="assign-new-library" class=" mr10">
				<div class="button_lblue_r4">Assign Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
		</div> -->
		<h1>Training Library</h1>
	</div>
</section>


<div class="wp100 fl">
	<div class="content wp100 fl" style="padding-top:0px;"> 
		<div class="widget-content form-horizontal row-border"> 
			<div class="blank_spacen1 wp100">
				<div id="gridbox" style="width: 100%;min-height:450px; background-color:white; margin-left: 0; ">
				
				<section class="content" >
					<div ui-grid="gridOptions"  ui-grid-pagination id="grid"  ></div>
				</section>
					<script type="text/ng-template" id="view.html">
					
					<span class="view fs12 hand" onfocus="if(this.blur)this.blur();">
					<div class="btn btn-labeled btn-success fs12" ng-click="grid.appScope.editLibrary(row.entity.training_library_name_id,row.entity.training_library_category_id)"> <span class="btn-label"><i class="fa fa-pencil"></i></span>EDIT </div>
					</span>
					
					
					  
				   </script>
				
				</div>
				
				
				</div>
			</div>	
		</div>	
</div>	
				

</div>