<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Add Label</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Label Management</a></li> 
			<li class="active"><strong>Add Label</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">

<input type="hidden" id="resultDataEditL" value="{{resultDataEditL}}">

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left:0;">
		
		<h1>Add Label</h1>
	</div>
</section>


<div class="wp100 fl">

	<div class="content wp100 fl">	
		<div class="panel panel-bd wp100 fl lobipanel1">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-user" aria-hidden="true"></i>
					Add Label
				 </h4>
			</div>
			<div class="panel-body">
				<div class="manage-edit-name wp100">
					<div class="manage-name wp100 fs14 mb05 fta fc03 b">Select Language:</div>
					<div class="manage-name wp100 mb15">
					<select class="form-control" id="sel1" ng-model="language" ng-change="changeLang()">
					        <option value="">Select Language</option>
							<option value="hn">Hindi</option>
							<option value="en">English</option>
							<option value="ar">Arabic</option>
											
										</select>
					</div>	
				</div>
				<div class="manage-edit-name wp100">
					<div class="manage-name wp100 fs14 mb05 fta fc03 b">Labels:</div>
					<div class="col-md-8" ng-repeat="labels in allLables[language]">
					 
					     <div class="col-md-4" >
                                  {{labels.name}} 
                         </div>						 
					<div class="col-md-4" >
                                  <input name="textinput" type="text"   class="form-control input-md" ng-model="labels.value">
                         </div>						 
					<br>
				</div>	
				
				<div class="b_register-button-frt">
					<input type="hidden" value="1" id="submitcheck" name="submitcheck" />
					<input type="hidden" value="" id="notification_id" name="notification_id" />
					<div>
						<input type="submit" class="new_css_button" value="Submit &#187;" ng-click="saveLabel()" />						
					</div>
					<div style="float:left;margin-top: 8px;"></div>	
				</div>
			</div>
		</div>
	</div>

</div>
</div>