<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Label Management</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Super Admin</a></li> 
			<li class="active"><strong>Label Management</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper" >

<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<!-- <div class="headerbtnwrp fr">
			<a href="javascript:void(0);" id="add-new-library" class="">
				<div class="button_lblue_r4" >Add Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
			
			<a href="javascript:void(0);" id="assign-new-library" class=" mr10">
				<div class="button_lblue_r4">Assign Library<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
		</div> -->
		<h1>Label Management</h1>
	</div>
</section>


<div class="wp100 fl">


							<div class="add-users-bg1 fr">
								<a href="#/label-management/addlabel"><div class="button_lblue_r4 hand"><i class="fa fa-plus"></i> Add Label</div></a>
								
								<!-- <a href="" ng-click="reload()"><div class="button_lblue_r4 hand"><i class="fa fa-plus"></i> Reload<span>»</span></div></a> -->
							</div>

	<div class="content wp100 fl" style="padding-top:0px;"> 
		<div class="widget-content form-horizontal row-border"> 
			<div class="blank_spacen1 wp100">
				<div id="gridbox" style="width: 100%;min-height:450px; background-color:white; margin-left: 0; ">
				<section class="content" >
					<div ui-grid="gridOptions"  ui-grid-pagination id="grid"  ></div>
				</section>
					
					<script type="text/ng-template" id="delete.html">
					
					<a ng-click="grid.appScope.editNotification(row.entity.notification_id)"class="btn btn-labeled btn-success mr02" ><span class="btn-label"><i class="fa fa-pencil"></i></span>edit</a>
					
					
					  
				   </script>
				
				</div>
				
				
				</div>
			</div>	
		</div>		   

</div>			


</div>

