<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Schedule Report</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a>Reporting</a></li> 
			<li class="active"><strong>Schedule Report</strong></li>
		</ol>
	</div>
</div>

<div class="content-wrapper">
<section class="content-header contentheader1">
	<div class="header-title headertitle1" style="margin-left: 0;">
		<div class="headerbtnwrp fr">
			<a href="<?php echo $baseUrl;?>/reports/addnewschedule" class="view1" onFocus="if(this.blur)this.blur()">
			<div class="button_lblue_r4 fs12 b fta fc13 mt05 fc fr mr12">Add New Schedule<span style="color: #ffffff; display: inline-block;">&#187;</span></div>
			</a>
		</div>
		<h1>Schedule Report</h1>
	</div>
</section>


</div>