<!-- <style>
.ui-grid-viewport .ui-grid-cell-contents {
  word-wrap: break-word;
  white-space: normal !important;
}

.ui-grid-row, .ui-grid-cell {
  height: auto !important;
}

.ui-grid-row div[role=row] {
  display: flex ;
  align-content: stretch;
}

</style> -->

<script type="text/javascript" src="/eliteprodlms/public/js/select2.js"></script>
<link rel="stylesheet" type="text/css" href="/eliteprodlms/public/css/select2.css" rel="stylesheet"/>  
<!-- <input type="text" id="calenderdateformate" name="calenderdateformate" value="{{calenderdateformate}}" /> -->
                         <div class="">
                           <div class=" front-learning-plan-left wp100">				
							<div class="frnt-supervisor wp100 fs22 fta mb10 disc_color fl b">My Team</div>
							  <div class="course-approvals-box wp100 bgc09 bs02">
								 <div class="col-sm-8">
									<div class="front-course-app-main wp100">
										<div class="course-approvals wp100 fs15 fta fc03 b  pb05 pt05">Course Approvals:</div>
											<div class="course-approvals wp100 fs15 fta fc03 pt05 fl">
												<div class="wp60 fl">
													<div class="w20 fl">
														<label>
															
																<input type="checkbox"  ng-model="supervisorSetting.notify"  ng-click="checkoperationforcourseornotify('tonotifyupdate')"/>
															
														</label>
													</div>
												<div class="fs11 fta fc03 mt02 mr05">Notify me when there is an update. </div>
												</div>
												<div class="wp40 fl">
												<div class="w20 fl">
													<label>
														<input type="checkbox"  ng-model="supervisorSetting.autoapprove" ng-click="checkoperationforcourseornotify('toapprovecourse')"/>
													</label>
												</div>
												<div  class="fs11 fta fc03 mt02 mr05">Auto approve all items</div>
												</div>
												  <div class="ext-box wp100 fl"></div>
											</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="frt-approvals-right wp100 fl">
										<input type="hidden" id="pendingcount" name="pendingcount" value=""/>
										<div class="2-pending-approval wp100 fs13 fta fc03 mt05 fl" id="pendingpop">
										 {{supervisorSetting.total_pending_approval}} Pending Approvals</div>
										<a ng-click="gridDataLoad()"> 
											<div class="new_css_button wp100 fr" style="font-size: 12px; height: 27px; padding: 5px;">
												View Pending Approvals <span>&#187;</span>
											   
											</div>
										</a>
									</div>
								</div>
							</div>
                       </div>
                   </div>
{{csrf_field()}}
	 




		 
<div style="margin-top:200px">
	<div id='preloader_popup' ng-show = "loader" >
			<img class="wp55" src='/user/assets/images/animatedEllipse2.gif' border='0' style="width:50px; left:340px; position:absolute; top:200px; z-index:2000;">
	</div>
	<section class="content" style="position:relative;margin-top:200px">
			  <div ui-grid="gridOptions" id="grid"   style="height:500px;"  ui-grid-pagination ui-grid-pinning  ui-grid-selection ></div>
	</section>
</div>

	<div class='dash_mid_td_upcoming fl' style='width: 99%; margin-top:5px;'>
		<div class='hand new_css_button mb05' ng-click="submittraining()" >Add Credits to Selected Users</div> 
			<div class='hand new_css_button mb05' ng-click="opentrainingpopup()" >Add Assignment to Selected Users</div> 
		<div class='hand new_css_button mb05' ng-click="openclasspopup()" >Enroll Users to Selected Class</div>
							
	</div>	
	 
   	 
<assign-courses-grid-directive></assign-courses-grid-directive>
<learning-plan-directive></learning-plan-directive>
<pending-approval-directive></pending-approval-directive>
<give-credit-directive></give-credit-directive>
<pending-approval-directive></pending-approval-directive>
<enroll-user-to-class></enroll-user-to-class>
<userpopup></userpopup>
