.alertify,
.alertify-show,
.alertify-log {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
	-webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
	-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
	position: fixed; z-index: 99999;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color:white;
	filter:alpha(opacity=0);
	opacity:0;
}
	.alertify-cover-hidden {
		display: none;
	}
/*
.alertify {
    left: 58%;
    margin-left: -275px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 350px;
    z-index: 99999;
}
.alertify {
    opacity: 1;
    position: fixed;
    top: 50px;
    width: auto;
    z-index: 99999;
}*/
.alertify {
    left: 58%;
    margin-left: -275px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 286px;
    z-index: 99999;
}
.alertify .alertify-message {
    font-size: 12px;
    font-weight: normal;
}
.alertifyactivate {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 309px;
    z-index: 99999;
}
.alertifyremovemanageuserlist {
    left: 53%;
    margin-left: -323px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 466px;
    z-index: 99999;
}
.alertifydeactivate {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 330px;
    z-index: 99999;
}
.alertifydelebulkmanauserlist {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 492px;
    z-index: 99999;
}
.alertifymanageskill {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 540px;
    z-index: 99999;
}
.alertifyunlockdatalistdivision {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 532px;
    z-index: 99999;
}
.alertifylockedunlockdatalistcompany {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 550px;
    z-index: 99999;
}
.alertifylockedunlockdatalistcollobation {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 593px;
    z-index: 99999;
}
.alertifylockeddatalistcollobation {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 566px;
    z-index: 99999;
}
.alertifylockedunlockdatalistarea {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 468px;
    z-index: 99999;
}
.alertifyunlockdatalistarea {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 495px;
    z-index: 99999;
}
.alertifyunlockdatalistlocation {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 514px;
    z-index: 99999;
}
.alertifymanagejob {
    left: 53%;
    margin-left: -302px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 554px;
    z-index: 99999;
}
.alertifymanagecollaboration {
    left: 53%;
    margin-left: -302px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 562px;
    z-index: 99999;
}

.alertifymanagejobdelete {
    left: 53%;
    margin-left: -310px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 567px;
    z-index: 99999;
}
.alertifyclassroomfieldmanagement {
    left: 53%;
    margin-left: -410px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 742px;
    z-index: 99999;
}
.alertifyapplygroup {
    left: 53%;
    margin-left: -200px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 297px;
    z-index: 99999;
}
.alertifyremove {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}
.alertifyaddsubadmin {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 339px;
    z-index: 99999;
}
.alertifyrepor {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 378px;
    z-index: 99999;
}
.alertifyaddinstructor {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 418px;
    z-index: 99999;
}
.alertifyassclose {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 545px;
    z-index: 99999;
}
.alertifyassopen {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 450px;
    z-index: 99999;
}
.alertifyundone {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 491px;
    z-index: 99999;
}
.alertifypermanetremove {
    left: 53%;
    margin-left: -319px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 491px;
    z-index: 99999;
}
.alertifyrestore {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 411px;
    z-index: 99999;
}
.alertifydeletetranscript {
    left: 53%;
    margin-left: -235px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 473px;
    z-index: 99999;
}
.alertify1 {
    left: 53%;
    margin-left: -386px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 699px;
    z-index: 99999;
}
.alertify2 {
    left: 58%;
    margin-left: -370px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 600px;
    z-index: 99999;
}
.alertifyupdate{
    left: 58%;
    margin-left: -338px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 322px;
    z-index: 99999;
}

.alertify1 .alertify-message {
    font-size: 12px;
    font-weight: normal;
}
.alertifymessage {
    left: 53%;
    margin-left: -275px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 492px;
    z-index: 99999;
}
.alertifyelearrestore {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 350px;
    z-index: 99999;
}
.alertifyactive {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 380px;
    z-index: 99999;
}
.alertifyactiveclassrommcour {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 318px;
    z-index: 99999;
}
.alertifyremoveclassromm {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 492px;
    z-index: 99999;
}
.alertifyarchiveclassromm {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 379px;
    z-index: 99999;
}
.alertifyrestoreclassromm {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 386px;
    z-index: 99999;
}
.alertifyremoveblended {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}
.alertifyremoveblendededit {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}
.alertifyremoveblendedadd {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}
.alertifyremoveassignment {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 610px;
    z-index: 99999;
}
.alertifyremovelp {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}
.alertifyremovelpedit {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}

.alertifyremovelpindex {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 446px;
    z-index: 99999;
}
.alertifyunlockdatalist {
    left: 53%;
    margin-left: -238px;
    opacity: 1;
    position: fixed;
    top: 50px;
    width: 493px;
    z-index: 99999;
}
	.alertify-hidden {
		-webkit-transform: translate(0,-150px);
		   -moz-transform: translate(0,-150px);
		    -ms-transform: translate(0,-150px);
		     -o-transform: translate(0,-150px);
		        transform: translate(0,-150px);
		opacity: 0;
		display: none;
	}
	/* overwrite display: none; for everything except IE6-8 */
	:root *> .alertify-hidden {
		display: block;
		visibility: hidden;
	}
.alertify-logs {
	position: fixed;
	z-index: 5000;
	bottom: 10px;
	right: 10px;
	width: 300px;
}
.alertify-logs-hidden {
	display: none;
}
	.alertify-log {
		display: block;
		margin-top: 10px;
		position: relative;
		right: -300px;
		opacity: 0;
	}
	.alertify-log-show {
		right: 0;
		opacity: 1;
	}
	.alertify-log-hide {
		-webkit-transform: translate(300px, 0);
		   -moz-transform: translate(300px, 0);
		    -ms-transform: translate(300px, 0);
		     -o-transform: translate(300px, 0);
		        transform: translate(300px, 0);
		opacity: 0;
	}
	.alertify-dialog {
		padding: 25px;
	}
		.alertify-resetFocus {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		.alertify-inner {
			text-align: center;
		}
		.alertify-text {
			margin-bottom: 15px;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			font-size: 100%;
		}
		.alertify-buttons {
		}
			.alertify-button,
			.alertify-button:hover,
			.alertify-button:active,
			.alertify-button:visited {
				background: none;
				text-decoration: none;
				border: none;
				/* line-height and font-size for input button */
				line-height: 1.5;
				font-size: 100%;
				display: inline-block;
				cursor: pointer;
				margin-left: 5px;
			}

@media only screen and (max-width: 680px) {
	.alertify,
	.alertify-logs {
		width: 90%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.alertify {
		left: 5%;
		margin: 0;
	}
}
