/*   Internet Explore  */
.ie7 .nav_tab a:link {
    position: static;
}
.ie7 .navi_top_ie{
	margin-top: 3px;
}
.ie7 #cssmenu{
	margin-top: -9px;
}
.ie7 .admin-nav-title{
	padding-top: 0;
	height: 30px;
}
.ie7 .search_bar{
	padding-top: 4px;
}
.ie7 .arrow_black{
	background-image-size: 50% auto;
}
#apDiv1 .wp45{
	width: 35%;
	margin-right: 5px;
} 
.ie7 .grey-button{
	padding-left: 4px;
	padding-right: 4px;
}
.ie8  img{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
.ie7 .arrow_black, .ie8 .arrow_black  {
	background-image: url(../images/arrow_black.png);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
.ie7 #cssmenu li, .ie7 #cssmenu li ul li{
	margin-top: 0px;
	line-height: 0;
}
.ie7 #cssmenu .subo_3{
	border-bottom: 1pt solid #B3B3B3;
	height: 2px;
}
.ie7 #cssmenu li ul{
	margin-bottom: 0px;
	line-height: 0;
}
.ie7 .footer_round .admin_settings{
	float: left;
	margin-top: 3px;
} 
.ie7 .footer_round .pt02{
	float: left;
}
.ie7 .footer-account .micheal-bluth{
	float: none;
	padding-left: 60px;
}
.ie7 .meter-text {
	color: #A6A6A6;
}
.ie7 .button_lblue_r4{
	float: left;
	margin-right: 5px;
	padding: 4px 8px;
}
.ie7 td .button_lblue_r4.lblue1{
	width:90px;
}
.ie7 td .button_lblue_r4.lblue2{
	width: 55px;
}
.ie7 .loadingie{
	margin-top: 75px; 
	left:25%;
}
.ie7 .loadingie img, .ie8 .loadingie img{
	width: 8%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
.ie7 .fc-header-title h2{
	padding-bottom: 20px;
}
.ie7 .welcome-training-catalog-box{
	padding-bottom: 20px;	
}
.ie7 .popup{
	border: 1px solid #666666;
}
.ie7 .popup .mid{
	padding-bottom: 15px;
}
.ie7 .footer-nav{
	padding-bottom: 05px;
}
.ie .pagingWrap #recinfoArea{
	display: none;
}
.ie #pagination_div .pagingWrap #recinfoArea{
	display: block;
}
.ie .admin-elearning-checkbox input {
	vertical-align: middle;
	margin-top: 0;
	padding-top: 0;
}
.ie .title-first-world {
	margin-top: 5px;
}
.ie7 .meter-text{
	color: #A6A6A6;
} 
.ie8 .col-md-3{
	width: 25%;
} 
.ie8 .navbar-nav {
    margin: 0;
}
.ie8 .navbar .nav li:first-child {
    border-left: 1px solid #434343;
}
.ie8 .navbar .nav li {
    border-right: 1px solid #434343;
}
.ie8 .col-md-9 {
    width: 75%;
}
.ie8 .col-md-1, .ie8 .col-md-2, .ie8 .col-md-3, .ie8 .col-md-4, .ie8 .col-md-5, .ie8 .col-md-6, .ie8 .col-md-7, .ie8 .col-md-8, .ie8 .col-md-9, .ie8 .col-md-10, .ie8 .col-md-11 {
    float: left;
}
.ie8 .col-sm-1, .ie8 .col-sm-2, .ie8 .col-sm-3, .ie8 .col-sm-4, .ie8 .col-sm-5, .ie8 .col-sm-6, .ie8 .col-sm-7, .ie8 .col-sm-8, .ie8 .col-sm-9, .ie8 .col-sm-10, .ie8 .col-sm-11 {
    float: left;
}
.ie8 .col-sm-6 {
    width: 50%;
}
.ie8 .front-learning-plan-right-box{
	width: 30% !important;
}
/*.ie9 #content_area{
	margin-top:-18px;
}*/

