/* CSS Starts Here */
a {cursor:hand;}

.hand{cursor:pointer}

/* Float */
.fl {float:left;}
.fr {float:right;}
.clr { clear:both}

.mlr{margin-left:auto; margin-right:auto;}
.ls{letter-spacing:1.2;}

.fta{font-family: 'Open Sans', sans-serif;}
.ftv{font-family: 'Open Sans', sans-serif;}
.ftt{font-family: 'Open Sans', sans-serif;;}
.fts{font-family: 'Open Sans', sans-serif;}
.ftsb{font-family: 'Open Sans', sans-serif;}

.ha{height:auto;}

.lh{line-height:20px;}
.lh18{line-height:18px;}
.lh1{line-height:18px;}
.mid{center:center;}
.mn{ min-height:30px;}

/* Font Size */
.fs08{font-size:8px;}
.fs09{font-size:9px;}
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs175{font-size:17.4px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs23{font-size:23px;}
.fs24{font-size:24px;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs27{font-size:27px;}
.fs28{font-size:28px;}
.fs29{font-size:29px;}
.fs30{font-size:30px;}

/* Font Color */
.fc01{color:#ffffff;}/* white */
.fc02{color:#000000;}/*black */
.fc03 {color:#414141;}
.fc04 {color:#ff0000;} /*red*/
.fc05 {color:#c9d8fc;} /*lightblue*/
.fc06 {color:#8A0399;} /* yellow */
.fc07 {color:#38780D;} /* green */
.fc08 {color:#D6201C;} /* red */
.fc09 {color:#027db2;} /*Torch Blue*/
.fc10 {color:#14406f;} /* blue */
.fc12 {color:#0000FA;} /* drk blue */
.fc13 {color:#027db2;} /*Torch Blue Varient*/
.fc14 {color:#397ab6;} /*Torch Blue Varient*/
.fc15 {color:#919191;} /*Grey*/
.fc16{color:#414141;} /*Dark Grey*/
.fc30{color:#666666;} /*Grey*/
.fc31{color:#4c4c4c;} /*Slight Dark Grey*/
.fc32{color:#cccccc;} /*Light Grey*/
.fc33{color:#7f7f7f;}
.fc34{color:#333333;}
.fc35{color:#027db2;}
.fc36{color:#797979;}
.fc41{ color:#555555;}
.fc42{color:#4e4242;}
.fc99{color:#999999;}

/* General Font Appearance */
.b {font-weight:bold;}
.bl {font-weight:lighter}
.i {font-style:italic;}
.u {text-decoration:underline;}
.tn {text-decoration:none;}
.n {font-weight:normal;}

/* Text Alignment */
.tal {text-align:left;}
.tar {text-align:right;}
.tac {text-align:center;}
.tal{text-align:inherit;}
.tal{text-align:justify;}
.valm {vertical-align:middle;}
.valb {vertical-align:bottom;}
.valt {vertical-align:top;}
.valt {vertical-align:text-bottom;}

/* Background Color */
.bgc21 {background:#a9a8a8;}
.bgc20 {background:#f3f4f4;}
.bgc01 {background:#FFFFFF;}/* White */
.bgc02 {background:#000000;}/* Black */
.bgc03 {background:#f9faf9;} /* white+gray*/
.bgc04 {background:#027db2;}
/*.bgc05 {background:#eaebea;}*//* old gray*/
.bgc05 {background:#f7f7f7;}/* gray*/
.bgc07 {background:#f3f4f3;}/* gray */
.bgc08 {background:#f7f8f7;}
.bgc09 {background:#f0f1f0;}
.bgc10 {background:#f1f2f1;}/* das */
.bgc11 {background:#ebeceb;}
.bgc12 {background:#f6f7f6;}
.bgc13 {background:#dedede;}
.bgc14 {background:#d6d7d6;}
.bgc15 {background:#acc499;}
.bgc16 {background:#e5e5e5;}
.bgc17 {background:#f0f0f0;}
.bgc100 {background:#91c1de;}
.bgc101 {background:#e4e4e4;}
.bgc102 {background:#ececec;}

/* Line-hight */
.lh12 {line-height:12px;}
.lh14 {line-height:14px;}
.lh16 {line-height:16px;}
.lh18 {line-height:18px;}
.lh20 {line-height:20px;}
.lh21 {line-height:21px;}
.lh22 {line-height:22px;}
.lh24 {line-height:24px;}
.lh26 {line-height:26px;}
.lh28 {line-height:28px;}
.lh30 {line-height:30px;}

/* Border */
.bs00 {border:1px solid #cccccc;}/* gray+white */
.bs01 {border:1px solid #eaeaea;}/* gray */
.bs02 {border:1px solid #d6d7d6;}/* gray+white */
.bs03 {border:2px solid #dedede;}/* gray+white */
.bs03 {border:2px solid #dedede;}/* gray+white */

/* Border-right */
.bor01 {border-right:1px solid #d5d6d5;}
.bor02 {border-right:1px solid #367CA2;}
.bor03 {border-right:1px solid #C8D2DD;}
.bordc {border-right:1px solid #00CCFF;}
.bordc {border-right:1px solid #000000;}
.bor04 {border-right:1px solid #d6d7d6;}
.bor05 {border-right:1px solid #b6b6b6;}
.bornone{ border-left: none;} 

/* Border-bottom */
.bob01 {border-bottom:1px solid #d6d7d6;}
.bob02 {border-bottom:1px solid #367CA2;}
.bob03 {border-bottom:1px solid #C8D2DD;}
.bob04 {border-bottom:1px solid #00CCFF;}
.bob05 {border-bottom:1px solid #000000;}
.bob01a {border-bottom:2px solid #d6d7d6;}

/* Border-top */
.bot01 {border-top:1px solid #eaeaea;}
.bot02 {border-top:1px solid #367CA2;}
.bot03 {border-top:1px solid #C8D2DD;}
.bot04 {border-top:1px solid #00CCFF;}
.bot05 {border-top:1px solid #000000;}
.botnone{ border-top: none;}

/* Border-left */
.bol01 {border-left:1px solid #d5d6d5;}
.bol02 {border-left:1px solid #A1B2C5;}
.bol03 {border-left:1px solid #C8D2DD}
.bol04 {border-left:1px solid #00CCFF;}
.bol05 {border-left:1px solid #000000;}
.bol06 {border-left:1px solid #d5d6d5;}

/*Margin Right */
.mr02{margin-right:2px;}
.mr03{margin-right:3px;}
.mr04{margin-right:4px;}
.mr05{margin-right:5px;}
.mr06{margin-right:6px;}
.mr07{margin-right:7px;}
.mr08{margin-right:8px;}
.mr09{margin-right:9px;}
.mr10{margin-right:10px;}
.mr12{margin-right:12px;}
.mr15{margin-right:15px;}
.mr14{margin-right:14px;}
.mr16{margin-right:16px;}
.mr18{margin-right:18px;}
.mr19{margin-right:19px;}
.mr20{margin-right:20px;}
.mr21{margin-right:21px;}
.mr22{margin-right:22px;}
.mr25{margin-right:25px;}
.mr28{margin-right:28px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr45{margin-right:45px;}
.mr50{margin-right:50px;}
.mr55{margin-right:55px;}
.mr60{margin-right:60px;}
.mr65{margin-right:65px;}
.mr70{margin-right:70px;}
.mr75{margin-right:75px;}

/*Margin Bottom */
.mb02 { margin-bottom:2px;}
.mb03 { margin-bottom:3px;}
.mb04 { margin-bottom:4px;}
.mb05 { margin-bottom:5px;}
.mb06 { margin-bottom:6px;}
.mb07 { margin-bottom:7px;}
.mb08 { margin-bottom:8px;}
.mb09 { margin-bottom:9px;}
.mb10 { margin-bottom:10px;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb25 { margin-bottom:25px;}
.mb30 { margin-bottom:30px;}
.mb40 { margin-bottom:40px;}
.mb50 { margin-bottom:50px;}
.mb55 { margin-bottom:55px;}
.mb60 { margin-bottom:60px;}
.mb70 { margin-bottom:70px;}
.mb80 { margin-bottom:80px;}
.mb90 { margin-bottom:90px;}
.mb95 { margin-bottom:95px;}
.mb100 { margin-bottom:100px;}

/* Margin-left */
.ml-25{margin-left:-25px}
.ml-20{margin-left:-20px}
.ml-15{margin-left:-15px}
.ml-18{margin-left:-18px}
.ml-10{margin-left:-10px}
.ml-09{margin-left:-9px}
.ml-08{margin-left:-8px}
.ml-07{margin-left:-7px}
.ml-06{margin-left:-6px}
.ml-05{margin-left:-5px}
.ml-04{margin-left:-4px}
.ml-03{margin-left:-3px}
.ml-02{margin-left:-2px}
.ml-01{margin-left:-1px}
.ml01 {margin-left:1px}
.ml02 {margin-left:2px}
.ml03 {margin-left:3px}
.ml04 {margin-left:4px}
.ml05 {margin-left:5px}
.ml06 {margin-left:6px}
.ml07 {margin-left:7px}
.ml08 {margin-left:8px}
.ml09 {margin-left:9px}
.ml10 {margin-left:10px}
.ml11 {margin-left:11px}
.ml12 {margin-left:12px}
.ml13 {margin-left:13px}
.ml14 {margin-left:14px}
.ml15 {margin-left:15px}
.ml16 {margin-left:16px}
.ml17 {margin-left:17px}
.ml18 {margin-left:18px}
.ml19 {margin-left:19px}
.ml20 {margin-left:20px}
.ml22 {margin-left:22px}
.ml24 {margin-left:24px}
.ml25 {margin-left:25px}
.ml30 {margin-left:30px}
.ml32 {margin-left:32px}
.ml35 {margin-left:35px}
.ml37 {margin-left:37px}
.ml40 {margin-left:40px}
.ml45 {margin-left:45px}
.ml50 {margin-left:50px}
.ml55 {margin-left:55px}
.ml60 {margin-left:60px}
.ml65 {margin-left:65px}
.ml70 {margin-left:70px}
.ml80 {margin-left:80px}
.ml90 {margin-left:90px}
.ml92 {margin-left:92px}
.ml100 {margin-left:100px}
.ml150 {margin-left:150px}
.ml240 {margin-left:240px;}

/* Margin-top */
.mt-1 {margin-top:-1px;}
.mt-2 {margin-top:-2px;}
.mt-3 {margin-top:-3px;}
.mt-4 {margin-top:-4px;}
.mt-5 {margin-top:-5px;}
.mt-6 {margin-top:-6px;}
.mt-7 {margin-top:-7px;}
.mt-8 {margin-top:-8px;}
.mt-9 {margin-top:-9px;}
.mt-10 {margin-top:-10px;}
.mt-11 {margin-top:-11px;}
.mt-12 {margin-top:-12px;}
.mt-13 {margin-top:-13px;}
.mt-14 {margin-top:-14px;}
.mt-15 {margin-top:-15px;}
.mt-16 {margin-top:-16px;}
.mt-17 {margin-top:-17px;}
.mt-25{margin-top:-25px}
.mt-26 {margin-top:-26px;}
.mt-27 {margin-top:-27px;}
.mt-28 {margin-top:-28px;}
.mt-29 {margin-top:-29px;}
.mt-45{margin-top:-45px;}
.mt-57{margin-top:-57px;}
.mt01 {margin-top:1px;}
.mt02 {margin-top:2px;}
.mt03 {margin-top:3px;}
.mt04 {margin-top:4px;}
.mt05 {margin-top:5px;}
.mt06 {margin-top:6px;}
.mt07 {margin-top:7px;}
.mt08 {margin-top:8px;}
.mt09 {margin-top:9px;}
.mt10 {margin-top:10px;}
.mt11 {margin-top:11px;}
.mt12 {margin-top:12px;}
.mt13 {margin-top:13px;}
.mt15 {margin-top:15px;}
.mt16 {margin-top:16px;}
.mt17 {margin-top:17px;}
.mt18 {margin-top:18px;}
.mt20 {margin-top:20px;}
.mt22 {margin-top:22px;}
.mt23 {margin-top:23px;}
.mt24 {margin-top:24px;}
.mt25 {margin-top:25px;}
.mt28 {margin-top:28px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt46 {margin-top:46px;}
.mt50 {margin-top:50px;}
.mt55 {margin-top:55px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt75 {margin-top:75px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}
.mt105 {margin-top:105px;}
.mt110 {margin-top:110px;}
.mt120 {margin-top:120px;}
.mt130 {margin-top:130px;}
.mt135 {margin-top:135px;}
.mt140 {margin-top:140px;}
.mt147 {margin-top:147px;}
.mt150 {margin-top:150px;}

/* Padding-top */
.pt02 {padding-top:2px;}
.pt03 {padding-top:3px;}
.pt04 {padding-top:4px;}
.pt05 {padding-top:5px;}
.pt06 {padding-top:6px;}
.pt07 {padding-top:7px;}
.pt08 {padding-top:8px;}
.pt09 {padding-top:9px;}
.pt10 {padding-top:10px;}
.pt11 {padding-top:11px;}
.pt12 {padding-top:12px;}
.pt13 {padding-top:13px;}
.pt14 {padding-top:14px;}
.pt15 {padding-top:15px;}
.pt16 {padding-top:16px;}
.pt17 {padding-top:17px;}
.pt18 {padding-top:18px;}
.pt19 {padding-top:19px;}
.pt20 {padding-top:20px;}
.pt21 {padding-top:21px;}
.pt22 {padding-top:22px;}
.pt23 {padding-top:23px;}
.pt24 {padding-top:24px;}
.pt25 {padding-top:25px;}
.pt26 {padding-top:26px;}
.pt27 {padding-top:27px;}
.pt28 {padding-top:28px;}
.pt29 {padding-top:29px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt45 {padding-top:45px;}
.pt50 {padding-top:50px;}
.pt55 {padding-top:55px;}
.pt60 {padding-top:60px;}
.pt65 {padding-top:65px;}
.pt70 {padding-top:70px;}
.pt75 {padding-top:75px;}
.pt80 {padding-top:80px;}

/* Padding-left */
.pl00{padding-left:0px;}
.pl02{padding-left:2px;}
.pl03{padding-left:3px;}
.pl04{padding-left:4px;}
.pl05 {padding-left:5px;}
.pl06 {padding-left:6px;}
.pl07 {padding-left:7px;}
.pl08 {padding-left:8px;}
.pl09 {padding-left:9px;}
.pl10 {padding-left:10px;}
.pl11 {padding-left:11px;}
.pl12 {padding-left:12px;}
.pl13 {padding-left:13px;}
.pl14 {padding-left:14px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl35 {padding-left:35px;}
.pl40 {padding-left:40px;}
.pl45 {padding-left:45px;}
.pl50 {padding-left:50px;}
.pl55 {padding-left:55px;}
.pl60 {padding-left:60px;}
.pl65 {padding-left:65px;}
.pl70 {padding-left:70px;}
.pl75 {padding-left:75px;}
.pl80 {padding-left:85px;}
.pl90 {padding-left:90px;}
.pl95 {padding-left:95px;}
.pl100 {padding-left:100px;}
.pl110 {padding-left:110px;}
.pl120 {padding-left:120px;}

/* paddding-right */
.pr00 {padding-right:0px;}
.pr02 {padding-right:2px;}
.pr03 {padding-right:3px;}
.pr04 {padding-right:4px;}
.pr05 {padding-right:5px;}
.pr06 {padding-right:6px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}
.pr35 {padding-right:35px;}
.pr40 {padding-right:40px;}
.pr45 {padding-right:45px;}
.pr50 {padding-right:50px;}
.pr55 {padding-right:55px;}
.pr60 {padding-right:60px;}
.pr65 {padding-right:65px;}
.pr70 {padding-right:70px;}
.pr75 {padding-right:75px;}
.pr80 {padding-right:80px;}
.pr90 {padding-right:90px;}
.pr95 {padding-right:95px;}
.pr100{padding-right:100px;}
.pr110{padding-right:110px;}
.pr120{padding-right:120px;}

/* Padding-bottom */
.pb01 {padding-bottom:1px;}
.pb03 {padding-bottom:3px;}
.pb05 {padding-bottom:5px;}
.pb08 {padding-bottom:8px;}
.pb10 {padding-bottom:10px;}
.pb11 {padding-bottom:11px;}
.pb12 {padding-bottom:12px;}
.pb13 {padding-bottom:13px;}
.pb14 {padding-bottom:14px;}
.pb15 {padding-bottom:15px;}
.pb16 {padding-bottom:16px;}
.pb17 {padding-bottom:17px;}
.pb18 {padding-bottom:18px;}
.pb19 {padding-bottom:19px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb50 {padding-bottom:50px;}

.p05{padding: 5px;}
.p07{padding: 7px;}
.p08{padding: 8px;}
.p10{padding: 10px;}
.p12{padding: 12px;}
.p15{padding: 15px;}
.p18{padding: 18px;}
.p20{padding: 20px;}

/* Width  in pixels*/
.w02 {width:2px;}
.w05 {width:5px;}
.w08 {width:8px;}
.w10 {width:10px;}
.w15 {width:15px;}
.w16 {width:16px;}
.w19 {width:19px;}
.w20 {width:20px;}
.w22 {width:22px;}
.w25 {width:25px;}
.w29 {width:29px;}
.w30 {width:30px;}
.w31 {width:31px;}
.w32 {width:32px;}
.w35 {width:35px;}
.w40 {width:40px;}
.w42 {width:42px;}
.w43 {width:43px;}
.w45 {width:45px;}
.w47 {width:47px;}
.w48 {width:48px;}
.w50 {width:50px;}
.w55 {width:55px;}
.w56 {width:56px;}
.w57 {width:57px;}
.w58 {width:58px;}
.w60 {width:60px;}
.w63 {width:63px;}
.w64 {width:64px;}
.w65 {width:65px;}
.w66 {width:66px;}
.w67 {width:67px;}
.w68 {width:68px;}
.w69 {width:69px;}
.w70 {width:70px;}
.w71 {width:71px;}
.w72 {width:72px;}
.w74 {width:74px;}
.w75 {width:75px;}
.w73 {width:73px;}
.w77 {width:77px;}
.w78 {width:78px;}
.w80 {width:80px;}
.w81 {width:81px;}
.w82 {width:82px;}
.w84 {width:84px;}
.w85 {width:85px;}
.w90 {width:90px;}
.w91 {width:91px;}
.w92 {width:92px;}
.w93 {width:93px;}
.w95 {width:95px;}
.w96 {width:96px;}
.w97 {width:97px;}
.w98 {width:98px;}
.w99 {width:99px;}
.w100 {width:100px;}
.w101 {width:101px;}
.w102 {width:102px;}
.w104 {width:104px;}
.w105 {width:105px;}
.w106 {width:106px;}
.w107 {width:107px;}
.w109 {width:109px;}
.w110 {width:110px;}
.w111 {width:111px;}
.w115 {width:115px;}
.w116 {width:116px;}
.w117 {width:117px;}
.w118 {width:118px;}
.w119 {width:119px;}
.w120 {width:120px;}
.w121 {width:121px;}
.w125 {width:125px;}
.w126 {width:126px;}
.w128 {width:128px;}
.w130 {width:130px;}
.w133 {width:133px;}
.w135 {width:135px;}
.w136 {width:136px;}
.w138 {width:138px;}
.w140 {width:140px;}
.w142 {width:142px;}
.w144 {width:144px;}
.w145 {width:145px;}
.w145 {width:145px;}
.w146 {width:146px;}
.w147 {width:147px;}
.w148 {width:148px;}
.w149 {width:149px;}
.w150 {width:150px;}
.w151 {width:151px;}
.w152 {width:152px;}
.w153 {width:153px;}
.w154 {width:154px;}
.w155 {width:155px;}
.w156 {width:156px;}
.w157 {width:157px;}
.w158 {width:158px;}
.w159 {width:159px;}
.w160 {width:160px;}
.w165 {width:165px;}
.w166 {width:166px;}
.w169 {width:169px;}
.w170 {width:170px;}
.w171 {width:171px;}
.w172 {width:172px;}
.w173 {width:173px;}
.w174 {width:174px;}
.w175 {width:175px;}
.w176 {width:176px;}
.w177 {width:177px;}
.w178 {width:178px;}
.w179 {width:179px;}
.w180 {width:180px;}
.w181 {width:181px;}
.w182 {width:182px;}
.w183 {width:183px;}
.w185 {width:185px;}
.w186 {width:186px;}
.w190 {width:190px;}
.w192 {width:192px;}
.w193 {width:193px;}
.w194 {width:194px;}
.w195 {width:195px;}
.w196 {width:196px;}
.w198 {width:198px;}
.w199 {width:199px;}
.w200 {width:200px;}
.w201 {width:201px;}
.w202 {width:202px;}
.w203 {width:203px;}
.w204 {width:204px;}
.w205 {width:205px;}
.w207 {width:207px;}
.w208 {width:208px;}
.w209 {width:209px;}
.w210 {width:210px;}
.w211 {width:211px;}
.w213 {width:213px;}
.w214 {width:214px;}
.w215 {width:215px;}
.w216 {width:216px;}
.w217 {width:217px;}
.w218 {width:218px;}
.w220 {width:220px;}
.w225 {width:225px;}
.w227 {width:227px;}
.w228 {width:228px;}
.w230 {width:230px;}
.w231 {width:231px;}
.w232 {width:232px;}
.w233 {width:233px;}
.w235 {width:235px;}
.w238 {width:238px;}
.w240 {width:240px;}
.w241 {width:241px;}
.w243 {width:243px;}
.w244 {width:244px;}
.w245 {width:245px;}
.w246 {width:246px;}
.w247 {width:247px;}
.w248 {width:248px;}
.w249 {width:249px;}
.w250 {width:250px;}
.w253 {width:253px;}
.w254 {width:254px;}
.w257 {width:257px;}
.w258 {width:258px;}
.w259 {width:259px;}
.w260 {width:260px;}
.w262 {width:262px;}
.w264 {width:264px;}
.w265 {width:265px;}
.w266 {width:266px;}
.w270 {width:270px;}
.w275 {width:275px;}
.w278 {width:278px;}
.w280 {width:280px;}
.w282 {width:282px;}
.w290 {width:290px;}
.w297 {width:297px;}
.w298 {width:298px;}
.w300 {width:300px;}
.w304 {width:304px;}
.w306 {width:306px;}
.w314 {width:314px;}
.w316 {width:316px;}
.w320 {width:320px;}
.w325 {width:325px;}
.w330 {width:330px;}
.w334 {width:334px;}
.w340 {width:340px;}
.w345 {width:345px;}
.w348 {width:348px;}
.w350 {width:350px;}
.w360 {width:360px;}
.w362 {width:362px;}
.w363 {width:363px;}
.w364 {width:364px;}
.w365 {width:365px;}
.w370 {width:370px;}
.w375 {width:375px;}
.w376 {width:376px;}
.w378 {width:378px;}
.w380 {width:380px;}
.w385 {width:385px;}
.w386 {width:386px;}
.w387 {width:387px;}
.w388 {width:388px;}
.w389 {width:389px;}
.w390 {width:390px;}
.w400 {width:400px;}
.w410 {width:410px;}
.w420 {width:420px;}
.w440 {width:440px;}
.w450 {width:450px;}
.w455 {width:455px;}
.w460 {width:460px;}
.w470 {width:470px;}
.w480 {width:480px;}
.w490 {width:490px;}
.w500 {width:500px;}
.w520 {width:520px;}
.w530 {width:530px;}
.w550 {width:550px;}
.w578 {width:578px;}
.w580 {width:580px;}
.w590 {width:590px;}
.w592 {width:592px;}
.w594 {width:594px;}
.w596 {width:596px;}
.w598 {width:598px;}
.w600 {width:600px;}
.w605 {width:605px;}
.w608 {width:608px;}
.w610 {width:610px;}
.w611 {width:611px;}
.w612 {width:612px;}
.w614 {width:614px;}
.w615 {width:615px;}
.w617 {width:617px;}
.w620 {width:620px;}
.w624 {width:624px;}
.w625 {width:625px;}
.w628 {width:628px;}
.w630 {width:630px;}
.w634 {width:634px;}
.w635 {width:635px;}
.w636 {width:636px;}
.w639 {width:639px;}
.w640 {width:640px;}
.w641 {width:641px;}
.w642 {width:642px;}
.w643 {width:643px;}
.w644 {width:644px;}
.w645 {width:645px;}
.w646 {width:646px;}
.w647 {width:647px;}
.w649 {width:649px;}
.w650 {width:650px;}
.w660 {width:660px;}
.w670 {width:670px;}
.w675 {width:675px;}
.w680 {width:680px;}
.w681 {width:681px;}
.w684 {width:684px;}
.w685 {width:685px;}
.w700 {width:700px;}
.w730 {width:730px;}
.w750 {width:750px;}
.w800 {width:800px;}
.w840 {width:840px;}
.w845 {width:845px;}
.w850 {width:850px;}
.w860 {width:860px;}
.w861 {width:861px;}
.w862 {width:862px;}
.w863 {width:863px;}
.w864 {width:864px;}
.w865 {width:865px;}
.w868 {width:868px;}
.w870 {width:870px;}
.w880 {width:880px;}
.w888 {width:888px;}
.w890 {width:890px;}
.w900 {width:900px;}
.w910 {width:910px;}

/* Width  in percentage*/
.wp01 {width:1%;}
.wp02  {width:2%;}
.wp03 {width:3%;}
.wp04 {width:4%;}
.wp05  {width:5%;}
.wp06 {width:6%;}
.wp07 {width:7%;}
.wp08 {width:8%;}
.wp09 {width:9%;}
.wp10 {width:10%;}
.wp11 {width:11%;}
.wp12 {width:12%;}
.wp13 {width:13%;}
.wp14 {width:14%;}
.wp15 {width:15%;}
.wp16 {width:16%;}
.wp17 {width:17%;}
.wp18 {width:18%;}
.wp19 {width:19%;}
.wp20 {width:20%;}
.wp21 {width:21%;}
.wp22 {width:22%;}
.wp23 {width:23%;}
.wp24 {width:24%;}
.wp25 {width:25%;}
.wp26 {width:26%;}
.wp27 {width:27%;}
.wp28 {width:28%;}
.wp29 {width:29%;}
.wp30 {width:30%;}
.wp31 {width:31%;}
.wp32 {width:32%;}
.wp33 {width:33%;}
.wp34 {width:34%;}
.wp35 {width:35%;}
.wp36 {width:36%;}
.wp37 {width:37%;}
.wp38 {width:38%;}
.wp39 {width:39%;}
.wp40 {width:40%;}
.wp41 {width:41%;}
.wp42 {width:42%;}
.wp43 {width:43%;}
.wp44 {width:44%;}
.wp45 {width:45%;}
.wp46 {width:46%;}
.wp47 {width:47%;}
.wp48 {width:48%;}
.wp48_5 {width:48.5%;}
.wp49 {width:49%;}
.wp50 {width:50%;}
.wp51 {width:51%;}
.wp52 {width:52%;}
.wp53 {width:53%;}
.wp54 {width:54%;}
.wp55 {width:55%;}
.wp56 {width:56%;}
.wp57 {width:57%;}
.wp58 {width:58%;}
.wp59 {width:59%;}
.wp60 {width:60%;}
.wp61 {width:61%;}
.wp62 {width:62%;}
.wp63 {width:63%;}
.wp64 {width:64%;}
.wp65 {width:65%;}
.wp66 {width:66%;}
.wp67 {width:67%;}
.wp68 {width:68%;}
.wp69 {width:69%;}
.wp70 {width:70%;}
.wp71 {width:71%;}
.wp72 {width:72%;}
.wp73 {width:73%;}
.wp74 {width:74%;}
.wp75 {width:75%;}
.wp76 {width:76%;}
.wp77 {width:77%;}
.wp78 {width:78%;}
.wp79 {width:79%;}
.wp80 {width:80%;}
.wp81 {width:81%;}
.wp82 {width:82%;}
.wp83 {width:83%;}
.wp84 {width:84%;}
.wp85 {width:85%;}
.wp86 {width:86%;}
.wp87 {width:87%;}
.wp88 {width:88%;}
.wp89 {width:89%;}
.wp90 {width:90%;}
.wp91 {width:91%;}
.wp92 {width:92%;}
.wp93 {width:93%;}
.wp94 {width:94%;}
.wp94_5 {width:94.5%;}
.wp95 {width:95%;}
.wp96 {width:96%;}
.wp96_5 {width:96.5%;}
.wp97 {width:97%;}
.wp98 {width:98%;}
.wp99 {width:99%;}
.wp99_6 {width:99.6%;}
.wp998 {width:99.8%;}
.wp100 {width:100%;}

/* height */
.h05 {height:5px;}
.h06 {height:6px;}
.h07 {height:7px;}
.h08 {height:8px;}
.h09 {height:9px;}
.h10 {height:10px;}
.h11 {height:11px;}
.h12 {height:12px;}
.h13 {height:13px;}
.h14 {height:14px;}
.h15 {height:15px;}
.h16 {height:16px;}
.h17 {height:16px;}
.h18 {height:18px;}
.h19 {height:19px;}
.h20 {height:20px;}
.h21 {height:21px;}
.h22 {height:22px;}
.h23 {height:23px;}
.h24 {height:24px;}
.h25 {height:25px;}
.h26 {height:26px;}
.h27 {height:27px;}
.h28 {height:28px;}
.h29 {height:29px;}
.h30 {height:30px;}
.h31 {height:31px;}
.h32 {height:32px;}
.h33 {height:33px;}
.h34 {height:33px;}
.h35 {height:35px;}
.h36 {height:36px;}
.h37 {height:37px;}
.h39 {height:39px;}
.h40 {height:40px;}
.h42 {height:42px;}
.h43 {height:43px;}
.h45 {height:45px;}
.h46 {height:46px;}
.h50 {height:50px;}
.h54 {height:54px;}
.h55 {height:55px;}
.h60 {height:60px;}
.h61 {height:61px;}
.h64 {height:64px;}
.h65 {height:65px;}
.h66 {height:66px;}
.h68 {height:68px;}
.h70 {height:70px;}
.h74 {height:74px;}
.h80 {height:80px;}
.h85 {height:85px;}
.h95 {height:95px;}
.h100{height:100px;}
.h101{height:101px;}
.h120{height:120px;}
.h130{height:130px;}
.h140{height:140px;}
.h150{height:150px;}
.h158{height:158px;}
.h159{height:159px;}
.h160{height:160px;}
.h170{height:170px;}
.h175{height:175px;}
.h180{height:180px;}
.h190 {height:190px;}
.h200{height:200px;}
.h215{height:215px;}
.h220{height:220px;}
.h222{height:222px;}
.h232{height:232px;}
.h245{height:245px;}
.h250{height:250px;}
.h255{height:255px;}
.h262{height:262px;}
.h280{height:280px;}
.h278{height:278px;}
.h300{height:300px;}
.h350{height:350px;}
.h394{height:394px;}
.h395{height:395px;}
.h400{height:400px;}
.h418{height:418px;}
.h500{height:500px;}
.h580{height:580px;}
.h600{height:600px;}
.h640{height:640px;}
.h650{height:650px;}
.h680{height:680px;}
.h700{height:700px;}
.h750{height:750px;}
.h780{height:780px;}
.h800{height:800px;}

.oh {overflow: hidden}

.transparent {
    opacity: 0;
}
input.button {border:0; background:url(../images/update-button.png) 0 0 no-repeat; cursor:pointer; color:#fff; height:32px; font:bold 12px 'Open Sans', sans-serif; padding:0 7px 8px 9px; float:left}
.buttonEnding {display:inline; margin-left:-8px; width:10px; height:32px; background: url(../images/training_hdr_07.jpg) 100% 0 no-repeat; float:right}
/** input.sign-in {border:0; background:url(../images/sign_new.png) 0 0 no-repeat; cursor:pointer; color:#fff; height:32px; font:bold 12px 'Open Sans', sans-serif; padding:0 7px 8px 9px; float:left}*/
.sign-in
{
text-decoration: none;
background-image:url(../images/sign_new.png);
width:93px;
height:42px;
float:left;
background-repeat:no-repeat;
border: none;
}
/** CSS Ends Here **/

.fc41{ color:#555555;}
.add-new-blended-program-button
{
background-image:url(../images/add_blended.png);background-repeat:no-repeat;
width:184px;
height:29px;
}
.apply_new
{
background-image:url(../images/daily-but.png);background-repeat:no-repeat;
width:61px;
height:22px;
}

.mr17{margin-right:17px;}

.add_new_learing_plan{background-image:url(../images/new_learning.png);background-repeat:no-repeat;}

.print-bg_new{background-image:url(../images/print_learning.png);background-repeat:no-repeat;}

.bs05 {border:2px solid #ff0000;}

.plan_name_bg_new{background-image:url(../images/add_plan.png);background-repeat:no-repeat;}

.add_user_bg_new{background-image:url(../images/add_user_new.png);background-repeat:no-repeat;}

.add_group_bg_new{background-image:url(../images/add_group.png);background-repeat:no-repeat;}

.w305 {width:305px;}

.pl23{ padding-left:23px;}

.add_new_assignments_new{background-image:url(../images/add_new_assignments.png);background-repeat:no-repeat;}

.input_ins_new{width:135px;}

.mr13{margin-right:13px;}

.h440{height:440px;}
.bgc16 {background:#fafafa;}
.bgc17 {background:#fbfbf9;}
.bgc18 {background:#f5f7f7;}
.bgc19 {background:#edeeed;}
.bgc20 {background:#f2f3f3;}

.button{background-image:url(../images/upload-photo-button.png); background-repeat:no-repeat;}

.change_photo_new{background-image: url(../images/chage_photo_new.png); background-repeat:no-repeat;}

.avg-rating_new{background-image:url(../images/avg_rat_new.png); background-repeat:no-repeat;}

.avg-rating-manual{background-image:url(../images/avg_mannualy.png); background-repeat:no-repeat;}

.assign_inp{width:100px;}
.ml-3{margin-left:-3px;}
.w263{width:263px;}
.ml-3{margin-left:-3px;}
.w263{width:263px;}
.mt-39{margin-top:-39px;}
.w634{width:634px;}

.bread_class{
	color:#414141;
	text-decoration:none;
}

.bread_class a{
	color:#414141;
	text-decoration:none;
}

.view_img{background-image:url(../images/view_img.png); background-repeat:no-repeat;}

.descrip_box_new{
	width:275px;
	height:50px;
	border:none;
}

.bor_none_saf{
    outline:none;
}

.meter-wrap-plan{ position: relative;}

.meter-wrap-plan, .meter-value-plan, .meter-text-plan {
    width: 333px; height: 25px;
}

.meter-text-plan {
    position: absolute;
    top:0; left:0;
    border: 2px solid #313131;
    padding-top: 0px;
    height: 25px;
    padding-left:5px;
    padding-top: 2px;
    font-weight:bold;
    color: #414141;
    font-weight: bold;
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    width: 100%;
}

.classname_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#F2F2F2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#000000;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:normal;
	padding:2px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin-left:10px;
}

.classname_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.classname_button:active {
	position:relative;
	top:1px;
}

.wordwrap{word-break:break-all;}

.handout {
    background-image: url("../images/handouts1.png");
    background-repeat: no-repeat;
}

.grey-button {
    font-family: 'Open Sans', sans-serif;
   background-color: #E6E6E6;
    border: 1px solid #C2C2C2;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius:  4px 4px 4px 4px;/*Firefox*/
	-webkit-border-radius: 4px 4px 4px 4px;/*Safari, Chrome*/
    color: #808080;
    font-size: 11px;
    padding: 1.5px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#f3f3f3)";/*IE 8*/
    -moz-box-shadow: 0 1px 0 #F3F3F3 inset, 0 0 2px #C2C2C2 inset;/*FF 3.5+*/
    -webkit-box-shadow: 0 1px 0 #F3F3F3 inset, 0 0 2px #C2C2C2 inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: inset 0 1px 0 #f3f3f3, 0 0 2px #C2C2C2 inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#f3f3f3); /*IE 5.5-7*/
	cursor: pointer;
}
.grey-button:active, .grey-button.active{
 background-color: #000;
 box-shadow: none;
 border: 1px solid #000;
 
}
.report-ttl{
    background-color: #E3E3E3;
    border: 1px solid #CCCCCC;
    font-size: 19px;   
    margin-top: 6px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.button_lblue_new{
    background: none repeat scroll 0 0 #79ACCC;
    border: 1px solid #5A86A1;
    border-radius: 4px 4px 4px 4px;
     -moz-border-radius:  4px 4px 4px 4px;/*Firefox*/
	-webkit-border-radius: 4px 4px 4px 4px;/*Safari, Chrome*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
    color: #FFFFFF !important;
    display: inline-block;
    font-family: inherit;
    line-height: 1em;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.button_lblue_new:hover {
    background: none repeat scroll 0 0 #7BBCE4;
}

.tab-style1{
 background: -moz-linear-gradient(270deg, #fbfcfb 0%, #d9dad9 100%);/* FF3.6+ */
 background: -webkit-gradient(linear, 270deg, color-stop(0%, #fbfcfb), color-stop(100%, #d9dad9));/* Chrome,Safari4+ */
 background: -webkit-linear-gradient(270deg, #fbfcfb 0%, #d9dad9 100%);/* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(270deg, #fbfcfb 0%, #d9dad9 100%);/* Opera 11.10+ */
 background: -ms-linear-gradient(270deg, #fbfcfb 0%, #d9dad9 100%);/* IE10+ */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfb', endColorstr='#d9dad9', GradientType='1'); /* for IE */
 background: linear-gradient(180deg, #fbfcfb 0%, #d9dad9 100%);/* W3C */
 border: 1px solid #E1E1E1;
    color: #3D7AA2;
    line-height: 22px;
    text-align: center;
	cursor: pointer;
}
.tab-style1 span{
 background-image: url("../images/arrow-icon.png");
    display: inline-block;
    height: 8px;
    vertical-align: middle;
    width: 7px;
}
.black-blk{
	background-color:#000000;
	display: block;
	height:30px;
	margin-top: 10px;
	width: 228px;
}	
.border-blk{
	border-left:1px solid #000000; 
	border-top:1px solid #000000; 
	border-bottom:1px solid #000000; 
	height: 320px; 
	overflow-y: auto;
	display: block;
	width: 228px;
}
.border-blk:last-child{
	border-right:1px solid #000000; 
}
.bor_radius{
	-moz-border-radius: 5px;/*Firefox*/
	-webkit-border-radius: 5px;/*Safari, Chrome*/
	border-radius: 5px;
}
.items-blk {
    display: inline-block;
}
.bor_radius_top{
	-moz-border-radius: 5px 5px 0 0 ;/*Firefox*/
	-webkit-border-radius: 5px 5px 0 0 ;/*Safari, Chrome*/
	border-radius: 5px 5px 0 0 ;
}
.specs_bg_new {
    background-image: url("../images/specs_bg.png");
    background-repeat: repeat-x;
    height: 31px;
    width: 100%;
}
.training_icon {
	background-image:url(../images/u21.png);
	width: 29px;
	height: 24px;
}

.footer_round{
	background: -moz-linear-gradient(90deg, #e1e1e1 0%, #fdfdfd 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #e1e1e1), color-stop(100%, #fdfdfd));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #e1e1e1 0%, #fdfdfd 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #e1e1e1 0%, #fdfdfd 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #e1e1e1 0%, #fdfdfd 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#fdfdfd', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #e1e1e1 0%, #fdfdfd 100%);/* W3C */
	border: 1px solid #CCCCCC;
    border-radius: 32px;
    box-shadow: 0 0 2px -1px #6D6D6D;
    color: #696969;
    font-weight: bold;
    padding: 3px;
    width: 170px;
    font-size: 13px;
}
.admin_settings {
    background-image: url("../images/admin_settings.png");
    height: 15px;
    width: 16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: -3px;
}
#top_elearning_courses.feeds .col2{
    float: left;
    margin-left: 0;
    width: 16%;
}
#top_elearning_courses.feeds .col1{
	width: 84%;
}
.admin_rounded {
    background-image: url("../images/admin_arrow.png");
    float: right;
    height: 19px;
    width: 20px;
}
.footer_round span{
	display: inline-block;
}
.pt01_8{
    padding-top: 1.8px;
}
#advancebutton{
   /*background: url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;*/
   background-color: #dedede;
   padding: 5px;
   }
.support_bkg1{
	/* background: -moz-linear-gradient(90deg, #ffffff 0%, #ececec 100%);
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #ffffff), color-stop(100%, #ececec));
	background: -webkit-linear-gradient(90deg, #ffffff 0%, #ececec 100%);
	background: -o-linear-gradient(90deg, #ffffff 0%, #ececec 100%);
	background: -ms-linear-gradient(90deg, #ffffff 0%, #ececec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ececec', GradientType='0'); 
	background: linear-gradient(0deg, #ffffff 0%, #ececec 100%);/* W3C */ 
	background: #fff;
	border: 1px solid #c0c0c0;
	-moz-border-radius: 5px 5px 5px 5px;/*Firefox*/
	-webkit-border-radius: 5px 5px 5px 5px;/*Safari, Chrome*/
	border-radius: 5px 5px 5px 5px;
	min-height: 240px;
	padding: 5px;
}
.grey-box1{
	background: -moz-linear-gradient(90deg, #dcdddc 0%, #ffffff 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #dcdddc), color-stop(100%, #ffffff));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #dcdddc 0%, #ffffff 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #dcdddc 0%, #ffffff 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #dcdddc 0%, #ffffff 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdddc', endColorstr='#ffffff', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #dcdddc 0%, #ffffff 100%);/* W3C */
    border: 1px solid #CCCCCC;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
	margin-top: 10px;
}
.grey-box1:hover{
	background: -moz-linear-gradient(90deg, #ffffff 0%, #EDEDED 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #ffffff), color-stop(100%, #EDEDED));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #ffffff 0%, #EDEDED 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #ffffff 0%, #EDEDED 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #ffffff 0%, #EDEDED 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EDEDED', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #ffffff 0%, #EDEDED 100%);/* W3C */
	text-decoration: none;
}
.certificate_button {
    background-image: url("../images/certificate_icon.png");
    display: inline-block;
    height: 23px;
    margin-top: -4px;
    vertical-align: middle;
    width: 20px;
}
.grey-gradient.manage_height {
    height: 51px;
}
.firefox .grey-gradient.manage_height{
  height: 59px;
} 
.inner-content.login1, .inner-content.forgot1 {
    height: auto;
    padding: 0;
    width: 100%;
}
.box_width {
    margin: 80px auto auto;
    width: 54%;
}
::-webkit-input-placeholder {
   color: #ADADAD;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ADADAD; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ADADAD;  
}

:-ms-input-placeholder {  
  color: #ADADAD;
}
p{
	/*word-break: break-all !important;*/
	text-align: justify;
}

#helps-tabs{
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
	border-bottom: none;
}
#helps-tabs li{
	color:#555;
	cursor:default;
	padding: 5px 30px;
    border-top: 2px solid rgba(0, 0, 0, 0);
    float: left;
    margin-right: 2px;
	background-color: none;
}
#helps-tabs li.active {
    border-top: 3px solid #4D7496;
	background-color:#fff;
	border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.helps-block{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 10px 15px;
}
.help-blk{
    display: none;
}
.help-blk.active{
    display: block;
}

.question li {
	float: left;
    width: 96%;
}
.answer , .question{
	list-style: none;
}
.answer li {
    float: left;
    width: 96%;
}
.question li:first-child {
    color: #000000;
    font-size: 22px;
	width: 4%;
	line-height: 18px;
}
.answer li:first-child {
    color: #005488;
    font-size: 22px;
    width: 4%;
	line-height: 18px;
}
.table_style_1 td, .table_style_1 th {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 6px;
}
.table_style_1 {
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    width: 100%;
}

.table_style_1 tr:first-child{
    background: linear-gradient(0deg, #eaebea 0%, #fefffe 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.fullwidthcontent .contenar-box {
    max-width: 96%;
}
.description_blk b, .description_blk p {
    display: inline;
}

.safari select{
	line-height: 20px;
}

.app-wrapper {width: 100%; max-width: 960px;}
	.app-box {
		display: block;
		width: 100%;
		height: 145px;
		float: left;
		-webkit-transition: all 0.3s linear;
     	-moz-transition: all 0.3s linear;
     	-ms-transition: all 0.3s linear;
     	-o-transition: all 0.3s linear;
     	transition: all 0.3s linear;
	}
	.app-icon i.fa {
		font-size: 90px; 
		color: #027db2;
		width: 100%;
		text-align: center;
		/*float: left;*/
		-webkit-transition: all 0.3s linear;
     	-moz-transition: all 0.3s linear;
     	-ms-transition: all 0.3s linear;
     	-o-transition: all 0.3s linear;
     	transition: all 0.3s linear;
	}
	.app-text {
		width: 100%;
		margin-top: 10px;
		text-align: center;
		font-weight: bold;
		color: #027db2;
		font-size: 17px;
		font-family: 'Open Sans', sans-serif;
		-webkit-transition: all 0.3s linear;
     	-moz-transition: all 0.3s linear;
     	-ms-transition: all 0.3s linear;
     	-o-transition: all 0.3s linear;
     	transition: all 0.3s linear;
		/*float: left;*/
	}
	.app-box:hover {background-image: none; background-color: #027db2; color: #ffffff;}
	.app-box:hover .app-text {color: #ffffff;}
	.app-box:hover .app-icon i.fa {color: #ffffff;}
	@media only screen and (max-width: 872px) { .col-md-3 {width: 100%;}}
	
.column-hide-show {
    border-color: #484848 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 0.8em 0.4em 0.3em;
    display: inline-block;
    vertical-align: middle;
	margin-left: 5px;
}
.hs_popup {
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    right: 20px;
    top: 260px;
}
.setting_cols_blk {
    height: 118px;
    margin-bottom: 0;
    overflow-y: scroll;
    padding: 0;
}
.setting_cols_blk  li {
    border-bottom: 1px solid #ccc;
    list-style: outside none none;
    padding: 5px 10px;
}
.setting_cols_blk  li:last-child{
    border-bottom: 0;
}
.hs_header {
    background-color: #007aa7;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 5px 10px;
}
.setting_cols_blk > li input {
    margin-right: 5px;
    vertical-align: sub;
	margin-top: 0;
}
.hs_popup1 {
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    right: 20px;
    top: 260px;
}
/*--------------- template color layout style --------------------*/
.template_box{
	float:left;
	width:15%;
	height:120px;
	margin-right:20px;
	border:1px solid #7F7F7F;
	margin-bottom: 20px;
}
.template_box:nth-child(6n){
	margin-right: 0;
}
.template_box:first-child{
	margin-left:0;
}
.template_box i{
	background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    color: #008e18;
    float: right;
    font-size: 30px;
    padding: 4px;
}
.hover_color {
    background-color: rgba(0, 0, 0, 0.4);
    height: 118px;
}

.layout_box{
	float:left;
	width:20%;
	height:140px;
	margin-right:20px;
	border:1px solid #7F7F7F;
	margin-bottom: 20px;
}
.layout_box img{
	height:138px;
}
.layout_box div{
	float:left;
	width:100%;
	margin-top:10%;
	text-align:center;
}
.assessmenttype_wrp > div {
    margin-bottom: 7px;
    margin-left: 15px;
    width: 100px;
}
.listview_style {
    list-style: outside none none;
    padding: 5px;
}
.listview_style li {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.fc-day-content > div {
    height: auto !important;
}
.dropdown-menu.app_dropdownmenu  > li >a {
    padding: 5px 20px !important;
}
.ui-datepicker{
	z-index: 2147483647 !important;
}
#searchResultWrap #showReportDiv{
	 left: 9px; 
	 margin: 10px 0 14px;
	 position: absolute;
	 top: -10px; 
	 z-index: 15;
}

#gridbox2.gridbox{
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#selectedid{
	padding-left:0px;
}
.sales-team{
	 word-wrap: break-word;
}
.Name{
	position:relative;
}


@media(max-width:1200px){
	.classroom_bg .edit_session{
		word-break:keep-all;
		white-space:nowrap;
	}
	.dashboard-right-part .classroom_bg .button_lblue_r4{
		white-space:nowrap;
	}
	
}
@media(max-width:992px){
	.classroom_bg{
		padding-top:25px;
		padding-bottom:25px;
	}
	.classroom_bg .avg-rating_new{
		width:100%;
	}
	.classroom_bg .rating-img{
		width:40%;
		padding:4px 2px;
	}
}
@media(max-width:800px){


	.scrool-box {
		padding-right:7px;
	}
	.handouts-text{
		width:210px;
	}
	.handouts-texts , .curriculum-text{
		width:80%;
	}

}
@media(max-width:640px){
	#searchResultWrap #showReportDiv{
		left: unset;
		margin: 10px 0 14px;
		position: absolute;
		right: 0;
		top: -51px;
		z-index: 15;
	}
}

