.formRow {
   /*  border-bottom: 1px dotted #ddd; */
   /*  padding-bottom:20px; */
	padding-top:8px;
	}

.formRow2 {
   border-bottom: 1px dotted #ddd;
   padding-bottom:40px;
   padding-top: 15px;
	
	}
		
.panel-heading{
padding: 3px 15px;
}
.panel-heading h4{
	font-size: 14px;
}
.formRow input[type=text]{
height: 26px;
}

.formRow label{
font-size: 14px;
   font-weight: 700;
}
.addcontent{
list-style:none;
}
.addcontent li:first-child {
    border-top: 1px solid #ddd;
    cursor: default;
	text-align:center;
	font-size:16px;
	font-weight:600;
    padding: 8px;

}
.add{
    margin-left: -35px;
}	
.addcontent li {

	border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.addcontent li a{
	display:block;
	padding: 8px 12px;
    background: #FDFDFD;
    background: -moz-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, whiteSmoke));
    background: -webkit-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
    background: -o-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
    background: -ms-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
    background: linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 );
 
		}
		.addcontent li.active a{
    background: #7d7d7d;
	color: #fff
			
		}
.addcontent li a:hover {
	background:#424242;
	color:#fff;}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 170px;
    cursor: pointer;
}
.tab-content .panel-body {
    border: 1px solid #bbb;
    border-radius: 0px;
    padding: 20px;
    position: relative;
}
.nav {
	border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
	border-radius: 0px;
    cursor: default;
    background-color: #e8e8e8;
    border: 1px solid #bbb;
	border-bottom-color: transparent;
	border-top-color: transparent;

}

.uploader {
	padding:20px;
  border: 4px dashed #ddd;
  background: #f6f6f6;
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;

  label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none;

    &:hover {
      border-color: $theme;
    }
    &.hover {
      border: 3px solid $theme;
      box-shadow: inset 0 0 0 6px #eee;
      
      #start {
        i.fa {
          transform: scale(0.8);
          opacity: 0.3;
        }
      }
    }
  }

  #start {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    i.fa {
      font-size: 50px;
      margin-bottom: 1rem;
      transition: all .2s ease-in-out;
    }
  }
  #response {
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
    #messages {
      margin-bottom: .5rem;
    }
  }

  #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
    &.hidden {
      display: none;
    }
  }
  
  #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    &.hidden {
      display: none;
    }
  }

  progress,
  .progress {
    // appearance: none;
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }

  .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }

  .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, darken($theme,8%) 0%, $theme 50%);
    border-radius: 4px; 
  }
  .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, darken($theme,8%) 0%, $theme 50%);
    border-radius: 4px; 
  }

  input[type="file"] {
    display: none;
  }

  div {
    margin: 0 0 .5rem 0;
    color: $dark-text;
  }
  .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: $theme;
    border-color: $theme;
    cursor: pointer;
  }
}
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.button_lblue_r4:first-child {
    margin-left: 5px;
    padding: 6px 6px;
}
.pt20{
	padding-top: 20px;
}
.pl20{
	padding-left: 20px;
}
.ModRow{
	border-bottom: 1px dotted #ddd;
    padding-bottom:20px;
	padding-top:8px;
}
.ModRow label{
font-size: 15px;
font-weight: 600;
}

.modactive{
	background-color: #f1f1f1;
}
.modal-header h5{
	font-size: 16px;
	font-weight: 600;
}
.breadcrumb {
    padding: 8px 12px;
    margin-bottom: 0px;
    list-style: none;
   background-color: #fff0;
border-radius: 0px;}
#custom-search-input{
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 15px;
}
.pd3{
	padding: 3px;
}
/* grid layout css */
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.well {
    height: 50px;
    box-shadow: none;
}
.cover-tag p {
  position: absolute;
  top: 5%;
  width: 33%;
  padding: 2px;
  font-size: 15px;
  text-align: center;
  background: #fff;
  color: #000;
  transition: all 0.5s ease;
  cursor: pointer;
  right: 16px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  /* box-shadow: 0px 0px 10px grey; */
}
.cover-tag-left p {
  position: absolute;
  top: 5%;
  width: 33%;
  padding: 2px;
  font-size: 15px;
  text-align: center;
  background: #00000061;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  left: 17px;
  
}
.lead {
    margin-bottom: 0px;
	
}
.caption h4{
	font-weight: 600;
}
.img-cnt{
	position: relative;
}
.courseimg {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-cnt:hover .courseimg {
  opacity: 0.3;
}

.img-cnt:hover .middle {
  opacity: 1;
}
.thumbnail{
	box-shadow: 1px 1px 13px #bfbfbf;
}
 .cursor{
	 cursor: pointer;
 } 
.formcent{
	width: 70%;
   
    margin: 0 auto;
}
.formgroup

form .form-bottom button.btn {
    min-width: 105px;
}

form .form-bottom .input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}

form.registration-form fieldset {
    display: none;
}
.box{
	
    position: relative;
    display: inline-block;
    text-align: center;
    left: 100%;
	padding-bottom: 15px;
   	
}
.box p{
	line-height: 0px;
    padding-top: 10px;
	font-weight: 600;
}
.question-panel{
	padding: 15px;
	border: 1px solid #bbb;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	
}
.qut-cont
{
	width: 977px;
	float: left;
    margin-left: -127px;
}

.closean{
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #f30000;
	padding: 5px;
    height: 23px;
    padding-top: 0px;
    border-radius: 15px;
	border: 1px solid;
	margin-left: 10px;
}
.closepanel{
	float: right;
    margin-top: -12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 0;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.closean a{
color: #f30000;
}
.hide {
  display: none;
}
.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 6px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 2px;
}
.panel-rightbutton{
	padding-top: 28px;
}
.form-controlassess{
display: block;
    width: 80%;
    height: 28px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;	
	margin-left: 80px;
}
.closeans{
	margin-top: -30px;
	padding-left: 30px;
}
.cntnb{
	 text-align: center;
    padding-top: 9px;
    font-size: 18px;
}
.pl{
	padding-left:10px;
}
.formde{
	border: 1px solid #bbb;
    padding: 11px;
    background-color: #f1f1f1;
}
.ml{
	margin-left: 15px;
}
.center-div{
text-align: center;
  margin: 20px auto;
  top: 0;
  font-size: 14px;
  line-height: 26px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 143px;
  height: 60px;
  background-color: #e8e8e8;
  border-radius: 3px;
  border: 1px dotted #bbb;
}
#close{
	    font-size: 18px;
    font-weight: 700;
}
.timerow{
	    padding-left: 10px;
    width: 10%;
}
.rightside_tab {
    position: fixed;
    right: 0px;
    top: 50%;
    z-index: 1;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    padding: 10px 6px 10px 6px;
    border: 1px solid #000;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: lr;
    }
.rightside_tab a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #000;
letter-spacing: 1px;}

.classroom_append{
	background: #fbfbfb;
   	border: 1px solid #000;
	padding: 18px;
	    margin-top: 15px;
}
	
@media only screen and (max-width: 500px) {
    .panel-heading {
		margin-top: 174px;
}
}
