@charset "UTF-8";
body {
/*background-color:#DDDDDD;*/
background-color:#eeeff3;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:16px;

}
.button {
  /* border-top: 1px solid #000000;
   background: #252525;
   background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#252525));
   background: -moz-linear-gradient(top, #555555, #252525);*/
   margin-top:10px;
   padding: 15px 12px;
  /* -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   color: white;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
  /* border-top-color: #39648f;
   background: #39648f;*/
   color: #4D89C4;
   }
.button:active {
  /* border-top-color: #39648f;*/
   background: #39648f;
   }

#wrapper {
   /*background-image:url(../images/main_bckgrnd_04.jpg);
   background-repeat:repeat-x;*/
   text-align:center;
}
#banner {
   height: 93px;
   width:900px;
   display: block;      
}

#nav_container {
height:38px;
background-color:transparent;
margin-top:15px;
margin-bottom:20px;
-moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -khtml-border-radius: 4px;
   border-radius: 4px;
/* -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   box-shadow: 2px 2px 6px rgba(0,0,0,0.6);*/
   /* For IE 8 */
/*  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#919191')"; */
   /* For IE 5.5 - 7 */
/*   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#919191');*/
}

#download {
   padding: 0px 0px 20px;
   margin: 0; 
}
#content-wrapper{
   width:900px;
   position:relative;
   margin:0px auto;
   text-align:left;
}
#content {
   
   display:block;
   /*height: auto;*/
   width:100%;
   vertical-align: top;
   background:#ffffff;
   border: 1px solid #AAA;
   border-bottom-left-radius: 4px 4px;
   border-bottom-left-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
  -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -khtml-border-radius: 4px;
   border-radius: 4px;
   /*min-height: 15em;*/
   overflow:hidden;
   position: relative;
   color:#333333;
   margin-top:5px;
   margin-bottom:20px;
   padding:0px 0px 0px 0px;
   /*width:900px;*/
   float:inherit;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
  -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   /*text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#919191')";
   /* For IE 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#919191');
}

#footer-content {
   width:900px;
   display:block;
   vertical-align: top;
   background-image:url(../images/footer_graphics/ftr-bkg1x178.png);
   background-repeat:repeat-x;
   border: 1px solid #AAA;
   border-bottom-left-radius: 4px 4px;
   border-bottom-left-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   overflow: visible;
   position: relative;
   color:#333333;
   margin: 0px auto;
   font-size:12px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
   /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#919191')";
   /* For IE 5.5 - 7 */
   filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=120, Color='#919191');
}
#credits {
   width:900px;
   display:block;
   vertical-align: top;
   font-size:10px;
   color:#999999;
   margin: 0px auto;
   margin-top:20px;
   padding-left:15px;
}
#footer-table {

}
h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   color: #333333;
   margin-top:0px;
   font-weight:normal;
}


.intro {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #333333;
   line-height: 1.5;
   margin: 1em 0px;
}
#welcome_text {
   width: 600px;
   float: left;
   margin-left: 30px;
   margin-top: 30px;
}
#right_bar {
   padding: 0px;
   width: 229px;
   float: right;
   margin-right: 20px;
   margin-top: 30px;
   margin-left: 15px;
}
/*
#announcement {
   width: 600px;
   float: left;
   margin-left: 30px;
   margin-bottom:20px;
   font-size:12px;
}
*/
#right_bar #table {
border-bottom: 1px solid #AAA;
border-right: 1px solid #AAA;
border-left: 1px solid #AAA;
border-bottom-left-radius: 4px 4px;
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-top-left-radius: 4px 4px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
border-top-right-radius: 4px 4px;
}
#dashboard {
   display:block;
   padding: 0px;
   height: auto;
   vertical-align: top;
   background: #FAFAFA;
   border-bottom: 1px solid #AAA;
   border-right: 1px solid #AAA;
   border-left: 1px solid #AAA;
   border-bottom-left-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   overflow: visible;
   position: relative;
   
}
#logo {
   float: left;
   width: 400px;
   display: inherit;
   /*margin-left: 10px;*/
   margin-top: 15px;
   height:52px;
}
#logo-bckgrnd{
   
   background-repeat:no-repeat;
   background-image:url(../images/header_graphics/logo_bkg.png);
   }

#user_name {
   width: 236px;
   float: right;
   display: inherit;
   /*margin-right: 15px;*/
   padding-top: 10px;   
}
#nav_bar {
   height: 39px;
/*    height: 35px;*/
   width:100%;
}
#nav_bckgrnd {
background-image:url(../images/header_graphics/navbar.png);
background-repeat:no-repeat;
   height:36px;
   /*height:46px;
   /*padding-top:10px;*/
   padding-left:10px;
   }
   
#usr_status_bckgrnd {
background-image:url(../images/header_graphics/mylearning_progressbar_stroke.png);
background-repeat:no-repeat;
   
   }   

#primary_nav ul{
  display: block;
  position: absolute;
  width: 185px;
  padding:0;
  padding-bottom:14px;
  }

#primary_nav ul li {
  float: left; /*For Gecko*/
  display: block !important;
  display: inline; /*For IE*/
  width:185px;
  margin-left:0px;
 
  
}

#primary_nav li {
  display: inline;
  float: left;
  height: 20px;
  position:relative;
  list-style: none;
  }

#primary_nav li a {
   display: block;
   /*padding: 10px 5px;*/
  color: #E6E6E6;
   text-align: left;
   text-decoration: none;
   font-size: 15px;
   line-height: 18px;
   padding-right: 23px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   vertical-align: middle;
   border-left: 1px solid #000000;

  }
#primary_nav {
   margin-left: -25px;
   margin-top: 0px;
}
.user_name {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}
.user_links a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   letter-spacing: 1.5px;
   color:#000000;
   text-decoration:none;
}
.user_links a:hover {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   letter-spacing: 1.5px;
   color:#999999;
   text-decoration:none;
}
.nav_div {
float:left; margin-top:5px;

}
.nav_div a:link {
color:#FFFFFF;
font-size:14px;
text-decoration:none;
padding:2px 12px;
}
.nav_div a:visited {
color:#FFFFFF;
font-size:14px;
text-decoration:none;
padding:0px 12px;
}
.nav_div a:hover {
color:#4D89C4;
text-decoration:none;
font-size:14px;

}
.nav_div a:active {
color:#4D89C4;
text-decoration:none;
font-size:14px;

}
.nav_tab {

}
.nav_tab form{
 margin:0px;
}
.nav_tab td{
 text-align:center;
 position:relative;
}
.nav_tab a:link {
color:#FFFFFF;
font-size:14px;
text-decoration:none;
padding:2px 12px;
position:relative;
top:-2px;
_top:5px;
}
.nav_tab a:visited {
color:#FFFFFF;
font-size:14px;
text-decoration:none;
padding:0px 12px;
}
.nav_tab a:hover {
color:#4D89C4;
text-decoration:none;
font-size:14px;

}
.nav_tab a:active {
color:#4D89C4;
text-decoration:none;
font-size:14px;

}

#nav_search {
float:right;
 margin-top:4px;
 margin-right:15px;
}
.footer_text {
font-size:12px;
color:#333333;
line-height:18px;
}
#lp_progress {
padding-top:2px;
font-size:9px;
color:#333333;
padding-left:5px;
}
#admin-left-col{
	z-index:2;
	margin:0px;
	float:left;
	position:absolute;
   
}
.filler{
width:1px;
border-bottom:1px solid #AAA;
}
.admin_left_nav{
font-size:12px;
color:#333333;
border-bottom: 1px solid #AAA;
background-color:#f7f8f7;
vertical-align:middle;
}
.admin_left_nav_sub{
font-size:12px;
color:#333333;
border-bottom: 1px solid #AAA;
background-color:#f7f8f7;
vertical-align:middle;
height:35px;
padding:5px 10px 0px 15px;
cursor:pointer;
background-repeat:repeat-x;
}
a.admin_left_nav_sub_anchor{
display:block;
width:100%;
}
span.admin_left_nav_sub_span{
position:relative;
top:-2px;
}
span.admin_left_nav_sub_span_hidden{
position:relative;
top:-2px;
color:#4D89C4;
}
span.admin_left_nav_sub_span_image{
float:right;
vertical-align:middle;
}
.admin_left_nav_sub_nav{
height:35px; 
padding:5px 15px 5px 10px;
_padding:5px 18px 5px 10px;
vertical-align:middle;
}
.admin_left_nav_sub_nav_top{
border-bottom: 1px solid #AAA;
height:35px; 
padding:5px 15px 5px 10px;
_padding:5px 18px 5px 10px;
vertical-align:middle;
}
.admin_left_nav_sub_nav_table{
cursor:pointer;
}
.admin_left_nav_sub_nav_anchor{
color:#4D89C4;
}

.admin_left_nav_table{
font-size:12px;
color:#333333;
background-color:#f7f8f7;
vertical-align:middle;
width:100%;
border-collapse:collapse;
}

.admin_left_nav_active {
border-bottom: 1px solid #AAA;
background-color:#ebeceb;

}

.admin_left_nav_active a:link {
font-size:12px;
color:#333333;
text-decoration:none;

}

.admin_left_nav_active a:visited {
font-size:12px;
color:#333333;
text-decoration:none;

}

.admin_left_nav_active a:hover {
font-size:12px;
color:#4D89C4;
text-decoration:none;

}
.admin_left_nav_active a:active {
font-size:12px;
color:#333333;
text-decoration:none;

}

.admin_left_subnav_active{ 
background-color:#FFFFFF;
border-bottom: 1px solid #AAA;


}
.admin_left_subnav_active a:link{
font-size:11px;
color:#333333;
text-decoration:none;
}

.admin_left_subnav_active a:visited{
font-size:11px;
color:#333333;
text-decoration:none;
}

.admin_left_subnav_active a:hover{
font-size:11px;
color:#4D89C4;
text-decoration:none;
}

.admin_left_subnav_active a:active{
font-size:11px;
color:#333333;
text-decoration:none;
}

.company_name {
font-size:28px;
line-height:24px;
}

.lms {
font-size:18px;
line-height:24px;
font-weight:lighter;
}
.admin_left_nav a:link{
font-size:12px;
color:#333333;
text-decoration:none;

}

.admin_left_nav a:visited{
font-size:12px;
color:#333333;
text-decoration:none;

}

.admin_left_nav a:hover{
font-size:12px;
color:#4D89C4;
text-decoration:none;

}

.admin_left_nav a:active{
font-size:12px;
color:#333333;
text-decoration:none;

}


.admin_left_nav_live {
font-size:12px;
color:#333333;
border-bottom: 1px solid #AAA;
background-image:url(../images/Admin_Side_Nav/button_selected.png);
background-repeat:no-repeat;
}
#admin-right-col{
   float: right;
   border-left: 1pt solid #b3b3b3;
   background-color:#FFFFFF;
   z-index:20;
   min-height: 575px;
   overflow:hidden;
   /*margin:0px; */
   position:relative;
   -moz-border-radius: 0px 4px 4px 0px;
   -webkit-border-radius: 0px 4px 4px 0px;
   -khtml-border-radius: 0px 4px 4px 0px;
   border-radius: 0px 4px 4px 0px;
   voice-family:"\"}\"";
margin-top:0px;\/*IE8 only*/
margin-top:0px;/*Mozilla - Firefox only*/
[margin-top:0px;
margin-top:0px;]/*Opera and newer Safari 4+*/
}



.breadcrumb {
padding-top:15px; padding-bottom: 15px; padding-left:10px; color:#555555; font-size:12px; font-weight:bold; 
 padding:0px 0px 0px 15px;
-moz-border-radius: 0px 4px 0px 0px;
   -webkit-border-radius: 0px 4px 0px 0px;
   -khtml-border-radius: 0px 4px 0px 0px;
   border-radius: 0px 4px 0px 0px;

}

.breadcrumb a:link {
color:#555555; font-size:12px; font-weight:bold; text-decoration:none;
}

.breadcrumb a:visited {
color:#555555; font-size:12px; font-weight:bold; text-decoration:none;
}
.breadcrumb a:hover {
color:#4D89C4; font-size:12px; font-weight:bold; text-decoration:none;
}

.breadcrumb a:active {
color:#555555; font-size:12px; font-weight:bold; text-decoration:none;
}

.content_top_right {
background-image:url(../images/Admin_BKG/admin_tp_rght_crnr.png); height:35px; background-repeat:no-repeat;
-moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   -khtml-border-radius: 4px;
   border-radius: 4px;

}
.content_main_wrapper {
padding:20px;
}

.dash_left_td {
width:5px;
background-image:url(../images/Admin_BKG/admin_top_content_left.png);
/*background-image:url(../images/Admin_BKG/content_top-left2.png);*/
background-repeat:repeat-x;
height:35px;
/*border:hidden solid #AAA;*/
border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   
}


.dash_right_td {
width:5px;
background-image:url(../images/Admin_BKG/admin_tp_rght_crnr.png);
background-repeat:repeat-x;
height:35px;
}
.dash_mid_td {
   background-image:url(../images/Admin_BKG/content_top-left2.png);
   background-repeat:repeat-x;
   height:35px;
   padding-right:10px;
   padding-left:10px;
   font-size:12px;
   font-weight:bold;
   color:#555555;
   /*border:hidden solid #AAA;*/
   border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
}
.dash_mid_td_upcoming {
   height:25px;
   padding-right:05px;
   font-size:12px;
   font-weight:bold;
   color:#555555;
}
.dash_table {
font-size:11px;
color:#555555;
}
.dash_table_row_odd_right{
background-color:#EAEBEA;
padding-top:5px;
padding-bottom:5px;
font-weight:bold;
padding-left:10px;
height:30px;

}
.dash_table_row_odd_left{
background-color:#F3F4F3;
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
height:30px;

}
.dash_table_row_even_right{
background-color:#F0F1F0;
padding-top:5px;
padding-bottom:5px;
font-weight:bold;
padding-left:10px;
height:30px;
}
.dash_table_row_even_left{
background-color:#FFFFFF;
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
height:30px;

}

.corner-br {
 -moz-border-radius-bottomright:4px;
   -webkit-border-radius-bottomright: 4x;
   -khtml-border-radius-bottomright: 4px;
   border-radius-bottomright: 4px;
}


.bottom-row-left {
 -moz-border-radius-bottomleft:4px;
   -webkit-border-radius-bottomleft: 4x;
   -khtml-border-radius-bottomleft: 4px;
   border-radius-bottomleft: 4px;
}
.upcoming_training_div{
width:auto;
margin-top:20px;
}

.dashboard_div_unqusrs {
   display:block;
   height: auto;
   vertical-align: top;
   background:#ffffff;
   border: 1px solid #AAA;
   /*border-bottom-left-radius: 4px 4px;
   border-bottom-left-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;*/
   border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   margin-top:20px;
   width:100%;
   padding:0px;
   margin-right:1px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4x;
   -khtml-border-radius: 4px;
   border-radius: 4px;
}
.header1 {
color:#555555; font-size:12px; font-weight:bold;
padding:10px 0px 10px 0px;

}
.dashboard_div_right {
   display:block;
   height: auto;
   vertical-align: top;
   background:#ffffff;
   border: 1px solid #AAA;
   /*border-bottom-left-radius: 4px 4px;
   border-bottom-left-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;*/
   border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   float:right;
   margin-left:10px;
   width:40%;
   /*width:258px;*/
   -moz-border-radius: 4px;
   -webkit-border-radius: 4x;
   -khtml-border-radius: 4px;
   border-radius: 4px;
   overflow:hidden;
}
.dashboard_div_left {
   display:block;
   height: auto;
   vertical-align: top;
   background:#ffffff;
   border: 1px solid #AAA;
   /*border-bottom-left-radius: 4px 4px;
   border-bottom-left-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;
   border-bottom-right-radius: 4px 4px;*/
   border-top-left-radius: 4px 4px;
   border-top-left-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   border-top-right-radius: 4px 4px;
   float:left;
   /*margin-right:10px;
   width:355px;*/
   width:56%;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4x;
   -khtml-border-radius: 4px;
   border-radius: 4px;
   overflow:hidden;
}
.footer_head {
font-size:18px;
line-height:18px;
}
.sub_nav_left {
padding-bottom:10px;
text-decoration:none;
font-size:11px;
padding-top:10px;
}

.sub_nav_left_arrow {
font-size:16px;
_font-size:18px;
font-weight:bold;
}
.admin_section_hdr {
color:#3C79A1;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
padding-bottom:20px;
font-weight:700;
}
.user_top_buttons {
	
	height: 25px;
	background-image:url(../images/Admin_BKG/content_top-left2.png);
   	background-repeat:repeat-x;
	display:block;
   	border: 1px solid #AAA;
	-moz-border-radius: 4px;
   	-webkit-border-radius: 4x;
   	-khtml-border-radius: 4px;
   	border-radius: 4px;
   	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C79A1;
	padding:0px 10px 0px 10px;
	font-weight:600;
	text-align:center;
	line-height:25px;
	
	
	}
	.notifications {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
	text-align:center;
	margin-top:-15px;
	padding-right:3px;
	width:140px;
	
	}
	.top_left_corner {
	background-image:url(../images/Admin_BKG/content_top-left2.png);
   	background-repeat:repeat-x;
	display:block;
   	border: 0px solid #AAA;
	-moz-border-radius: 4px 0px 0px 0px;
   	-webkit-border-radius: 4px 0px 0px 0px;
   	-khtml-border-radius: 4px 0px 0px 0px;
   	border-radius: 4px 0px 0px 0px;
	padding-left:5px;
	cursor:pointer;
	}
.ui-corner-tl{

}
