<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
		
        <ul class="nav navbar-top-links navbar-right">
            <!--<li>-->
                <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
            <!--</li>-->
            
            <!--li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-messages" uib-dropdown-menu>
                    <li>
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="/administrator/assets/images/a7.jpg">
                            </a>

                            <div>
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="/administrator/assets/images/a4.jpg">
                            </a>

                            <div>
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a ui-sref="profile" class="pull-left">
                                <img alt="image" class="img-circle" src="/administrator/assets/images/profile.jpg">
                            </a>

                            <div>
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="mailbox.inbox">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li-->
            <!--li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-alerts" uib-dropdown-menu>
                    <li>
                        <a ui-sref="inbox">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="profile">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="grid_options">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="miscellaneous.notify">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li-->
			 
           
			<li>
                <a  href="/logout"  onfocus="if(this.blur)this.blur();">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
            <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
		<ul class="nav navbar-top-links navbar-right appsheadernav" uib-dropdown compile="appsheadernav">
        </ul>

    </nav>
</div>
<!--header class="main-header" >
		<a href="#/index/apps" class="logo">
			<span class="logo-mini">
				<img src="/eliteprodlms/public/assets/images/favicon.png" alt="">
			</span>
			<span class="logo-lg">
			    <img src="/eliteprodlms/uploadfiles/{{companyCmsInfo.companycmsinfo[0].company_logo}}">
			</span>

		</a>

				<nav class="navbar navbar-static-top">


					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav" compile="appsheadernav"></ul>
							<ul class="nav navbar-nav">

							<li class="dropdown dropdown-user">
							<a  class="dropdown-toggle" data-toggle="dropdown">

							{{companyCmsInfo.userskills[0].user_name}}
							<i class="fa fa-caret-down"></i> 
							</a>
							<ul class="dropdown-menu" >
								<li>
								<a href="/eliteprodlms/admin/myprofile" onfocus="if(this.blur)this.blur();">
								<i class="fa fa-user"></i> User Profile
								</li></a>
							
								<li>
								<a  href="/logout"  onfocus="if(this.blur)this.blur();">
								<i class="fa fa-sign-out"></i> Signout
							</li></a>
							</ul>
						</li>
			</ul>
		</div>
		</nav>
</header-->
