<div class="footer">
    
    <div>
        <strong>&copy;  {{year}} eLiteLMS - 
		<span ng-if="companyCmsInfo.companyInfo.version!=''">{{companyCmsInfo.companyInfo.version}}</span>
		<span ng-if="companyCmsInfo.companyInfo.version==''">2.0</span>
		</strong>- All Rights Reserved
    </div>
</div>


