<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="/administrator/assets/images/default_image.png"/>
					<a uib-dropdown-toggle href>
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold">Admin</strong>
						 </span>
							<span class="text-muted text-xs block"> <b class="caret"></b></span>
						</span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a href="#/dashboard">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout" onfocus="if(this.blur)this.blur();">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
			<li id="cat_nav_{{leftMenuDatas.menu_item_id}}" ng-repeat="leftMenuDatas in leftMenuData">
                <a href="{{leftMenuDatas.main_menu_url}}" onfocus="if(this.blur)this.blur();" ng-if="leftMenuDatas.main_menu_url!=1">
					<i class="fa fa-th-large"></i> 
					<span class="nav-label">{{leftMenuDatas.menu_name}}</span> 
					<span class="fa arrow"></span>
				</a>
				 <a ng-click="addclass(leftMenuDatas.menu_item_id)" onfocus="if(this.blur)this.blur();" ng-if="leftMenuDatas.main_menu_url==1">
					 <i class="fa fa-th-large"></i> 
					 <span>{{leftMenuDatas.menu_name}}</span>
					<span class="fa arrow"></span>
				  </a>
				
				<ul ng-if="leftMenuDatas.sub_cats" class="nav nav-second-level collapse">
					<li ui-sref-active="active" ng-repeat="subCats in leftMenuDatas.sub_cats">
						<a id="cat_nav_{{subCats.menu_item_id}}" href="{{subCats.sub_menu_url}}" onfocus="if(this.blur)this.blur();" >{{subCats.menu_name}} </a>
					</li>
				</ul>
            </li>
			
		</ul>
	</div>
</div>





<!--aside class="main-sidebar">
	<div class="sidebar">
           <div id="">
		       <ul class="sidebar-menu">
			      <li id="cat_nav_{{leftMenuDatas.menu_item_id}}" class="treeview" ng-repeat="leftMenuDatas in leftMenuData">
				      <a href="{{leftMenuDatas.main_menu_url}}" onfocus="if(this.blur)this.blur();" ng-if="leftMenuDatas.main_menu_url!=1">
							 <img style=" margin-right: 6px; vertical-align: sub;" src="/eliteprodlms/public/images/{{leftMenuDatas.menu_icon}}"/>
							 <span>{{leftMenuDatas.menu_name}}</span>
							 <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
						  </a>
						  <a ng-click="addclass(leftMenuDatas.menu_item_id)" onfocus="if(this.blur)this.blur();" ng-if="leftMenuDatas.main_menu_url==1">
							 <img style="margin-right: 6px; vertical-align: sub;" src="/eliteprodlms/public/images/{{leftMenuDatas.menu_icon}}"/>
							 <span>{{leftMenuDatas.menu_name}}</span>
							 <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
						  </a>
						<span ng-if="leftMenuDatas.sub_cats">
						      <ul class="treeview-menu new_menu">
							     <li ng-repeat="subCats in leftMenuDatas.sub_cats">
									<a id="cat_nav_{{subCats.menu_item_id}}" style="float: left;width: 100%;" href="{{subCats.sub_menu_url}}" onfocus="if(this.blur)this.blur();">{{subCats.menu_name}}   
									</a>
								</li>
							  </ul>
						</span>  
				  </li>
			   </ul>
		   </div>
	</div>
</aside-->