/*Page related styles for you to view*/
#test1, #test2, #test3 {
width: 260px;
height: 338px;
margin: 0.3em;
padding: 0.5em;
border: px solid #410000;
/*IE overflow fix, position must be relative or absolute*/
/*if you do not want the outline when focused on firefox and IE
use outline: none;, though not recommended as this may confuse
people who likes to do keyboard navigation */
outline: none;
}

#test1 {
background-color: #6F1C1C;
left: 0.8em;
top: 1em;
}

#test1 div {
color: #FDD;
}

#test2 {
	background-color: #ffffff;
	margin-top:40px;
	width:635px;
	height:451px;
	margin-left:1px;
	}

#test3 {
width: 90%;
height: 450px;
border-width: 0px;
top: 410px;
left: 1.5em;
}

.aligntocenter {
margin: 0.5em auto;
border: 2px solid #A22;
width: 90%;
position: relative;
height: 500px;
}

.fixedsize {
width: 400px;
height: auto;
position: relative;
color: black;
padding: 1px;
}

.version {
background: #999;
color: white;
font-size: 75%;
padding: 0 0.4em 0 0.3em;
}

#test2 ul {
font-size: 10pt;
margin:0.1em 0.3em;
width: auto;
}

#test2 ul ul {
	padding-top:0.1em;
	padding-bottom:0.1em;
	}

#test2 h5 {
	margin-bottom: 0.2em;
	}

#test2 li li {
font-size: 9pt;
margin: 0;
}

/* general page style ends here */

/* Scroll Bar Master Styling Starts Here */

.scrollgeneric
{
line-height: 1px;
font-size: 1px;
position: absolute;
}

.vscrollerbase, .vscrollerbar {
width: 15px;
top: 0px;
}

.vscrollerbar {
left: 0px;
}

.hscrollerbase, .hscrollerbar {
height: 15px;
left: 0px;

}


.hscrollerbar {
top: 0px;
}

.vscrollerbar, .hscrollerbar {
/*padding information of these elements are only used for
padding of the scroll-bar with respect to the scroll base,
the padding will automatically be turned off by the script*/
padding: 5px;
/* z-index for scrollbars no longer has to be given as of version
1.7.5 for correct operation, but it is still recommended, as this
decides the z-index for content.*/
z-index: 2;
}

.vscrollerbarbeg {
/*top image holder for vertical scroll bar*/
background: url(/web/images/vscroller.png) 0px -10px;
width: 15px;
height: auto;
top: 0px;
}

.vscrollerbarend {
/*bottom image holder for vertical scroll bar*/
background: url(/web/images/vscroller.png);
width: 15px;
height: 10px;
}

.hscrollerbarbeg {
background: url(/web/images/hscroller.png) -10px 0px;
height: 15px;
width: auto;
left: 0;
}

.hscrollerbarend {
background: url(/web/images/hscroller.png);
height: 15px;
width: 10px;
}

/* Following are OPTIONAL */

.vscrollerbase, .hscrollerbase {
background-color: #D1DDCB;
background-image: url(/web/images/scrollbaseback.png);

}

.hscrollerbasebeg {
left: 0px;
top: 0px;
height: 15px;
background: url(/web/images/scrollbases.png) -22px 0px no-repeat;
}

.hscrollerbaseend {
top: 0px;
height: 15px;
width: 7px;
background: url(/web/images/scrollbases.png) 0% 0% no-repeat;
}

.vscrollerbasebeg {
top: 0px;
width: 15px;
background: url(/web/images/scrollbases.png) -7px -8px no-repeat;
}

.vscrollerbaseend {
height: 7px;
width: 15px;
background: url(/web/images/scrollbases.png) -7px 0px no-repeat;
}

.scrollerjogbox {
width: 15px;
height: 15px;
bottom: 0px;
right: 0px;
background: white url(/web/images/scroll.png) 50% 50%;
}


/* Scroll Bar Master Styling Ends Here */

/* Extra sample styles */
#test2 .vscrollerbarbeg {
background: url(../../images/top1.png) 0px -9px;
width: 18px;
height: auto;
}
  

#test2 .vscrollerbarend {
background: url("../images/down.png");
background:#FF0000;
width: 18px;
height: 9px;
}

#test2 .vscrollerbarend  {
background: url(../../images/down.png) 0px -9px;
width: 18px;
height: 9px;
}

#test2 .vscrollerbase {
width: 19px;
background: white none;
}

#test2 .vscrollerbar {
background-color: #8F9793;
padding: 0px;
}

#test2 .vscrollerbasebeg, #test2 .vscrollerbaseend {
background-image: none;
}

#test3 .hscrollerbarbeg {
background: url(/web/images/hscroller3.png) -9px 0px;
height: 9px;
}

#test3 .hscrollerbarend {
/*bottom image holder for vertical scroll bar*/
background: url(/web/images/hscroller3.png);
height: 9px;
width: 9px;
}

#test3 .hscrollerbase {
height: 9px;
background: white none;
}

#test3 .hscrollerbasebeg, #test3 .hscrollerbaseend {
border: 3px solid #63615A;
height: 5px;
background-image: none;
background-color: #EEE;
top: 2px;
}

#test3 .hscrollerbaseend{
border-width: 0;
background-color: #63615A;
height: 5px;
width: 12px;
}

#test3 .hscrollerbasebeg{
border-width: 0px 0px 0px 5px;
}

#test3 .hscrollerbar {
background-color: #8F9793;
padding: 3px;
}
