/* Drop down styles*/
div.selectbox-wrapper {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #ccc;
  margin:0px;
  padding:0px;
  text-align:left;
  max-height:200px;
  overflow:auto;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected { 
  background-color: #EAF2FB;
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current { 
  background-color: #CDD8E4;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* Look and feel of select box */
.selectbox 
{
 /* margin: 0px 5px 10px 0px;*/
  padding-left:2px;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:1em;/* Resize Font*/
  width : 168px; /* Resize Width */
  display : block;
  text-align:left; 
  background: url("../../images/jquerydropdown/elearning-nav-bg.png") right;
  cursor: pointer;
  border: none;
  color:#333;
  height:22px;
}
.selectbox1
{
 /* margin: 0px 5px 10px 0px;*/
  padding-left:2px;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:1em;/* Resize Font*/
  width : 140px; /* Resize Width */
  display : block;
  text-align:left; 
  background: url("../../images/jquerydropdown/elearning-nav-bg-small.png") right;
  cursor: pointer;
  border: none;
  color:#333;
  height:22px;
}


